[2021-10-18 15:40] Haarolean commented on #982
Hi, please share your container logs. There might be some errors for ZookeeperService.

[2021-10-18 17:58] Haarolean commented on #979
Are there any failed requests on UI side in network tab?

[2021-10-18 22:37] tigerinus opened #985 "Desktop version (via electron.js)"
### Is your proposal related to a problem?

Have a local Kafka running for development purpose. Running this app via Java or Docker is OK, but it's still less convenient comparing to desktop based Kakfa UI tool (e.g. https://www.conduktor.io/)

### Describe the solution you'd like

It'd be nice to embed this into a desktop app, using framework like ElectronJs

### Describe alternatives you've cons

[2021-10-19 01:04] tigerinus opened #986 "Docker image for arm64"
### Is your proposal related to a problem?

`docker run ...` on ARM64 processor fails.

### Describe the solution you'd like

Please provide Docker image for ARM64

### Describe alternatives you've considered

I can certainly build image myself, but I bet there are people have the same need.

### Additional context

Arm64 based cloud instances are gaining markets. There are Graviton2 from AWS and

[2021-10-19 08:15] mateuszkwiatkowski commented on #981
Hi @Haarolean,
Thank you for prompt response. The image spec specify :latest tag:
[code]

Checking pod status I see this sha256 sum:
[code]

Which translates to this image, tagged 15 days ago: https://hub.docker.com/layers/provectuslabs/kafka-ui/latest/images/sha256-9c47ee10c05ae9e25802b6f3c9478ebbfaee7c1c9cf3bd6d7d9a99b270bc7f80?context=explore

[2021-10-19 20:49] m4rcc opened #988 "npm generate fails on Windows™"
While running the command `./mvnw clean install -Pprod` the build fails with the following error:

[code]

Environment:

win 10
using latest master kafka-ui
latest docker-desktop 4.1.1 (69879)
java version:
  $ java --version
  openjdk 17 2021-09-14
  OpenJDK Runtime Environment Temurin-17+35 (build 17+35)
  OpenJDK 64-Bit Server VM Temurin-17+35 (build 17+35, mixed mode, sharing)

From the readme

[2021-10-20 06:16] danzxz1 opened #989 "I can't send a message through the UI"
**Describe the bug**
(A clear and concise description of what the bug is.)
When trying to send a message via Produce Message, the error Content scheme with key or id appears "http://unknown.unknown " already exists

**Set up**
(How do you run the app?)
docker

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Open UI
2. Open topic
3. Click Produce Message
4. Fill in the message and click

[2021-10-20 06:41] m4rcc commented on #988
Hi @Haarolean ,
I am using Docker Desktop with wsl2 already. Or do you mean do run this in an Ubuntu wsl2 based on windows?
What is strange is that I just replaced my laptop, and about a month ago on the previous laptop is worked fine.
Also on the previous laptop I even had  AdoptOpenJDK 11 but an older Docker Desktop ( 1 or 2 verions older so still pretty new) ...

[2021-10-20 10:13] m4rcc commented on #988
Hi @Haarolean,
I just tried directly starting the UI now, using `docker-compose -f ./docker/kafka-ui.yaml up` from gitBash and surprisingly it works for me even now. So probably the build failed back then also but the UI and the cluster are working for me now as they worked then.
Maybe I misunderstood something but I thought that the build is required for the `Kafka UI` to work, and it seems that

[2021-10-20 10:42] m4rcc commented on #988
Ok, I understood somehow from the readme that it required to build first to use it, assumed that it will generate some files to be mounted etc ... So all I need to start Kafka local cluster and UI is the docker compose file!

[2021-10-20 14:18] kbariotis opened #990 "Can't product a JSON message to a topic without SchemaRegistry"
**Describe the bug**
Can't submit the produce form with a valid JSON object because it tries to validate it as a string. If I stringify the message and submit then the Kafka client (`kafka.js`) doesn't parses it correctly.

**Set up**
Through `docker-compose`

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to the Produce Message form
2. Submit with `"{\"status\": \"failed\"}"` or w

[2021-10-20 15:43] akamensky commented on #980
You are right. Editing is tricky in this case. From my end that's not an issue as we use the UI for viewing and basic operations (editing is done via Git repo code with script to auto-sync it to KC).

In my experience, common approach is that every time the editor would need to enter the password. But in this case each edit modified entire document, which makes this tricky.

Maybe when editing can

[2021-10-21 12:45] biwwy0 commented on #779
It's also supereasy to bootstrap with SSL simple auth just passing these:

[code]

[2021-10-21 13:42] IndeedSi commented on #980
Thanks for the suggestions! I've just got a pr ready for review.
My current changes are more close to what @akamensky describes.  I keep using asterisks because I feel empty string might cause some confusion and asterisks way is how Spring Boot sanitizes.

And the warning banner I added is "Please replace ****** with the real credential values to avoid accidentally breaking your connector config!"

[2021-10-22 03:24] akamensky opened #992 "[bug] Error when using "Clear all messages" in compact topics"
**Describe the bug**

Subj. Compact topic -- using "Clear all messages" causes error"

[code]

**Set up**
Docker latest master

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Compact cleanup policy topic with data in it
2. Use "Clear all messages" for this topic
3. ...
4. Profit

**Expected behavior**
Either actually clear all messages, or handle this case appropriately.

[2021-10-22 18:55] benknoble opened #993 "NPE creating bean 'clustersStorage'"
**Describe the bug**

I get an exception on startup using the docker container.

<details><summary>Here's the output</summary>

[code]
</details>

**Set up**

[code]

**Steps to Reproduce**

I haven't tried to replicate this locally yet, but spin up kafka/zookeeper, and then running the command as given was enough for me. I also tried v0.2.0.

[2021-10-24 04:27] akamensky opened #995 "[bug] Weird caching issues"
## I would consider this a major issue for this application as the data seen in the UI cannot be trusted to be actual data.

**Describe the bug**
It looks like this UI does some caching of data internally. This becomes clear when looking at topics that are being actively written albeit slowly. See screenshots for examples. In those screenshots:

* Topic is being written regularly, about 1 message

[2021-10-24 07:04] akamensky opened #996 "[bug] Creating new topic view bug when adding property and then deleting it"
**Describe the bug**
See steps

**Set up**
Docker using "master" `v0.2.2-SNAPSHOT(8a36af1)`

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to "Add new topic" view
2. Click "Add custom parameter" and select any
3. Delete newly added custom parameter (click "-" icon)
4. Click "Add custom parameter" and select the same as in step 2

**Expected behavior**
Can add custom parameter in s

[2021-10-24 07:13] akamensky opened #997 "[bug] Topic configuration edit UI shows redundant "custom parameters""
**Describe the bug**
See steps.

**Set up**
(How do you run the app?)

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Create a topic with a few custom parameters
2. Go to "edit settings" for this topic

**Expected behavior**
Only parameters that were seen when creating topic shown.

That means:

1. Settings defined as dependencies of settings defined when creating topic are not shown

[2021-10-24 15:34] akamensky opened #998 "[feature] Recreating topic in one click"
### Is your proposal related to a problem?

As mentioned in [this comment](https://github.com/provectus/kafka-ui/issues/992#issuecomment-950344633) the functionality to "remove messages" from topics with "compact" policy does not work. However logically it is still very useful functionality.

This functionality can be achieved by having 1-click option to re-create topic with exactly same configura

[2021-10-24 17:00] IndeedSi opened #999 "Unknown cleanup policy when visiting topic detail page directly"
**Describe the bug**
When visiting topic detail page through link /ui/clusters/{cluster}/topics/{topic}, the cleanup policy will always be "UNKNOWN". If you click into the topic from topic list page, correct cleanup policy will be shown.

**Set up**
I compile and run the latest master branch with a Confluent Cloud cluster

**Steps to Reproduce**
Steps to reproduce the behavior:

1. On topic list p

[2021-10-25 01:37] tooptoop4 opened #1002 "Support for MSK IAM without awsProfileName"
awsProfileName is mandatory in kafka-ui but instead it should be optional and allow 'Instance profile credentials: used on EC2 instances, and delivered through the Amazon EC2 metadata service.'

ie ./bin/kafka-console-producer.sh can load creds like:
[2021-10-25 01:42:53,532] DEBUG Loading credentials from aws_msk_iam_auth_shadow.com.amazonaws.auth.EC2ContainerCredentialsProviderWrapper@60cb7374 (

[2021-10-25 10:10] Haarolean opened #1009 "Add an ability to run tests for PRs made from forks"

[2021-10-25 10:40] #973 closed, assigned to Haarolean

[2021-10-25 10:40] #997 closed, assigned to GneyHabub

[2021-10-25 11:51] #993 closed, assigned to iliax

[2021-10-25 12:22] #996 closed, assigned to GneyHabub

[2021-10-25 16:05] akamensky opened #1013 "[feature] Clone topic functionality"
### Is your proposal related to a problem?

I often find myself creating a topic that has exactly same configuration as existing one. In which case I need to have 2 windows open side-by-side to see source configuration and replicate it in new topic. That is a bit troublesome.

### Describe the solution you'd like

1. In topic list view a button to clone selected topic (when single topic selected)

[2021-10-26 10:27] Haarolean opened #1015 "Rename offsets columns"
To make offsets indication more clear we have to:
Topic details page:
1) Rename min/max offset to first/next (earliest/latest?) offset
2) Add a column "message count"

CC @iliax @GneyHabub

[2021-10-26 10:42] Haarolean opened #1016 "Topic tests failing"
[code]

[2021-10-26 11:39] #990 closed, assigned to GneyHabub

[2021-10-26 13:38] clocklear opened #1017 "Proposal: Add info about `SERVER_USEFORWARDHEADERS` to SSO guide"
### Is your proposal related to a problem?

I recently set up kafka-ui with MSK in ECS on AWS with the intent of using SSO with Auth0 to secure the application.  I am terminating SSL on the load balancer; connections between the load balancer and the kafka-ui container are HTTP.  Following the SSO guide, I set up only the environment variables that were relevant to SSO:

[code]

However, what I ob

[2021-10-27 10:11] Haarolean opened #1021 "Cognito logout"

[2021-10-27 10:12] Haarolean opened #1022 "Hide production and consumption"
...on the dashboard page if no jmx ports are provided

[2021-10-27 12:00] tooptoop4 opened #1023 "LDAP/ActiveDirectory Authentication for WebUI"
I see there is support for SSO auth on the WebUI, would be great if LDAP auth was an alternative authentication

[2021-10-27 12:10] #992 closed, assigned to IndeedSi

[2021-10-27 12:16] iliax opened #1024 "New incoming messages not visible when "Newest first" enabled"
**Describe the bug**
(A clear and concise description of what the bug is.)

When "Newest first" is enabled on Submit we should send request with latest partitions offsets.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. write messages to topic
2. open Messages tab
3. enable "Newest first" mode
4. write new messages
5. click Submit
6. nothing happened

**Expected behavior**
(A clear an

[2021-10-27 12:23] #995 closed, assigned to iliax

[2021-10-29 05:37] akamensky opened #1027 "[feature] option to disable viewing messages in UI"
### Is your proposal related to a problem?

Some of our data has restricted access. Currently this tool will allow anyone to browse this data.

### Describe the solution you'd like

A startup configuration parameter to entirely disable viewing messages in UI.

### Describe alternatives you've considered

N/A

### Additional context

N/A

[2021-10-29 12:44] tooptoop4 opened #1029 "Better logging to know what failed in KafkaService/getUpdatedCluster"
i get this error connecting to MSK IAM:
[code]
This function is doing a lot:
https://github.com/provectus/kafka-ui/blob/v0.2.1/kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/KafkaService.java#L124-L156

but it doesn't have enough debug logs to isolate which individual call is causing the issue

[2021-10-29 14:56] swimand opened #1031 "Only first among multiple clusters connecting properly"
**Describe the bug**
Only first cluster successfully connects to kafka/zookeeper/schema-registry instance.

**Set up**
Deployed through helm onto a kubernetes cluster hosted on GCP containing multiple kafka/zookeeper/schema-registry instances.

Configured using the following values files:

[code]

**Steps to Reproduce**
Deploy two seperate kafka instances using the charts from cp-helm-charts, wher

[2021-10-30 10:34] iliax opened #1032 "Show "Loading" when waiting for consumers list"
### Is your proposal related to a problem?

Go to Topics -> select topic -> go to Consumers tab.
When Consumers tab is rendering the table is empty, when consumers request executed table is updated with responded values.

### Describe the solution you'd like

I think we should show 'loading..' when waiting for consumers response. Since this request can be pretty long table ca stay empty for some t

[2021-10-30 10:38] Haarolean commented on #1031
Hi, thanks for reaching out. We'll check it out.

[2021-10-30 10:39] Haarolean commented on #1029
Hi, thanks for raising the issue. I remember this being a problem because kafka's admin client itself returns a message which is not much of a help. We'll have to do something.

[2021-10-30 10:42] #980 closed

[2021-10-30 10:46] iliax opened #1033 "Topic with long name makes table looks ugly"
### Is your proposal related to a problem?

see screenshots

### Describe the solution you'd like

I think we should keep columns widths ratio stable and blur name ending if it doesnt fit column width

### Describe alternatives you've considered

### Additional context

<img width="1680" alt="Screenshot 2021-10-30 at 13 42 54" src="https://user-images.githubusercontent.com/702205/139529668-314fd95

[2021-10-31 14:42] iliax opened #1035 "Topic search issue (when pagination enabled)"
**Describe the bug**

Go to Topics -> select page 2 -> insert any topic name in search string (to filter only 1 topic) -> table will be empty.
This is because after search we still passing page=2 query param -> we need to set 'page' query param to 1 after search criteria edit

**Set up**
(How do you run the app?)

**Steps to Reproduce**
Steps to reproduce the behavior:

see desc

**Expected behavi

[2021-11-01 02:08] tooptoop4 opened #1037 "publish kafka-ui-contract on github release or maven"
just building kafka-ui-api module doesn't work since it needs kafka-ui-contract

[2021-11-01 04:58] Haarolean commented on #1037
That's an expected behaviour. Module `kafka-ui-contract` consists of REST conventions used in other modules.

[2021-11-01 04:59] #1037 closed

[2021-11-01 14:51] #1035 closed

[2021-11-01 16:03] jheinitz opened #1042 "Cannot connect to SSL enabled Zookeeper"
Hello,

I configured my Zookeeper and Kafka Broker to communicate over SSL using certificates signed by our company's CA. The problem is that I get an error while the zookeeper is queried for its metrics. This is the error message:

I get a similar error when I invoke the zookeeper-shell without specifying the zk-tls-config file. I also get an error in my zookeeper log indicating that a request wa

[2021-11-01 16:52] #1042 closed

[2021-11-02 13:21] azatsafin commented on #667
Hello @survivant
Your kafka-ui chart use subcharts, you don't pass values to the subchart correctly. Please check according official HELM [documentation](https://helm.sh/docs/chart_template_guide/subcharts_and_globals/)

[2021-11-02 13:24] survivant commented on #667
I'm familiar with subchart and umbrella chart.  It's possible that I made a mistake.  What is it ?  can you attach a zip file that works ?

[2021-11-02 15:20] azatsafin commented on #667
Your values-kind.yaml should look like
`kafka-ui:
  enabled: true
  service:
    type: ClusterIP
  ingress:
    enabled: false # disable default ingress, we will use our ingress
  envs:
    config:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-cp-kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: kafka-cp-zookeeper:2181
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://ka

[2021-11-03 13:28] blueghostuk opened #1046 "Cannot Produce a message with an empty key"
**Describe the bug**

When trying to produce a message, I want the ability to not set a key value

**Set up**

Via docker, using master image (v0.2.2-SNAPSHOT(289791a))

**Steps to Reproduce**

1. Find the relevant topic
2. Click "Produce Message" button
3. Clear the auto-generated key
4. enter some random content, e.g. a JSON object
5. Click Send

**Expected behavior**
Message is sent to the topi

[2021-11-03 14:03] Haarolean commented on #1046
Hey, thanks for reaching out. We'll get back to this issue soon.

[2021-11-03 14:06] Nitesh-vaidyanath opened #1047 "Displaying wrong consumers host ip address"
[](url)**Describe the bug**
Consumer host ip address is not displayed correctly i see /127.0.0.6 ip address for all the consumers.

**Set up**
Using latest docker image 0.2.1 and helm version kafka-ui-0.0.1.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. We can check under consumer sections.

**Expected behavior**
UI should display pod ip address

**Screenshots**
<img width="1549" al

[2021-11-03 14:11] Haarolean commented on #1047
Hey, thanks for reaching out. We'll take a look at this.

[2021-11-03 21:47] Haarolean commented on #588
AUTH_ENABLED: 'true' instead of SECURITY_BASIC_ENABLED

[2021-11-04 09:59] omrihaber opened #1048 "Change number of partitions in existing topic"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

After creating a topic or for a topic created previously.
Want to change the number of partitions and reassign it.

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-11-04 12:41] survivant commented on #667
thanks.. it was a stupid copy/paste error.  Thank you for your time

[2021-11-04 12:41] #667 closed

[2021-11-05 01:47] Haarolean commented on #1048
P.S. Partitions reassignment is to be done within #944

[2021-11-05 16:08] agolosen opened #1050 "Topics->Create new: Disabled dropdown option(s) in Additional parameters"
**Describe the bug**
During creating a new topic dropdown option(s) in Additional parameters are disabled if you click it but it was not added.

**Set up**
docker-compose -f ./docker/kafka-ui.yaml up

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics -> Create new http://localhost:8080/ui/clusters/Cluster_Name/topics/create_new
2. Click button Add Custom Parameter
3. C

[2021-11-06 11:24] GneyHabub opened #1052 "Add positive notifications"
Right now we can only display error notifications. They are created after every failed request. We need to add a mechanism to trigger them manually.

[2021-11-06 14:04] GneyHabub commented on #1052
Potential usages:
1. Edit Connect - warning about credentials
2. Connector tasks - clear messages confirmation

[2021-11-08 15:38] Jassi10000 opened #1058 "Request to add a github action to the repo"
### Is your proposal related to a problem?

(Write your answer here.)
No, rather related  to adding a new feature

### Describe the solution you'd like

(Describe your proposed solution here.)
I see that the repo is quite engaging
I would love to see a github - action welcoming all the new contributors on their issues and Prs

If you love the idea , assign me

### Describe alternatives you've cons

[2021-11-08 15:39] Haarolean commented on #1058
Hey, sounds like a great idea. Would be nice to see that!

[2021-11-08 15:45] Khakha-A opened #1059 "Double topic message display on consequent pages"
**Describe the bug**
(A clear and concise description of what the bug is.)
The last message on page 1 of topic messages gets displayed on page 2

**Set up**
(How do you run the app?)
Windows build

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Topics
2. Select a Topic
3. Messages
4. See message 99
5. Click "Next"
6. See message 99 on Page 2

**Expected behavior**
(A clear and concise

[2021-11-08 15:52] Khakha-A opened #1060 "Calculation error in Time to retain data [topic creation]"
**Describe the bug**
(A clear and concise description of what the bug is.)
Time to retain data tab displays 168d when 4w is selected; 28d should be selected; calculation error in ms (s vs ms)

**Set up**
(How do you run the app?)
docker-compose -f ./docker/kafka-ui.yaml up

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Topics
2. Add a Topic
3. Navigate to Time to retain data
4. Selec

[2021-11-08 15:55] Haarolean commented on #1060
Hey, thanks for reaching out. We'll get a look at this.

[2021-11-08 15:59] Haarolean commented on #1060
@GneyHabub this one applies just for the 4w selector for some reason.

[2021-11-08 19:47] #1058 closed

[2021-11-09 08:40] mateuszkwiatkowski commented on #981
@Haarolean It seems that this problem is now fixed. Thank you so much for prompt fix!

[2021-11-09 08:40] #981 closed

[2021-11-09 08:46] Haarolean commented on #981
That’s great, glad to hear.

[2021-11-09 12:06] Haarolean commented on #1059
@GneyHabub I guess we have to adjust (off by one) `seekTo` param value when clicking on `next` button

[2021-11-09 12:09] #1060 closed

[2021-11-09 12:55] Haarolean commented on #999
@GneyHabub done, see #1067
![image](https://user-images.githubusercontent.com/1494347/140927789-6528b147-9dfd-4267-8357-35990a012305.png)

[2021-11-10 10:53] GneyHabub opened #1068 "Add custom styles to the JSONEditor component"
The JSONEditor has the wrong theme right now. There's a way to customize it. The correct theme is provided in the design.

[2021-11-10 10:56] GneyHabub opened #1069 "Custom toggle component"
Right now we use the Bulma toggle component. We can simply restyle it, but a better solution would be to create a custom toggle, since we try to avoid using Bulma in the project for the sake of consistency.

[2021-11-10 10:59] GneyHabub opened #1070 "Form controllers' API"
Right now the Input, Select, and Textarea components have different APIs. It's kinda confusing and ugly, so it would be nice to have them unified.

[2021-11-10 11:11] GneyHabub opened #1071 "Breadcrumb capitalization"
Right now, all the elements of the breadcrumb are capitalized. This is a bug because we are supposed to leave names as-is. For example, if some topic is called _dummy-topic_, the breacrumb should look like this:
`Topics / dummy-topic`
But now it looks like this:
`Topics / Dummy-topic`

[2021-11-10 12:09] Haarolean commented on #1031
Hey,

seems like there's an issue with your configuration.
From your logs: `No resolvable bootstrap urls given in bootstrap.servers`.
No clue how to fix this, but we've got some users using kafka-ui with helm (but not quite sure about multiple clusters) and this is the first time I see this kind of a problem.
Since this works via docker-compose, this is probably some misconfiguration issue.
I'd su

[2021-11-10 12:09] #1031 closed

[2021-11-10 17:12] GloWorm0 opened #1073 "Can't connect to locally running Kafka"
I'm trying to connect Kafka-ui to a Kafka cluster that is running locally on my machine, NOT via a Docker container.  It will connect fine to other clusters that I am monitoring, but not to my local cluster.  No matter what I try it reports the local cluster as offline.

In my Kafka config/server.properties I have the following entries:
listeners=PLAINTEXT://localhost:9092
advertised.listeners=PLA

[2021-11-10 18:22] GloWorm0 commented on #1073
Yes, that is correct.

[2021-11-11 10:57] Haarolean commented on #1073
@GloWorm0
Which platform are you running the app on?
How did you try passing the `host.docker.internal`?

[2021-11-11 13:38] GloWorm0 commented on #1073
I'm running on macOS (10.15.7).

I'm not sure I understand.  I just tried to use it when setting the environment variables for the container.  So instead of `KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: localhost:9092` (which obviously won't work because it's not running in the container) I tried `KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: host.docker.internal:9092` (as well as actually using the IP.

[2021-11-11 22:15] #827 closed

[2021-11-11 22:15] #933 closed

[2021-11-12 09:53] akamensky opened #1076 "[bug] Unable setup this UI for ONLY schema inspection and KC management"
**Describe the bug**

Both SchemaRegistry and KafkaConnect do not require any connection to Kafka/Zookeeper to be able to check data in them or manage them. However this UI falls flat on the face when attempting to run this setup.

**Set up**
Docker master branch latest

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Configure a cluster with only SR configuration defined (no ZK,Kafka)

[2021-11-12 11:14] Haarolean opened #1077 "Faster topic list loading"
- upon search, load topic lists via separate endpoint which will return just the names
- after selecting the name load full details

[2021-11-12 11:17] Haarolean commented on #1076
Hi Alex, thanks for raising the issue. We'll consider making it possible to run the app w/o kafka in next versions.

[2021-11-12 12:54] Haarolean commented on #1073
It's not just that.
First of all, your docker-compose should have this:
[code]
Secondly, your `KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS` should look like this: `host.docker.internal:9092`.
Moreover, take a look at your `KAFKA_ADVERTISED_LISTENERS`, it should be like this: `PLAINTEXT://host.docker.internal:9092`.

[2021-11-12 13:11] Haarolean commented on #999
Backend done, waiting for the frontend. Up for grabs.

[2021-11-12 13:30] Haarolean commented on #1073
I just tried that setup and it worked for me.

`KAFKA_ADVERTISED_LISTENERS` is kafka's variable.
Yeah, that's probably right. I tried that setup with kafka running in a container but I've accessed it externally via port forwarding, so, something close to your setup.

[2021-11-12 13:38] GloWorm0 commented on #1073
Adding `extra-hosts` didn't change anything.  Very frustrating.  I can access other clusters, just not my local Kafka.  I'm trying to evaluate this tool and would rather do some of the tests just on my local cluster, but I guess I won't be able to do that.

I'm sure it's something with my setup, but have no idea what it could be.  Kafka is up and running and accessible, just not from within Docker

[2021-11-12 13:51] Haarolean commented on #1073
I'd also try to run a 'fair' instance of kafka on bare metal to try that thing out. I suppose the trick might be about `KAFKA_ADVERTISED_LISTENERS`.

[2021-11-12 14:20] GloWorm0 commented on #1073
OK, I figured it out.

In my Kafka `server.properties` I had `advertised.listeners=PLAINTEXT://localhost:9092`.  This only allow access via `localhost`.  Once I changed it to my machine's IP address everything worked fine.

Thanks for the help.

[2021-11-12 14:20] #1073 closed

[2021-11-12 14:21] Haarolean commented on #1073
You're welcome :) I'll convert this to a discussion to make it easily discoverable for others.

[2021-11-13 00:43] rgsurfs opened #1082 "bump snakeyaml from 1.25 to 1.29 in kafka-ui-api"
Current version in use is over two years old.

https://mvnrepository.com/artifact/org.yaml/snakeyaml

[2021-11-13 00:44] rgsurfs commented on #1082
Current version in use is over two years old.

https://mvnrepository.com/artifact/org.yaml/snakeyaml

[2021-11-13 00:49] rgsurfs opened #1083 "bump nimbus-jose-jwt from 7.8 to 9.16 in kafka-ui-api"
Current version in use is almost two years old.

https://mvnrepository.com/artifact/com.nimbusds/nimbus-jose-jwt

[2021-11-13 00:52] rgsurfs opened #1084 "bump apache-commons-compress from 1.19 to 1.21 in kafka-ui-api"
Current version in use is almost two years old.

https://mvnrepository.com/artifact/org.apache.commons/commons-compress

[2021-11-13 14:05] Haarolean commented on #1083
Hi, I don't see this dependency anywhere in our project at all.

[2021-11-13 14:09] Haarolean commented on #1084
Hi,

there's nothing wrong with using older versions of dependencies (implying there are no known security vulnerabilities, which is true for 1.19). On the other hand, bumping dependency version may require additional testing overhead, because sometimes even minor bumps can cause some bugs/problems/instabilities.
Considering these facts, I'm closing this since there's no need in bumping this depen

[2021-11-13 14:10] Haarolean commented on #1082
I don't see this one used anywhere either. Would you elaborate where do you see this dependency used?

[2021-11-13 15:28] Haarolean commented on #1016
Broken since #931

[2021-11-13 15:38] #1016 closed

[2021-11-13 21:50] rgsurfs commented on #1083
appreciate the reply. tks.  Close my tickets then, maybe I was given bum info.....  I have  75mb jar file 
kafka-ui-api-0.2.1.jar 

When I expanded that jar, i get three folders:BOOT-INFMETA-INForg
There are 171 jars in here:\kafka-ui-api-0.2.1\BOOT-INF\lib\

Robert

    On Saturday, November 13, 2021, 09:05:22 AM EST, Roman Zabaluev ***@***.***> wrote:

Hi, I don't see this dependency anywhere in

[2021-11-14 14:07] Haarolean commented on #1083
This might be a transitive dependency. There's nothing wrong with it, considering we're getting notifications about security vulnerabilities via dependabot and sonar. But thanks for the concern!

[2021-11-14 14:09] Haarolean commented on #1082
#1083

[2021-11-14 15:48] rgsurfs commented on #1083
We are getting our reports from Twistlock scans.  copy attached. I'll step back out of the issues for the moment.  tks for the replies.
Robert
    On Sunday, November 14, 2021, 09:08:04 AM EST, Roman Zabaluev ***@***.***> wrote:

This might be a transitive dependency. There's nothing wrong with it, considering we're getting notifications about security vulnerabilities via dependabot and sonar. But

[2021-11-14 16:36] Haarolean commented on #1083
If you’ve attached a copy via email it won’t work probably. Can you send it to me via rzabaluev at provectus dot com please?

[2021-11-15 13:46] Haarolean commented on #1082
Current version of transitive dependency of snakeyaml (via spring-boot-starter-webflux) is 1.28

[2021-11-15 13:46] #1082 closed

[2021-11-15 13:59] Haarolean commented on #1083
Current version of nimbus-jose-jwt (via spring-security) is 9.10.1.

[2021-11-15 13:59] #1083 closed

[2021-11-15 14:07] Haarolean commented on #1084
Discussed in #1083, that's a transitive dependency.

[2021-11-15 21:38] rgsurfs opened #1092 "bump netty-codec from 4.1.45.final to 4.1.70.final in the kafka-ui-api"
Request review and update the netty-codec from 4.1.45.final to latest supported version.

Latest version may be found here:
https://mvnrepository.com/artifact/io.netty/netty-codec

netty-codec 4.1.45.final is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2021-21409
https://nvd.nist.gov/vuln/detail/CVE-2021-21295
https://nvd.nist.gov/vuln/detail/CVE-2021-21290
https://nvd.n

[2021-11-15 21:45] rgsurfs opened #1093 "bump spring-security-core from 5.2.1 to 5.5.3 in the kafka-ui-api"
Request review and update the bump spring-security-core from 5.2.1 to latest supported version.

Latest versions may be found here:
https://mvnrepository.com/artifact/org.springframework.security/spring-security-core

spring-security-core 5.2.1 is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2021-22112
https://nvd.nist.gov/vuln/detail/CVE-2020-5408
https://nvd.nist.gov/vu

[2021-11-15 21:52] rgsurfs opened #1094 "bump kotlin-stdlib from 1.3.61 to 1.6.0in the kafka-ui-api"
bump kotlin-stdlib from 1.3.61 to 1.6.0 in the kafka-ui-api

Request review and update the bump kotlin-stdlib from 1.3.6 to latest supported version.

Latest versions may be found here:
https://mvnrepository.com/artifact/org.jetbrains.kotlin/kotlin-stdlib

kotlin-stdlib 1.3.61 is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2021-21290

Vulnerabilities identified using Pri

[2021-11-15 21:56] rgsurfs opened #1095 "bump jackson-databind from 2.10.2 to 2.13.0 in the kafka-ui-api"
Request review and update the bump jackson-databind from 2.10.2 to latest supported version.

Latest versions may be found here:
https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind

jackson-databind 2.10.2 is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2020-25649

Vulnerabilities identified using Prisma Twistlock Scans against the kafka-ui-api-

[2021-11-15 22:01] rgsurfs opened #1096 "bump netty-codec-http from 4.1.45.final to 4.1.70.final in the kafka-ui-api"
Request review and update the netty-codec-http from 4.1.45.final to latest supported version.

Latest versions may be found here:
https://mvnrepository.com/artifact/io.netty/netty-codec-http

netty-codec-http 4.1.45.final is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2021-21290

Vulnerabilities identified using Prisma Twistlock Scans against the kafka-ui-api-0.2.1.jar f

[2021-11-15 22:03] rgsurfs opened #1097 "bump netty-codec-http2 from 4.1.45.final to 4.1.70.final in the kafka-ui-api"
Request review and update the netty-codec-http2 from 4.1.45.final to latest supported version.

Latest versions may be found here:
https://mvnrepository.com/artifact/io.netty/netty-codec-http2

netty-codec-http2 4.1.45.final is vulnerable to the following CVEs:
https://nvd.nist.gov/vuln/detail/CVE-2021-21295
https://nvd.nist.gov/vuln/detail/CVE-2021-21409

Vulnerabilities identified using Prisma T

[2021-11-16 01:18] #941 closed

[2021-11-16 04:02] tooptoop4 opened #1098 "Browse message for avro (with schema registry) not working. Messages produced by Oracle Debezium Kafka Connect"
The avro messages (produced by Oracle Debezium Kafka Connect) appear fine in kafka-avro-console-consumer or kcat but not in kafka-ui. My oracle table has NUMBER data types

![image](https://user-images.githubusercontent.com/33283496/141898113-b434cf77-3b6d-47f2-a75b-ba1b7a7e0eed.png)

I confirmed json messages appear fine in kafka-ui but not these avro ones. I am using 0.2.1 jar

[2021-11-16 11:00] devdavidkarlsson opened #1100 "AWS MSK IAM from ECS"
**Describe the bug**

AWS MSK ECS with IAM, I am experiencing something similar to [this](https://github.com/aws/aws-msk-iam-auth/issues/28). The logs show:

[code]

**Set up**

[code]

To test this out I have set a quite liberal execution policy on the task: `"arn:aws:iam::aws:policy/AmazonMSKFullAccess"`

**Steps to Reproduce**
Steps to reproduce the behavior:

1.  Setup MSK with:

  number_of_b

[2021-11-16 11:31] Haarolean commented on #1098
Hi,
1) which exact version are you running? There's a commit hash available in the left upper corner.
2) Can you share an example message? A full one.

[2021-11-16 12:47] tooptoop4 commented on #1098
Version:v0.2.1(da29a20)

[2021-11-16 12:51] #1002 closed

[2021-11-16 13:16] tooptoop4 commented on #1023
didn't have any effect @Haarolean

[2021-11-16 15:43] iliax commented on #1098
@tooptoop4 can you please provided config that you run kafka-ui with ? Are you setting KAFKA_CLUSTERS_0_SCHEMAREGISTRY property ?

[2021-11-16 18:00] devdavidkarlsson commented on #1100
fix:
- update instance size from kafka.t3.small --> `kafka.m5.large`
- add permission to task execution role: ` kafka-cluster:Connect `

[2021-11-16 18:00] devdavidkarlsson commented on #1100
(remaining issue: cant create topics)

[2021-11-16 20:57] Haarolean commented on #1002
@tooptoop4 have you been able to solve the issue?

[2021-11-16 21:26] tooptoop4 commented on #1002
yes describeclusters fixed it

[2021-11-17 00:47] tooptoop4 commented on #1098
export KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL
export KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM=AWS_MSK_IAM
export KAFKA_CLUSTERS_0_PROPERTIES_SASL_CLIENT_CALLBACK_HANDLER_CLASS=software.amazon.msk.auth.iam.IAMClientCallbackHandler
export KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG='software.amazon.msk.auth.iam.IAMLoginModule required;'
export KAFKA_CLUSTERS_0_NAME=msk
export KAFK

[2021-11-17 09:48] Haarolean commented on #1100
@devdavidkarlsson hey, thanks for the info. I'll convert this to a discussion.
Regarding a problem with creating topics, could you please raise a separate issue? Thanks.

[2021-11-17 09:48] #1100 closed

[2021-11-17 09:53] Haarolean commented on #1023
Okay, will take a look.

[2021-11-17 10:10] #966 closed, assigned to Haarolean

[2021-11-17 10:22] Haarolean commented on #966
@MarsSu0618 hey, please give it a try (image tagged `master`). Is the problem gone?

[2021-11-17 11:57] iliax commented on #1098
@tooptoop4 here are some questions:
1. does schema is called {topic-name}-value for this topic?
2. do you have messages of multiple types inside this topic? ex. some msgs are json, some are avro?
3. do you have any error/warn msgs in logs? We are interested in warn msgs starting with `Failed to parse by`

[2021-11-17 13:01] tooptoop4 commented on #1098
1. schema registry shows 2 schemas: {topic-name}-value and {topic-name}-key
2. all avrò
3. none like that

[2021-11-17 13:26] iliax commented on #1098
@tooptoop4 can you please share warn&err messages you have in logs? Restart app, open Messages tab for this topic - logs from this steps should be enough.

[2021-11-17 21:24] #1084 closed

[2021-11-18 19:42] germanosin opened #1106 "Topic disk usage size is incorrect in topic details view"
**Describe the bug**
If topic size > int.max, topic details page will display "-bytes". This is happening because field segmentSize is int for topicdetails object.

[2021-11-19 00:05] #1106 closed

[2021-11-19 00:12] Haarolean opened #1109 "KSQL execution is unstable"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1075

<div type='discussions-op-text'>

<sup>Originally posted by **sripathiacharya** November 11, 2021</sup>
Hi Team,

The following statements fail with "422 Invalid sql" error. The statements work directly on KSQLDB using CLI. Is there a list of supported statements? I am using build 0.2.2-SNAPSHOT.

- INSERT INTO statements. ht

[2021-11-19 00:21] Haarolean commented on #1097
Considering the scan info you've provided, issues in `netty-codec-http2` have been fixed in 4.1.60 and 4.1.61. We're currently using 4.1.69 in master.

[2021-11-19 00:21] #1097 closed

[2021-11-19 00:23] Haarolean commented on #1096
Patch version is 4.1.59. We're on 4.1.69 currently.

[2021-11-19 00:23] #1096 closed

[2021-11-19 00:23] Haarolean commented on #1092
Latest required patched version is 4.1.68. We're on 4.1.69.

[2021-11-19 00:23] #1092 closed

[2021-11-19 00:31] Haarolean commented on #1095
This one is tricky (https://github.com/OpenAPITools/jackson-databind-nullable/issues/25). Will fix a bit later.

[2021-11-19 00:37] Haarolean commented on #1094
Current version is 1.5.31, which is not affected (patched in 1.4.21).

[2021-11-19 00:37] #1094 closed

[2021-11-19 00:38] Haarolean commented on #1093
We're on 5.5.3. Latest vulnerable is 5.3.7.

[2021-11-19 00:38] #1093 closed

[2021-11-20 01:47] Qwertie- opened #1111 "ARM docker image"
### Is your proposal related to a problem?

It looks like the docker images are only built for x86 so they don't work by default on the M1 mac. I know you can force it to run in x86 emulation but it would be nice to get a native ARM build for docker.

### Describe the solution you'd like

ARM build of docker image

[2021-11-20 02:01] Haarolean commented on #1111
Hey, thanks for reaching out. This is a duplicate of #986.
We'll implement this in near future, once we get enough bandwidth for this.

[2021-11-20 02:01] #1111 closed

[2021-11-22 05:41] namgk commented on #982
I'm having the same problem, here's the log. My zookeeper client listened at 2181

[code]

[2021-11-22 11:41] Haarolean commented on #982
Hey @namgk, thanks for reaching out. Please share some details:
1. How do you run kafka-ui itself?
2. How do you run zookeeper? Which version?
3. Does it happen all the time or does it work sometimes?

[2021-11-22 11:43] Haarolean opened #1121 "Create a separate technical account for branch deployments"
With a separate credentials

Discussed [here](https://github.com/provectus/kafka-ui/pull/1108#discussion_r752768474)

[2021-11-22 12:21] azatsafin commented on #1121
Hi , this PR will fix using personal deployment creds https://github.com/provectus/kafka-ui/pull/1122

[2021-11-22 12:27] #1121 closed

[2021-11-22 16:45] linuxmail commented on #982
Hello,

I have the same issue, but it might be related to the my SSL/TLS and auth config. I'm  new to Zoo and Kafka ..

My (Puppet) config looks like:

[code]
While the Kafka part works .. Zookeeper does not.

* Zookeeper config (zoo.cfg):

[code]
* Jaas config

[code]
So question would be .. what is wrong :-)

cu denny

[2021-11-22 18:41] namgk commented on #982
It happens all the time.

It's a bit tricky with me I suppose.

I'm running a k8s cluster of Kafka using Strimzi, it spawned both zookeeper and kafka, all plain text. There's a super quick quick-start here (https://strimzi.io/quickstarts/). Kafka-ui is also a pod in the cluster. I believe it's zookeeper 3.6.3.

So far everything seems to work (e.g. topics, producers, consumers, schema registry), s

[2021-11-23 11:34] Haarolean commented on #982
@linuxmail We have an example for configuring [ssl enabled zookeeper](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui-zookeeper-ssl.yml)

@linuxmail @namgk could you folks check this out: does it work right after container (kafka-ui) start? I wanna know if this is related in any way to connection expiration. Does the first connect attempt fails as well?

[2021-11-23 11:40] linuxmail commented on #982
Hello @Haarolean

does it also support PAM? Because we do not have the JKS.

[2021-11-24 08:53] iliax commented on #950
implemented in https://github.com/provectus/kafka-ui/pull/1036 pr

[2021-11-24 08:53] #950 closed

[2021-11-24 10:42] iliax commented on #875
implemented

[2021-11-24 10:42] #875 closed

[2021-11-24 11:44] #874 closed

[2021-11-24 13:05] #911 closed

[2021-11-24 13:05] #936 closed

[2021-11-24 17:38] Haarolean commented on #982
I don't have any other working example with zookeeper, all we've got is located in `docker` directory, so I can neither confirm nor deny this, sorry.

[2021-11-24 23:35] Haarolean commented on #836
Hey, sorry for the delay, this got lost.
I've familiar with jekyll a bit, but I suppose mkdocs is a better option for us?
As you mentioned that you're willing to propose a PR, we'll be glad to see one!

[2021-11-25 01:49] littleKitchen opened #1126 "Can not produce a message"
When I try to produce a message, I got the following issue:

Content schema with key or id "http://unknown.unknown" already exists

I am following this link [https://javascript.plainenglish.io/a-beginners-introduction-to-kafka-with-typescript-using-nestjs-7c92fe78f638](url)

[2021-11-25 07:37] iliax commented on #1126
@littleKitchen this [bug](https://github.com/provectus/kafka-ui/issues/953) was fixed in current master. please try to use it: just replace `provectuslabs/kafka-ui:latest` with `provectuslabs/kafka-ui:master` in your docker-compose.yaml file

[2021-11-25 09:16] Haarolean commented on #1126
Hey @littleKitchen, thanks for your interest in kafka-ui. As @iliax mentioned, this has been fixed a long time ago in master. The thing is, `latest`-tagged image is about latest **release**, but not the latest commit.
Let us know if you encounter any other problem!

[2021-11-25 09:16] #1126 closed

[2021-11-26 08:43] akamensky opened #1128 "Cluster order is not respected"
**Describe the bug**

Previously we had only 3 clusters defined in Docker service config, with that the order was preserved (from 0 to 2 as per env vars index number). After evaluation we have added remaining 12 clusters (yes, we have total of 15 Kafka clusters). The order now is completely random. **This happens in both nav menu (left side of UI with vertical list) and in dashboard view**.

**Set

[2021-11-26 11:50] iliax commented on #1128
@akamensky fixed, please try master version

[2021-11-28 05:13] akamensky commented on #1128
@iliax I've tried the latest master version, but I get this error on service start (and it crashes):

[code]

[2021-11-29 10:43] iliax commented on #1128
@akamensky
In current master we do first metrics collection on application startup and fail if we cant handle any of clusters - I [just fixed ](https://github.com/provectus/kafka-ui/pull/1136) logging issue - please refresh master and try again - error message should be more descriptive.

BTW: this eager initialization can be a problem in some situations when you have a lot of cluster, we will dis

[2021-11-29 11:03] akamensky commented on #1128
@iliax I think at least it shouldn't crash if any of the clusters are unreachable. Logging that is good. Showing in UI a red dot instead of green (as it was working previously) even better. But definitely shouldn't crash with exception IMO.

[2021-11-29 11:32] iliax commented on #1128
@akamensky thank you for feedback, we will rework initialization soon

[2021-11-29 15:03] Bagmetalex commented on #982
I found the following article on your problem,
https://stackoverflow.com/questions/35125579/kafka-to-zookeeper-command-produces-error
 It seemed to help me, but I see it in the logs
15:00:43.729 [kafka-admin-client-thread | adminclient-1] DEBUG com.provectus.kafka.ui.service.ZookeeperService - Start getting Zookeeper metrics for kafkaCluster: kafka_development
and zookeeper offline status :(

[2021-11-29 15:07] Haarolean commented on #982
@Bagmetalex are there any errors in your case or just these messages?
Could you share details about your setup as well?

[2021-11-29 15:13] Bagmetalex commented on #982
[code]

[2021-11-29 15:19] Haarolean commented on #982
@Bagmetalex thanks. Is there any specific reason why you have applied this solution just for one of the zookeepers (kafkadev)? Do others work fine? if that's the case, is there any difference between these zookeeper instances?

[2021-11-29 15:28] Bagmetalex commented on #982
no zookeeper version is the same on all hosts 3.4.10
I applied this value by analogy with kafka-manager
`zk1:2181,zk2:2181,zk3:2181/NAMESPACE`
If I specify
`kafkadev3:2181/kafka_development,kafkadev2:2181/kafka_development,kafkadev:2181/kafka_development`
I get errors as indicated at the beginning of the issuse

[2021-11-29 18:47] Haarolean commented on #982
That's enough, thanks. I'll take a look this week, your setup seems a bit easier than the others.

[2021-11-29 18:48] #1095 closed

[2021-11-30 02:28] akamensky commented on #1128
Thanks, looks like with the fix it works as expected now -- the error messages shown in log, and the application is accessible via UI.

As for the original issue -- ordering looks good now. Thanks @iliax

[2021-11-30 02:28] #1128 closed

[2021-11-30 02:34] akamensky opened #1138 "Collapsible cluster items in cluster left (left column)"
### Is your proposal related to a problem?

We have quite a few Kafka clusters, each with own schema registry, kafka connect etc. That creates a very long list of clusters that need to be scrolled to reach desired one (if it somewhere in 2nd half of the list).

### Describe the solution you'd like

Collapsible items in the left column list.

Right now it is (* is for currently "selected" cluster):

[2021-11-30 02:54] akamensky opened #1139 "Bad handling of cluster names"
**Describe the bug**

We have switched to using user-friendly cluster names in `KAFKA_CLUSTERS_NNN_NAME`. Such that those names are human readable with spaces. After we changed to those names, no operations can be done on cluster (can still browse around tho).

**Set up**
Docker latest master tag

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Use user friendly names such as `KAFKA_CL

[2021-11-30 03:02] akamensky commented on #1139
Confirmed that replacing spaces in names "resolves" this issue.

I think this either need to be documented or fixed by using URL encoding everywhere. Or using original name for display and replacing all non-supported characters with underscore for URLs.

[2021-11-30 08:25] Haarolean commented on #1139
Hmm, that's pretty unnatural to put spaces there since these are just environment variables.

[2021-11-30 08:29] Haarolean commented on #1138
Seems like this has already been implemented within the redesign.
![image](https://user-images.githubusercontent.com/1494347/144011764-be3bb63e-e438-4507-a2e9-d84d150f2b0e.png)
@workshur @alinamiryuk can we make this collapsed by default based on some env. variable?

[2021-11-30 08:31] workshur commented on #1138
@Haarolean it will work without any env cars

[2021-11-30 08:43] Haarolean commented on #1138
based on what circumstances are they gonna be collapsed by default?

[2021-11-30 08:51] Haarolean opened #1140 "Expose ArgoCD UI internally"
for debugging purposes

[2021-11-30 08:52] Haarolean opened #1141 "Alter the process of acquiring VPN credentials"
- Call API gateway instead of lambda

[2021-11-30 08:52] Haarolean opened #1142 "Add status checks for kafka & zookeeper"
and restart all the pods if status check fails

[2021-11-30 08:53] Haarolean opened #1143 "Add source & sink connectors for the demo env"
source: git
sink: s3

[2021-11-30 08:54] Haarolean opened #1144 "Build a workflow to bring up a temp demo env"
for demonstrating purposes. A **separate** one

[2021-11-30 08:55] Haarolean commented on #631
Done.

[2021-11-30 08:55] #631 closed

[2021-11-30 11:09] iliax opened #1146 "UI: Mark initializing clusters with yellow icon"
### Is your proposal related to a problem?

Currently after application startup we asynchronously start cluster metrics collection. Before collection finished cluster status is shown as offline (red). It can be confusing since offline (by some error) clusters are also marked as red.

(Write your answer here.)

### Describe the solution you'd like

I propose to mark 'initializing'  clusters as yell

[2021-12-01 09:08] Haarolean commented on #1138
All clusters will be collapsed unless there's just one cluster.

[2021-12-01 09:32] Haarolean commented on #927
Might get fixed within #921.

[2021-12-01 09:34] Haarolean commented on #897
This will be taken into consideration within version 0.4. Unfortunately we don't have a bandwidth for this in 0.3.

[2021-12-01 10:42] Bagmetalex commented on #982
Hi guys, I do not know why, but my zookeeper status has online
[code]
in logs i see

[code]

[2021-12-01 22:20] esmeneev commented on #815
@Haarolean Hi, can I work on this?

[2021-12-01 23:48] Haarolean commented on #815
@esmeneev hey, sure thing!

[2021-12-02 11:48] Jabsal opened #1159 "Kafka ui Failed to connect to broker clusters"
**Describe the bug**
I am not able to connect to the kafka brokers from the ui

**Set up**
I am running the app via docker compose
pull image from https://hub.docker.com/r/provectuslabs/kafka-ui

Or add the following below to your docker-compose.yml
kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka_ui
    ports:
      - "XXX:8080"
    restart: always
    environment:
      - KA

[2021-12-02 13:53] Haarolean commented on #1159
Hi, could you please click on that version you marked with yellow color and share the link? I can't find the corresponding commit.

[2021-12-02 14:07] Jabsal commented on #1159
Thanks for your response. It is something to do with this commit https://github.com/provectus/kafka-ui/commit/**da29a20**0cd8ec46da709e0523787479ac6fb274b

Btw, I am pulling from this docker image https://hub.docker.com/r/provectuslabs/kafka-ui

[2021-12-02 14:45] Haarolean commented on #1159
Could you try `image: provectuslabs/kafka-ui:master` instead please?

[2021-12-03 04:38] Jabsal commented on #1159
Using the master tag worked.
Thank you so much !

[2021-12-03 09:30] brutttttttt commented on #1029
Hi check it with the latest version

[2021-12-03 11:44] tooptoop4 opened #1168 "ksql ui streamsProperties usage"
ksql ui or docs don't have instructions on expected format for streamsProperties. ie with {} or = or : or "" or ,

[2021-12-03 12:16] tooptoop4 commented on #1029
I can't see release after 5th October

[2021-12-03 14:03] Haarolean commented on #1029
Please try master labeled docker image.

[2021-12-03 15:09] #988 closed

[2021-12-03 15:16] Haarolean commented on #1168
Hi, ksql is kind of in "beta", there are even more serious issues with that. We're planning to get it sorted out in 0.4.

[2021-12-03 15:17] Haarolean commented on #1159
You're most welcome!

[2021-12-03 15:17] #1159 closed

[2021-12-05 12:05] #979 closed

[2021-12-06 18:55] Haarolean opened #1174 "Update helm chart on artifacthub"
via #1160

[2021-12-06 18:58] Haarolean opened #1175 "Implement logout button"

[2021-12-07 11:06] Haarolean opened #1179 "Apicurio registry support"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1177

<div type='discussions-op-text'>

<sup>Originally posted by **smeana** December  7, 2021</sup>
Hello

We are trying to have the UI working with Apicurio but the UI cant deserialize the avro messages.
Any advise on how to integrate Apicurio?

regards</div>

[2021-12-07 11:07] Haarolean commented on #1179
Related #1098

[2021-12-07 11:08] Haarolean commented on #1179
@smeana could you please follow debugging instructions from #1098?

[2021-12-07 12:49] Haarolean commented on #1017
Thanks once again, done.

[2021-12-07 12:56] Haarolean commented on #921
Consider implementing #928 within single PR.

[2021-12-08 01:50] akamensky opened #1183 "Timeouts are not configurable in envvars"
**Describe the bug**

Default timeouts are way too short and there is no documented way to configure them when running from official Docker image. In our system only clusters that are physically nearby the UI are "online", the rest are all "offline" with logs:

[code]

Meantime I can use Kafka own cli tools just fine to connect to those and get all information that I need, so it is just that timeo

[2021-12-08 03:54] akamensky commented on #1183
Looking at YAML configuration file I've tried to use following in Docker stack envvars:

[code]

Which works, but again for some clusters it timeouts (but fewer this time). I don't understand why it needs such a high value, because in fact the connections are not that slow to those clusters, bundled-in Kafka scripts complete their requests in under a second to the most remote cluster (tested from

[2021-12-08 04:01] akamensky opened #1184 "UI "home" does not use correct path context"
**Describe the bug**

When using path context for running UI on some specific path the "home" link (the link of "UI for Apache Kafka") should lead to same context. It is not. See screenshot below, the context is "/kafkaui-private", but link points to "/ui" (can be seen in bottom left corner as mouse hovers over the "home" element).

![Screenshot from 2021-12-08 11-57-13](https://user-images.github

[2021-12-08 04:04] akamensky opened #1185 "readonly label disappeared from UI"
### Is your proposal related to a problem?

We are running a UI in readonly mode, the readonly works as expected (data can be read, but no changes can be done). But before there was a label that clearly shows which clusters are in readonly. Now it is gone.

### Describe the solution you'd like

It would be good to show to users that what they are accessing is readonly.

### Describe alternatives y

[2021-12-08 09:45] iliax commented on #1183
@akamensky please try to incerease `KAFKA_ADMIN-CLIENT-TIMEOUT` to 60000 or more and check behaviour. Note that it is not connection timeout - it is API operation timeout.  If it will help it mean that problem is in high latency. Otherwise maybe some connections error can take place (like closed ports or smth).

[2021-12-08 09:49] akamensky commented on #1183
@iliax yes, already done that and it does work with 60000, but it is still quite high value I feel and perhaps default value is too low.

But overall I think this issue is more about documenting the configuration options and perhaps make them uniform (replace `-` with `_` for envvar options). But would be nice to perhaps raise default values as well to something higher as some operations may be sl

[2021-12-08 10:23] #1183 closed

[2021-12-08 10:27] iliax commented on #1183
@akamensky I increased default timeout to 30s (it was 5s) and added doc for this property

[2021-12-08 11:01] agolosen opened #1188 "Impossible to edit Schema of PROTOBUF type"
**Describe the bug**
Button Edit Schema redirects to an empty screen.

**Set up**
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Click the button Edit Schema for existing proto schema, redirection leads to an empty screen http://redesign.internal.kafka-ui.provectus.io/ui/clusters/local/schemas/proto3/edit
2. Back and Forward buttons in

[2021-12-08 12:26] agolosen opened #1189 "Invalid list of schemas after removing 1 of the schemas"
**Describe the bug**
1. For JSON
Displayed the list with removed a json schema
2. For PROTOBUF and AVRO
Confusing Message 'No schemas found' is displayed after removing a protobuf or avro schema

**Set up**
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry overview
2. Click a schema from the list
3. Choose from

[2021-12-08 12:40] agolosen opened #1190 "Different appearance of Relevant version for PROTOBUF schema"
**Describe the bug**
The appearance of the Relevant version in the overview of PROTOBUF schemas is different from others schema`s types

**Set up**
http://redesign.internal.kafka-ui.provectus.io/ui/clusters/local/schemas/proto3

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Click a schema or PROTOBUF type from the list
3. Observe the appearance of schem

[2021-12-08 14:01] agolosen opened #1191 "Pagination is missing on Scema registry overview page"
**Describe the bug**
Pagination is missing on http://redesign.internal.kafka-ui.provectus.io/ui/clusters/local/schemas

**Set up**
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Shema registry
2. There is no pagination for schemas on the right panel

**Expected behavior**
(A clear and concise description of what you expected

[2021-12-08 15:43] 5hin0bi opened #1192 "impossible to edit connector config"
---
**Describe the bug**
(A clear and concise description of what the bug is.)

When clicking the "Edit Config" button in the connectors properties page it will lead you to this path: ui/clusters/local/connects/local/connectors/connector-name/edit, kafka-ui opens the configuration window but on any change it wont let you save this config saying :
<img width="505" alt="image" src="https://user-imag

[2021-12-08 18:39] agolosen opened #1193 "Incorrect behavior of breadcrumbs for Connectors"
**Describe the bug**
Empty screen is displayed when trying to go backward use breadcrumbs on a connector page

**Set up**
http://redesign.internal.kafka-ui.provectus.io/ui/clusters/local/connects/local/connectors/s3-sink

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to menu item Kafka Connect
2. On the right panel click the name of any connector from the list
3.  On the con

[2021-12-09 07:08] tony4x8x opened #1194 "Kafka Connect error"
**Describe the bug**
(A clear and concise description of what the bug is.)
Hello support teams,
I got bellow the error when accessing Kafka connect. i  see this error in the api:
http://172.16.0.5:8083/connectors/connector-hdfs-sink/topics

remove /topics that work fine:

http://172.16.0.5:8083/connectors/connector-hdfs-sink

Thanks,

**Set up**
(How do you run the app?)

**Steps to Reproduce**
S

[2021-12-09 08:26] iliax commented on #1194
Heloo @tony4x8x, what version of kafka-ui you use? you can see it in the top left corner of page

[2021-12-09 10:28] agolosen commented on #1189
Before redesign Remove worked correctly for all types of schema.

[2021-12-09 10:36] pdebuitlear opened #1206 "[Avro] Message content not easily legible"
Messages that are Avro encoded messages don't render nicely in the UI.

**Set up**
Produce messages to a topic in Avro format using a schema registry
Spin up v 0.2.1 of kafka-ui

**Steps to Reproduce**
Steps to reproduce the behavior:

1.  Navigate to the topic containing the AVRO encoded messages,
2. Select Messages
3. Expand an individual messgae

**Expected behavior**
A clear view of the messag

[2021-12-09 10:59] agolosen opened #1207 "Wrong counter value for Connectors"
**Describe the bug**
The counter on the page Connectors displays the wrong value (always "1")

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this information.)
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce

[2021-12-09 11:19] agolosen opened #1208 "Implement search for Schema Registry"
### Is your proposal related to a problem?
Missing Search on the page Schema Registry

(Write your answer here.)
It would be convenient to have a Search line on this page like on others, especially if we have many schemas in the list.
### Describe the solution you'd like

(Describe your proposed solution here.)
Search line by name and type of schema

### Describe alternatives you've considered

(W

[2021-12-09 12:35] Khakha-A opened #1209 "Inconsistency in updating the global compatibility level (drop down menu)"
**Describe the bug**
(A clear and concise description of what the bug is.)
When selecting a Global Compatibility Level from the drop down menu, the selected but canceled option is displayed

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this informat

[2021-12-09 12:42] Khakha-A opened #1210 "Confusing process of updating Global Compatibility Level"
### Is your proposal related to a problem?

When selected and submitted, the Global Compatibility Level for Schema Registry doesn't update automatically. You need to update the page to see the changes.

### Describe the solution you'd like

The Global Compatibility Level changes automatically once a new option from the drop down menu is selected and submitted; no updates of the page, going back an

[2021-12-09 12:56] Khakha-A opened #1212 "Confusing sorting UI in Topics"
### Is your proposal related to a problem?

When you access Topics tab, some elements of the UI seem confusing:
- The topics are sorted by Topic Name, but it is not highlighted
- You need to click any other table field to see that sorting works (purple highlight)
- The sorting arrows are way to small, but you need to click them to start sorting
- The arrows point up and down, but you can't actuall

[2021-12-09 12:59] #1138 closed

[2021-12-09 13:01] Haarolean commented on #860
Applicable for redesign as well
@workshur fyi

[2021-12-09 13:22] Khakha-A opened #1213 "Topic Creation: Inconsistency in Deleted parameters"
**Describe the bug**
When creating a new topic, you have the ability to add custom parameters. When selecting a custom parameter, you can delete it, but if you want to add it again, it is either greyed out or still accessible -- and it should be not.

**Set up**
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to Topics - Add a Topic
2

[2021-12-09 13:24] Haarolean commented on #1213
a similar one for the old design: #996

[2021-12-09 14:45] moritzluedtke opened #1215 "Image registry is missing in k8s deployment files"
**Describe the bug**
When using custom private registrys the Helm chart doesn't consider the image registry input.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Add the following (as an example) in the `values.yml` file:
[code]
2. Deploy the helm chart to your cluster.
2. The deployment file is missing the registry in the image name.

**Expected behavior**
The image registry should

[2021-12-09 15:42] agolosen opened #1217 "Space sensitive syntax for Create Connector"
**Describe the bug**
If there is a space before a code of connector the button Submit is inactive and the warning 'config is not JSON object' is displayed. If you delete the space the code is acceptable. This behavior is confusing because it`s not obvious that the problem is just in space (for instance for Schema it works well with space before the code)

**Set up**
(How do you run the app?
Which

[2021-12-10 10:06] Khakha-A opened #1218 "No pop-up when a topic with -1 replication factor is created"
**Describe the bug**
You don't get a pop-up when creating a new topic with a negative replication factor (-1). The topic is created and displayed in the list of topics with 1.

**Set up**
http://redesign.internal.kafka-ui.provectus.io/ui

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to Topics - Add a new Topic
2. Select Replication Factor -1 - Send
3. Check the list of topics - A

[2021-12-10 10:16] Khakha-A opened #1219 "Disable 0 and negative values in Topic Creation"
### Is your proposal related to a problem?

When creating a new topic, you can select 0, -1, etc. values in Replication Factor and Min In Sync Replicas, though these values are not allowed by default -- pop-um messages instruct the user about that.

### Describe the solution you'd like

Disable the selection of 0 and other negative values in Replication Factor and Min In Sync Replicas.

### Descri

[2021-12-10 10:52] Haarolean commented on #1215
Hi, thanks for raising the issue. We'll take a look into this.

[2021-12-10 10:57] Haarolean commented on #1206
Hi, thanks for raising the issue. We'll address it in a new design which is pretty close to be live.

[2021-12-10 10:58] Haarolean commented on #1206
@workshur can we make it a bit more readable?

[2021-12-10 11:00] Haarolean commented on #1017
@clocklear hey, yeah, we've updated boot some time ago. Thanks for this information, I'll update the docs.

[2021-12-10 11:02] #1017 closed

[2021-12-10 11:10] agolosen opened #1221 "Unclear parameters for Consumers` Search. Inconsistency of Search line on Consumers page."
### Is your proposal related to a problem?

(Write your answer here.)
It`s confusing now what parameter the search is currently using because it`s only one word 'Search' into the search line on Consumers page. Moreover, the Search line is inconsistent here - as on other pages there is a clear hint into the search line like Search by [parameters]

### Describe the solution you'd like

(Describe you

[2021-12-10 11:18] Khakha-A opened #1223 "Adjust font in the selection/sorting area in Topics - Messages"
### Is your proposal related to a problem?

Adjust fonts in the selection/sorting fields in Topics - Specific Topic - Messages
![image](https://user-images.githubusercontent.com/39586798/145566069-1c30c776-3447-438e-a87a-254bc8a681c1.png)

### Describe the solution you'd like

Same font for all fields

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

[2021-12-10 11:28] agolosen opened #1225 "Disable negative values"
### Is your proposal related to a problem?

(Write your answer here.)
Negative value offset is available when trying to Reset offsets by Reset type 'Offset'  on the page Consumer Groups/[Consumer group ID]/Reset Offsets
### Describe the solution you'd like

(Describe your proposed solution here.)
Disable the selection of any negative values in Offsets for Reset type 'Offset' in Reset offsets for C

[2021-12-10 11:34] Khakha-A opened #1226 "Unresponsive search field in Topics - Specific Topic - Messages tab"
**Describe the bug**
The search field available in the Messages tab of any specific Topic seems not to work. It doesn't search anything.

**Set up**
http://redesign.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to Topics - Select "Test_Part6" topic - Messages tab
2. Type anything in the Search field - sorting/searching doesn't work

**Expected beha

[2021-12-10 12:36] workshur commented on #999
will be fixed by #1045

[2021-12-10 12:37] agolosen opened #1227 "Dropdown list of partitions shrinks in Search line for Messages"
**Describe the bug**
(A clear and concise description of what the bug is.)
On the tab Topic`s Messages the dropdown list of Partitions shrinks and jumps to the left when unselecting checkboxes.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this info

[2021-12-10 13:42] agolosen opened #1228 "Increase length of sorting box on the Topic`s message tab"
### Is your proposal related to a problem?

(Write your answer here.)
When choosing Newest first in the sorting box on the tab Messages of Topic there is no space between words and narrow (see attached screenshot).
### Describe the solution you'd like

(Describe your proposed solution here.)
Increase length of the sorting box to make the title readable like for 'Latest first' there.
### Describe a

[2021-12-10 13:52] Khakha-A opened #1229 "Pop up for Clear Messages (not clear/remove at once)"
### Is your proposal related to a problem?

When accessing the Messages tab in a specific topic, you have the option to clear messages
![image](https://user-images.githubusercontent.com/39586798/145584117-92aaec22-e550-4f06-a08d-7bb46ea84bcd.png)
When clicked, all messages are removed at once - no warning pop up is displayed; you cannot restore deleted messages.

### Describe the solution you'd li

[2021-12-10 14:31] agolosen opened #1230 "Different number of Messages after sorting Latest first/Newest first"
**Describe the bug**
(A clear and concise description of what the bug is.)
After clicking the button Latest first/Newest first on the tab 'Messages' the different number of messages is displayed.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this in

[2021-12-10 16:57] 5hin0bi commented on #1143
internal provectus demo stand is now able to automatically create github source and s3 sink connectors for kafka-connect server.

[2021-12-10 16:57] #1143 closed

[2021-12-13 08:04] #1215 closed

[2021-12-13 08:05] Haarolean commented on #1215
@moritzluedtke it will take some time for us to update the chart on artifacthub. It will happen presumably near 19th of December.

[2021-12-13 08:26] moritzluedtke commented on #1215
@Haarolean no problem, thanks for fixing this! 👍

[2021-12-13 09:50] iliax commented on #1230
@agolosen it is a expected behaviour since 'messages' it not a number of all messages in topic, but a number of **scanned** messages needed to form result page, which can different for different sorting options. It can be be more visible if you fill Seach field. The same is for size & time near messages count.
Maybe we should explicitly rename 'messages' to 'scanned messages' to get rid of such co

[2021-12-13 09:50] #1230 closed

[2021-12-13 09:53] agolosen opened #1236 "Add field bulk actions to Schemas page for changing Global Compatibility Level"
### Is your proposal related to a problem?

(Write your answer here.)
Now it's possible to change Global Compatibility Level only for all schemas from the list. But in case you need to change it for some schemas, the option Select isn't available http://redesign.internal.kafka-ui.provectus.io/ui/clusters/local/schemas
### Describe the solution you'd like

(Describe your proposed solution here.)
Ad

[2021-12-13 10:19] Haarolean commented on #1109
Pending frontend

[2021-12-13 12:30] asatsi opened #1240 "Log4J vulnerability CVE-2019-17571"
**Describe the bug**
Security scan of docker images failing with vulnerability CVE-2019-17571. More details of the vulnerability here:
https://nvd.nist.gov/vuln/detail/CVE-2019-17571.

It states "log4j_log4j version 1.2.17 has 2 vulnerabilities" in twistlock/prismascan.

**Set up**
This was tested off the latest code from master branch.

**Steps to Reproduce**
Steps to reproduce the behavior:

1.

[2021-12-13 12:33] agolosen opened #1242 "Inconsistency of Search for Messages (Topics)"
### Is your proposal related to a problem?

(Write your answer here.)
Through the app in the search line, we see a reading-glass icon and the names of the fields by which the search is done, also the search starts immediately after typing in the search line. However, the behaviour of Search on the page Topics->Topic_name -> Messages is different: the search works only by clicking the button Submit

[2021-12-13 13:04] Haarolean commented on #1240
`log4j:log4j:jar:1.2.17` is being used as a transitive dependency via `zookeeper:3.7.0` dependency. For the zookeeper itself, this CVE is a [false positive](https://github.com/apache/zookeeper/blob/master/owaspSuppressions.xml).

[2021-12-13 13:04] #1240 closed

[2021-12-13 17:33] agolosen opened #1245 "Make consistent popup menu and buttons through the app"
### Is your proposal related to a problem?

(Write your answer here.)
In the app, some labels in popup menus and buttons are Title Case others are Regular sentences (see attached screenshots) and list of pages to correct.
### Describe the solution you'd like

(Describe your proposed solution here.)
Make all labels in popup menus Title Case.
Pages to correct:
1. Topic->Topic_Name->Overview (menu)

[2021-12-14 01:22] akamensky commented on #1138
@Haarolean when is the re-design expected to be on master branch?

[2021-12-14 09:01] tooptoop4 opened #1248 "logjam"
log4j-api                                  2.12.1                                     java-archive
log4j-core                                 2.12.1                                     java-archive
log4j-jul                                  2.12.1                                     java-archive
log4j-slf4j-impl                           2.12.1                                     java-archive

[2021-12-14 09:14] Haarolean commented on #1248
Care to elaborate on the meaning of this cryptic issue?

[2021-12-14 09:26] tooptoop4 commented on #1248
google 'log4j' and see

[2021-12-14 09:30] Haarolean commented on #1248
I know what log4j is, thanks. Still intents of this issue are unknown to me.

There are certain issue templates available upon creating an issue, you have skipped all of them and provided zero details about your issue.

[2021-12-14 09:44] Haarolean commented on #1248
If that's about Log4Shell (CVE-2021-44228), [here's a statement](https://github.com/provectus/kafka-ui/discussions/1238) regarding this CVE.
If you have any other concerts, feel free to open a new issue clearly explaining the problem.

[2021-12-14 09:44] #1248 closed

[2021-12-14 10:11] Haarolean opened #1250 "Schema registry back compatibility"
**Describe the bug**
There's incompatibility problems with schema registry

**Set up**
docker-compose kafka-ui.yaml

**Steps to Reproduce**
Cluster 1' schema registry (5.2.4): creating a protobuf schema doesn't work.
Schema example:
[code]
Cluster 2' schema registry (5.5.0) works fine.

**Additional context**
[code]

[2021-12-14 12:00] Haarolean opened #1252 "Redesign: topic creation fails randomly"
Sometimes upon creating a topic this happens:
`404 Topic not found`
Clicking the button again produces this:
`400 Topic 'deltest' already exists.`.

[2021-12-14 12:02] Haarolean commented on #1138
@akamensky We'll release 0.3 once the redesign is done, currently we're fixing some minor stuff.

@workshur any estimates on redesign?

[2021-12-14 13:12] #1207 closed

[2021-12-14 13:29] madrisan commented on #1174
The commit d6ada34a7e30a9b95d4ce206fc05b0af37472f9e breaks the kafka-ui helm template for app version 0.2.1.
So the Helm chart should only be updated in the artifacthub when a new release will be shipped with this new probing path.

[2021-12-15 09:10] #999 closed

[2021-12-15 09:16] Haarolean commented on #1138
@akamensky you could check out master. There are various issues there which are WIP

[2021-12-15 11:30] iliax opened #1255 "github -connector test issue"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-12-15 11:31] #1255 closed

[2021-12-15 21:50] dtowf opened #1257 "Healthcheck endpoint returns 401 when BASIC Authentication is enabled"
**Describe the bug**
When Basic Authentication is enabled, the endpoint /ui/actuator/health returns a 401 code. Health check should be unauthenticated and return 200 on success, and 4XX on failure.

The health check endpoint is currently whitelisted when [OAUTH authentication](https://github.com/provectus/kafka-ui/blob/683ab231f436893b364a44d2fcff700f4ccbbbce/kafka-ui-api/src/main/java/com/provect

[2021-12-15 22:25] Haarolean commented on #1257
Hey, thanks for raising the issue. This will be fixed within #1173

[2021-12-16 11:41] #1223 closed

[2021-12-16 11:41] #1227 closed

[2021-12-16 11:45] Haarolean commented on #1047
Hey, this is the IP we get from kafka itself, so it's "relative" to kafka pod/container, kafka-ui has nothing to do with this IP.

[2021-12-16 11:45] #1047 closed

[2021-12-16 11:47] Haarolean commented on #1144
Done.

[2021-12-16 11:47] #1144 closed

[2021-12-17 07:46] #1228 closed

[2021-12-17 07:46] #1245 closed

[2021-12-17 09:17] germanosin opened #1265 "Consumer, connect labels status colors"
1. Consumer and connect statuses are always yellow now, let's color them depending on the status
1.1 STABLE - green
1.2 DEAD - red
1.3 EMPTY - white
1.4 COMPLETING_REBALANCE, PREPARING_REBALANCE - yellow
1.5. UNKNOWN - yellow
2. Connect statuses
2.1  RUNNING. - green
2.2 FAILED - red
2.3 PAUSED - yellow
2.4 UNASSIGNED - yellow
3. In sync replicas dot should display real status
4. Check other metri

[2021-12-17 09:50] iliax opened #1266 "Hide Broker segments table when no segment data is available"
**Describe the bug**
(A clear and concise description of what the bug is.)

In some situations (like when using Confluent cloud) we cant get broker's segments info. In this case we need to just not show segments sizes table instead of showing empty table. Or maybe we should print "Disk usage data not available".

See snapshot

**Set up**
(How do you run the app?
Which version of the app are you ru

[2021-12-17 10:43] germanosin opened #1268 "Topic stats look strange"
<img width="307" alt="Screenshot 2021-12-17 at 13 39 40" src="https://user-images.githubusercontent.com/1096273/146532288-a54d7e14-8616-4063-9388-4339ec09fae2.png">

1.  URP = 0 is good, so it should green/black if 0 and red if greater than 0
2.  In sync replicas marked with dot, what does it mean? 1 of 1 looks correct for me.

[2021-12-17 10:55] 5hin0bi commented on #986
Since we are currently using this image as the base one in our docker image: _adoptopenjdk/openjdk13:x86_64-alpine-jre-13.0.2_8_
Our docker image cannot be run on ARM64 architectures even though we build it for linux/amd64 and linux/arm64 platforms in our workflows.

In testing purposes, I've made the next changes in our Dockerfile using the _openjdk:19-slim-bullseye_ image:
![image](https://user-

[2021-12-17 11:41] 5hin0bi commented on #986
OK. I've managed to run it on Alpine container with additional layer for openjdk 13 installation to shrink the size. Looks to work fine. PR will be created soon.

[2021-12-18 00:53] #932 closed

[2021-12-18 00:53] #986 closed

[2021-12-18 03:31] Haarolean opened #1273 "Produce message: 'Send' button is unstyled"
Send button is ugly and has no style which seems present for all other buttons across the UI

[2021-12-20 00:27] fockboi-lgtm opened #1275 "[Security] Workflow backend.yml is using vulnerable action Sibz/github-status-action"
The workflow backend.yml is referencing action Sibz/github-status-action using references v1. However this reference is missing the commit [650dd1a882a76dbbbc4576fb5974b8d22f29847f](https://github.com/Sibz/github-status-action/commits/650dd1a882a76dbbbc4576fb5974b8d22f29847f) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related

[2021-12-20 09:22] Haarolean commented on #1275
Hi, thanks for your concern. We'll get a look into this soon.

[2021-12-20 14:53] azatsafin commented on #1140
Can be closed, argocd accessible internally by
http://argocd.internal.kafka-ui.provectus.io/

[2021-12-20 14:57] #1140 closed

[2021-12-20 15:07] 5hin0bi opened #1298 "Use AWS ECR for kafka-ui-infra envrionment"
Need to:
1. Build and push kafka-ui images to AWS ECR + DOCKERHUB.
2. Use AWS ECR in kafka-ui-infra argocd to pull kafka-ui images instead of DOCKERHUB.

[2021-12-20 20:32] JiovanMichel opened #1299 "SSL for kafka"
## Examples ?

I'm running Kafka UI in the docker and I want to authenticate to remote kafka.

How to set up a secure connection? What parameters should I configure?
Kafka config properties with SASL/PLAIN.

### A basic config show erros:

INFO [SocketServer listenerType=ZK_BROKER, nodeId=0] Failed authentication with /ip (SSL handshake failed) (org.apache.kafka.common.network.Selector)

[2021-12-21 03:29] ckk942062217 opened #1300 "Whether kafka3.0 is supported."
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-12-21 07:28] Haarolean commented on #1299
Hi, thanks for reaching out.
Could you please try something like [this](https://github.com/provectus/kafka-ui/pull/971/files#diff-cc12ec9dc825aed8e8343c99b10c59eaa39d9b3b97953d98124c35b10441c0f8)? Though it's not merged yet this might work. Let me know how it goes.

[2021-12-21 10:04] Haarolean opened #1302 "Generated messages (key & content) are being sent as nulls if not changed"
**Describe the bug**
"Lorem ipsum"-ish messages generated by default are being sent as null if corresponding fields are not changed (e.g. headers are being changed). This behaviour is not clear.

**Set up**
docker-compose -f kafka-ui.yaml

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Press produce message button
2. Change headers (add "1" to the end and backspace it)
3. Press send me

[2021-12-21 10:07] Haarolean commented on #1300
Hi, thanks for your concern regarding kafka3.
As far as I can see, kafka-ui works fine with latest confluent kafka image (7.x.x, which is based on kafka 3.0-IV1).
If you find any bugs with this version, let us know!

[2021-12-21 10:07] #1300 closed

[2021-12-21 15:02] 5hin0bi commented on #1142
livenessProbes were added in forked cp-helm-charts repo. Now our infra refs to the forked repo in Provectus organization.

Manually tested.

[2021-12-21 15:02] #1142 closed

[2021-12-21 15:31] Haarolean opened #1306 "AWS Glue support"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1305

<div type='discussions-op-text'>

<sup>Originally posted by **miguellgramacho96** December 21, 2021</sup>
Hi!

I'm currently storing the avro schema in the aws glue schema registry.
How can I (if its even possible) apply a avro schema to all of the messages from one topic, if I dont connect the kafka-ui to aws glue schema reg

[2021-12-21 15:31] Haarolean commented on #1306
https://github.com/awslabs/aws-glue-schema-registry

[2021-12-21 18:54] workshur commented on #1226
The search query is applied by pressing the submit button

[2021-12-21 19:42] workshur commented on #1189
@Haarolean page shows 'No schemas found' message because BE returns 404 on a schema list request

[2021-12-21 19:51] #1210 closed

[2021-12-22 05:48] putao0525 opened #1308 "ksqldb"
![image](https://user-images.githubusercontent.com/12529019/147042023-2fba4c1d-4d3d-4e14-9311-1e5ddb76140c.png)

why ?

![image](https://user-images.githubusercontent.com/12529019/147042144-587c17ba-8ea8-490b-9f21-ab2e32b742bc.png)

[2021-12-22 05:49] putao0525 commented on #1308
![image](https://user-images.githubusercontent.com/12529019/147042282-9fce5223-34b4-42c3-831e-521e131921f6.png)

[2021-12-22 06:02] putao0525 commented on #1308
I am not familiar with the use of proxy and webFlux, and my  English is not good

[2021-12-22 06:04] Haarolean commented on #1308
Hi, thanks for reaching out, we’ll take a look into this :)

[2021-12-22 06:09] putao0525 commented on #1308
Access through a tool like Postman is fine, but access through a front-end page is problematic

[2021-12-22 07:54] Haarolean commented on #1308
Could you please share the details on how do you run the app? Docker compose/k8s/helm? And your environment variables without sensitive values

[2021-12-22 09:39] Haarolean opened #1310 "Implement a workflow to bring up a temp demo external env with separate app instances"
Implement a mechanism to bring up a separate public feature testing environment:
1. Every each app should have a separate instance
2. Manual workflow via github actions' run button (master branch)
3. Add additional connectors which produce decent amount of messages, e.g. twitter connector.
4. VPN is not required but static single-user credentials are (same as #1144).

[2021-12-22 09:45] Haarolean opened #1311 "Support AWS MSK Connect"
_Originally posted by @miguellgramacho96 in https://github.com/provectus/kafka-ui/discussions/1305#discussioncomment-1857375_

[2021-12-22 15:09] Haarolean opened #1314 "Fix e2e tests"
https://github.com/provectus/kafka-ui/runs/4594677974?check_suite_focus=true

[code]

Has been broken since: unknown.
Possible reason: dependency upgrades used in e2e module.

[2021-12-22 15:18] #1023 closed

[2021-12-22 15:18] #1257 closed

[2021-12-22 23:04] swilliams-a3digital opened #1315 "Tag master docker image with a version number tag"
The ":latest" tag does not have the latest.  It looks like the most recent image is only tagged as ":master".  It would be nice if it was tagged with a version number.  We like to specify a specific version so we know what we are installing.  The version from 3 months ago was tagged as 0.23.1.  Looking for something similar with the most recent image.

[2021-12-23 07:37] Haarolean commented on #1315
Hi, thanks for reaching out. The thing is, `latest` points to latest *release* version.
We'll consider additionally labelling each commit with a dockerhub label as well.
Btw, there's a 0.3 release coming out soon (this week).

[2021-12-23 07:43] #1250 closed

[2021-12-23 11:10] Haarolean opened #1316 "Schema registry: delete request doesn't return a response"
**Describe the bug**
Schema registry: delete request doesn't return a response

**Set up**
docker-compose -f kafka-ui.yaml up

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Create a schema
2. Delete a schema

**Expected behavior**
Backend returns a response. In fact, it's pending until timeout happens.

[2021-12-23 19:01] #1225 closed

[2021-12-23 23:43] ValentinPrischepa commented on #755
Could not reproduce this for "kafka-ui-connectors.yaml", please see attached screenshot.
![image](https://user-images.githubusercontent.com/14006390/147299881-d356a33e-2fa8-4561-90d0-352155332244.png)

[2021-12-24 07:15] ilazarte commented on #932
Just wanted to say thanks and works great!

[2021-12-24 10:00] #755 closed

[2021-12-24 14:16] #1265 closed

[2021-12-24 16:00] #1046 closed

[2021-12-24 16:00] #1273 closed

[2021-12-25 08:47] 5hin0bi opened #1320 "remove branch kafka-ui application from argocd when labeled pr is closed"
RemoveCustomDeployment workflow is being triggered only when PR becomes unlabeled. However, when a pr is closed and is still labeled at the same time, an environment stays in ARGOCD.

The goal is to modify branch-remove.yml in order to be triggered on PR closure as well.

[2021-12-25 09:01] #1320 closed

[2021-12-25 16:11] mac2000 commented on #479
Here is how it can be done outside of docker:

Suppose we have: `fullchain.pem` and `privkey.pem` from LetsEncrypt

Pack them into keystore: `openssl pkcs12 -export -out keystore.jks -in fullchain.pem -inkey privkey.pem`

Now you may run kafka ui with `application.yml` like this one:

[code]

And if I remember correct any property can be overridden by corresponding environment variables

Locally I

[2021-12-27 10:00] Haarolean opened #1325 "Add an ability for github-actions to push to protected branches"
`Release` workflow.

[2021-12-27 13:37] Haarolean commented on #1174
Done.
![image](https://user-images.githubusercontent.com/1494347/147475447-9757e3ae-2fb3-45ce-ade4-8f3dd9b90ff8.png)

[2021-12-27 13:37] #1174 closed

[2021-12-27 15:13] JiovanMichel commented on #1299
Thanks for the answer,
I will try.

[2021-12-28 07:05] #1219 closed

[2021-12-28 14:14] nemerna opened #1328 "connect to SSL/TLS kafka broker (bootstrap server)"
### Is your proposal related to a problem?

there is no such info in the documentation about how to connect to a secured SSL kafka broker
### Describe the solution you'd like

add support for extra envronment variables that represents keystore/truststore of the broker nodes
### Describe alternatives you've considered

(Write your answer here.)

### Additional context

if the app already supports S

[2021-12-28 14:24] Haarolean commented on #703
Done within b74a643c9309f7a556208e96028e5a8a4bbab584

[2021-12-28 14:24] #703 closed

[2021-12-28 15:28] nemerna commented on #1299
hi,
i have similar issue and i tried your solution
now it really tries to connect using the certs but for now im getting the following error:
Caused by: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

althought i have double checked the path is correct

in

[2021-12-28 15:30] Haarolean commented on #1299
@nemerna hey, thanks for the feedback. I'll take a look into this since the PR is still not merged, there's a chance it's not complete.

[2021-12-28 15:33] Haarolean commented on #1299
@nemerna seems like there's a

[2021-12-28 15:35] Haarolean commented on #1299
Closing as a duplicate of #779. Please move to that issue if you have other questions. The guide will be complete once we merge the corresponding PR.

[2021-12-28 15:35] #1299 closed

[2021-12-28 15:36] Haarolean commented on #1328
Hi, thanks for reaching out!

As I mentioned in the other issue, this is a duplicate of #779. The guide will be complete once we merge the corresponding PR.
Please move to that issue if you have other questions.

[2021-12-28 15:36] #1328 closed

[2021-12-28 16:08] Haarolean commented on #815
@esmeneev any luck?

[2021-12-28 18:50] nandacamargo opened #1329 "Liveness and Readiness probes failing"
Hello!

First of all, congrats to you all, kafka-ui is such a nice project!

We wrote a Helm Chart to deploy Kafka UI in a Kubernetes cluster, using version 0.3.0.
We are facing the following issue when using liveness and readiness probes in the k8s deployment:
`Readiness probe failed: HTTP probe failed with statuscode: 404`

Even using different paths like `/actuator/health`, `/actuator/info` and

[2021-12-28 19:39] allexdav opened #1330 "kafka ui helm chart is unavailable"
**Describe the bug**
https://provectus.github.io/kafka-ui - error 404

**Set up**
browser, hands, URL :)

**Steps to Reproduce**
Open link in browser

**Expected behavior**
helm chart as stated in your guide
located here  https://github.com/provectus/kafka-ui#running-in-kubernetes
Running in Kubernetes
helm repo add kafka-ui https://provectus.github.io/kafka-ui
helm install kafka-ui kafka-ui/kafka

[2021-12-28 22:37] gusevalexey0 opened #1332 "NullPointerException on getting message schema"
**Describe the bug**
It is impossible to produce message to topic due to NullPointerException

**Set up**
Run latest image in docker:
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run kafka and kafka-ui
2. Create topic `test`
3. Select created topic. Choose "messages" panel. Click "Produce Message" button

**Expected behavior**
Form for message creating opens

**Screenshots**

[2021-12-28 22:51] Haarolean commented on #1330
hey Alexey, thanks for jumping in here.
We'll take a look as soon as possible.

[2021-12-28 22:53] Haarolean commented on #1329
Hi, thanks for reaching out.
Does the app work itself? Which authentication mechanism (if any) are you using?

[2021-12-28 23:00] Haarolean commented on #1332
Hey, thanks for reaching out.
Seems like we missed that bug in one of the latest commits before the release.
We'll fix it today.

[2021-12-28 23:20] Haarolean commented on #1332
Actually, after a more deeper look, I couldn't reproduce your issue. Could you please check your logs for other errors preceding this one? The best way to check it up is to restart the app and check all the logs since the startup time.

[2021-12-29 01:26] nandacamargo commented on #1329
Hi!

Yes, the app works and an additional information that might help is that besides testing with Kafka-UI version 0.3.0, we currently have the same app working in the cluster running with version 0.2.0. It works using the old liveness/readiness probe:
`path: /index.html`.

Since there are some changes/fixes in Kafka-UI version 0.3.0, we decided to update our deployment to keep up to date. So ini

[2021-12-29 01:57] akamensky opened #1333 "[bug][minor] New UI looks broken in a few places"
**Describe the bug**

First thanks for a new more compact UI, it is definitely an improvement on the previous version. Just a few issues I noticed while testing new 0.3.0 release (some UI and some functional on frontend side).

The Dashboard UI looks broken with large number of clusters. The table is split into multiple with 2 clusters in each, causing columns be not aligned:

![Screenshot from 20

[2021-12-29 02:38] akamensky opened #1334 "Please add a counters of all connectors, tasks and failed connectors, tasks"
### Is your proposal related to a problem?

KC can have a very large number of connectors. It can be very tedious and error prone to scroll through the list in search of any failed tasks/connectors. It would be easy to miss any failed connector/task as well.

### Describe the solution you'd like

Ideally -- a filter for the list to only show connectors that have failed tasks. But good starting poi

[2021-12-29 05:34] deepak-hiver commented on #1332
@Haarolean I am also facing the same issue, looks like you can reproduce this by using Amazon MSK.

[2021-12-29 08:32] gusevalexey0 commented on #1332
Full log from the startup

[code]

[2021-12-29 10:09] bahaeddinoz opened #1337 "helm Ingress is deprecated"
### Is your proposal related to a problem?
Can we change the ingress to make compatiable with k8s v1.22+

(Write your answer here.)

### Describe the solution you'd like
Can we change the ingress to make compatiable with k8s v1.22+

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-12-29 10:09] Haarolean opened #1338 "Startup fails with LDAP exceptions even when LDAP is not enabled"
`LDAP health check failed 2021-12-29T09:59:13.530588722Z org.springframework.ldap.CommunicationException: localhost:389`

[2021-12-29 10:12] Haarolean commented on #1329
@nandacamargo thanks much for the detailed feedback!
This is to be fixed within #1339 and we'll release a separate release soon.

[2021-12-29 10:13] Haarolean commented on #1337
Hey, thanks for reaching out. We'll take a look.

[2021-12-29 10:18] Haarolean commented on #1333
Hey Alexey, thanks for your kind feedback.

Regarding the issues, we're still have a lot of small quirks to fix. We're planning on releasing additional builds every few weeks.

[2021-12-29 10:20] #1329 closed

[2021-12-29 10:20] #1338 closed

[2021-12-29 10:22] Haarolean commented on #1330
Seems like everything works fine, since the file `index.yaml` required for helm, is indeed [present](https://provectus.github.io/kafka-ui/index.yaml). There's just `index.html` missing :) We'll add some to clarify that the repo does actually work.

[2021-12-29 10:44] Haarolean commented on #1330
Added a simple page.

[2021-12-29 10:44] #1330 closed

[2021-12-29 12:33] #1337 closed

[2021-12-29 12:33] nandacamargo commented on #1329
Great! Thank you so much!

[2021-12-29 15:13] amonsat commented on #1332
Also have this issue

[2021-12-29 15:16] Haarolean commented on #1332
@amonsat hi, please share the details on how you use the app

[2021-12-29 15:26] amonsat commented on #1332
@Haarolean I have a docker-compose.yml
`  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT:

[2021-12-29 15:40] Haarolean commented on #1332
Thanks, I was able to reproduce the issue.

[2021-12-29 16:37] #1332 closed

[2021-12-29 16:38] Haarolean commented on #1332
Will be available in `:master` labeled image and in `:latest` shortly after.

[2021-12-29 18:54] ctwilleager-nt opened #1343 "Setting SERVER_SERVLET_CONTEXT_PATH causes container to crash."
**Describe the bug**
Setting SERVER_SERVLET_CONTEXT_PATH causes container to crash.

**Set up**
We are attempting to use the Amazon ALB with ingress fanout in Kubernetes and trying to access Kafka UI from something like https://foo.bar/kafka-ui but setting SERVER_SERVLET_CONTEXT_PATH to "/kafka-ui" causes the container to restart continuously.

Kafka UI version: 0.3.1
Kubernetes Version: 1.20

**S

[2021-12-29 19:13] Haarolean commented on #1343
Hi, thanks for reaching out.
I couldn't reproduce this with simple docker-compose setup.
Could you please share the full pod log from start to end of one restart lifecycle?

[2021-12-29 19:29] ctwilleager-nt commented on #1343
Attached is the full lifecycle log of the pod when SERVER_SERVLET_CONTEXT_PATH is set to "/kafka-ui".

[kafka-ui-fail.log](https://github.com/provectus/kafka-ui/files/7790329/kafka-ui-fail.log)

[2021-12-29 19:39] #1098 closed

[2021-12-29 22:23] bahaeddinoz commented on #1337
Thanks @Haarolean for the so quick updates 🙏 Just one question why directly didn't we use the "networking.k8s.io/v1 " and instead specified if k8s version is highter then 1.22 ? k8s supports it since v1.10. Can be good to use it directly or is there any other reason ?
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#apiservice-v122

[2021-12-30 00:35] thegiantbeast opened #1344 "Bulk messages"
### Describe the solution you'd like

I would like to send multiple messages at once instead of sending them individually with multiple clicks on the UI interface.
Same times I just need to send 2 or 3 messages which are somehow related and it would be a lot easier if there was a place in the UI that I could do that, much like `kafka-console-producer`.

It could be that there's a good reason for n

[2021-12-30 02:37] bystnik commented on #928
@Haarolean After investigation and attempts to reproduce I see that more details require on this issue. 1. it's not clear what kind of permission prevent the consumer list to be loaded and how to set them up. 2. What does "the entire request fails" mean? Is an exception thrown or does it just return an unexpected (incorrect or empty) list?

Also would be nice to have steps to reproduce if possible

[2021-12-30 09:28] alexnikitchuk opened #1346 "protobuf schema is not formatted properly"
**Describe the bug**
Protobuf schema is not formatted properly (see screenshot below)

**Set up**
1. Setup Kafka UI with Schema Registry
2. Add a proto schema to Schema Registry

**Steps to Reproduce**
1. open Kafka UI
2. go to Schema Registry page
3. click on registered protobuf schema

**Expected behavior**
Protobuf schema is well formatted:
[code]

**Screenshots**
![image](https://user-images.g

[2021-12-30 09:57] alexnikitchuk commented on #1333
Also found double scrollbars if message content is too large. Go to Topics -> Click on topic -> click on Messages tab -> expand message -> click on Content
![image](https://user-images.githubusercontent.com/8694829/147741209-5f9b8c0c-045d-4788-84a0-924e9b815bec.png)

[2021-12-30 10:59] Haarolean commented on #1346
Hi, thanks for reaching out. Seems like this is the problem which appeared after the redesign. We'll fix it within next minor releases.

[2021-12-30 11:00] Haarolean commented on #1344
Hi, thanks for reaching out.
We'll consider implementing this in next major releases.

[2021-12-30 14:55] Haarolean commented on #1337
@bahaeddinoz first of all, your documentation says it's supported since 1.19, not 1.10 (`Migrate manifests and API clients to use the networking.k8s.io/v1 API version, available since v1.19.`). The main purpose is to save back compatibility.

[2021-12-30 15:39] Haarolean commented on #1343
@ctwilleager-nt
Since you're providing a custom configmap, the value is not respected in liveness and readiness probes which cause the restarts.
We suppose you have to pass `SERVER_SERVLET_CONTEXT_PATH` explicitly in [values.yaml](https://github.com/provectus/kafka-ui/blob/master/charts/kafka-ui/values.yaml#L27).
If that doesn't help, let us know.

[2021-12-30 17:46] ctwilleager-nt commented on #1343
Setting it directly in values.yaml does keep the pod running. Now we've gone from pod crashing to just getting a flat 404 whenever we try to open the UI. So it's progress...of a kind anyway.

[2021-12-30 19:07] ctwilleager-nt commented on #1343
This is the full error we get causing the 404:

`{"code":5000,"message":"404 NOT_FOUND","timestamp":1640891014551,"requestId":"4cbaed95-2, L:/127.0.0.1:8080 - R:/127.0.0.1:54742","fieldsErrors":null,"stackTrace":"org.springframework.web.server.ResponseStatusException: 404 NOT_FOUND
at org.springframework.web.reactive.resource.ResourceWebHandler.lambda$handle$1(ResourceWebHandler.java:379)
Suppress

[2021-12-30 19:11] Haarolean commented on #1343
Have you tried adding a trailing slash at the end of the URL?

[2021-12-30 19:16] ctwilleager-nt commented on #1343
@Haarolean Yeah I've tried that. Both in the browser and also adding it to the SERVER_SERVLET_CONTEXT_PATH variable. Neither scenario works.

[2021-12-30 19:19] Haarolean commented on #1343
Can you reach /<context>/actuator/info manually? Does it show a JSON with HTTP 200?

[2021-12-30 19:35] ctwilleager-nt commented on #1343
Yes I can reach the /kafka-ui/actuator/info manually.

[2021-12-30 19:36] Haarolean commented on #1343
But /kafka-ui/ doesn’t work, right?

[2021-12-30 20:01] ctwilleager-nt commented on #1343
@Haarolean Correct, using /kafka-ui/ doesn't work. It just returns the pod to the state of constantly dying because the liveness probe attempts to access the actuator health endpoint as /kafka-ui//actuator/info and gets a 404 not found.

[2021-12-30 20:44] Haarolean commented on #1343
Wait, so you can reach the health endpoint manually but it doesn't work as a liveness probe?

[2021-12-30 21:14] ctwilleager-nt commented on #1343
@Haarolean No, I can reach the health endpoint with /kafka-ui as the context. None of it works with /kafka-ui/ (trailing slash) and the pod dies due to liveness probe failure..

[2021-12-30 21:29] Haarolean commented on #1343
Okay, so if you set up `/kafka-ui` as the context, can you reach the app in browser via `/kafka-ui/`?:)

[2021-12-30 21:38] ctwilleager-nt commented on #1343
@Haarolean It does not work that way. While the actuator endpoint works, when attempting to access the actual UI, I get the above error I posted above:
https://github.com/provectus/kafka-ui/issues/1343#issuecomment-1003149430

So the UI does not work when using a context path. Only the health check endpoint does.

[2021-12-30 21:51] Haarolean commented on #1343
That's really weird ☹️ We'll try to get a working env with a custom context path and I'll get back to you

[2021-12-30 21:53] Haarolean commented on #928
Originally posted [here](https://news.ycombinator.com/item?id=28722315). The guess is some ACL/MSK permission fails, we'll put this on hold until more details are provided.

[2021-12-31 14:07] JoeryH opened #1347 "Snappy support missing"
Hi guys,

My avro data in kafka is compressed with Snappy. Kafka-ui prints this stacktrace when I load messages:

[code]
I fixed this locally by adding

[code]

Which gave me something like:
[code]

Which I solved by adding `gcompat` to the `apk add` command.

Would be awesome to have this added to this amazing project.

[2021-12-31 14:09] JoeryH commented on #1347
Hi 👋

[2021-12-31 14:15] Haarolean commented on #1347
Hi Joery,
thanks for your interest in kafka-ui. And thank you for the solution!
We’re having a long holidays streak here, so we’ll get back to this issue somewhere around 10th of January.
Happy holidays!

[2022-01-03 21:52] esmeneev commented on #815
@Haarolean I'm working on the issue

[2022-01-04 12:36] nemerna opened #1352 "data masking in provectus-kafka-ui"
### Is your proposal related to a problem?

in case users need to allow specific pepole to view the data inside topics messages for example
where they need other group of pepole to only see the title of the messages without the content
then a data msking could be very helpful
### Describe the solution you'd like

add an option to enable datamasking
then when a specific user is authenticated and he

[2022-01-04 15:29] barnyrelph commented on #1179
I've been looking at the same thing: Plugging in Apicurio.

I've set the following when running Docker:
`  -e KAFKA_CLUSTERS_0_SCHEMAREGISTRY=http://host.docker.internal:8080/apis/registry/v2 `

and I see the following in the logs for my APIcurio server:

`2022-01-04 15:14:50 INFO <_> [io.apicurio.registry.logging.audit.AuditLogService] (executor-thread-256) registry.audit action="request" result=

[2022-01-04 16:37] ctwilleager-nt opened #1353 "Kafka UI says MSK cluster is offline when it isn't."
**Describe the bug**
Kafka UI says MSK cluster is offline when it isn't.

**Set up**
AWS MSK version 2.6.2
Helm 3.6.0
Provectus Kafka UI 0.3.1
Chart Version 0.0.3
Kubernetes 1.20

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Set up Amazon MSK using version 2.6.2 with open monitoring enabled.
2. Deploy Provectus Kafka UI into Kubernetes cluster using chart version 0.0.3 and image 0.3

[2022-01-04 17:29] Haarolean commented on #1352
Hi, thanks for reaching out.
We'll implement this as a part of the feature #753.

[2022-01-04 17:35] Haarolean commented on #1353
Hi, thanks for reaching out.

As far as I recall, there's [no more JMX present](https://github.com/provectus/kafka-ui/issues/442#issuecomment-954599888) for AWS MSK, there's just prometheus available, which support we haven't implemented yet.
Could you try disabling it by removing corresponding env variables?

[2022-01-04 18:23] nemerna commented on #199
hi there
for me i have the same problem
i am supposed to sue avro SERDE
but i was unable to find on the documentation the exact config that should be used in order to tell the UI
that he supposed to use the AVRO dec

[2022-01-04 18:23] ctwilleager-nt commented on #1353
Yeah that works. Wasn't aware that MSK no longer supports JMX.

[2022-01-04 18:23] #1353 closed

[2022-01-05 10:41] jonasgeiregat commented on #1344
I would be interested in this as well. In fact I would like to help out if possible ?

I had the idea of using something like https://www.npmjs.com/package/react-command-line to mimic the `kafka-console-producer`

[2022-01-05 14:03] nemerna opened #1354 "Unicode appear in topic.messages instead of Big Decimal"
### Is your proposal related to a problem?

when i define a schema in scheam registry where i need to push a key of type byte and
the values are presented inside the ui as unicode
for example:
		"bytes": "\u0002"
where i am expecting:
000920011700048000480004800050
asa bigDecimal
### Describe the solution you'd like

decerialize all /u prefix values into decimal values

### Describe alternatives y

[2022-01-05 15:35] jonasgeiregat commented on #886
I agree with @akamensk the implementation does not add much value besides being able to parse and select the first registry URI in a comma separated list.

@akamensky I suppose you are expecting some kind of fail over behavior ?

[2022-01-06 04:38] sakaman opened #1355 "Use kafka-ui to connect multi brokers in high version"
#### Problem Description

kafka-ui client refuses to connect hosts of other brokers when connects to multi kafka brokers in confluentinc/cp-kafka:7.0.1, and there is the same problem in 6.x.x but it's ok in 5.x.x.

#### Docker-compose file

[code]

#### Exception

[code]

[2022-01-06 11:15] TestCK opened #1356 "Producing Message doesnt encode the message"
**Describe the bug**
(A clear and concise description of what the bug is.)
I have setup json schema for my topics but from UI when I produce message, messages are not encoded using the schema, hence in consumer when i try to decode it back I am getting the following error
"ConfluentSchemaRegistryArgumentError: Message encoded with magic byte"

**Set up**
(How do you run the app?
Which version of t

[2022-01-06 13:18] yannick-peyrotau opened #1357 "Auto-refresh on Consumer View"
### Is your proposal related to a problem?

When try looking to the evolution inside the topics, I am always have a look at how many message behind I have on each consumer.
I need to refresh the page and open all consumers groups.

Could be nice to have an auto-refresh custimzable, like 10s 30s ...

### Describe the solution you'd like

When I am on a the customer group view with all my groups ope

[2022-01-06 13:31] Haarolean commented on #1357
Hey, thanks for reaching out.

It seems like you're interested in #942, like, displaying "messages behind" stats, right?

[2022-01-06 13:33] Haarolean commented on #1356
Hi, thanks for reaching out (and checking the bug with the older version :) )

We'll take a look into this.

[2022-01-06 13:36] Haarolean commented on #1354
Hey, thanks for reaching out.

We appreciate the wish to help, but we'll need to take a look at this ourselves first, since I'm not sure if it's more of a frontend or the backend thing.

[2022-01-06 14:12] Haarolean commented on #1355
Hi, thanks for reaching out.

I recently tried running kafka3 (`confluentinc/cp-kafka:7.0.1`) and got no issues with two clusters.
I used this docker [compose file](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui.yaml) to test it out.

I noticed you don't have any env variables for the rest of your clusters (`KAFKA_CLUSTERS_1_XXX` and `KAFKA_CLUSTERS_2_XXX` for example). I sugges

[2022-01-06 14:15] Haarolean commented on #1344
@jonasgeiregat hey, thanks for the interest. Actually, the frontend part is up for grabs, but we'll have to discuss the implementation. If you're interested, I may invite you to our discord to discuss the implementation with our frontend engineers beforehand, what do you think?

[2022-01-06 14:19] Haarolean commented on #1179
@barnyrelph hey, thanks for the feedback. Could you please answer the same questions posted [here](https://github.com/provectus/kafka-ui/issues/1098#issuecomment-971510515)?

[2022-01-06 14:22] yannick-peyrotau commented on #1357
Hum yes it could be a way to have some metrics too, but an auto refresh is much more simple :).

Peharps I should wait a long time to have theses metrics planed on v0.5 :-P.

[2022-01-06 14:23] Haarolean commented on #1357
@yannick-peyrotau we'll discuss the importance of implementing this feature alone as well :) Thanks for the feedback.

[2022-01-06 14:50] jonasgeiregat commented on #1344
@Haarolean I'm up for that!

[2022-01-06 14:53] #1347 closed

[2022-01-06 15:04] iliax commented on #1347
Hi @JoeryH, we fixed this bug in current master - you can use docker image with "master" tag (sha256:5c1346c11a876af0d25bd2871409631b01a0d7d15c0ef22c40db16390aa1f919)

[2022-01-06 15:09] iliax commented on #1356
Hi @TestCK. Do you provide schemaRegistry url to kafka-ui (KAFKA_CLUSTERS_0_SCHEMAREGISTRY property)?

[2022-01-06 15:15] TestCK commented on #1356
Hi @iliax , below is my docker-compose yml and i can see all my schemas in schema registry section

[code]

[2022-01-06 15:43] iliax commented on #1356
Ok, here are some questions:
1. do schema names follow -key -value naming pattern?
2. did you send any messages to this topic before creating schema for it (are raw and schema-based messages mixed in this topic) ?
3. can you provide full error message? there should be actual unexpected magic byte

[2022-01-06 15:50] sakaman commented on #1355
Yah, thanks for your answer. It is ok to use this docker [compose file](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui.yaml) to create multi clusters that have only a broker per cluster in high version, but not ok when a cluster has multi brokers.

[2022-01-06 20:54] Haarolean commented on #1344
@jonasgeiregat https://discord.gg/4DWzD7pGE5

[2022-01-07 08:17] iliax commented on #1355
@sakaman I think the problem is that you have different jmx ports for different nodes. kafka-ui trying to use same jmx port (KAFKA_CLUSTERS_0_JMXPORT: 9997) to connect to all nodes. So, just use same jmx port for all nodes. Or you can disable jmx metrics collection by removing KAFKA_CLUSTERS_0_JMXPORT property ( but some useful metrics like disk usage wont be available)

[2022-01-07 09:39] sakaman commented on #1355
@iliax thanks for your advices. The docker starts successfully and doesn't throw any exceptions after I changed the JMX to same port and exposed to different ports.

[2022-01-07 09:39] #1355 closed

[2022-01-07 10:28] TestCK commented on #1356
@iliax
Yes - we use TopicRecordNameStrategy, so its like topic-recordtype-value

I removed all the docker images and created everything from scratch now i dont get the magic byte error but started getting this one

`"stack":"ConfluentSchemaRegistryArgumentError: schema is invalid: data should be object,boolean\n    at Object.exports.schemaFromConfluentSchema (/app/node_modules/@kafkajs/confluent-s

[2022-01-07 14:20] clocklear opened #1359 "0.3.x Regression: SSO/OAuth2 support"
**Describe the bug**
There appears to be a regression on SSO/OAuth2 support via Spring Security that appeared between the transition from 0.2.1 to 0.3.0.  Following the guidance outlined in the SSO doc no longer yields a working SSO set up.  When I pass a known working ClientID, Client Secret, and Issuer URI into the 0.3.1 docker image, all login attempts fail with the error 'Invalid Credentials'.

[2022-01-07 15:08] iliax commented on #1356
@TestCK , I see. When producing a message we search for appropriate schema using TopicNameStrategy - if schema not found then we treat message as raw string message. So, currently TopicRecordNameStrategy and RecordNameStrategy not supported in message producing.

[2022-01-07 22:40] Haarolean commented on #1359
Hey, thanks for reaching out. I'll take a look at this on Monday.

[2022-01-08 02:23] TestCK commented on #1356
@iliax - Thanks for your swift analysis.. Is there any plans to support it in future?
And is there any known workarounds for now which i could use?

[2022-01-08 08:33] iliax opened #1361 "Messages produce: Support TopicRecordNameStrategy & RecordNameStrategy"
### Is your proposal related to a problem?

Currently when producing message only TopicNameStrategy used to search appropriate subjects. If subject is not found by this strategy message is written as raw text. If user uses TopicRecordNameStrategy or RecordNameStrategy  text msg will be written which can break downstream consumption.

### Describe the solution you'd like

- on "Produce Message" pag

[2022-01-08 08:33] iliax commented on #1361
relates to ISSUE: https://github.com/provectus/kafka-ui/issues/1356

[2022-01-08 08:34] iliax commented on #1361
@Haarolean I suggest to add this to next release worklog, since this already affected some users in a bad way

[2022-01-08 08:40] iliax commented on #1356
@TestCK I created a ticket to support this functionality (https://github.com/provectus/kafka-ui/issues/1361). I think we can add it to the next release.

As a workaround you can set KEY_SCHEMA_NAME_TEMPLATE (default is "%s-key"), SCHEMA_NAME_TEMPLATE  (default is "%s-value") properties with your subject name. Note: In this case this subjects will be used for **all** messages serialization regardle

[2022-01-08 08:43] iliax commented on #1356
closing ticket, will be resolved when https://github.com/provectus/kafka-ui/issues/1361 is implemented

[2022-01-08 08:43] #1356 closed

[2022-01-10 08:21] Haarolean opened #1362 "Drop deprecated unpaginated consumerGroups methods"
Drop deprecated methods in next release once frontend stops using the old ones

_Originally posted by @Haarolean in https://github.com/provectus/kafka-ui/pull/1318#r780968657_

[2022-01-10 12:12] Haarolean commented on #1359
@clocklear could you please try adding this env variable?
`SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTH0_SCOPE: "openid"`
let me know how it goes

[2022-01-10 12:49] Haarolean commented on #1354
@nemerna, could you please share an example schema you have for this kind of purpose?

[2022-01-11 08:33] 5hin0bi opened #1369 "Support for ingressClassName in helm chart"
Currently the helm chart doesn't support specifying ingressClassName in the ingress object.
Need to support it.

[2022-01-11 08:56] #1369 closed

[2022-01-11 10:32] #1189 closed

[2022-01-11 10:32] #1209 closed

[2022-01-11 11:34] Hurenka commented on #1218
Can't reproduce this one

[2022-01-11 12:25] Haarolean commented on #1229
Fixed within #1324

[2022-01-11 12:25] #1229 closed

[2022-01-11 12:33] Haarolean commented on #1343
It works on our end.
This is a helm config we used:

configmap:
[code]

ingress:
[code]

Which worked perfectly fine on `http://xxx.yyy/kafka-ui/`.

I'm closing this since this is clearly not a bug. Feel free to join us in discussions or on discord!

[2022-01-11 12:33] #1343 closed

[2022-01-11 12:41] #1218 closed

[2022-01-11 16:32] clocklear commented on #1359
That seems to fix it!  I suspected it might not know which scope needs to be present in order to 'authorize' the app; thanks for digging in and finding the solution!

This actually is a huge benefit for us; we can now control which folks in our organization can access the app instead of allowing anyone with a valid org login.  Huge win.  Thanks again!

[2022-01-11 23:02] Haarolean commented on #1359
Thanks for the feedback! Glad it worked.

We'll take care of documentation.

[2022-01-12 10:17] Hurenka opened #1375 "Fix GlobalSchemaSelector tests"

[2022-01-12 15:27] #1359 closed

[2022-01-13 03:28] #1029 closed

[2022-01-13 08:13] #1266 closed

[2022-01-13 09:59] gulsenkeskin opened #1380 "Failed to collect cluster Default info java.lang.IllegalStateException: Error while creating AdminClient for Cluster Default"
**I would like to use network_mode: bridge for kafka for being able to reach kafka through localhost:9092 from another service**

I'm trying to use the provectus/kafka-ui but when I open the consumers menu I get the following error

![image](https://user-images.githubusercontent.com/63197899/149308168-4a68451c-b451-4347-8cde-d8a604100650.png)

**my docker-compose.yml file :**

      kafka-ui:

[2022-01-13 10:20] gulsenkeskin commented on #1380
Failed to collect cluster Default info java.lang.IllegalStateException: Error while creating AdminClient for Cluster Default

[2022-01-13 10:44] Haarolean commented on #1380
Hi, thanks for reaching out.

In this case you could connect to kafka via docker internal host. You can find an example here: https://github.com/provectus/kafka-ui/discussions/1081

[2022-01-13 10:56] gulsenkeskin commented on #1380
Hi Thank you for your answer.
Now I'm getting this error: ERROR: The Compose file '.\docker-compose.yml' is invalid because:
services.kafka-ui.extra_hosts contains an invalid type, it should be an object, or an array

[2022-01-13 10:58] Haarolean commented on #1380
Please share your current file

[2022-01-13 10:59] gulsenkeskin commented on #1380
[code]

[2022-01-13 11:00] Haarolean commented on #1380
This is indeed has to be an array while it is not.

[code]

[2022-01-13 11:02] gulsenkeskin commented on #1380
Now I'm getting this error:

ERROR: yaml.parser.ParserError: while parsing a block mapping
  in ".\docker-compose.yml", line 1, column 1
expected <block end>, but found '<block mapping start>'
  in ".\docker-compose.yml", line 18, column 3

[2022-01-13 11:03] Haarolean commented on #1380
You're missing a `version` and `services` entries.
Use [this file](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui.yaml) as an example.

[2022-01-13 11:07] gulsenkeskin commented on #1380
i still get this error :( :
 ERROR [parallel-1] c.p.k.u.s.MetricsService: Failed to collect cluster Default info

java.lang.IllegalStateException: Error while creating AdminClient for Cluster Default

[2022-01-13 11:09] Haarolean commented on #1380
Guess you still haven't altered the advertised host as described in https://github.com/provectus/kafka-ui/discussions/1081.
Your kafka is being advertised on localhost only, which is invalid, you have to change it to your hostname's IP address.

[2022-01-13 11:24] gulsenkeskin commented on #1380
I changed the docker-compose.yml file as follows but I still get the same error
[code]

ERROR [parallel-1] c.p.k.u.s.MetricsService: Failed to collect cluster Default info

java.lang.IllegalStateException: Error while creating AdminClient for Cluster Default

[2022-01-13 11:27] Haarolean commented on #1380
`ADVERTISED_HOST` should be your machine's real IP, not a placeholder.

[2022-01-13 11:36] gulsenkeskin commented on #1380
we run the same docker configuration on different machines, how will the IP work in this situation

[2022-01-13 11:38] Haarolean commented on #1380
Why do you need `network_mode: bridge` in the first place? You could connect to kafka via exposed port.

[2022-01-13 11:42] gulsenkeskin commented on #1380
I don't know is there any way I can do this without changing the network_mode?

[2022-01-13 11:49] Haarolean commented on #1380
I suggest you pick our example [docker-compose](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui.yaml) with everything you need as a start. The kafka itself there is exposed on port `9092` and is accesible for other containers via `kafka0:29092` and from outside of a container via `localhost:9092`.

[2022-01-13 11:55] gulsenkeskin commented on #1380
I am going to try.  Many thanks for your advice, time and patience. :octocat: 🌟

[2022-01-13 11:56] Haarolean commented on #1380
You're welcome! Feel free to join us on discord if you have any other questions.

[2022-01-13 11:56] #1380 closed

[2022-01-13 12:32] gulsenkeskin commented on #1380
When I tried the way you said it worked but I can't see my old topics.
What should I do for this?

[2022-01-13 14:11] gulsenkeskin opened #1382 "2022-01-13 14:01:20,377 DEBUG [kafka-admin-client-thread | adminclient-1] c.p.k.u.s.ClustersMetricsScheduler: Metrics updated for cluster: local"
2022-01-13 14:01:20,377 DEBUG [kafka-admin-client-thread | adminclient-1] c.p.k.u.s.ClustersMetricsScheduler: Metrics updated for cluster: local

my docker-compose.yml file

[code]
**I get this error when I use transaction in producer**

[2022-01-13 14:15] NelyDavtyan opened #1383 "Create parameters of request for sorting topics"
**Describe the bug**
We can't get sorted names of topics

**Steps to Reproduce**
Steps to reproduce the behavior:

1.

**Expected behavior**
On clicking sorting button we should be able to have soretd list of names from A-Z and from Z-A. Now we get only A-Z

![image](https://user-images.githubusercontent.com/96067981/149346164-b63011bf-e88e-4fdd-85d3-f78daf0de03f.png)

**Additional context**
It wi

[2022-01-13 14:19] Haarolean commented on #1383
TopicsService#getComparatorForTopic implement sorting order (ASC/DESC)

[2022-01-13 14:25] Haarolean commented on #144
https://probot.github.io/apps/dco/

[2022-01-13 19:42] agolosen opened #1385 "Ignore spaces at the beginning and end of the Schema Name"
### Is your proposal related to a problem?

(Write your answer here.)
In case you put/past spaces before or after schema name at field Subject * while Create Schema the new schema isn`t creating. It`s not obvious that there are spaces there, it could irritate if you copy/paste for example.
### Describe the solution you'd like

Ignore spaces before and after the Schema Name at Schema Registry -> Cr

[2022-01-13 19:53] agolosen opened #1386 "SR: Display a clear warning message if a schema already exists"
### Is your proposal related to a problem?

(Write your answer here.)
If you try to create a schema with a name that already exists now is displaying an unclear message (the same for already existing name, invalid syntax, incorrect schema`s type).

### Describe the solution you'd like

(Describe your proposed solution here.)
Display a clear warning message what the problem is, i.e. for this case,

[2022-01-13 20:01] agolosen opened #1387 "Display a clear warning message for wrong schema`s type and invalid schema`s syntax."
### Is your proposal related to a problem?

(Write your answer here.)
If you try to create a schema with invalid syntax or incorrect type now is displaying an unclear message (the same for already existing name, invalid syntax, incorrect schema`s type).

### Describe the solution you'd like

(Describe your proposed solution here.)
Display a clear warning message what the problem is, i.e. for inval

[2022-01-13 20:19] agolosen opened #1388 "Empty screen if try to Edit schema of proto type"
**Describe the bug**
(A clear and concise description of what the bug is.)

There is an empty screen when you try to edit the schema of proto type.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this information.)

http://dependabot-npm-and-yarn-kafk

[2022-01-13 22:57] Haarolean commented on #1388
No failed backend requests

[2022-01-13 23:27] Haarolean commented on #1191
@workshur backend done, pending frontend. PR: #1367

[2022-01-13 23:29] Haarolean commented on #1208
@workshur backend done, pending frontend. PR: #1367

[2022-01-14 12:10] cmanzur opened #1390 "Move External resources for Air Gap environment"
### Is your proposal related to a problem?

Running on kubernetes (helm) in a **air gap** environment (without internet access) results on a long timeout on **Sign In** page trying to fetch resources like:

- maxcdn.bootstrapcdn.com
- getbootstrap.com

And of course, you don't get any CSS so the login UI is ugly.

### Describe the solution you'd like

You can store the required CSS in the reposito

[2022-01-14 13:40] 5hin0bi opened #1391 "Incorrect topic message content type (avro -> json)"
**Describe the bug**
When opening a message of a topic (while using avro converters), in kafka-ui it's shown as JSON. However, if you check the http response in the browser F12 console it's shown as AVRO.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you withou

[2022-01-14 17:00] agolosen opened #1392 "Implement responsive design"
### Is your proposal related to a problem?

(Write your answer here.)
Not all fields are visible when the screen width is reduced for some pages like Topics, Consumers, Connectors, KSQL DB (see attachments).

### Describe the solution you'd like

(Describe your proposed solution here.)
Please implement responsive design for these pages.
### Describe alternatives you've considered

(Write your answ

[2022-01-15 00:22] Haarolean commented on #1390
Hey, thanks for reaching out.
We'll take this for the consideration for release 0.4.

[2022-01-15 01:50] vdanylenko commented on #1344
@jonasgeiregat Your proposal would look really cool, I'm not sure if it's not an overkill. What I envision is to change behavior of the current "Produce Message" window. More specifically:
1. Click on the "Send" button does not close the window, just sends the current  message and displays some info after that message has been sent.
2. Add a "Close" button that closes the windows and returns to th

[2022-01-16 11:51] tilmann-bartsch opened #1393 "open-id/oauth2 authentication for user interface"
### Is your proposal related to a problem?

I would like to authenticate kafka-ui using a keycloak server.

### Describe the solution you'd like

Simple authentication can be obtained by the open-id/oauth2 implicit flow as described in
[OpenID Connect Implicit Client Implementer's Guide](https://openid.net/specs/openid-connect-implicit-1_0.html) which is supported by keycloak.

To achieve this I'd

[2022-01-17 09:54] 5hin0bi opened #1398 "Start using github reusable workflows"
Currently we have several common actions done inside of workflows.
We can template the situation using GH reusable workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows

build in push docker image from branch and branch name extracting is the point to start.

[2022-01-17 10:41] azatsafin commented on #1298
This issue is not more relevant, because we stopped to use ArgoCD image updater tool. This tool is use pull mechanism to get image hash for latest image periodically, this is why we had reached Docker Hub pull limits. So, we can close issue.

[2022-01-17 10:41] #1298 closed

[2022-01-17 11:13] Haarolean commented on #1393
Hey, thanks for raising the issue. As I mentioned on discord, unfortunately it's not solvable by configuration alone, we'll have to implement some keycloak support.

[2022-01-17 11:14] Shodded opened #1399 "Incorrect charts service targetPort value"
**Describe the bug**
On the Kuberenetes [service.yaml](https://github.com/provectus/kafka-ui/blob/611307ef59b7c5853716fcf4badd09c57ad347c5/charts/kafka-ui/templates/service.yaml#L15) chart targetPort is currently `http`, when it should be `8080`. Which this port is the current container's port from the [deployment.yaml](https://github.com/provectus/kafka-ui/blob/611307ef59b7c5853716fcf4badd09c57ad

[2022-01-17 11:15] Haarolean commented on #1399
Hey, thanks for reaching out. We'll take a look into this.

@5hin0bi fyi

[2022-01-17 11:47] Haarolean commented on #929
@AKonstantin1337 hey, thanks for the feedback. This thing is still a WIP :)

[2022-01-17 12:34] AKonstantin1337 commented on #929
@Haarolean ohh thanks)
any ETA?)

[2022-01-17 12:45] Haarolean commented on #929
within a week

[2022-01-17 13:22] #1375 closed

[2022-01-17 13:42] #1310 closed

[2022-01-17 22:22] Haarolean commented on #1399
So,

No, it shouldn't. It's an alias for a pod/sts/deployment which is being forwarded by a reference to `deployment.yaml`, where it's defined.

Next,

passing values as such:
[code]
makes the service expose port `999` on *each node* that redirects all the traffic to selected pods.

The command `kubectl port-forward deployment/kafka-ui 999:8080` exposes port `999` and maps it to the port `8080` of

[2022-01-18 09:12] NelyDavtyan opened #1402 "Edit Schema is throwing error from backend for JSON and AVRO types"
**Describe the bug**
(A clear and concise description of what the bug is.)
While working on https://github.com/provectus/kafka-ui/issues/1388 I noticed that after submitting changes for both JSON and AVRO types in edit schema page it throws backend error and changes aren't being saved.
For Protobuf type backend works fine.

**Set up**
(How do you run the app?
Which version of the app are you runni

[2022-01-18 10:32] #1139 closed

[2022-01-18 15:04] #1268 closed

[2022-01-18 17:13] workshur opened #1406 "Incorrect usage of theme for some styled components"
**Describe the bug**
Colors Map should not be used directly for styled components. Use theme instead. Please find all places in the project and fix.

**Additional context**
Example
https://github.com/provectus/kafka-ui/blob/7e5e8d926825cb82368b3e32b1667cbae541bcd0/kafka-ui-react-app/src/components/Topics/shared/Form/TimeToRetainBtn.tsx#L13-L24

[2022-01-18 17:26] workshur opened #1408 "Get rid of 'bulma/sass/elements/*' classes."
**Describe the bug**
https://github.com/provectus/kafka-ui/blob/7e5e8d926825cb82368b3e32b1667cbae541bcd0/kafka-ui-react-app/src/theme/index.scss#L5-L14
Dive to the each bulma file from the list. search if we use it somewhere in a project. Refactor if possible. Remove import of the file

**Expected behavior**
All the components use styled components approach

[2022-01-19 05:36] #1194 closed

[2022-01-19 05:57] abelgibayev opened #1410 "Get rid of direct color definitions in styled components"
**Describe the bug**
Some styled components use colours directly, without a theme. Replace such places to theme approach in all places. Add the colors to the theme if they are missing.

**Additional context**
https://github.com/provectus/kafka-ui/blob/439d41da0b1d1166c9d76350e680aa55e5498cd0/kafka-ui-react-app/src/components/App.styled.ts#L29

[2022-01-19 09:26] iliax opened #1412 "UI: Invalid button title on Connector Tasks page"
**Describe the bug**
(A clear and concise description of what the bug is.)

Go to Connectors -> Select any connector -> Tasks ->  Click ... -> Button should be called 'Restart' not Clear messages

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this in

[2022-01-19 09:27] iliax commented on #1412
<img width="1457" alt="Screenshot 2022-01-19 at 12 17 09" src="https://user-images.githubusercontent.com/702205/150102216-7a1370d8-4798-4071-bf1b-a6bf8017b0cf.png">

[2022-01-19 09:43] #1212 closed

[2022-01-19 09:52] 5hin0bi commented on #1412
Btw team, I’ve noticed that the button in the screenshot seem to bring no effect when a task is failed, however, “clear messages” which is restart - does restart particular task. Can you check it please?
You can wait for reddit connector to fail someday (it sometimes fails) and try to click it.
![image](https://user-images.githubusercontent.com/94184844/150106690-d731af8a-4a52-402c-8e6d-374c2aede0

[2022-01-19 10:17] Haarolean opened #1414 "Make tables rows clickable"
Make the whole row clickable in schema registry view. All the tables should work the same way.

[2022-01-19 10:45] Motherships opened #1415 "Add dedicated Protobuf editor"
### Is your proposal related to a problem?

Right now we use `JSONEditor` to edit `Protobuf` schema
I think dedicated editor will make overall UX better (syntax hightlight etc)

### Describe the solution you'd like

We have to implement dedicated `Protobuf` editor
`AceEditor` which we use already has mode for `protobuf`
And we can even make `SchemaEditor` component to make code clear
Something lik

[2022-01-19 10:48] Haarolean commented on #1388
A duplicate of #1188

[2022-01-19 10:49] #1388 closed

[2022-01-19 11:41] #1188 closed

[2022-01-19 11:49] iliax commented on #1412
@5hin0bi please create ticket for it

[2022-01-19 12:08] Haarolean opened #1421 "Design review select options bugfix"

[2022-01-19 12:14] #1333 closed

[2022-01-19 12:27] Haarolean commented on #1344
@thegiantbeast @jonasgeiregat could you folks please describe your use cases for this? Like, what types of messages are you interested to produce this way? Are they schema-enriched? Do you have to replace a few fields in a large schema?

[2022-01-19 12:58] 5hin0bi commented on #1412
OK. I will test it once again first and if my proposal is correct I'll create a ticket.

[2022-01-19 13:45] NelyDavtyan opened #1425 "Replacing enzyme to react testing library for topics overview"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-01-19 14:34] #1213 closed

[2022-01-19 14:45] #1391 closed

[2022-01-19 14:54] Motherships commented on #1346
It seems #1190 is related
Your PR fixes this

[2022-01-19 15:33] Motherships commented on #1206
@Haarolean seems like this issue is fixed by redesign?
![image](https://user-images.githubusercontent.com/12596177/150162942-ee93fe38-e113-4551-b7f2-060553d12b8a.png)

[2022-01-19 15:34] workshur opened #1428 "Improve Sonar Cloud security hotspots metrics"
**Describe the bug**
Fix security hotspots
https://sonarcloud.io/project/security_hotspots?id=provectus_kafka-ui_frontend&sinceLeakPeriod=true

**Expected behavior**
Security Hotspots Metric should be 100%

[2022-01-19 17:27] Haarolean commented on #1206
@Motherships yeah, seems like that. The issue origins from 0.2.1.

[2022-01-19 17:28] Haarolean commented on #1206
Fixed in 0.3.0.

@pdebuitlear FYI

[2022-01-19 17:28] #1206 closed

[2022-01-20 08:28] agolosen opened #1432 "Implement clear sorting for Schemas"
### Is your proposal related to a problem?

(Write your answer here.)
Now it`s changing order of schemas on the page Schemas registry view. If you create or edit a schema and after return to Schemas view the order is different, it`s annoying.

### Describe the solution you'd like
Create a clear sorting (by name, type or time, etc), don`t change it unexpectedly.

(Describe your proposed solution he

[2022-01-20 09:21] #1190 closed

[2022-01-20 09:21] #1346 closed

[2022-01-20 09:21] #1415 closed

[2022-01-20 09:35] Haarolean commented on #1386
Related #1387.

[2022-01-20 09:35] Haarolean commented on #1387
Related #1386.

[2022-01-20 09:39] #1221 closed

[2022-01-20 12:26] #1217 closed

[2022-01-20 13:08] agolosen opened #1438 "Wrong number of Messages"
**Describe the bug**
(A clear and concise description of what the bug is.)

There are different values of Messages number on the Topic view page and inside the topic.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this information.)

http://dependabo

[2022-01-20 13:11] Haarolean commented on #1069
@workshur is this still an issue? Considering #1427

[2022-01-20 13:18] Haarolean commented on #1438
@iliax is [this](https://github.com/provectus/kafka-ui/issues/1230#issuecomment-992288752) still applicable for this case?

[2022-01-20 13:22] Haarolean commented on #1050
Fixed.

[2022-01-20 13:22] #1050 closed

[2022-01-20 13:23] agolosen opened #1439 "Different amount of Messages while sorting Oldest first/Newest first"
**Describe the bug**
(A clear and concise description of what the bug is.)

 There is a different amount of messages when selecting a sorting Oldest First/Newest first.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this information.)

http://dependa

[2022-01-20 13:29] agolosen opened #1440 "Implement Previous button on the Messages page"
### Is your proposal related to a problem?

(Write your answer here.)
There is only the button Next on the Messages page. If you navigate to the next page there are no options to go back.
### Describe the solution you'd like

Please add the button 'Previous' that lead to the previous page of Messages.
(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your

[2022-01-20 13:30] Haarolean commented on #1440
Duplicate of #721

[2022-01-20 13:30] #1440 closed

[2022-01-20 13:40] Haarolean commented on #927
@clocklear hey, could you check if this is still an issue for you with `master` labeled docker image?

[2022-01-20 13:41] #1421 closed

[2022-01-20 14:03] igimot opened #1441 "How to log in over a specific domain with SSO use google?"
I use google auth with my domain for SSO.

I have domain awsome.com and I want to access only from this domain but if I try authorized from another domain (gmail.com) I have access to kafka-ui. That is not a good solution. I tried to find a solution, but nothing to find.

Maybe you have a solution?

[2022-01-20 17:18] #1428 closed

[2022-01-20 18:04] Haarolean commented on #921
Pending frontend

[2022-01-20 18:31] Haarolean commented on #1441
Hey, thanks for reaching out.

Seems like there's no way to do this with configuration out of the box.

Would you verify the solution once I prepare a build with the fix?

[2022-01-21 07:36] igimot commented on #1441
Oh, that's great, sure and thanks!!!

[2022-01-21 07:47] #1325 closed

[2022-01-21 08:39] 5hin0bi opened #1444 "Connector "Restart All Tasks" button has no effect"
When choosing a specific connector there are several options you can choose:
<img width="1083" alt="image" src="https://user-images.githubusercontent.com/94184844/150494050-67a4692f-2133-4c78-94e3-c74857b65057.png">

Restart all tasks sends the next POST request that actually does do nothing.
https://xxx/api/clusters/local/connects/local/connectors/reddit-source-json/action/RESTART

According to t

[2022-01-21 09:11] iliax commented on #1444
@5hin0bi we currently only restart **connector instance**, not tasks on this button click. I will change this to restart both connector and all its tasks. I think we will also need to rename this button to smth like "Restart connector".

[2022-01-21 10:45] Haarolean commented on #1441
Please try this image out. You can import it via `docker load < file.tar.gz`.
Also, please add this env variable:
`OAUTH2_GOOGLE_ALLOWEDDOMAIN="https://example.com/"`

[image](http://minio:9000/public/kafka-ui/issue-1441/kafka-ui.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0B6PC0O1N7CBO9VH00D6%2F20220121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220121T104112Z&X-Amz-Expires=604800&

[2022-01-21 11:15] Haarolean opened #1447 "Find a way to make certain workflows required"
Workflows like the following:
`e2e-checks`
`backend`
`frontend`
should have status `passed` to be able to merge a PR which has these workflows triggered.
The things is, setting these workflows as required makes PRs which don't have these workflows launched blocked.

https://github.com/marketplace/actions/workflow-status

[2022-01-21 13:42] iliax commented on #1444
@5hin0bi can you please verify it works, and reopen issue if not

[2022-01-21 14:01] 5hin0bi commented on #1444
Checked on our dev environment. The button is now called "Restart Connector", but failed tasks themselves are not restarted.

[2022-01-21 18:41] PhilDulac opened #1448 "Missing Ingress pathType with k8s >=1.22"
**Describe the bug**

When installing the helm chart on K8s version >= 1.22 with ingress enabled, the path type is missing and gives the following message:
`Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Ingress.spec.rules[0].http.paths[0]): missing required field "pathType" in io.k8s.api.networking.

[2022-01-21 18:52] teng1 opened #1449 "KRaft mode support (zookeeper less kafka)"
### Is your proposal related to a problem?

Hi,
I have a KRaft enabled kafka 3.0.0 cluster running in K8s using a very similar setup to the following https://debezium.io/blog/2021/08/31/going-zookeeperless-with-debezium-container-image-for-apache-kafka/

I deployed the Kafka UI as a separate service, i'm able to access the cluster and view Brokers but not able to create topics and it seems like it

[2022-01-22 08:57] MaksimMyshkin opened #1451 "Produce message without key"
### Is your proposal related to a problem?
There is no possibility now to send message without a key (on message producer page). When I clear a key field before sending message this message is sending with default/generated key anyway. It can be critical when consumer is not supporting keys and/or read them as numbers.

### Describe the solution you'd like
It is need to be able to send message wit

[2022-01-22 09:18] MaksimMyshkin opened #1452 "Support running kafka-ui on subset of topics to get around auth errors"
### Is your proposal related to a problem?
In our company we have kafka cluster common for all teams but it does not have convenient UI for our needs. Our team tried to deploy kafka-ui with our account that has only access to our topics but it failed with access error. It would be useful to have possibility to run kafka-ui on subset of topics to which account have the needed rights.

Addition ques

[2022-01-22 13:49] #1410 closed

[2022-01-23 18:03] dmakeroam opened #1455 "Cannot create a Kafka topic in Kafka-UI for Confluent Kafka"
**Describe the bug**

I cannot create a Kafka topic in Kafka-UI for Confluent Kafka.

**Set up**

Docker images:

Kafka UI: provectuslabs/kafka-ui:master
Confluent Kafka: confluentinc/cp-kafka:6.1.0

**Steps to Reproduce**

1. Go to Kafka UI topic creation page -> http://[local-ip]:[local-port]/ui/clusters/[cluster-name]/topics/create-new
2. Fill in the topic name such as "go"
3. Click "Send" to c

[2022-01-23 18:05] dmakeroam commented on #1455
I claim it

[2022-01-24 03:23] ValentinPrischepa commented on #1432
@Haarolean , default sorting by Schema Name has been added within [issue 1191](https://github.com/provectus/kafka-ui/issues/1191), It was necessary for pagination. Do we need some extra functionality, like sort by version or compatibility, ascending/descending?

[2022-01-24 05:02] dmakeroam commented on #1455
Can you help to review this ? @workshur

[2022-01-24 06:23] Haarolean commented on #1451
Hey, thanks for reaching out.

Which version are you using? This feature is present and does work, just checked it out.

This is the payload frontend produces when emptying a `key` field:
![image](https://user-images.githubusercontent.com/1494347/150732272-bec18304-65ae-4a26-a8c1-0dbca81c11c2.png)

[2022-01-24 06:24] Haarolean commented on #1455
Hi,

is there any failed requests upon clicking 'send'?

[2022-01-24 06:25] Haarolean commented on #1432
@ValentinPrischepa nice, thanks. Guess not, let's start from there.

[2022-01-24 06:25] #1432 closed

[2022-01-24 06:27] Haarolean commented on #1449
Hey, thanks for reaching out.

We'll take this into consideration for future releases.

Related: #1076

[2022-01-24 06:31] Haarolean commented on #1452
Hey, thanks for reaching out.

This is for sure to be done via ignoring permission issues. We'll get this done in future releases :)

[2022-01-24 06:31] Haarolean commented on #1452
#928 #753 #482

[2022-01-24 06:33] Haarolean commented on #1439
Can we check this with any other topic which is not being used by connectors/consumers?

[2022-01-24 06:36] Haarolean commented on #1448
@PhilDulac hey, thanks for reaching out. This has been fixed in `master`-labeled image, we'll also get a minor release with this change to update the charts on artifacthub.

[2022-01-24 06:36] #1448 closed

[2022-01-24 08:38] Haarolean commented on #1455
We've reproduced the issue We'll release a minor patch to address the problem soon.

[2022-01-24 09:27] abelgibayev opened #1465 "Get rid of enzyme testing tool"
**Describe the bug**
Some components tests use enzyme for mounting components. Refactor such places with a testing-library approach.

**Additional context**
https://github.com/provectus/kafka-ui/blob/86dad04448a47ef47f5d82b0c5959ce7398f9631/kafka-ui-react-app/src/components/Connect/Details/__tests__/Details.spec.tsx#L86-L95

[2022-01-24 09:45] madrisan opened #1466 "LDAP/LDAPS authentication with Microsoft Active Directory"
### Is your proposal related to a problem?

LDAP/LDAPS authentication with Microsoft Active Directory seems not yet supported by Kafka-UI.

### Describe the solution you'd like

It would be nice if Kafka-UI also support LDAP and LDAPS authentications with Microsoft Active Directory.
According to the  [Spring documentation](https://docs.spring.io/spring-security/site/docs/5.0.7.RELEASE/reference/ht

[2022-01-24 10:17] Haarolean commented on #1466
Thanks, we can actually schedule it for 0.4, I'll let you know if we'll need to test it out

[2022-01-24 12:44] tzahibena-simplex commented on #1439
I can also take note that its the ordering is incorrect, when filtering by newest it there is a gap in the offsets it is shown.
For example for partition 1, the offset is 149, but when filtering by newest, i get that the latest message in partition 1 is offset 128.

[2022-01-24 13:16] esmeneev commented on #815
@Haarolean this was fixed by [#1231. ](https://github.com/provectus/kafka-ui/pull/1231), I've checked latest master, there were no `Jackson2JsonDecoder` logs, whereas in build from 6351361c they appear. I think we can close this issue.

[2022-01-24 13:51] madrisan commented on #1466
Ok. Thanks! I'll be glad to help testing this feature.

[2022-01-24 18:33] #1455 closed

[2022-01-24 19:17] Hurenka opened #1469 "Schema type is not updated when history push"
**Describe the bug**
(A clear and concise description of what the bug is.)
There's a problem while page history changes after update schema type. A new value appears to late and the one is rendered

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this

[2022-01-25 08:07] igimot commented on #1441
Hi Haarolean. Sorry but I don't understand how I get this file file.tar.gz
Link in your message that is for local use. I don't have access to this infra)))

[2022-01-25 08:10] Haarolean commented on #1441
Oh, guess the access token expired.

Please try these:
[image](https://build-snapshots-ololo.s3.eu-central-1.amazonaws.com/kafka-ui.tar.gz?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGAaDGV1LWNlbnRyYWwtMSJHMEUCIC4qMKYoiWi8Jtmr770uPOPOSF9RoLrmIP0ZwNkyO%2B3tAiEA2Uk%2FJyCJbgqnsojENNOPk2pw5xrpGojjyzijVuU7GKUqiAMIif%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwyOTc0NzgxMjg3OTgiDEOp

[2022-01-25 08:11] igimot commented on #1441
oh thats great thx

[2022-01-25 08:13] Haarolean commented on #815
@esmeneev okay, thanks! There are various issues in "Up for grabs" column in "Roadmap" project if you're interested ;)

[2022-01-25 08:13] #815 closed

[2022-01-25 08:19] cleboo opened #1472 "Zookeeper thread leaking"
Hi!

Thanks in advance for your help! kafka-ui is a super helpful tool!

**Describe the bug**
After running for a day the kafka-ui docker container (image: provectuslabs/kafka-ui:0.3.1) is using over 5000 Threads leading to high CPU and Memory Usage and evntually a crash of the host machine if nothing is done.

kafka-ui throws a `zookeeper exception` at regular intervals, which may be related (see

[2022-01-25 08:20] workshur opened #1473 "Table Row with dropdown is jumping on mouse over action"
**Describe the bug**
Table Row with dropdown is jumping on mouse over action

**Expected behavior**
Check all the tables and fix. Use visibility hidden instead of removing dropdown

[2022-01-25 09:06] igimot commented on #1441
Works)))!!
But error message not good)) output on page
[code]

I think good idea used popup message, if not allowed domain for authorizing

[2022-01-25 10:03] Haarolean commented on #879
This issue is up for votes. If anybody's interested in having this feature, please vote up.
Probably we'll implement this in a way with categories which will visually differentiate the brokers.

[2022-01-25 10:06] Haarolean commented on #1242
The thing is, this particular search box is a complex one, there are different filters present (to the right side), so immediate filtering is not a thing here. Other search inputs are kind of solid and persistent for now.

[2022-01-25 10:06] #1242 closed

[2022-01-25 10:14] Haarolean commented on #1414
schema registry table: make it a list with tags

[2022-01-25 10:17] Haarolean commented on #1226
Duplicate of #1242

[2022-01-25 10:17] #1226 closed

[2022-01-25 10:23] Haarolean commented on #1472
Hey, thanks for reaching out.

This is for sure because of the zookeeper. We'll take a look.

[2022-01-25 10:53] #1425 closed

[2022-01-25 11:07] filipemacedo opened #1477 "Help - Health Check"
Hi guys, I looked in the documentation but didn't find it, what is the health check endpoint?
Basically, my load balancer is restarting my container because of the status code of the main endpoint.

Thank you very much.

[2022-01-25 11:11] Haarolean commented on #1477
Hey, it's `/actuator/health` and `/actuator/info` if you're not running a custom context path.

[2022-01-25 11:11] #1477 closed

[2022-01-25 11:13] filipemacedo commented on #1477
Thank you very much, can we add this information to the documentation?

[2022-01-25 11:33] Haarolean commented on #1472
You have a wrong port set up:
`   - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2183`
The default one is 2181.
Tried your setup (a close one, since the one you provided wasn't valid enough), works fine for me.

[code]
![image](https://user-images.githubusercontent.com/1494347/150969595-f9ef6938-edbe-4d11-8de7-ddb0aa3fda80.png)

[2022-01-25 12:44] cleboo commented on #1472
Ahh, thanks  @Haarolean for the fix!

Still, might be worth fixing the PID Issue as it can crash the host if you accidentally misconfigure the zookeeper connection.

[2022-01-25 12:50] Haarolean commented on #1472
Sure, we'll take a look.

[2022-01-25 12:54] #1469 closed

[2022-01-25 14:10] Haarolean opened #1480 "Fix e2e tests"
ConnectorsTests
TopicTests
SmokeTests

xpath links are expired due to redesign

[2022-01-25 14:55] #1447 closed

[2022-01-25 14:59] 5hin0bi opened #1482 "add workflow that tests helm chart"
Subj.

[2022-01-25 15:00] 5hin0bi commented on #1482
k8s versions:
1.17.0
1.18.0
1.19.0
1.20.0
1.21.0
1.22.0+

[2022-01-25 15:25] Haarolean commented on #1441
@igimot glad it works. Yeah, we have to adjust that. Could you please share a screenshot of such a page? Is it just blank or with some UI elements?

[2022-01-26 07:06] MaksimMyshkin commented on #1451
Sorry. I guess my local version was little old. All works perfect now after update! Thanks.

[2022-01-26 07:06] #1451 closed

[2022-01-26 07:38] Haarolean commented on #1451
Glad it works :)

[2022-01-26 08:14] Haarolean commented on #1393
Hey, actually I thought you need keycloak with roles.
If you need just the oauth, that's probably gonna work out of the box.
You could refer to [SSO guide](https://github.com/provectus/kafka-ui/blob/master/guides/SSO.md) and try the settings described there. Let me know how it goes.

[2022-01-26 08:52] iliax opened #1485 "Breadcrumbs navigation doesn't work from Connectors page"
**Steps to Reproduce**

Go to Kafka Connect ->  click on any connector
<img width="411" alt="Screenshot 2022-01-26 at 11 48 09" src="https://user-images.githubusercontent.com/702205/151131508-033a2b1e-b142-4755-b990-27a82a9dce1c.png">

click on cluster name or "Connectors" in  breadcrumbs on top of page
**expected**: we redirected to cluster/ connectors page
**actual**: we see empty page:

<img wi

[2022-01-26 09:14] abelgibayev commented on #1485
Duplicates https://github.com/provectus/kafka-ui/issues/1193

[2022-01-26 09:14] #1485 closed

[2022-01-26 10:34] Motherships opened #1488 "[Chore] Refactor TopicMessages's store to redux/toolkit"
### Is your proposal related to a problem?

Part of migration to redux/toolkit chores

### Describe the solution you'd like

Refactor `TopicMessages`'s store to `redux/toolkit`

### Describe alternatives you've considered

I didn't consider any alternatives as it's part of migration process

### Additional context

No additional context

[2022-01-26 10:51] igimot commented on #1441
![image](https://user-images.githubusercontent.com/19408161/151150221-f95dbe39-4740-44ef-9f28-e8d7baee018c.png)

[2022-01-26 11:02] Haarolean commented on #1441
Thanks, that's not a good way to display it for sure :)

[2022-01-26 11:12] Haarolean opened #1490 "Expand scrollable pane in connectors->config"
Scrollable space is too short while the rest of the screen is empty

![image](https://user-images.githubusercontent.com/1494347/151153123-be2e44ec-3a33-4855-ac4b-7b4cc3ad21fb.png)

[2022-01-26 11:14] Haarolean opened #1491 "Invalid color of "tasks failed" badge"
connectors-> select connector
"tasks failed" color is red even when it equals to zero

![image](https://user-images.githubusercontent.com/1494347/151153457-8ce971bf-f04e-4e81-9733-0af3f2e2a0eb.png)

[2022-01-26 11:15] Haarolean commented on #1414
Not that important for now

[2022-01-26 11:15] #1414 closed

[2022-01-26 12:56] Haarolean opened #1492 "Inconsistent task status badges colors"
Connectors list: statuses can have different background badge colors, including read, yellow and green. On the connector's page it's always yellow.

[2022-01-26 19:06] Haarolean commented on #1192
Fixed in 0.3.something.

[2022-01-26 19:06] #1192 closed

[2022-01-27 07:10] abelgibayev opened #1499 "Refactor KsqlDb reducer to reduxjs/toolkit approach"
### Is your proposal related to a problem?

https://github.com/provectus/kafka-ui/blob/c9e7aac8988ef04731ee843f4edc2ef63bd7deb8/kafka-ui-react-app/src/redux/reducers/ksqlDb/reducer.ts#L13-L33

### Describe the solution you'd like

We should update our stores to make them more readable and atomic (without spreading one feature actions, reducers and types across multiple folders)

https://github.com

[2022-01-27 07:44] sbritprovectus opened #1500 "[Topics] There are default values when user try to edit topic"
**Describe the bug**
When user try to edit topic after creation there are defaults values in edit topic settings view

**Set up**
Local docker.
App version: Version:v0.3.3(38c4cf7)

**Steps to Reproduce**
1. Create topic (e.g. using API)
2. Go to newly created topic
3. Go to Edit Settings
4. Edit something (e.g. change Cleanup policy)
5. Save
6. Go to Edit settings again
7. Observe the view

**Exp

[2022-01-27 07:55] Haarolean opened #1501 "Readonly mode regression"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1497

<div type='discussions-op-text'>

<sup>Originally posted by **giom-l** January 26, 2022</sup>
Hi,

Long time no see. I just realized I had missed some releases since last time.
So I just tried to update our UI from 0.2.1 to 0.3.3.
What a change ^^.

However, I have some concerns about one of the most useful feature to me : th

[2022-01-27 07:56] Haarolean commented on #1501
@giom-l thanks for the feedback, glad you like the update :)
As I mentioned in a discussion, this seems to be a regression indeed. We'll take a look!

[2022-01-27 08:03] #1482 closed

[2022-01-27 09:28] Haarolean commented on #1386
Connectors error messages are broken as well
![image](https://user-images.githubusercontent.com/1494347/151330767-32c21223-e5a7-447b-be65-7bccafcf6d09.png)

[2022-01-27 09:59] 5hin0bi opened #1502 "cdk8s support"
1. Convert existing helm chart to cdk8s
2. Add workflow to publish as npm package
3. Publish in construct hub

[2022-01-27 18:59] agolosen commented on #1492
The same problem on the page Brokers for Partitions Online - should be Green not red
<img width="1264" alt="Screenshot 2022-01-27 at 20 56 38" src="https://user-images.githubusercontent.com/92585878/151425744-cf298f58-b813-44d0-b233-ae965c19442d.png">

[2022-01-27 19:07] agolosen commented on #1492
The same on the page Topics->Topic_Name-> Overview In Sync Replicas should be green if m of m

<img width="1264" alt="Screenshot 2022-01-27 at 21 04 56" src="https://user-images.githubusercontent.com/92585878/151426805-e064b364-c445-408d-8f57-ff51cb43c37b.png">

[2022-01-27 22:45] jonasgeiregat commented on #1344
I was more thinking like adding a tab to the current publication page so the current functionality stays in place but a new tab for sending quick messages would become available.

This new tab would work like a simple command prompt like the kafka publisher shell script works that comes with kafka.

[2022-01-28 07:31] ivvve opened #1503 "Can't connect to local kafka broker using docker compose"
Hi, I want to try kafka-ui but it didn't work for me 😿
Could you help me with it? 🙏

**Describe the bug**

I wasn't able to connect to local Kafka broker using docker-compose in this [document](https://github.com/provectus/kafka-ui/blob/master/docker-compose.md).

But I was able to connect to local Kafka with **Spring Kafka** and **Conduktor**.
(sorry for mentioning another tool)

**Set up**
I jus

[2022-01-28 07:59] 5hin0bi opened #1504 "Add built jar file to a release"
Need to attach built jar file to a published release.

[2022-01-28 08:13] #1504 closed

[2022-01-28 08:14] Haarolean commented on #1503
HI, thanks for the interest.

The thing is, you're running both kafka and kafka-ui in different containers, so specifying "localhost" for kafka hostname won't do any good. You have to put both kafka and kafka-ui in the same network (or just same docker-compose).

A good example is located [here](https://github.com/provectus/kafka-ui/blob/master/docker/kafka-ui.yaml), as you can see we're accessing

[2022-01-28 08:14] #1503 closed

[2022-01-28 08:16] azatsafin commented on #1503
Hello @ivvve
If you would like to use two different docker-compose files you have to use host IP address for Kafka, and setup communication between Kafka and KafkaUI via it. Docker container can't connect to host port by 'localhost'. This is from your log.
`bootstrap.servers = [localhost:9092]`

If would like just to try KafkaUI, it is easiest to use one file which combine all your needs (Kafka, Z

[2022-01-28 08:30] jonasgeiregat commented on #1500
Almost all fields are not set according to the actual values but rather contain the widgets default value. I'm happy to take a look at this.

[2022-01-28 08:38] jonasgeiregat commented on #1076
A bit related but when you do not define a zookeeper connection string it displays zookeeper as offline which might be confusing.

[2022-01-28 08:44] ivvve commented on #1503
Oh I was so stupid 😅

Thanks for the quick and kind answer guys! 🙇‍♂️

[2022-01-28 10:52] workshur opened #1508 "Improve test coverage"
**Describe the bug**
Files are not completely covered with tests
src/components/Topics/Topic/Details/Messages/Filters/utils.ts
src/components/Topics/Topic/Topic.tsx
src/components/Topics/Topic/Details/Settings/ConfigListItem.tsx

**Expected behavior**
100% covered

[2022-01-28 12:24] #1501 closed

[2022-01-28 12:25] Haarolean commented on #1501
@giom-l the fix is available in `master`-labeled image

[2022-01-28 14:14] Haarolean commented on #1455
Available in `master`-labeled image.

[2022-01-28 14:19] Haarolean opened #1509 "Do not run frontend tests upon git hooks"

[2022-01-28 16:04] iliax opened #1510 "UI, Critical: retention.bytes parameter set to 0"
**Describe the bug**

Go to topic creation view -> enter new topic name, do not edit other configs  ->  retention.bytes properties are set to 0 in passed parameter.

Expected:  when `Max size on disk in GB` is "Not set"`retention.bytes` should be either not passed or passed as -1 which indicates that topic don't have size limit.

This is critical because it will cause unexpected topic data deletio

[2022-01-28 17:52] agolosen commented on #1492
The same for the Consumers.
<img width="1499" alt="Screenshot 2022-01-28 at 19 51 47" src="https://user-images.githubusercontent.com/92585878/151597061-857d3891-4038-4f5f-bc00-34f9241612e9.png">
<img width="1499" alt="Screenshot 2022-01-28 at 19 51 56" src="https://user-images.githubusercontent.com/92585878/151597074-38e8ef97-fe37-44d3-896d-99b67f538723.png">

[2022-01-28 19:18] jonasgeiregat commented on #754
Created API proposal for this feature, https://github.com/provectus/kafka-ui/pull/1511

[2022-01-28 19:58] Tri0L opened #1512 "Sort by Size/Number of messages"
### Is your proposal related to a problem?

Sometimes I need to find biggest topic in cluster. It will be great if I can sort list topics by `Size`/`Number of messages` in UI by click on table header like this is working for `Total partitions` or `Out of sync replicas`

[2022-01-28 19:59] lbruno69 commented on #929
same problem here, any news?

[2022-01-29 01:20] vdanylenko commented on #1452
@MaksimMyshkin Currently kafka-ui needs WRITE and DESCRIBE_CONFIGS permissions on a topic to display it correctly. If the account used to configure kafka-ui  has some access to any topic where DESCRIBE_CONFIGS is not allowed no topics is displayed at all. You might want to add DESCRIBE_CONFIGS  to all your topics as a workaround.

[2022-01-29 07:38] kewitschka commented on #779
Any updates?

[2022-01-29 09:38] MaksimMyshkin commented on #1452
Thank you for information. Unfortunately our team can't get access to all topics in the cluster (only to our topics).

Also I dug a little and found out that errors is appearing on creation of AdminClient. It is even before getting information about topics. Is this code a reason why rights to all topics required? Looks like AdminClient requires wider permissions than it is needed for simpler scena

[2022-01-29 15:57] vdanylenko commented on #1452
@MaksimMyshkin Sorry, looks like I didn't make myself clear enough. It was not about all topics in the cluster, only about "your" topics. If you have any access to a topic then WRITE and DESCRIBE_CONFIGS should be allowed for that topic.

[2022-01-31 06:54] #1308 closed

[2022-01-31 09:06] agolosen opened #1520 "Too short visible list for Schema compatibility level selector"
### Is your proposal related to a problem?

(Write your answer here.)
There is list of 3 levels (other are invisible) on Schema overview and Schema Edit pages (see attachment)
 There is a scroll slider there but it`s not visible by default.

### Describe the solution you'd like

(Describe your proposed solution here.)
Make the scroll slider visible by default for the selector of Schema Compatibili

[2022-01-31 09:07] Alepacox opened #1521 "Show IP and port of brokers in UI/API"
Good morning, thank you very much for the great work you are doing.
I just wanted to know if there is a possibility to also show the port of the brokers on the /clusters/clusterName/brokers endpoint.
It would be so useful for scenarios where brokers are added to the cluster with random port mappings, so that you can connect to the brokers by querying the Kafka-UI API first.
Morover, those same dat

[2022-01-31 09:56] #1412 closed

[2022-01-31 10:24] #1191 closed

[2022-01-31 10:24] #1208 closed

[2022-01-31 11:36] Khakha-A opened #1523 "Inconsistency in pagination for topics"
**Describe the bug**
(A clear and concise description of what the bug is.)
Pagination automatically jumps to Page 1 even if search was initiated on Page 2 or any other page; makes to navigate to the required page multiple times

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be

[2022-01-31 12:20] #1408 closed

[2022-01-31 13:36] Haarolean commented on #1512
Hi, thanks for the suggestion! We'll take this into consideration :)

[2022-01-31 13:37] Haarolean commented on #1512
Related: #1383

[2022-01-31 14:12] Haarolean commented on #1521
Hey, thanks for the suggestion. This seems like a good feature, we'll get this implemented :)

[2022-01-31 14:45] pikhovkin commented on #1449
@teng1 try this config
[code]

[2022-01-31 22:26] ValentinPrischepa opened #1525 "Add sorting order to the consumer groups page."
### Is your proposal related to a problem?

  We can sort consumer groups by groupId, number of members, or state, but can't set order direction(ASC/DESC)

### Describe the solution you'd like

  We need to pass an additional parameter from UI, to define sort order direction, similar functionality to Topic page sorting.

### Additional context

[2022-02-01 08:37] igimot commented on #1441
Hello, Haarolean
Any updates?

[2022-02-01 09:50] 5hin0bi opened #1528 "Implement Node Termination Handler in internal environment"
When a SPOT node gets taken away pods get stuck in terminating state and the only solution is to manually force-delete terminating pods. This may cause large downtimes.
The handler resolves this situation.
https://ec2spotworkshops.com/using_ec2_spot_instances_with_eks/070_selfmanagednodegroupswithspot/deployhandler.html

[2022-02-01 12:11] iliax commented on #1512
@Tri0L thank you for suggestion. Unfortunately Number of message sorting is not likely to be done, since to calculate number of messages we need to do several heavy API calls. Currently we do it after sorting applied.
As for size - it is doable, since this data is cached (updated every 30 sec by default).

[2022-02-01 12:11] iliax commented on #1512
@ValentinPrischepa please take it to account ^

[2022-02-01 13:35] #1520 closed

[2022-02-01 14:08] #1510 closed

[2022-02-01 14:32] iliax commented on #1438
@Haarolean yes, in Messages tab we show number of messages we scanned to construct page. In topics page we shou number of all messages in topic
@agolosen

[2022-02-01 14:33] iliax commented on #1438
@agolosen maybe we rename title from "messages" to "scanned messages " if you think it is confusing

[2022-02-01 21:09] agolosen commented on #1491
It should be consistent if Test running here in Connectors would be green if it > 0
<img width="348" alt="Screenshot 2022-02-01 at 23 08 56" src="https://user-images.githubusercontent.com/92585878/152051769-dd88ec72-3657-46c1-9ec9-7e6b4b1b6067.png">

[2022-02-02 10:19] Haarolean opened #1532 "Implement a dev env without auth but with VPN"
master branch, same as dev env, but without auth and with VPN, like custom branch deployments.

[2022-02-02 10:21] Haarolean opened #1533 "Too short dropdown field"
Topic params:
![image](https://user-images.githubusercontent.com/1494347/152135574-7978e55e-5c85-4ae7-a74b-637616e73203.png)
Related to #1520. Please check the rest of dropdowns for this issue.

[2022-02-02 10:50] Khakha-A opened #1534 "No originally selected custom parameters in topic's edit tab"
**Describe the bug**
(A clear and concise description of what the bug is.)
When you've created a topic with several custom parameters, you don't see them in edit tab. You can edit new custom parameters, including those that you originally selected when creating a topic.

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commi

[2022-02-02 10:52] Khakha-A opened #1535 "Regression for #992"
**Describe the bug**
(A clear and concise description of what the bug is.)
https://github.com/provectus/kafka-ui/issues/992

**Set up**
(How do you run the app?
Which version of the app are you running? Provide either docker image version or check commit hash at the top left corner. We won't be able to help you without this information.)
https://www.kafka-ui.provectus.io/ui

**Steps to Reproduce**

[2022-02-02 12:50] azatsafin commented on #1532
Hi, it is available now at http://master.internal.kafka-ui.provectus.io/ui

[2022-02-02 12:54] Haarolean commented on #1532
Thanks much!

[2022-02-02 12:54] #1532 closed

[2022-02-02 13:40] Haarolean opened #1537 "Configure backend test coverage for sonar via jacoco"

[2022-02-02 15:35] Haarolean commented on #929
@AKonstantin1337  @lbruno69 on it

[2022-02-02 15:36] Haarolean commented on #779
@kewitschka on it

[2022-02-02 17:05] jonasgeiregat commented on #1385
I can tackle this one!

[2022-02-03 05:09] igimot commented on #1441
@Haarolean ?

[2022-02-03 08:23] agolosen commented on #1523
Always returns to the first page after viewing/editing a topic or schema from the page 2, 3 etc.
  Steps to Reproduce:
1. Go to Topics (Schemas) - Page 2
2. Click a topic(schema) for viewing it (editing)
3. Return to the Topics(Schemas) overview page
4. Page 1 is displayed, not Page 2

Expected behaviour:
Page 2 is still displayed when you returned to the list.

[2022-02-03 10:29] #1534 closed

[2022-02-03 10:41] Alepacox commented on #1521
I'm glad to hear that, thank you so much!

[2022-02-03 11:04] Haarolean commented on #1441
@igimot as soon as there are any, I'll let you know.

[2022-02-03 11:06] #1508 closed

[2022-02-03 19:39] Haarolean commented on #1441
@igimot I need you to share the details how to create a dummy google oauth app for this purpose. My setup doesn't work the same way for some reason. Which scopes have you enabled at google cloud? Do you pass `SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_SCOPE` variable to kafka-ui itself? I need more details to reproduce and test the solution. If you could provide a step-by-ste pinstruction,

[2022-02-03 20:08] giom-l commented on #1501
Sorry for the delay, I just tested it and it's OK :)

[2022-02-03 20:09] Haarolean commented on #1501
glad it works! so you're on 0.3 now?

[2022-02-03 20:17] giom-l opened #1544 "[Bug] Export of JSON message to clipboard/file does not provide proper JSON"
Whenever I want to copy an event to my clipboard (JSON format) (eg. to use it in my IDE for analyzis), I expect to get a proper json content.
However, it is currently having escape backslashes and surroundings double quotes, which makes it not parseable by my IDE (also less readable from my POV)

Using https://jsonformatter.curiousconcept.com/#,
I checked that this JSON is compliant with RFC-8259

[2022-02-03 20:20] giom-l opened #1545 "[Feature] Feedback to the user when a message content is copied to clipboard"
When I copy a message to my clipboard, there is no clear indications that it is done.
Obviously, I can paste it wherever I want.

But I'd find nice to have some notifications anywhere that would say me "message copied to clipboard" then disappears some seconds later.

Version tested : ([8a7399b](https://github.com/provectus/kafka-ui/commit/8a7399b))

[2022-02-04 09:40] Haarolean commented on #1545
Hey, thanks for the suggestion. Definitely will do :)

[2022-02-04 09:43] Haarolean commented on #1544
That seems like a bug, we previously had something close in a preview as well.

[2022-02-04 11:25] Haarolean commented on #1449
Yes, the aforementioned solution is a viable one. The only downside to this is that your zookeeper status icon will be red.

[2022-02-04 11:28] #1449 closed

[2022-02-04 12:07] Haarolean opened #1549 "Add the logo"
use figma for a reference

[2022-02-04 12:22] #1533 closed

[2022-02-04 12:47] tzieleniewski opened #1550 "[Bug] Support older kafka versions (v0.11.0)"
**Describe the bug**
There is no topic list displayed.
But when I display the consumers list I am able to navigate to topic for this consumer group.

There is a warning in logs
[code]

**Set up**
Version:0.3.3
Run through docker compose
[code]

**Steps to Reproduce**

**Expected behavior**
See list of topics.

**Logs**
[code]

**Additional context**

[2022-02-04 13:09] Haarolean commented on #1550
Hi,

Could you please share:
1. Which version are you using? There's a link to a commit in the upper left corner of the app
2. A screenshot with the topics page with enabled browser console (network tab)?

[2022-02-04 13:20] Zorii4 opened #1552 "Improve test coverage"
**Describe the bug**
Files are not completely covered with tests
src/components/Topics/Topic/Details/Details.tsx
src/components/Topics/Topic/Details/Overview/Overview.tsx

After refactored this components need update some test coverage.

**Expected behavior**
100% covered

[2022-02-04 13:22] #1535 closed

[2022-02-04 14:22] JoeryH commented on #1347
hey, the latest version works for me! Thank you for the quick fix!

[2022-02-04 15:08] Haarolean commented on #1347
@JoeryH glad it works!

[2022-02-04 17:48] agolosen opened #1554 "Inconsistency in stats of Topics and Brokers [Bug]"
**Describe the bug**

Stats of Brokers and Topics look different for similar parameters (URP and ISR).
**Set up**

https://www.kafka-ui.provectus.io/ui

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to Brokers page, look at stats of Partitions
2. URP has no dot; neither In Sync Replicas, also it written in full name (see attachment)
3. Go to Topics -> Click some topic name, look a

[2022-02-04 20:34] #1465 closed

[2022-02-04 21:29] tzieleniewski commented on #1550
Howdy,

Please let me know if I can provide more info.

https://github.com/provectus/kafka-ui/commit/38c4cf7

<img width="1536" alt="image" src="https://user-images.githubusercontent.com/2690500/152605393-a1b41a0f-b473-4b8d-a729-a3aa9850e099.png">

[2022-02-05 08:07] #1499 closed

[2022-02-05 15:36] sandrospadaro opened #1555 "[Feature]Use an unprivileged user in the dockerfile"
### Is your proposal related to a problem?

Use an unprivileged user in the dockerfile

### Describe the solution you'd like

Change the [Dockerfile](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-api/Dockerfile) as follows:

[code]

### Describe alternatives you've considered

### Additional context

[2022-02-05 22:19] manifiko opened #1556 "Kafka with SSL doesn't work"
Hello.
Try connect to three kafka brokers.
 KAFKA_CLUSTERS_0 have not security and all ok
KAFKA_CLUSTERS_1 and KAFKA_CLUSTERS_2 have SSL.
 in docker compose add certs and all configs.
as a result, kafka without ssl is only connected, two othert crash with exception
**Caused by: org.apache.kafka.common.errors.ClusterAuthorizationException: Cluster authorization failed.**
ofset explorer and conducto

[2022-02-06 09:12] 5hin0bi opened #1558 "[Bug] building submodules cannot be built without version set"
Because of recent release workflow change building of sub modules became a bit painful. Need to resolve it.

[2022-02-07 04:37] maratgaliev commented on #1452
@vdanylenko hey! Any updates here? What's the status on this issue?

[2022-02-07 04:37] maratgaliev commented on #1402
@vdanylenko hey! Any updates here? What's the status on this issue?

[2022-02-07 09:48] Haarolean commented on #1439
https://github.com/provectus/kafka-ui/issues/1230#issuecomment-992288752

[2022-02-07 09:48] #1439 closed

[2022-02-07 09:59] Haarolean commented on #1554
#1268 ?

[2022-02-07 10:02] Haarolean commented on #1550
Thanks. Which kafka are you using? There are some problems with connecting to your cluster:
`kafka-ui  | org.apache.kafka.common.errors.UnsupportedVersionException: Attempted to write a non-default includeSynonyms at version 0`
`kafka-ui  | org.apache.kafka.common.errors.UnsupportedVersionException: The broker does not support DESCRIBE_LOG_DIRS`

[2022-02-07 10:40] #1558 closed

[2022-02-07 11:50] Haarolean commented on #1555
Hey, thanks for the suggestion. I've considered this but got lost in other stuff :)

[2022-02-07 12:57] tzieleniewski commented on #1550
Howdy we are using 2.8.0

[2022-02-07 14:39] fee1good opened #1566 "[Bug] Can't create the topic"
**Topic creation**

Hey guys, can't create a topic, probably FE bug, check the gif
ua  — `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0`

![kafka_ui_bug](https://user-images.githubusercontent.com/16759866/152808603-8e54e2bb-c800-48f0-9fcd-7a83a7b7cadf.gif)

[2022-02-07 14:42] Haarolean commented on #1566
Hey, thanks for reaching out!

That version is outdated, there were hotfixes in next minor versions.

Please try 0.3.3 or even better `:master` if possible.

Let me know how it goes :)

[2022-02-07 14:42] #1566 closed

[2022-02-07 14:50] Haarolean commented on #1550
Thanks, we'll take a look into this.

[2022-02-07 14:58] Haarolean commented on #1550
Btw, how do you run the kafka itself? Docker/bare metal? If docker, which image name & version is it?

[2022-02-07 15:20] Haarolean opened #1569 "del"
del

[2022-02-07 15:28] Haarolean commented on #1556
Hi, thanks for reaching out.

We've implemented SSL on kafka's side support within #1568.
Once merged, you'll be able to pull `master`-labeled image.

The issue stays open until the PR is merged.

Let me know if you more questions!

[2022-02-07 18:49] vdanylenko commented on #1402
Can't reproduce this one on the master.

[2022-02-07 18:58] tzieleniewski commented on #1550
@Haarolean sorry but I had provided you with wrong version number.
I've checked with other tool and it indicated that Kafka version is v0.11.0.
Perhaps this is an issue.
I got mislead by the version displayed in the application log.

[2022-02-08 09:37] Haarolean commented on #1550
@tzieleniewski oh wow! I wanted to ask you to double check the version, but noticed the same thing in logs as you did and decided not to.
Yeaah, that's old as dirt. Would you consider upgrading?

[2022-02-08 09:40] Haarolean opened #1572 "[Bug] Clicking 'produce message' on some avro-schemed topics breaks"
**Describe the bug**

Clicking 'produce message' on some avro-schemed topics produces 502.

**Set up**
docker, latest master

**Steps to Reproduce**
Steps to reproduce the behavior:

1. set up reddit connector
2. go to topic reddit-posts-avro
3. click 'produce message'
4. ???
5. PROFIT

**Expected behavior**
should work fine

**Screenshots**

**Additional context**

[2022-02-08 09:41] Haarolean commented on #1444
To do: create 3 buttons

[2022-02-08 09:49] Haarolean commented on #906
Search and pagination has been implemented within #1208 and #1191.
Leaving this for filtering implementation in 0.5.

[2022-02-08 09:52] #906 closed

[2022-02-08 09:57] tzieleniewski commented on #1550
@Haarolean would like that, but it does not depend on us, unfortunately.

thank you and take care

[2022-02-08 10:00] Haarolean commented on #1550
@tzieleniewski supporting such an old version would be a pretty huge load on development, if even possible (I dunno which APIs are present for this version). Unfortunately we don't have a bandwidth for this, but will consider it in the future.

Best wishes!

[2022-02-08 12:01] devsinghnaini commented on #1390
Hi @Haarolean  we are also facing issue in the environment where no external internet connectivity. Kafka-ui UI is only coming up for us.
There is no way we can build jar from the source code with css/js as no option is available.  can you please tell when can we expect this issue to be fixed?

[2022-02-08 16:54] Haarolean commented on #666
Done within 0.3.

[2022-02-08 16:54] #666 closed

[2022-02-08 19:10] Haarolean commented on #1390
@devsinghnaini hey, thanks for the feedback. Yes, this is planned and will be implemented for sure. I suppose 1-2 weeks.

[2022-02-09 09:20] #1569 closed

[2022-02-09 09:22] #929 closed

[2022-02-09 09:22] #1556 closed

[2022-02-09 09:23] Haarolean commented on #1556
An example is located [here](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml).

[2022-02-09 09:24] Haarolean commented on #929
An example is located [here](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml).

[2022-02-09 09:24] Haarolean commented on #779
An example is located [here](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml).

[2022-02-09 11:07] manifiko commented on #1556
Hi, no changes on my side.
I tried to set pass like file containing the password, but only get error:
[code]
After that return pass like string, and keep same error like first message

**docker-compose**
version: '3'

services:
  kafka-ui:
    image: provectuslabs/kafka-ui:master
    container_name: kafka-ui
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ./cert:/opt/java/o

[2022-02-09 12:46] #1512 closed

[2022-02-09 13:10] Haarolean commented on #1556
@manifiko Mind hoping on our discord? I'll explain how to set it up with your configuration.
https://discord.gg/4DWzD7pGE5

[2022-02-09 14:59] #1555 closed

[2022-02-09 15:01] thegiantbeast commented on #1344
@Haarolean really sorry for the long response delay.

But I think what @vdanylenko purposed will solve my use-case because my main issue is that I need to fill at least 2 fields, the message value and the headers. So when I try to send like 2 or 3 messages with the exact same headers but different values it gets a bit time consuming to click "produce message" button, fill the fields again, etc.

H

[2022-02-09 16:19] Haarolean opened #1582 "Build fails on Windows™"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1557

<div type='discussions-op-text'>

<sup>Originally posted by **myersdennis94** February  6, 2022</sup>
I am interested in contributing to this project and getting into open source. I am trying to build the app according to the instructions in the README but my build is crashing. The console output is below, if anyone can help

[2022-02-10 06:58] #1545 closed

[2022-02-10 07:43] 5hin0bi commented on #1528
Implemented in a metadata mode. Since we use spot instances this mode is surely enough. TF module for using it in SQS to support on demand instances in future is WIP.

[2022-02-10 07:43] #1528 closed

[2022-02-10 12:07] #1490 closed

[2022-02-10 12:15] Haarolean commented on #1344
@thegiantbeast thanks for the feedback!

[2022-02-10 12:24] #1009 closed

[2022-02-10 15:20] Haarolean commented on #1386
Topic creation:
<img width="541" alt="image" src="https://user-images.githubusercontent.com/1494347/153438290-dfc64d0e-8cd6-4235-8ec5-4d16f2df39a3.png">

[2022-02-10 15:33] Haarolean commented on #942
Depends on #442, at least.

[2022-02-10 15:36] Haarolean commented on #206
Will be done within #942

[2022-02-10 15:36] #206 closed

[2022-02-10 15:51] Haarolean commented on #1052
@Dekshut is the solution from #1545 you implemented reusable and suitable for these purposes?

[2022-02-10 15:59] Haarolean commented on #1076
Consider implementing this within #753

[2022-02-10 17:46] Haarolean commented on #1168
TODO: Update documentation after #1109

[2022-02-11 12:22] Motherships opened #1587 "[Bug] Get rid of `react-hooks/exhaustive-deps` errors"
**Describe the bug**

I've turned on react-hooks eslint plugin in my PR as it helps to reduces cognitive load on me and found some bugs

We have a huge amount of incorrect uses of `deps` in hooks
In react terms it leads to bugs

I tried to fix it by myself - but it's a big amount of work and leads to some tests failing and some unexpected behaviors

**Set up**

Version: 3.3
Add `react-hooks` plugi

[2022-02-11 12:33] #1069 closed

[2022-02-11 12:40] #1315 closed

[2022-02-11 12:53] angeloxx commented on #1466
I add a feature request about it: our Kafka cluster uses Active Directory for authn/authz and the user should be able to do what its user is granted to. The kafka-ui should use the provided credential to connect to the cluster using SASL_SSL.

[2022-02-11 13:12] Haarolean commented on #254
#301

[2022-02-11 13:12] #254 closed

[2022-02-11 13:19] Haarolean commented on #1466
@angeloxx thanks for the suggestion, but that's totally another feature: #753

[2022-02-11 13:40] angeloxx commented on #1466
The #753 plans to manage RBAC on the tool, this request is to pass-thru authentication and use providede credential to access to the cluster.

[2022-02-11 13:47] Haarolean commented on #1466
@angeloxx ah, got you. Please raise a new issue

[2022-02-11 15:57] montebove opened #1591 "Specify distinct image tag version for helm chart"
**Describe the bug**
Trying to upgrade to last 3.3 version after the kafka-ui started, when trying to access to the Web UI  I get immediately disconnected and in containers log I see these lines:
`15:45:34.875 [parallel-1] DEBUG com.provectus.kafka.ui.service.MetricsUpdateService - Start getting metrics for kafkaCluster: strimzi
15:45:55.587 [boundedElastic-1] WARN  com.provectus.kafka.ui.exceptio

[2022-02-11 16:03] 5hin0bi commented on #1591
Hi @montebove

Do you mean the service? If so, could you please share the details of the service that you have now after the changes? As yaml file if possible please.

[2022-02-11 16:12] montebove commented on #1591
Here is the service.yaml. With identical modifications works fine on old 2.0 version. I changed extension to .txt because .yaml it's no supported  by github
[service.yaml.txt](https://github.com/provectus/kafka-ui/files/8050027/service.yaml.txt)

[2022-02-11 16:15] Haarolean commented on #1591
The warning you mentioned itself shouldn't be a problem itself.

[2022-02-11 16:20] 5hin0bi commented on #1591
@montebove thank you. Do I understand it correctly: as soon as the load balancer is up, you are trying to access the webui via the load balancer hostname and port 80?

[2022-02-11 16:46] 5hin0bi commented on #1591
@montebove if you have time we could jump into our discord to discuss the situation in more details. Just let me know if it's OK with you.

[2022-02-11 22:02] montebove commented on #1591
SOLVED:
There is a problem in the chart but not a real bug. I was using last helm chart version but as Kubernetes download new images only if it is a different version as ifnotpresent is specified I actually used always the old 2.0 version docker image. Forcing deployment to download the image all started to work. The problem originated from the fact I previously, some months ago,  installed the 2

[2022-02-11 22:07] Haarolean commented on #1591
@montebove thank you for the info. Glad it works. We'll take a look.

[2022-02-13 11:08] #1491 closed

[2022-02-13 11:24] #1591 closed

[2022-02-13 15:18] angeloxx opened #1597 "Use the logged user-provided credentials to login to the Kafka Cluster"
### Is your proposal related to a problem?
In some environments the kafka cluster is integrated with external identity provider (Active Directory or LDAP) and Web UI (kafka-ui) should apply the same restriction/access level, in order to manage ACLs in a single point (the identity provider). On Kafka side is implemented SASL_SSL.

### Describe the solution you'd like
It would be useful if Kafka-UI

[2022-02-14 10:27] #1492 closed

[2022-02-14 10:44] iliax commented on #1572
error occurs when converting avro schema to json schema (stackoverflow in AvroJsonSchemaConverter)
example failing schema
[code]

[2022-02-14 14:13] #1554 closed

[2022-02-14 18:29] Haarolean commented on #1316
It's not

[2022-02-14 19:56] omh1280 opened #1602 "[docs] Update/fix documentation where needed"
**Describe the bug**
After setting up my local dev environment, I've noticed some errors in the documentation. I'll go through and fix them in a PR; this issue is to track these errors.

[2022-02-14 19:56] omh1280 commented on #1602
Claim

[2022-02-14 19:58] Haarolean commented on #1602
@omh1280 Hey,

 sure, would be nice to get it updated.

Thanks

[2022-02-14 20:19] schnells commented on #1602
I also saw some documentation linking errors, this one for example:

[- [Docker-compose files](documentation/guides/yaml-description.md)
leads into 404](https://github.com/provectus/kafka-ui/blob/ce8627ea59be60367c3d824375dd3feca6f8479a/README.md?plain=1#L72)

Are you gonna fix those too? If not I could also contribute via PR

This leads into an 404

[2022-02-14 22:29] mam8270 commented on #389
@gemanosin confirmed this now works with okta. Thanks

[2022-02-15 08:22] 5hin0bi opened #1604 "[Bug] Need to fix naming of release and tag"
Need to name release and tag as it was previously.
[code]

[2022-02-15 10:13] 5hin0bi opened #1606 "[Bug] Fix workflow for documentation"
Documentation is not triggered due to incorrect path filters. Need to fix.

[2022-02-15 10:48] 5hin0bi opened #1608 "[Feature] Add workflow to check workflows in .github/workflows/**"
Currently we have required job build-and-test for different paths that pull requests affect.
However, we lack the job for changes in workflows path and merges are possible only with admin privileges.
The task is to add the workflow that will contain build-and-test job for changes in .github/workflows/** path.

[2022-02-15 11:01] #1606 closed

[2022-02-15 16:48] victornovy opened #1612 "Save "Show internal topics" preference"
### Is your proposal related to a problem?

Always when i click to show topics the preference for not "show internal topics" is selected

### Describe the solution you'd like

I would want to save my preferences for not have to click on "show internal topics" all times I enter to view topic

![simulation](https://user-images.githubusercontent.com/10718354/154108740-4a5b983e-a2c7-4cf3-bbf6-7e11cf19

[2022-02-15 17:07] Haarolean commented on #1612
Hi, thanks for reaching out.

We'll take a look into this.

[2022-02-16 07:10] #1544 closed

[2022-02-16 09:25] pikhovkin opened #1613 "TopicNotFound upon creating a topic"
**Describe the bug**

A topic is not created from the first time in KRaft mode. Most of the time. Sometimes a topic is created immediately.

**Set up**
![изображение](https://user-images.githubusercontent.com/630071/154234076-0f70bc96-4809-4c39-8498-eddd531b4006.png)

**Steps to Reproduce**
Steps to reproduce the behavior:

![изображение](https://user-images.githubusercontent.com/630071/154232665-

[2022-02-16 09:43] Haarolean commented on #1613
Hey, thanks for raising the issue.

Could you share the details of a red (failed) request in network tab of browser's developer console?

[2022-02-16 09:50] pikhovkin commented on #1613
@Haarolean
![изображение](https://user-images.githubusercontent.com/630071/154239054-ccf0dea7-3df4-4942-9fff-c9f20bc33d79.png)
![изображение](https://user-images.githubusercontent.com/630071/154239075-8ed8f17a-3692-4061-9e3c-88f416d41523.png)

[2022-02-16 10:07] Haarolean commented on #1613
@pikhovkin is it actually not created at all or are we just accessing it too early before it is actually created?

[2022-02-16 12:33] sama8 commented on #478
If relevant -> [SAML Jackson](https://github.com/boxyhq/jackson)

[2022-02-16 13:47] 5hin0bi opened #1615 "[Bug] fix sonar scans"
Sonar scans were broken after recent workflow updates. Need to fix it.

[2022-02-16 14:58] #1509 closed

[2022-02-16 15:25] #1615 closed, assigned to 5hin0bi

[2022-02-17 09:38] erik93slash opened #1619 "[Feature] Reset consumer group offset"
### Is your proposal related to a problem?

Sometimes it is useful to manipulate offsets for a consumer group.
Kafka provides the command to reset the offset for a specific consumer group, so it

### Describe the solution you'd like

A so

### Describe alternatives you've considered

### Additional context

This documentation might be useful:

[2022-02-17 10:11] Haarolean commented on #1619
Hey,

thanks for reaching out!

This feature is actually present. Once you click on a consumer group, there's gonna be a sandwich menu with three dots in the top right corner with "Reset offset" button there.
Isn't this behaviour clear? How can we improve this?

[2022-02-17 10:15] #897 closed

[2022-02-17 10:19] madrisan opened #1620 "Hyphens in dashboards names should not be treated as carriage return"
**Describe the bug**

In the menu to the left side the dashboards names containing an hyphen are split in two lines.
[code]
We should see here `silos-kafka` in a single row
[code]

**Set up**

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Set in the helm values `KAFKA_CLUSTERS_0_NAME` as shown in the following code snippet:
[code]
2. Look at the UI

**Expected behavior**

The name sh

[2022-02-17 10:21] iliax commented on #897
@Schiavi91 problem should be fixed with PR https://github.com/provectus/kafka-ui/pull/1593 . Currently if you have schemaRegistry specified in your config we will first try to deserialize message with schemaregistry formatter (avro/protobuf/json-schema) and if it is not possible -  fallback to string formatter. So, every message will be present in response.

[2022-02-17 10:26] iliax commented on #1444
Need to implement frontend

[2022-02-17 11:01] erik93slash commented on #1619
My bad, actually I haven't noticed the sandwich menu.
An improvement might be to make that command more visible, but it is just a matter of UI.

Thank you for your help!

[2022-02-17 11:31] jaehyeon-kim opened #1621 "Avro messages are not shown correctly"
**Describe the bug**

Avro messages are not shown correctly.

**Set up**

Use `provectuslabs/kafka-ui:0.3.3` image. Use Apicurio registry as schema registry with the version that's compatible with Confluent schema registry - `registry:8080/apis/ccompat/v6`

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run docker compose
2. Create Debezium connector with AvroConverter

[code]

[2022-02-17 11:38] jaehyeon-kim commented on #1621
Please close it as it's fixed after changing `KAFKA_CLUSTERS_0_SCHEMAREGISTRY` as following.

[code]

[2022-02-17 11:38] #1621 closed

[2022-02-17 12:21] Haarolean commented on #1179
a working example with Apicurio: #1621

[2022-02-17 12:21] #1179 closed

[2022-02-17 13:25] Haarolean commented on #1619
We'll consider something else if we'll get more questions about it L)

[2022-02-17 15:46] #1316 closed

[2022-02-17 16:19] Haarolean opened #1622 "Support JVM hot swap for `spring boot:run`"
Probably missing spring-devtools at least

[2022-02-17 16:44] 5hin0bi opened #1625 "Trigger backend workflow if pom.xml in the repo root is changed"
pom.xml
mvnw?
mvnw.cmd?

[2022-02-18 08:47] #1625 closed

[2022-02-18 09:32] #1549 closed

[2022-02-18 20:28] keeperUA opened #1640 "Ingress resource will not survive k8s upgrade from 1.21 to 1.22"
**Describe the bug**

Ingres template has wrong version logic
networking.k8s.io/v1beta1 - this api version is [depricated since 1.19 and totaly removed since 1.22](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122)
Current logic will work fine for new setup on kubernetes v1.22, but it completely broken when you try upgrade kubernetes from v1.21 to v1.22. Because setup

[2022-02-18 20:29] Haarolean commented on #1640
@keeperUA hey, thanks for reporting!

[2022-02-18 20:32] Haarolean commented on #1640
@keeperUA you def can open a PR, you just have to fork a repo first, make a branch there and propose the changes to the base repo. Or you can even do it via github UI (editing a specific file will fork a repo for you).

[2022-02-18 20:32] keeperUA commented on #1640
ok, i will try

[2022-02-19 12:57] #1354 closed

[2022-02-19 12:57] #927 closed

[2022-02-19 12:57] #1393 closed

[2022-02-19 12:57] #1399 closed

[2022-02-21 09:27] workshur opened #1644 "Improve SonarCloud metrics"
**Describe the bug**
Sonar shows 14 code smells. Try to improve this metric
[Sonar](https://sonarcloud.io/project/issues?resolved=false&types=CODE_SMELL&id=com.provectus%3Akafka-ui_frontend)

**Expected behavior**
Some smells are fixed

[2022-02-21 09:40] #1640 closed

[2022-02-21 10:55] #1608 closed

[2022-02-21 11:53] #1620 closed

[2022-02-21 13:12] #867 closed

[2022-02-21 13:56] #1521 closed