[2022-07-04 08:16] armenuikafka opened #2240 "After removing the topic system needs refresh for opening another topic"
**Describe the bug**
In case of removing the topic, refresh should be done to open another topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Search Topics
3. Open one Topic
4. Select remove the Topic form menu
5. Press another Topic from searched list to open

**Expected behavior**
Topic profile should open witho

[2022-07-04 08:38] armenuikafka opened #2241 ""Min In Sync Replicas *" field is empty with editing the Topic"
**Describe the bug**
"Min In Sync Replicas *" field is empty with editing the Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Create a Topic
3. Make sure "Min In Sync Replicas *" field is filled
4. Edit the Topic

**Expected behavior**
"Min In Sync Replicas *" field should keep the value

**Screenshots**
<img w

[2022-07-04 08:57] armenuikafka opened #2242 "Edit Topic: No success message about changing the "Replication Factor *""
**Describe the bug**

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Edit one Topic
3. Increase "Replication Factor *" value

**Expected behavior**
The success message should appear about increasing the value

**Screenshots**
<img width="1718" alt="replication factor change" src="https://user-images.githubusercontent

[2022-07-04 09:20] armenuikafka opened #2243 "Edit Topic: Validation message about "Replication Factor *" acceptable data"
**Describe the bug**
Could be better to have validation message about accepted value for Replication Factor * field

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Edit a Topic
3. Change the value of "Replication Factor * " field to be < = 0

**Expected behavior**
Could be better to have information: Value should be

[2022-07-04 20:34] #630 closed

[2022-07-05 08:00] aashishchhabra opened #2245 "Notifications/alerts for consumer lag"
### Is your proposal related to a problem?
The users have to log in to Kafka UI for checking lag for critical consumer groups. It would be great to have this feature where the page having consumer groups state and lag could also have alerts setup for SMTP / Telegram or other channels.

### Describe the solution you'd like
There could have be a Notification Channels page where multiple channels can

[2022-07-05 08:55] Haarolean commented on #2197
#2152

[2022-07-05 17:41] nikobearrr commented on #2224
I am using the latest version 0.4.0
Is there a newer one?

[2022-07-06 05:17] Haarolean commented on #2224
There's no major release out, but this has been implemented later (#705), so you can try `master` labeled image instead. Or you can wait for 0.5 :)

[2022-07-06 05:21] Haarolean commented on #2212
Yes, yes, and, the same way, via labels.

[2022-07-06 07:29] Haarolean opened #2250 "Map ACLs to RBAC permissions"

[2022-07-06 07:30] #2241 closed

[2022-07-06 09:37] ElectricFiras opened #2251 "Can't create connectors"
**Describe the bug**
When I try to create a new connector it gives me an error with the message "Invalid configuration" although it was working before.

I use docker-compose with these configurations

`version: '2'
services:
  kafka-ui:
    image: provectuslabs/kafka-ui:master
    container_name: kafka-ui
    ports:
        - "9090:8080"
    restart: always
    depends_on:
        - zookeeper

[2022-07-06 09:39] maka4h commented on #930
Any news about this? Any plan to fix?

[2022-07-07 06:48] Haarolean commented on #2251
Hi, that's the response we get from kafka-connect itself. Have you tried checking `kafka-connect-01` container logs?

[2022-07-07 07:43] Mohammad-Faris commented on #2251
Same problem here. it show me message "Connector with name .. already exists" but I don't have any connector yet.
![Screen Shot 2022-07-07 at 10 40 41 AM](https://user-images.githubusercontent.com/81678121/177719571-c13a7daf-fdb4-4e43-9bb5-8329776e9501.png)

[2022-07-07 07:47] flover97 commented on #2251
I had the same problem when I took the latest tag, after which I upgraded to the master tag and got the same error like in this issue =((

[2022-07-07 11:04] Diyaa1 commented on #1775
When will this be released :/

[2022-07-07 15:50] #1775 closed

[2022-07-08 06:57] flover97 commented on #2251
can you give location for volume?

[2022-07-08 09:19] hyzyla commented on #2162
I will try to fix that issue ✋

[2022-07-08 10:33] Haarolean commented on #2162
hey, thanks for the interest, I've assigned the issue to you

[2022-07-08 11:45] germanosin commented on #2162
I think this should be formated locale-based. You could use Date.toLocaleDateString(). @workshur any suggestions?

[2022-07-08 11:47] Haarolean commented on #2162
that's the next step (#2163). At this point it'd be nice to see dd.MM

[2022-07-08 12:02] germanosin commented on #2162
I think we could use localestring for now and then switch to configurable version

[2022-07-08 12:03] Haarolean commented on #2162
@hyzyla as far as I remember, the timestamp is being formatted on frontend. Can you format it with taking user browser's preferences into consideration?

[2022-07-08 13:40] Haarolean opened #2253 "KSQL breadcrumb capitalization"
<img width="163" alt="image" src="https://user-images.githubusercontent.com/1494347/178003376-a95ac33b-b6eb-4d79-b369-f66363bd7486.png">
ksqldb case is weird itself, also tables/streams do not start with a capital letter.

[2022-07-08 13:50] hyzyla commented on #2162
Yes, sure

[2022-07-08 14:15] Haarolean commented on #2251
Sorry, that's not related. The original issue was about invalid configuration error.

[2022-07-08 17:10] hyzyla commented on #2162
So, after some investigation, I found that formatting to user locale is challenging, because `dayjs` doesn't support [autodetecting](https://github.com/iamkun/dayjs/issues/732) locale. For that reason, I decided to just change locale to `DD.MM.YYYY`.

Let me know if you think [that snippet](https://github.com/iamkun/dayjs/issues/732#issuecomment-554383261)  is OK to use for detecting locale

[2022-07-09 11:33] Haarolean commented on #2162
@provectus/kafka-frontend need opinions

[2022-07-10 02:15] #1730 closed

[2022-07-10 18:35] madrisan commented on #1466
I was able to import our SSL certificate into the Java keystore but now I got all the time a login authentication error.
The cause is likely to be an incorrect configuration on my part.
Unfortunately I don't have access to the AD logs so it's very difficult to get the root cause and fix it: p

[2022-07-12 08:40] #1962 closed

[2022-07-12 17:02] armenuikafka opened #2260 ""Time to retain data (in ms)" value becomes deselected in case of submitting the empty Topic"
**Describe the bug**

"Time to retain data (in ms)" value becomes deselected in case of submitting the Topic without filling required fields

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Add a Topic
3. Make sure "7d" selected below "Time to retain data (in ms)" field
4. Press "Submit"

**Expected behavior**
"7d" shouldn’t be deselected

**Screensh

[2022-07-12 17:07] armenuikafka opened #2261 ""Value" field is focused with adding the Custom Parameter in a Topic"
**Describe the bug**
"Value" field is focused with adding the Custom Parameter in a Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Add a Topic
3. Press "Add Custom Parameter"

**Expected behavior**
Value field shouldn’t be focused

**Screenshots**

https://user-images.githubusercontent.com/104780608/178551325-f86dbc4e-166d-4131-a4ec-f89b5f950

[2022-07-13 08:25] armenuikafka opened #2262 "Keep the limitation error messages the same for all numerical fields in a Topic profile"
**Describe the bug**
Could be better to have the same error message about limitation for all number fields within Topic profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Add a topic
3. Fill not accepted value for "Number of partitions *", "Replication Factor *", "Min In Sync Replicas *" fields (value not in -2147483648 to 2147483647)

**Expect

[2022-07-13 08:49] armenuikafka commented on #2260
Will be done with https://github.com/provectus/kafka-ui/issues/1500

[2022-07-13 12:56] pravin-raha opened #2263 "Can't create topic when Basic Authentication is enable"
**Describe the bug**
Can't create topic when Basic Authentication is enable

**Set up**
My docker compose file
[code]

**Steps to Reproduce**

1. Enable basic authentication using above docker compose file
2. Try to create kafka topic under topic tab

**Expected behavior**
Topic should be created

**Screenshots**
![image](https://user-images.githubusercontent.com/18550421/178738317-ec3cc942-2977-4

[2022-07-13 13:13] #2212 closed

[2022-07-13 14:26] Haarolean commented on #1441
The image is available via `docker pull public.ecr.aws/provectus/kafka-ui-custom-build:1446`. We'll merge once we get at least one confirmed working case (besides mine).

[2022-07-13 15:07] pravin-raha commented on #2263
@Haarolean You got the login form, right?
Can you try producing messages as well?

[2022-07-13 15:16] madrisan commented on #1466
I think so. This project has not reached the 1.0 version so one can expect some minor issues, and having this feature available will permit other people to test it (or use it if it work just fine). IMHO.

[2022-07-13 15:21] Haarolean commented on #2263
Yes, I did. Yes, producing messages does work.
Your case seems weird, in this case either everything shouldn't work or everything should :)
Can you share the full compose file?
Also we can chat on our discord to make it quicker, if you want ofc.

[2022-07-13 17:17] Haarolean commented on #2263
Environment properties list has to be replaced with dashed list:
[code]

[2022-07-13 17:17] #2263 closed

[2022-07-14 13:12] kshpilchyna opened #2274 "[e2e] Add a Qase.io token for run automation tests"
Need to add variables:

QASE_API_TOKEN
QASE_PROJECT_CODE = KAFKAUI
QASE_RUN_ID
QASE_ENABLE = true

[2022-07-15 14:06] #1466 closed

[2022-07-17 07:44] ElectricFiras commented on #2251
it's something in docker-compose to copy files from the server into the docker container so it depends on your configuration

[2022-07-17 07:44] #2251 closed

[2022-07-18 02:13] #2224 closed

[2022-07-18 04:02] regain0001 opened #2282 "log4j Vulnerability fixed?"

[2022-07-18 08:00] Haarolean commented on #2282
#1240 #1238

[2022-07-18 08:00] #2282 closed

[2022-07-18 09:44] Haarolean commented on #2251
If anyone still has any problems, please open up a separate issue(-s). Thanks :)

[2022-07-18 10:04] workshur commented on #2162
I would suggest getting rid of `dayjs`. We only use it in two places. So, let's create an helper function to parse the server date and convert it into a localized format.

[code]

[2022-07-18 13:53] kshpilchyna opened #2287 "[e2e] Prepare steps for topic"
create a separate Class with steps src/test/java/com/provectus/kafka/ui/steps/kafka (TopicSteps.java)

 1. create steps such createTopic, deleteTopic, isTopicExist etc
See tests that should be automated https://docs.google.com/spreadsheets/d/1Vf6yZSqCYwh33t-pTy1PiYewk-jFSfPZppzIuUVVyO0/edit#gid=0
2. Remove all sleeps, if needed to some wait, all asserts should be in test

Refactor test class src/t

[2022-07-18 13:57] kshpilchyna opened #2288 "[e2e] Prepare steps for Schema Registry and Connector"
create a separate Class with steps src/test/java/com/provectus/kafka/ui/steps/kafka (SchemaSteps.java, ConnectorSteps.java)

1.  create steps such createSchema, deleteSchema, isConnectorExist etc
See tests that should be automated https://docs.google.com/spreadsheets/d/1Vf6yZSqCYwh33t-pTy1PiYewk-jFSfPZppzIuUVVyO0/edit#gid=0
2. Remove all sleeps, if needed to some wait, all asserts should be in tes

[2022-07-18 14:10] kshpilchyna opened #2289 "[e2e] Create all blank test methods"
Due to tests from Qase.io need to create a blank methods with annotation @AutomationStatus(status = Status.TO_BE_AUTOMATED)

1. For naming new class use name of suite from the Qase.io
2. create all methods , add annotation of @Suite and @AutomationStatus
3. Add methods in existing tests class if needed
4. Add annotation @CaseId
5. For new tests need to run tests and after a test will be created in

[2022-07-18 14:33] ozanonurtek commented on #287
@mskunt find a solution for docker-compose, instead of auth.type using AUTH_TYPE fixed my issue:
[code]

[2022-07-18 15:32] #2158 closed

[2022-07-18 15:39] Haarolean opened #2295 "[e2e] Get rid of asserts in helper classes"

[2022-07-18 18:39] hyzyla commented on #2162
Problem with toLocaleString is that function isn't not consistent within different browsers [1]. For example, I have "uk" locale, but Firefox decide to format in en-US, while Chrome format in some weird format 18/06/2022

1. https://stackoverflow.com/a/66578542

[2022-07-19 08:41] northboys opened #2297 "Failed to load large message"
**Describe the bug**
Hi,

I try to push large message to kafka, in the Kafka UI message not showing up on my screen.

<img width="1713" alt="Screen Shot 2022-07-19 at 15 25 41" src="https://user-images.githubusercontent.com/38155944/179705435-c0a7bae2-72af-43d0-ba38-044f24636118.png">

Kafka UI showing 3 messages consumed but message just displayed 2 offsets

my message size is 18 MB

[2022-07-19 10:47] Haarolean opened #2298 "Support multiple protobuf schema files"
### Discussed in https://github.com/provectus/kafka-ui/discussions/2249

<div type='discussions-op-text'>

<sup>Originally posted by **m-kay** July  6, 2022</sup>
According to the [docs](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/Protobuf.md) it is only possible to configure one schema file. However I have multiple schema files each with a different package so I'm not e

[2022-07-19 10:48] Haarolean commented on #2298
@m-kay hey, unfortunately, that's currently not possible to have multiple protobuf files, but we'll implement this in the future. Thanks for the suggestion!

[2022-07-19 10:48] Haarolean commented on #2298
related #2298

[2022-07-19 10:48] Haarolean commented on #2228
related #2298

[2022-07-19 11:17] #2297 closed

[2022-07-19 11:19] Haarolean commented on #1946
related
https://github.com/provectus/kafka-ui/issues/2297#issue-1309183097

[2022-07-19 11:38] workshur commented on #2162
From my point of view, there is no right solution. Let's wait until BE for the custom locale is ready. Let the user decide which format is more convenient for him

[2022-07-20 01:19] metalshanked opened #2302 "is there a way to disable the topic creation access?"
Hi,
We would like to preclude users from creating topics and were wondering if it is currently possible to disable topic creation in the UI via some config option?

[2022-07-20 04:59] armenuikafka commented on #2124
Please change the Breadcrumb component to be like in Figma:

<img width="1725" alt="breadcrumb component" src="https://user-images.githubusercontent.com/104780608/179900366-f0c18c4c-8da5-4c40-892a-a32d9b4fb9fa.png">

[2022-07-20 05:13] armenuikafka opened #2303 "Improve the Responsive view for Messages/Topic page"
**Describe the bug**
In case of manually editing the responsive view of the page, the design breaks and information overlaps

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
1. Navigate to Topics
2. Select the Topic
3. Turn to Messages
4. Try to edit the responsive view of the page manually

**Expected behavior**
All the information should be displayed fully and clear in case

[2022-07-20 05:26] armenuikafka opened #2304 "System redirects to Custom filters in case of editing the saved filter"
**Describe the bug**
In case of editing the saved filter, the system redirects to Custom filters instead of staying in Saved filters

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Open the Topic
3. Turn to Messages
4. Press "Add Filters"
5. Turn to Saved filters
6. Edit the existing filter
7. Press "Cancel" or "Save"

**Expected behavior**
System s

[2022-07-20 10:20] Haarolean commented on #2302
Hi, currently that's not possible, but within current release we're planning to implement role based access control (#753) which will allow to do just that. I'm closing this as a duplicate, please subscribe and upvote the original issue (#753).

[2022-07-20 22:15] raphaelauv opened #2306 "Implement ordering topics by Replication Factor"
### Which version of the app are you running?

provectuslabs/kafka-ui:30f836645de7635fffe13a4f24ad37965e4fb98c

### Is your proposal related to a problem?

I can't order the topics depending theses two columns

![Screenshot from 2022-07-21 00-15-47](https://user-images.githubusercontent.com/10202690/180091806-fd6bc730-2989-400a-9c63-7ce5b7c583ad.png)

[2022-07-20 22:19] raphaelauv opened #2307 "topic view - new columns : Retention Hours , Retention Bytes , Cleanup Policy"
### Which version of the app are you running?

provectuslabs/kafka-ui:30f836645de7635fffe13a4f24ad37965e4fb98c

### Is your proposal related to a problem?

I would like to see Retention Hours , Retention Bytes , Cleanup Policy and order topics on theses columns

something like this ->
![Screenshot from 2022-07-21 00-18-54](https://user-images.githubusercontent.com/10202690/180092172-b200c906-e6e0-

[2022-07-21 03:53] armenuikafka opened #2308 "No warning message about in use saved filter in case of deleting it"
**Describe the bug**
Possible to delete the saved filter although it's in use

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Select the Topic
3. Turn to Messages
4. Use the saved filter
5. Try to delete the used filter

**Expected behavior**
Should be shown warning message to announce that filter is in use at the moment when user try to delete it

[2022-07-21 03:55] armenuikafka opened #2309 "There is no validation about not accepted filter code within Topic/Messages/filtering"
**Describe the bug**
There is no validation about wrong data inputing into filter code for Messages filtering within Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Select the Topic
3. Turn to Messages
4. Add filters
5. Fill "Filter code" with any random data ("randomfilter")
6. Fill "Display name"
7. Save the filter
8. Press "Add filter"
9. T

[2022-07-21 11:15] kshpilchyna opened #2314 "[e2e] Setup selenoid for parallel running tests"
Set up selenoid
add parallel running tests

[2022-07-21 12:00] Haarolean opened #2316 "Fix allure links"
- e2e-checks workflo contains a job which should post a link but does not
- allure reports uploaded are not easily browsable (404s)

[2022-07-21 13:08] #1024 closed

[2022-07-22 06:53] joseacl opened #2317 "Make Ingress resource compatible with kubernetes versions lower than 1.19"
**Describe the bug**
The helm template file for ingress is checking that **APIVersions** contains **networking.k8s.io/v1**, but this capability is available in Kubernetes since the version v1.8 **but for NetworkPolicy resource and not for Ingress**. https://kubernetes.io/docs/reference/using-api/deprecation-guide/#networkpolicy-v116

So if you applied helm template with **--kube-version 1.18** for

[2022-07-22 13:45] Haarolean opened #2320 "Hide KC connectors' stacktraces into a spoiler"
Hide the stacktrace into a spoiler:
<img width="1291" alt="image" src="https://user-images.githubusercontent.com/1494347/180452189-f6240195-5c9b-4156-be91-95d4cdd8517b.png">
like this:
<img width="276" alt="image" src="https://user-images.githubusercontent.com/1494347/180452263-2e488170-9e68-4431-aa00-d9372bf8058d.png">

[2022-07-22 13:46] Haarolean opened #2321 "Do not display "null" as a stacktrace in KC"
Make it an empty space
<img width="689" alt="image" src="https://user-images.githubusercontent.com/1494347/180452422-6e0b8980-f470-4e87-881f-6ec3af2cbf07.png">

[2022-07-22 13:48] Haarolean opened #2322 "Do not display broker error as "none""
<img width="805" alt="image" src="https://user-images.githubusercontent.com/1494347/180452842-d2aa5e83-c2d4-4cad-a735-f87a2647fb46.png">

[2022-07-22 22:20] Haarolean opened #2323 "Initial messages loading is broken when there are too many messages"
no loading icon whatsoever

[2022-07-22 22:20] Haarolean commented on #2323
? Load via ws/chunked json

[2022-07-22 22:22] Haarolean opened #2324 "Topic view doesn't fetch consumer groups"

[2022-07-22 22:23] Haarolean opened #2325 "Make connectors table rows clickable"

[2022-07-22 22:24] Haarolean opened #2326 "KSQL: Parse output on backend"
and get rid of weird super wide tables as output

[2022-07-22 22:26] Haarolean opened #2327 "Implement a custom component for a table dropdown"
Current one is weird, clicking elements of one doesn't show any actions results

[2022-07-22 22:27] Haarolean opened #2328 "SR: Display additional fields in the table and overview"
SR table: display schema type and id as a separate columns
SR subject overview: display type

[2022-07-22 22:29] Haarolean opened #2329 "Consumer overview: topic label padding looks weird"
<img width="653" alt="image" src="https://user-images.githubusercontent.com/1494347/180576596-28801e82-bde0-474e-b9c0-5f8ff1339327.png">

[2022-07-22 22:31] Haarolean opened #2330 "SR: Rename "schema" to "subject""

[2022-07-22 22:33] Haarolean opened #2331 "Breadcrumbs overhaul"
1. Get rid of the title under the breadcrumb?
2. Make a breadcrumb bigger, like a title?
3. Make the behaviour of the breadcrumbs the same in all the views

[2022-07-22 22:34] Haarolean commented on #2331
#2253 #2124

[2022-07-22 22:38] Haarolean opened #2332 "Unify tabs placement"
e.g. connector overview page:
<img width="831" alt="image" src="https://user-images.githubusercontent.com/1494347/180577153-3eaa5d32-9d3a-4c99-b470-81db2759a803.png">
tabs are placed above the panes and the page looks empty and weird. Let's unify **all the views** with this approach:
<img width="671" alt="image" src="https://user-images.githubusercontent.com/1494347/180577197-385faf9c-1500-4fb0-83

[2022-07-23 06:38] joseacl commented on #2317
Hi @Haarolean @germanosin.

I've opened that issue because we're rolling out this tool in our clusters and due to the fact that we have clusters with different Kubernetes versions, we've realized the error described in the issue.

Currently, we're overriding the ingress template, so I've decided to create a PR https://github.com/provectus/kafka-ui/pull/2318 because it can happen to other users.
Lo

[2022-07-24 18:20] 9gl commented on #2322
Hey @Haarolean  , I'm interested in contributing to this issue, so before I start working on it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.

[2022-07-25 11:02] Haarolean commented on #2322
@9gl hey, the idea is to not display "none" if there's no error :) But it turns out it's a backend issue. If you wanna tackle any other frontend-related, you can check out [up for grabs](https://github.com/provectus/kafka-ui/projects/11#card-84437819) board.

[2022-07-25 11:03] Haarolean commented on #2317
Hey @joseacl, thanks for raising the issue, we'll take a look at the PR :)

[2022-07-25 11:08] Haarolean commented on #2245
Hey, thanks for reaching out.
We're planning on implementing this within #942. We'll consider adding a possibility to integrate with notification apps.

[2022-07-25 11:20] Haarolean opened #2335 "Topic actions dropdown menu items list is broken"
<img width="216" alt="image" src="https://user-images.githubusercontent.com/1494347/180766167-b34d86e7-3f39-49e3-9c1c-9c82bcf0499b.png">
padding/margin

[2022-07-25 11:23] Haarolean opened #2336 "Topic search results are empty after using topic actions"
1. Open up topic list
2. Use search to filter some topics
3. Clear messages of one topic from a dropdown menu
4. You get redirected to the same search view but there are no results
<img width="785" alt="image" src="https://user-images.githubusercontent.com/1494347/180766585-df36d315-1a89-4264-9cd9-4559f1460dd6.png">

[2022-07-25 19:20] armenuikafka opened #2340 "Search for consumers works not the same way as for other pages"
**Describe the bug**
Search for consumers works for each inputed letter and refresh needs for adding new letter, but for the other pages search keeps focused with filling letters

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Consumers
2. Input one letter into Search

**Expected behavior**
Search should stay focused to add a

[2022-07-26 09:46] Haarolean commented on #2309
we could try validating groovy code

[2022-07-26 20:43] Haarolean opened #2344 "Configure ldap beans manually"
Due to this exception:

[code]

We have to disable ldap healthchecks:
`MANAGEMENT_HEALTH_LDAP_ENABLED: "FALSE" `
Instead, let's configure beans when needed instead of using starter:
[code]

[2022-07-26 21:14] ekeric13 opened #2345 "Timestamp sorting seems incorrect"
When sorting by timestamp by newest first, cannot seem to return latest events. Instead the partition/offset is still prioritized.

<img width="1402" alt="Screen Shot 2022-07-26 at 2 06 49 PM" src="https://user-images.githubusercontent.com/6489651/181112848-a0c59fe8-1264-41b3-9d9b-c5c0fbde8610.png">

<img width="1222" alt="Screen Shot 2022-07-26 at 2 07 06 PM" src="https://user-images.githubuserco

[2022-07-26 22:41] ashevtsov-wawa opened #2346 "Web UI ignores SERVER_SERVLET_CONTEXT_PATH environment variable after #2153"
**Describe the bug**
Before #2153 was merged Kafka UI used to render pages using base path as set by `SERVER_SERVLET_CONTEXT_PATH` (i.e. `/kafka-ui` in our case).
After #2153 `index.html` returns links to resources without the base path

**Set up**
How do you run the app? Please provide as much info as possible:
Docker container created from `provectuslabs/kafka-ui:1b71ccb9755041e18ff540d5c5731824

[2022-07-27 06:09] armenuikafka opened #2347 "Purge Messages is not functional for the Topic messages"
**Describe the bug**
The messages of the Topic stay after Purge messages action

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Create a Topic
3. Set "Compact, Delete" for "Cleanup policy"
4. Produce a couple of messages for a Topic
5. Turn to Topics page
6. Select the newly created Topic
7. Press "Purge messages of

[2022-07-27 06:33] armenuikafka opened #2348 "Cancel action is not functional in case of Create/Edit/Copy Topic"
**Describe the bug**
Cancelling of the Topics Create/Edit/Copy is not working

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Create a new Topic / Edit the existing Topic/ Copy the existing Topic
3. Make some changes
4. Press "Cancel" button

**Expected behavior**
The changes should disappear, Create/Copy/Edit pages

[2022-07-27 06:43] gosforth opened #2349 "Why I'm getting Broker may not be available error?"
In server.properties config I have lines:

[code]

Zookeeper is running, Kafka is running. I can create topic with:

kafka-topics.bat --create --topic quickstart-events --bootstrap-server localhost:9092

I want to run Kafka-ui. So, I run docker desktop container:

[code]

But there's no connection and I'm getting error:
[code]

What can be wrong?
Regards

[2022-07-27 10:59] Haarolean commented on #2349
Hi,

a "localhost" in `KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS` property points at *container's* localhost, not your host machine one.

Here's [a guide](https://github.com/provectus/kafka-ui/discussions/1081) how to access kafka on your host machine.
Let me know if you have any other problems, or feel free to hop into our discord.

[2022-07-27 11:37] Haarolean opened #2350 "Rework messages search modes"
- Offset/timestamp modes depend on what's currently selected (newest or oldest first)
- clear all/submit are a button and a link which is weird, also their placements and etc
- newest/oldest first selector is the most important one but is located separately

https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=2053%3A6314

[2022-07-27 11:37] Haarolean opened #2351 "Implement containers' healthchecks for e2e"
https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-connectors.yaml
healthchecks for each container

+ modify [the workflow](https://github.com/provectus/kafka-ui/blob/master/.github/workflows/e2e-checks.yaml) to wait

[2022-07-27 12:20] #2039 closed

[2022-07-27 12:27] #2349 closed

[2022-07-27 13:39] #2317 closed

[2022-07-27 14:11] gosforth commented on #2349
Sorry, I do not get it. In the post you mention the solution is what I did: IP address of host where Kafka or Docker is (same in my scenario). But this is not working for me.

[2022-07-27 16:09] armenuikafka opened #2353 "No warning about filling the invalid data in case of editing the Schema / Producing the Message"
**Describe the bug**
It's possible to submit data filled not in {} in case of Schemas editing

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Select the Schema
3. Edit the Schema
4. Add the data after {}
5. Press "Submit"

**Expected behavior**
Warning should appear to say that invalid data was filled or sh

[2022-07-27 19:08] gosforth commented on #2349
OK, I've changed to:

`docker run -p 8080:8080 -e KAFKA_CLUSTERS_0_NAME=local -e KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=host.docker.internal:9092 -d provectuslabs/kafka-ui:latest`

I ping host.docker.internal and I get reply.
In config I have:

[code]

Tried as well 'localhost' and '127.0.0.1' - does not work

[2022-07-27 20:02] gosforth commented on #2349
Now:
2022-07-27 19:52:01,011 DEBUG [parallel-1] c.p.k.u.s.ClustersMetricsScheduler: Start getting metrics for kafkaCluster: local
2022-07-27 19:52:01,029 ERROR [parallel-1] c.p.k.u.s.MetricsService: Failed to collect cluster local info

[2022-07-28 10:02] Haarolean opened #2354 "Produce message validation fails for valid JSON schema with a reference"
1. Create a schema "test-key":
[code]
2. Create topic "test"
3. Produce a message into the topic
4. Observe an error:
<img width="525" alt="image" src="https://user-images.githubusercontent.com/1494347/181479209-a8dbea72-a34e-43a6-b227-e84753625a19.png">

[2022-07-28 10:04] Haarolean commented on #2353
Considering #2354 it seems like we have validation bound to producing messages. There should be one for creating/updating schemas as well.

[2022-07-28 10:10] Haarolean commented on #2347
The button has been hidden properly on topic overview page, but not from the dropdown action menu on topics list page.
#1542

[2022-07-28 10:20] Haarolean commented on #2346
Hey, thanks for reaching out. We'll take a look ASAP.

[2022-07-28 10:24] #1673 closed

[2022-07-28 18:40] rizvnn commented on #2184
I had a similar issue, try the following statement policy. This gives access to all actions and all resources, which should help diagnose the problem, then you can reduce the privileges by specifying actions and resources back in.
`{
      "Sid": "kafka",
      "Effect": "Allow",
      "Action": [
        "kafka-cluster:*"
      ],
      "Resource": "*"
 },`

[2022-07-29 10:40] Haarolean commented on #2349
@gosforth ping me on discord so we can take a look together

[2022-07-31 12:38] #2225 closed

[2022-07-31 12:38] #2199 closed

[2022-07-31 12:38] #2327 closed

[2022-07-31 12:38] #2335 closed

[2022-07-31 12:38] #2240 closed

[2022-08-01 03:50] armenuikafka commented on #2335
Fixed!

[2022-08-01 03:52] armenuikafka commented on #2240
Fixed !

[2022-08-01 03:53] armenuikafka commented on #2199
Fixed!

[2022-08-01 04:29] armenuikafka opened #2364 "Do not show pagination buttons in case of no much data"
**Describe the bug**
The "Previous" and "Next" buttons are exist all the time, we can remove them if there is only 1 page data

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Consumers

**Expected behavior**
We can remove the "Previous" and "Next" buttons

**Screenshots**

<img width="1725" alt="pagination" src="https://user-

[2022-08-01 04:36] armenuikafka opened #2365 "Only content data displayed with "Save as a file" and "Copy to clipboard" the Message"
**Describe the bug**
Only content data displayed with "Save as a file" and "Copy to clipboard" the Message

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Open the Messages tab for one Topic
3. Crete the Messages with Key, Content and Headers
4. Press the "Save as a file" / "Copy to clipboard" from menu

**Expected

[2022-08-01 04:42] armenuikafka opened #2366 "It's possible to save the filters with the same name for Messages"
**Describe the bug**
It's possible to save the filters with the same name for Messages

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Turn to Messages tab for any Topic
3. Press "+ Add Filters"
4. Turn to Saved Filters
5. Check the existing Filters
6. Add the filter with the same name

**Expected behavior**
Should

[2022-08-01 10:27] joseacl opened #2367 "Add the possibility to not specify the image.registry value"
**Describe the bug**
It's not a bug but an improvement on how the docker image of the kafka-ui application is built which will allow us to have less values in our deployment.

We're using that application in several environments (dev, qa, prod, etc...) for each environment we have configured docker/containerd to use a default mirror.
The fact that the image is using `.Values.image.registry` as man

[2022-08-01 13:39] Haarolean commented on #2367
@joseacl thank you. We'll take a look soon.

[2022-08-01 16:47] #2346 closed

[2022-08-01 16:48] Haarolean commented on #2346
Done, the fix is available in `master`-labeled image. We had to get rid of dynamic chunks loading but we'll think of something later.

[2022-08-01 16:49] Haarolean opened #2372 "Implement a full support for custom context path"
https://webpack.js.org/guides/public-path/

[2022-08-01 17:03] Haarolean commented on #2200
Fixed in #2312

[2022-08-01 17:03] #2200 closed

[2022-08-01 17:09] #2169 closed

[2022-08-01 17:10] Haarolean opened #2373 "FIx unstable e2e test"
it shouldn't depend on number of topics in any case
![image](https://user-images.githubusercontent.com/1494347/182204890-692395bf-0101-4ff8-8cc9-622179f470e8.png)

[2022-08-01 17:17] #1500 closed

[2022-08-01 17:17] #2260 closed

[2022-08-01 17:24] #1756 closed

[2022-08-01 17:40] Haarolean commented on #2324
duplciate of #2080

[2022-08-01 17:40] #2324 closed

[2022-08-02 08:38] gosforth opened #2374 "An existing connection was forcibly closed by the remote host"
Hi,

This is not the Kafka-ui issue but maybe someone could help me with that. I think this can be a problem why I cannot make Kafka-ui works.
I started Zookeeper, I started Kafka - both on localhost. Seems all is fine. But when I try to execute command:

zookeeper-shell.bat localhost:2181 ls /brokers/ids

I get error:

Connecting to localhost:2181
WATCHER::
WatchedEvent state:SyncConnected type:N

[2022-08-02 09:20] as93717913 opened #2375 "Smart filters multiple conditions not working"
**Describe the bug**

For Smart Filter, it will work for only one condition, like `value.eventData.dutyDepartment == "VQA"`
but when their comes multiple condition, second, third and other condition wouldn't work properly like `value.eventData.dutyDepartment == "VQA"  && value.eventData.moSapPlant =="123456"`

The second part `value.eventData.moSapPlant` will be ignored, the result will only match

[2022-08-02 13:18] #2367 closed

[2022-08-02 13:28] Haarolean opened #2378 "Make it possible to update helm chart without an actual app release"

[2022-08-02 13:29] Haarolean commented on #1002
@ekeric13 would be a good idea to ask around in our discord instead of a closed issue :)

[2022-08-03 08:37] #2242 closed

[2022-08-03 08:37] #2347 closed

[2022-08-03 08:37] #2348 closed

[2022-08-03 09:34] Haarolean commented on #2375
1. Fix character escaping for the filter query
2. New line symbols should be present as well

[2022-08-03 10:58] gosforth opened #2380 "Last try and I give up - how to start Kafka-ui"
In server.properties:

[code]

I get Kafka-ui for docker (no idea why 'host.docker.internal' not localhost makes difference - still same IP):

`docker run -p 8080:8080 -e KAFKA_CLUSTERS_0_NAME=local -e KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=host.docker.internal:9092 -d provectuslabs/kafka-ui:latest `

![obraz](https://user-images.githubusercontent.com/20846275/182591558-eee5b131-dad7-4d98-8be9-61057872

[2022-08-03 11:26] gosforth commented on #2380
I've just installed new version of Kafka - works. Just need to solve problem with:

zookeeper-shell.bat localhost:2181 ls /brokers/ids

By the way, it's interesting that many people, companies allegedly worked without any problems on a version that ... did not work :-)

[2022-08-03 11:50] #1963 closed

[2022-08-03 12:12] Haarolean commented on #2380
it shouldn't be and never is:

[code]
but it's platform-dependant thing, on linux `host.docker.internal:host-gateway` should be used.

[2022-08-03 12:12] Haarolean commented on #2380
So, is the problem solved?

[2022-08-03 12:20] gosforth commented on #2380
Yes, the problem was Kafka version that did not work correctly. Thank you very much indeed for your assistance!

[2022-08-03 12:21] Haarolean commented on #2380
which version was that?

[2022-08-03 12:23] gosforth commented on #2380
kafka_2.13-3.2.0
BWT:
On my host 'localhos't and 'host.docker.internal' returns same IP

[2022-08-03 12:29] Haarolean commented on #2380
This version should work fine.
It depends on the host OS, you might need to use host-gateway instead.

[2022-08-03 12:37] sgolod opened #2382 "Latest Ingress changes breaks compatibility with GKE clusters versions (GKE use -gke.XXXX as suffix for version)"
This changes breaks compatibility with GKE clusters versions (GKE use -gke.XXXX as suffix for version).
It can be solved when use semver comparision to full version ("1.19" -> "1.19.0-0")
[code]

_Originally posted by @sgolod in https://github.com/provectus/kafka-ui/issues/2318#issuecomment-1203893817_

[2022-08-03 12:53] Haarolean commented on #2382
Hey, thanks for reporting. We'll take a look.

[2022-08-03 13:11] #2380 closed

[2022-08-03 14:27] azatsafin commented on #2382
Hello @sgolod , thx for discovering & reporting this
could you please try to use helm chart from this [branch](https://github.com/provectus/kafka-ui/tree/issues/2382)
I don't have any GKE available to make final tests.

[2022-08-03 15:00] sgolod commented on #2382
You forgot to make same changes below (line 35 in this branch).
IMHO, but this patch is overcomplication. This can be done more elegantly by comparing with "1.19.0-0", this solution suggested in same original Helm issue:
https://github.com/helm/helm/issues/3810

[2022-08-04 04:45] mk-khan opened #2391 "Using topic message filter"
I have deployed kafka-ui and able to a generic search by putting value, i wanted to use a bit advance filter by adding conditions

this is the message on the topic, and i wanted to search Id == TAG123 and Idx = 1400, however i cant make the add filter feature make it work. I am not sure about the syntax of this search. Could you please help me how can i add filters for TS and other fields in the m

[2022-08-04 04:51] mk-khan commented on #2391
any help in this regards will be helpful

[2022-08-04 05:45] mk-khan commented on #2391
found this in the backlog [https://github.com/provectus/kafka-ui/issues/2375](url)

[2022-08-04 05:45] #2391 closed

[2022-08-04 06:51] mk-khan commented on #2375
Is there a work around for this at this moment?

[2022-08-04 08:20] armenuikafka opened #2392 "System redirects to Topics list with cancelling Topic edit instead of turning to Topic profile"
**Describe the bug**
System redirects to Topics list with cancelling Topic edit instead of redirecting to Topic profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Select the Topic
3. Press "Edit Settings" from menu
4. Cancel the editing

**Expected behavior**
System should turn to Topic profile instead of Topic

[2022-08-04 10:48] Haarolean commented on #1777
https://github.com/provectus/kafka-ui/pull/2125/files#diff-b4ae01ceb9a305876d57249a1cd7d5bf7567fd37c5a96cb4e8a4327c8d25b500
kafka-ui-contract/src/main/resources/swagger/kafka-ui-api.yaml
To do: Reflect API changes on frontend

[2022-08-04 10:56] Haarolean opened #2393 "[Helm] base64 encode secrets"
### Discussed in https://github.com/provectus/kafka-ui/discussions/2389

<div type='discussions-op-text'>

<sup>Originally posted by **cignul9** August  4, 2022</sup>
When using envs.secret to store...secrets the chart fails because values are not encoded in the template.  We can encode them beforehand, but that's not very user friendly.  Would you consider changing kafka-ui/charts/kafka-ui/templa

[2022-08-04 10:58] armenuikafka opened #2394 "Topics: Messages filtering broken after live mode, offset and timestamp filtering broken, Empty Offset/Timestamp filter value on refresh"
**Describe the bug**
1. Messages filtering broken after live mode,
2. Offset and timestamp filtering broken,
3. Offset/Timestamp filter value disappears on page refresh

**Set up**

**Steps to Reproduce**

Steps to reproduce the behavior:

1.

**Expected behavior**

**Screenshots**

**Additional context**

[2022-08-04 11:05] Haarolean commented on #2375
unfortunately, no. But we're planning to fix this one soon.

[2022-08-04 12:12] azatsafin commented on #2382
Hi @sgolod
you comment about line 35 correct, I also found and made correction in my last PR
The line `1.19.0` will be automatically treated as `1.19.0-0[]` when converting to the full semver format. I agree that your proposal will work as well. I Prefer to use my version, because it could be corner case when some K8s produce specific version value which could not be comparaible just with `1.19.0-

[2022-08-04 12:29] Haarolean commented on #425
not necessary rn

[2022-08-04 12:29] #425 closed

[2022-08-04 12:30] #625 closed

[2022-08-04 12:39] Haarolean commented on #628
All endpoints:

[code]

[2022-08-04 13:45] Haarolean commented on #2314
https://github.com/testcontainers/testcontainers-java/pull/3220
https://github.com/testcontainers/testcontainers-java/issues/1495
https://github.com/testcontainers/testcontainers-java/issues/5037

[2022-08-04 21:25] #2336 closed

[2022-08-04 22:40] MichaelGonzalezMurillo commented on #1252
This is what I get when reproducing it **java.util.concurrent.CompletionException: org.apache.kafka.common.errors.UnknownTopicOrPartitionException: This server does not host this topic-partition.**

It does randomly happen.

https://issues.apache.org/jira/browse/KAFKA-6221

[2022-08-05 05:26] armenuikafka commented on #2394
**Messages search is broken after live mode stopping**

https://user-images.githubusercontent.com/104780608/183007492-20592d14-b37a-40a2-aa00-b6afa4cba284.mov

[2022-08-05 05:43] armenuikafka commented on #2394
**Filtering by offset and timestamp is not functional**

https://user-images.githubusercontent.com/104780608/183009157-d1322104-3c8b-4ea6-9145-7c3f1f5c3c17.mov

https://user-images.githubusercontent.com/104780608/183009328-8e07e0f1-eefd-4fbb-b725-bc01ea0b105d.mov

[2022-08-05 05:53] armenuikafka commented on #2394
**Offset/Timestamp field value disappears with refreshing the page**

https://user-images.githubusercontent.com/104780608/183010449-066b103f-4e8d-4d52-a48f-fcb3f3fdfe16.mov

[2022-08-05 09:04] leesonwei opened #2401 "Where can I find the Java file of *DTO"
I was downloaded the source code . Where can I find the Java file of *DTO

[2022-08-05 09:06] #2401 closed

[2022-08-05 09:06] leesonwei commented on #2401
I found the answer at discuss page

[2022-08-05 12:37] Haarolean opened #2403 "Replace connectors buttons with a sandwich menu"
<img width="762" alt="image" src="https://user-images.githubusercontent.com/1494347/183078567-0a423956-0f58-4f9c-86a9-104d1c5a3f24.png">

[2022-08-05 12:39] Haarolean opened #2404 "KC: Make viewing/editing config a single view"
There are two views and one of them is r/o
<img width="1057" alt="image" src="https://user-images.githubusercontent.com/1494347/183078866-ecccab0e-d444-42c1-8fae-c415f43e5e98.png">
<img width="865" alt="image" src="https://user-images.githubusercontent.com/1494347/183078887-d8a7d25b-0142-41ca-a641-47250cf609d7.png">
Let's make a single one

[2022-08-05 12:40] Haarolean opened #2405 "Sandwich menu is not visible in all tabs of a topic"
Make it visible on every tab, on "messages" tab make it after the "produce message" button.

[2022-08-05 12:41] Haarolean opened #2406 "Sidebar"
via @workshur

[2022-08-05 13:21] ThienBNguyen commented on #2403
Hi, I would like to work on this issue.

[2022-08-05 14:48] Haarolean commented on #2403
Hey @ThienBNguyen, thanks for the interest! I've assigned the issue to you

[2022-08-05 14:50] Haarolean commented on #1252
Blocked by kafka's issue

[2022-08-05 15:13] #2262 closed

[2022-08-05 18:27] #1622 closed

[2022-08-06 07:30] occidere opened #2411 "SECURE_BROKER guide link in README.md is not working"
**Describe the bug**

- SECURE_BROKER guide link in README.md is not working
  - https://github.com/provectus/kafka-ui/blob/master/README.md?plain=1#L77
- SECURE_BROKER file looks like moved to [this](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SECURE_BROKER.md) directory.

[2022-08-08 10:14] VladSenyuta commented on #2295
@Haarolean as we agreed, all the methods containing 'SelenideElement.shouldBe(Condition)' are needed
but to avoid such confuses methods should be renamed to 'waitUntilScreenRedy()' because the main goal is waiting for element's state and not assertion
@anezboretskiy please find all those methods and fix naming

[2022-08-08 20:07] daching-provectus commented on #1387
Trying to reproduce this one with no success, I think it could probably be already fixed.
When I follow the steps described in the issue i just get the following:
<img width="520" alt="Screen Shot 2022-08-08 at 14 05 49" src="https://user-images.githubusercontent.com/110129035/183504900-adf68484-7321-4a45-ba56-876dcbe0968c.png">
@agolosen could you confirm please?
cc @Haarolean

[2022-08-08 20:22] daching-provectus commented on #1387
Also, take into consideration that these errors come from the Schema Registry API which contains the logic to add and validate the schemas.

[2022-08-08 20:36] #2243 closed

[2022-08-09 13:13] #1967 closed

[2022-08-09 13:53] #2373 closed

[2022-08-09 13:53] #2288 closed

[2022-08-09 14:08] Haarolean commented on #1387
@armenuikafka PTAL

[2022-08-09 14:20] Haarolean commented on #2331
#2006

[2022-08-09 14:28] #2295 closed

[2022-08-09 17:56] raphaelauv opened #2419 "kafka-connect page (listing connectors) fail if a connector is on FAIL with a big log error"
**Describe the bug**

 provectus on the page listing the connectors is failing ( and not showing any connector ) when one connector is on FAILED state with a BIG trace ( error log )

**Steps to Reproduce**
make a connector fail that log a BIG error

provectus will no more be able to list the connectors of the kafka-connect

**Expected behavior**

provectus should be able to ALWAYS list the connect

[2022-08-09 19:04] armenuikafka opened #2420 "Typo within Topic's statistics"
**Describe the bug**
The word "unique" is written wrong within Topic's statistics page

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics Statistics page
2. Start Analysis
3. Check the "Messages" part

**Expected behavior**
The "Unique keys" and "Unique values" should be displayed

**Screenshots**
<img width="1726" alt="un

[2022-08-09 19:32] MichaelGonzalezMurillo commented on #1666
Since we don't have the wrapper as part of the modules what is the approach we want to follow regarding this request? Do we want to skip frontend build for ui-api and ui-contract?

By running something like this ./mvnw clean install -Pprod -DskipUIBuild=true

Original Request is based on this possibility but it is not anymore like this:

cd kafka-ui-api
 ./mvnw compile -Pprod

[2022-08-10 09:58] #2382 closed

[2022-08-10 10:31] Haarolean commented on #753
Frontend:
- disabled menu actions instead of hidden + explanation

[2022-08-10 14:28] Haarolean commented on #2419
Thanks for the report, we'll fix this :)

[2022-08-10 14:30] Haarolean commented on #2307
Thanks, we'll take this into consideration.

[2022-08-10 14:31] Haarolean commented on #2235
https://developer.okta.com/blog/2021/09/30/oauth-sessions-with-java

[2022-08-10 14:35] Haarolean commented on #1666
what if we create a new profile with skipUIBuild property set to enabled by default?

[2022-08-10 14:55] MichaelGonzalezMurillo commented on #1666
That is what the closed PR was doing and was pushed back due to duplicated code.

[2022-08-10 15:08] iliax commented on #1666
@Haarolean Lets not create unnecessary profiles. I suggested simple solution here https://github.com/provectus/kafka-ui/pull/1696#discussion_r830601917 .
In should work like `./mvnw compile -DskipUiBuild=true`.

[2022-08-10 15:09] MichaelGonzalezMurillo commented on #1666
Do we want it just for api or also for contract project?

[2022-08-10 17:56] MichaelGonzalezMurillo commented on #1666
https://github.com/provectus/kafka-ui/pull/2424 This is solution 2

[2022-08-11 08:09] lekomcev commented on #1582
@Haarolean For openapi-generator you need install Java 8

[2022-08-11 15:14] beatstream69 commented on #2043
Based on errors in kafka-authorizer.log I figured out that minimum required permissions are Describe and DescribeConfigs on cluster and all topics. With that permissions UI can list brokers and topics, but can't read and write messages.
[code]
For read and write you can set standard consumer and producer rights:
[code]

[2022-08-11 15:53] ravindraprasad85 opened #2427 "read-only users for kafka-ui"
Hi All, You are requested to add feature where we can create read-only user along with admin user , We do have existing feature to make read-only cluster but thats not full filling my need with having larger team/users.

If i am choosing read-only cluster than no-one would be able to perform Kafka Cluster operation (topic/message/etc).

[2022-08-11 15:55] ravindraprasad85 commented on #2427
Sure, Thank you. Please help to get this fixed.

[2022-08-11 16:16] Haarolean commented on #2427
Hey, thanks for reaching out.

We're planning to implement this exact functionality within #753 (in current release). Stay tuned :)

[2022-08-11 16:16] #2427 closed

[2022-08-11 16:50] shubhwip commented on #2419
Can I be please assigned to this :) ?

[2022-08-11 18:01] Haarolean commented on #2419
@shubhwip hey, sure :)

[2022-08-12 06:41] VladSenyuta opened #2431 "[e2e] get rid of SheakyThrows annotation"
in the scope of this issue need to remove annotation from the high-level methods and implement exception handling on the lowest level

[2022-08-12 06:41] VladSenyuta commented on #2287
is not actual as we agreed with the team due to useless of Steps class on current framework stage

[2022-08-12 06:41] #2287 closed

[2022-08-12 06:43] VladSenyuta opened #2432 "[e2e] update read.me file for 'kafka-ui-e2e-checks' module with actual steps"
need to update with steps:
cd kafka-ui
docker-compose -f documentation/compose/kafka-ui-connectors.yaml up -d // to create containers
add token // for Qase integration
mvn -pl '!kafka-ui-api' test -Pprod // to run tests
reports: allure serve // to get reports

[2022-08-12 06:44] VladSenyuta opened #2433 "[e2e] refactoring of Steps classes"
need to remove duplicated methods by deleting Steps package at all
for re-usage methods in different flows need implement next logic:
- create method 'setObjectDetails' for setting all available fields at the same place in related object page class
- if the flow with method used more than one time in the same test, need to create private void method in this test
- if this flow used in more than on

[2022-08-12 06:45] VladSenyuta opened #2434 "[e2e] verify Step annotation cross page methods"
Step annotation is used to display method is Allure report as the test step
need to actualise those annotations cross project:
- check and add to page classes methods
-  remove from other classes (test for example)

[2022-08-12 06:47] VladSenyuta opened #2435 "[e2e] create object models and implement them into tests"
need to create 'models' package in java/
create class with regarding name for used objects in framework, for example User.class or Topic.class
using lombok library need to create related options for objects

[2022-08-12 06:50] VladSenyuta opened #2436 "[e2e] create screen facade class and refactor objects of page classes creation"
- need to create this class with created screen class objects
- inherit BaseTest from Facade
- refactor objects of page classes creation

[2022-08-12 06:51] VladSenyuta opened #2437 "[e2e] refactoring of assertions cross tests"
as we agreed with team need to:
- implement all assertions on the test level
- implement soft assertions is needed

[2022-08-12 06:52] VladSenyuta opened #2438 "[e2e] create Setup class and refactoring of BaseTest"
need to store all setting up methods at separate class

[2022-08-12 11:14] Haarolean opened #2439 "Make e2e tests possible to run without qaseio token"

[2022-08-12 11:14] Haarolean commented on #2439
+ documentation #2432

[2022-08-12 11:21] #2203 closed

[2022-08-12 11:22] #2420 closed

[2022-08-12 14:30] WizzardMaker opened #2441 "Can't connect to azure event hub kafka interface"
**Describe the bug**

We wanted to monitor our azure event hub, which we mainly use as a kafka server.
The kafka interface works and our backend services can communicate with the kafka interface

Monitoring also works with kafka-tool/offset-explorer

But kafka-ui fails to connect to the hub with this error message:
[code]

The kafka UI has full admin rights on the assigned user

**Set up**

Kafka-

[2022-08-13 14:22] Haarolean commented on #2441
Hey, thanks for reaching out. We'll take a look

[2022-08-14 03:44] shubhwip commented on #2419
Hey @Haarolean I have looked at this and looks like while fetching connectors `"/api/clusters/aiven/connectors?search="` this error resulted and due to big size of `connectors data json`. Now we've specified a good limit of size `~20MB` already but somehow defaults(which is maxSize 262144) are picked up.
So we can fix this by enforcing `~20MB` using `ExchangeStrategies.builder()`. Correct me if i

[2022-08-14 17:32] workshur opened #2445 "Consumers sorting is broken"
**Describe the bug**

/api/clusters/local/consumer-groups/paged?page=1&perPage=25&search=&orderBy=MEMBERS&sortOrder=DESC
returns payload in ASC order

**Set up**

**Steps to Reproduce**

Steps to reproduce the behavior:

1.

**Expected behavior**

**Screenshots**

**Additional context**

[2022-08-15 05:37] rmrf commented on #706
@Haarolean  I have same question, does the Env is the only way to setup configuration for kafka-ui ? can I use configuration file?

[2022-08-15 07:25] Haarolean commented on #706
@rmrf Yes you can: https://www.reddit.com/r/AskReddit/comments/1g9kel/whats_the_weirdest_thing_your_so_asked_you_to_do/

[2022-08-15 09:01] #2274 closed

[2022-08-15 09:11] rmrf commented on #706
I can not figure out where to place this file, then kafka-ui can use this file, same as @ahmedhamdy2121  asking

[2022-08-15 09:40] Haarolean commented on #706
wherever you want actually. You just have to pass the arg like this: `java -Dspring.config.additional-location=/tmp/conf.yml -jar kafka-ui-api...jar`

[2022-08-15 10:00] rmrf commented on #706
@Haarolean Thank you! it will be great if document have this.

[2022-08-15 10:15] Haarolean commented on #706
@rmrf you can raise a PR, we have too little bandwidth for documentation rn :(

[2022-08-15 10:46] #2364 closed

[2022-08-15 11:08] #2253 closed

[2022-08-15 11:08] #2331 closed

[2022-08-15 11:08] #2006 closed

[2022-08-15 11:08] #2124 closed

[2022-08-15 11:49] workshur commented on #2340
Fixed in context of https://github.com/provectus/kafka-ui/pull/2444

[2022-08-15 11:49] #2340 closed

[2022-08-15 13:33] Haarolean opened #2449 "Fix backend tests stability on m1/arm"
Backend tests on m1 work way too bad

[2022-08-16 03:10] mk-khan opened #2450 "How to connect API endpoints using Basic Authentication?"
Hi Team,

I am in need to connect to api endpoint and get the same response that is shown on the GET consumer group information, I have basic authentication turned on.

I tried to use post-man to connect to API endpoint, with basic auth username and password

GET: {{baseurl}}/kafkaui/api/clusters/kafka/consumer-groups/connect-topic1

and it is redirecting it to LOGIN FORM page instead of returning

[2022-08-16 07:55] armenuikafka opened #2451 "Improvement for the pagination "Go to page" field logic"
**Describe the bug**
Not allowed to decrease the "Go to page" value from 1, but possible to delete the value

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Delete the "Go to page" value

**Expected behavior**
Let to not allow too delete the "Go to page" fields value

**Screenshots**

https://user-images.githubuserc

[2022-08-17 04:30] laivu266 opened #2456 ""TopicAuthorizationException: Topic authorization failed" for MSK"
**Describe the bug**
I got the error as below when I config Kafka-ui via helm chart and connect to MSK. As image below, I successfully auth to MSK, but seem be to topics is not.

![image](https://user-images.githubusercontent.com/96401818/185034398-bc60f176-5e8e-45cf-8dbd-002a3668d264.png)

**Set up**

I used helm for install Kafka-UI. This is my helm value file:
[code]

**Steps to Reproduce**
Ste

[2022-08-17 08:19] jsherne opened #2457 "TLS Version"
Please could someone tell me which version of TLS is implemented at Ingress level for Kafka UI?

Many thanks

[2022-08-17 13:39] Haarolean commented on #2456
Hey, thanks for reaching out.

Th answer is simple -- your user doesn't have required permissions for some topic(s).

Try these MSK permissions:
[code]

[2022-08-17 15:17] #1666 closed

[2022-08-18 02:38] laivu266 commented on #2456
Thanks @Haarolean , I have to use IAM role for ACLs instead of SASL/SCRAM user

[2022-08-18 02:38] #2456 closed

[2022-08-18 04:36] laivu266 opened #2463 "Failed to show Schema Registry"
**Describe the bug**

When I click to Schema Registry, I got the error as below:
![image](https://user-images.githubusercontent.com/96401818/185294340-4e26e65d-d5ff-4908-8996-c5a1489c882a.png)
Maybe I have a subject with name "google/protobuf/any.proto" in my schema registry and that is causes of error

**Set up**

I used Helm chart to install Kafka-UI

[2022-08-18 06:32] ykun92 opened #2464 "Create connector in Kafka Connect do not work"
**Describe the bug**

Can not create new connector using `Create Connector` page in Kafka UI.

I have checked the inputted config is no problem , and I can use the config to add connector via REST API as following picture.

![image](https://user-images.githubusercontent.com/86184362/185307468-2c9ddd74-57d7-4c30-866d-9df39783ecf5.png)

But when I do the same things in Kafka UI, it always give me a

[2022-08-18 08:16] #2434 closed

[2022-08-18 10:28] #2320 closed

[2022-08-18 10:28] #2321 closed

[2022-08-18 10:34] KyriacosP opened #2465 "Cannot Connect to IBM Event Streams"
**Describe the bug**
I'm trying to connect to an IBM Event Streams instance (IBMs managed kafka) using kafka-ui.
I'm using docker compose to connect with this configuration:

[code]
I get the following error after the container starts:

[code]

I get the same error when trying to connect using a docker container.
Any help is appreciated!

[2022-08-18 10:46] Haarolean commented on #2463
Hi, thanks for reporting the issue!

This is a known issue (#1995), unfortunately we haven't fixed it yet. Feel free to subscribe/upvote the original issue. Stay tuned!

[2022-08-18 10:46] #2463 closed

[2022-08-18 10:47] Haarolean commented on #2464
HI, thanks for reaching out.

Could you please provide connector's config as a text, not as a screenshot? Thanks.

[2022-08-18 10:50] Haarolean commented on #2465
Hi, thanks for reaching out. We'll look into this gladly, but, is this event streams publicly available for free? After a quick search I haven't found anything like a demo or a free tier thing.

[2022-08-18 10:58] Haarolean commented on #2456
Glad it worked :)

[2022-08-18 11:15] KyriacosP commented on #2465
i don't think that they have a free tier, sorry.

[2022-08-18 12:00] ykun92 commented on #2464
Thanks for response.

Here is my settings.

docker-compose.yaml
[code]

start-connect.sh
[code]

I run service in docker swarm, I think it also works with `docker-compose`, or you can delete the `deploy` and other unnecessary settings.

[2022-08-18 12:02] armenuikafka commented on #1387
Here are 4 cases I have checked:

-  Wrong syntax - message should say that syntax is wrong

https://user-images.githubusercontent.com/104780608/185387306-76870f9a-0330-4244-91ee-104d05a2ccdc.mov

- The already existing schema with the same name and type - if create new schema, with the same type (JSON) and the same Subject, system editing the existing schema

https://user-images.githubusercontent

[2022-08-18 12:07] ykun92 commented on #2464
oh, you mean the connector setting.

[2022-08-18 12:09] ykun92 commented on #2464
here you are

[code]

[2022-08-18 12:10] ykun92 commented on #2464
here you are

{
  "name": "mongo-sink",
  "config": {
    "connector.class": "com.mongodb.kafka.connect.MongoSinkConnector",
    "connection.uri": "mongodb://***:***@mongo:27017",
    "topics": "test-topic",
    "database": "kafka",
    "collection": "test",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter"

[2022-08-18 12:29] ykun92 commented on #2464
Sorry, I think I found the reason, I misunderstood the usage of the `Create Connector` page

Seems following is the right way to fill the config. Sorry for my Carelessness.

![image](https://user-images.githubusercontent.com/86184362/185393856-776cf294-f4aa-4c6e-adf8-73be3257d612.png)

But the error message should got improved😂 Is it confusing as it tell me `mongo-sink is already exist`.
Better te

[2022-08-18 12:51] #2375 closed

[2022-08-19 14:31] Haarolean commented on #2465
@KyriacosP seems like this platform returns an empty string instead of a proper version number. We're used to verify some of the features availability by kafka's cluster version, which is impossible in this case, I guess.

Please try this docker image with a workaround: `public.ecr.aws/provectus/kafka-ui-custom-build:2473`
Let me know how it goes.

[2022-08-19 16:38] #2433 closed

[2022-08-19 22:53] shaarif-khan commented on #2349
has it been resolved, facing the same issue

[2022-08-20 13:04] Haarolean commented on #2349
Hi, please open up a new issue and follow the template: we need the version, configs, etc.

[2022-08-21 20:45] OpenCoderX opened #2474 "Cluster with 4 nodes but only 3 are listed under brokers section"
- Cluster with 4 nodes but only 3 are listed under brokers section.
- In the call to /stats there is only disk usage returned for 3 brokers, the broker that is not returned in disk stats is the missing broker
- There are 4 brokers returned in the json response from GET http://localhost:8080/api/clusters/sensor/brokers

**Set up**
App version: [UI for Apache Kafka](http://kube1.semanticfact.com:808

[2022-08-22 07:36] AmarendraSingh88 opened #2477 "Security Vulnerabilities in the master tag"
Hello team,

We're planning to use kafka-ui to use its features to manage, troubleshoot and maintain our kafka cluster. As part of that we were doing the security scan for the latest image but it had a lot of vulnerabilities (30+). We then used the master tag of the image, which significantly improves on the Vuln report and now we only see 4 CVEs out of which 2 are critical.
Below are the CVEs and

[2022-08-22 08:28] AmarendraSingh88 commented on #2477
Yes, I want to know the plan for fixing these vulnerabilities and also the next release date.

[2022-08-22 15:38] #2431 closed

[2022-08-22 16:29] Haarolean commented on #2477
Hey, thanks for reaching out.

We have periodic CVE scans [enabled](https://github.com/provectus/kafka-ui/actions/workflows/cve.yaml) and just the recent ones were green. We'll take a look into new CVEs.

Also, you can always pull `master`-labeled image with the fixes you need, there's no need to wait for a release.

[2022-08-22 17:04] #2477 closed

[2022-08-22 17:04] Haarolean commented on #2477
@AmarendraSingh88 feel free to pull `master`-labeled image

[2022-08-22 18:42] srferron commented on #2441
Hi,

Im interested on the connection to Azure Events Hub too.

Thanks!!

[2022-08-22 20:11] #2261 closed

[2022-08-23 09:43] Haarolean commented on #2441
Seems like they [don't care ](https://github.com/Azure/azure-event-hubs-for-kafka/issues/61) that much about implementing describeConfigs.

TODO: look for a workaround

[2022-08-23 10:27] shubhwip commented on #2419
@Haarolean I looked at the #2139 but I saw `maxBuffSize` for connectors config is already configurable in [kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KafkaConnectClientsFactory.java](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KafkaConnectClientsFactory.java#L15

[2022-08-24 08:30] srferron commented on #2441
Thanks for the feedback @Haarolean !

[2022-08-24 20:25] nitin1677 commented on #1354
we are using v0.4.0 and facing the same with bigdecimal in schemaregistry, displayed values are like "bytes": "#òoÁ\u0000\u0000", what is the plan to release the fix for bigdecimal support?

[2022-08-24 20:35] Haarolean commented on #1354
@nitin1677 this might get resolved within #2125. Can you provide an example schema to reproduce this behavior?

[2022-08-24 20:41] #2392 closed

[2022-08-24 20:53] Haarolean commented on #2419
@shubhwip So the thing we discuss  is the exact same property I pointed to we previously implemented lol

@raphaelauv you can increase the buffer size via property `webclient.max-in-memory-buffer-size`. The default value is `20MB`. Let me know if you encounter any problems.

Closing as a duplicate, need to add this property to documentation tho, plus, possibly adjust the default value.

[2022-08-24 20:53] #2419 closed

[2022-08-24 20:55] Haarolean commented on #2419
Updated wiki: https://github.com/provectus/kafka-ui/wiki/Common-problems#databufferlimitexception-exceeded-limit-on-max-bytes-to-buffer

[2022-08-25 16:57] Haarolean opened #2488 "Messages pagination is missing"
backward button -- use as browser's "back" function
forward -- as it was before

use /v2 as reference

[2022-08-25 21:09] nitin1677 commented on #1354
i tried to deploy from master branch, which was deployed from the following commit:
https://github.com/provectus/kafka-ui/commit/a9c31e6

still getting the same issue, field value is displayed as below:
"field1": {
"bytes": "#òoÁ\u0000\u0000"
},

Schema definition for the field is as below:
{
"name": "field1",
"type": [
	"null",
	{
		"type": "bytes",
		"logicalType": "decimal",
		"precision": 24,

[2022-08-26 07:36] deadmandrive opened #2491 "Subject Alternetive name not present even disable host name verification."
I follow this guide to create kafka cluster with ssl [link](https://github.com/confluentinc/cp-docker-images/blob/5.3.3-post/examples/kafka-cluster-ssl/docker-compose.yml)

I create certs and truststore using this [script](https://github.com/confluentinc/cp-docker-images/blob/5.3.3-post/examples/kafka-cluster-ssl/secrets/create-certs.sh)
I create kafka-ui docker compose as follow.
[code]
Kafka Clu

[2022-08-26 16:25] shubhwip commented on #2197
Can I work on this please ?

[2022-08-26 16:30] Haarolean commented on #2197
@shubhwip sure!

[2022-08-28 14:04] shubhwip commented on #2197
@Haarolean Having looked at #2152 I think we can solve this problem just by disabling the `schema type` during edit. This way we can stop users to change schema type during schema edit.
Also I checked if there is any PUT endpoint on schema registry service but seems like there is nothing.
https://docs.confluent.io/platform/current/schema-registry/develop/api.html#subjects

Submitted the PR for the

[2022-08-28 15:28] paulolimarb commented on #1713
Hi

Is it possible to know when this feature will be available?

Thank you very much

[2022-08-29 07:06] viettran-yum commented on #1776
Hi, I tried but it still throws the error :  authorizationGrantType cannot be null
Do you know how to set the grant type, I'm using docker compose latest image version

[2022-08-29 09:13] KyriacosP commented on #2465
@Haarolean Sorry for the late reply i have tested the image. It seems to work fine i still get the same error on startup but only in the logs, kafka-ui works fine after that. Thank you!

[2022-08-29 09:29] Haarolean commented on #1995
@shubhwip wanna take a look?

[2022-08-29 09:35] Haarolean commented on #2465
Glad to hear. That's intended, at least we know something went wrong. Let me know if you experience any other issue(-s) with event streams.

[2022-08-29 09:44] shubhwip commented on #1995
This is something i mentioned earlier two times on the frontend PR below :) and also shared a video for exact same problem.
https://github.com/provectus/kafka-ui/pull/2483#issuecomment-1225243434
https://user-images.githubusercontent.com/23444368/186343542-9be868f5-621b-4a2a-9fa5-e49c686465a0.mov
Unfortunately i don't think i have a solution for this :), I tried before already.

[2022-08-29 09:46] shubhwip commented on #1995
**Just a note** : If you try to manually replace `/` with `%2F` in the browser tab then it will work however it is not a solution. Just mentioning it here.

[2022-08-29 09:47] Haarolean commented on #1995
Oh well, sorry, I got a feeling you've fixed this eventually.

[2022-08-29 10:05] Haarolean commented on #1995
@Kris-K-Dev PTAl https://github.com/provectus/kafka-ui/pull/2483#issuecomment-1225243434

[2022-08-29 16:46] ChSchott opened #2501 "Invalid value for "delete.retention.ms" results in Kafka Broker crash"
### Entering an invalid value for the "delete.retention.ms" parameter causes the Kafka Broker to crash.

Log from the Kafka Broker:
`org.apache.kafka.common.config.ConfigException: Invalid value -1 for configuration delete.retention.ms: Value must be at least 0`

[2022-08-29 22:02] #2432 closed

[2022-08-29 22:07] Haarolean commented on #2501
Hey, thanks for reaching out. We'll take a look.

[2022-08-30 04:17] shubhwip commented on #2501
@Haarolean Can you please assign this to me ?

[2022-08-30 08:06] #2465 closed

[2022-08-30 08:16] Haarolean opened #2502 "Create a compose file with arm images"
https://github.com/provectus/kafka-ui/pull/2453#discussion_r958158239

[2022-08-30 08:19] shubhwip commented on #2501
@ChSchott How did you specify `"delete.retention.ms"` property ? through `kafka-ui` application or other ways ?
Can you specify steps for reproducing the issue ?

[2022-08-30 08:26] Haarolean commented on #2502
@shubhwip I want it similar to kafka-ui.yaml or kafka-ui-connectors-only.yaml but with a few differences:
1. Let's keep it lightweight, with just one copy of each container (like without 2 kafkas)
2. Let's get rid of zookeeper if it's still there
Thanks!

[2022-08-30 08:33] Haarolean commented on #1662
@Corlobin hey, any luck?

[2022-08-30 08:33] Haarolean commented on #1713
@David-hod hey, any luck?

[2022-08-30 09:25] KyriacosP commented on #2465
Do we have any time frame for when will this fix be released?

[2022-08-30 10:07] Haarolean commented on #2465
@KyriacosP you can pull `master`-labeled docker image :)

[2022-08-30 10:49] Haarolean commented on #2449
I suggest we expand the scope of this issue: I think we might need arm images for backend tests as well.
We've already got some logic to choose arm images over x86 depending on the architecture (com.provectus.kafka.ui.base.BaseTest#isARM64).

[2022-08-30 10:50] Haarolean commented on #2449
@shubhwip wanna give it a try? :)

[2022-08-30 11:01] shubhwip commented on #2449
Sure @Haarolean

[2022-08-30 11:28] David-hod commented on #1713
@Haarolean i had great luck when doing the backend. Was so close to finish, than my laptop drank lot of water and all my work gone. I need to go over from the beginning.

[2022-08-30 11:42] KyriacosP commented on #2465
@Haarolean thank you!

[2022-08-30 11:53] Haarolean commented on #1713
I'm so sorry to hear that :( I can suggest using git in it's full force in the future and committing more frequently :)
Anyways, if you're willing to do that again, let me know if I should keep you assigned.

[2022-08-30 12:11] #2502 closed

[2022-08-30 12:17] #2393 closed

[2022-08-30 15:22] Haarolean commented on #1776
@viettran-yum
`SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_AUTH0_AUTHORIZATION_GRANT_TYPE`, possible values are:
[code]

[2022-08-31 18:17] daching-provectus commented on #2164
@armenuikafka I tried to reproduce this issue, although, I'm getting this error:
![Screen Shot 2022-08-31 at 12 15 57](https://user-images.githubusercontent.com/110129035/187750536-a96905db-6fef-4ea8-b71c-160f01884fce.png)

Could you confirm if you still get the ugly error using the latest codebase? I wonder if I'm doing something wrong or if it's already fixed.

[2022-08-31 19:35] nitin1677 opened #2506 "Publish multiple events to a topic in bulk mode using a file."
### Which version of the app are you running? vv0.4.0 [521ba0c] (https://github.com/provectus/kafka-ui/commit/521ba0c)

### Is your proposal related to a problem? No

For testing purpose, we need to publish multiple events to kafka topic. Existing feature to produce one by one is not convenient and time consuming.

### Describe the solution you'd like
With an option to upload a file with key value

[2022-08-31 20:06] nitin1677 opened #2507 "unicode characters displayed in message content with schema registry"
**Describe the bug**

Topic with schema registry, message content is displaying unicode characters instead of actual numbers for decimal data types or BigAmount fields.

**Set up**

docker run -> provectuslabs/kafka-ui:latest -> vv0.4.0 (521ba0c)

**Steps to Reproduce**

Steps to reproduce the behavior:

Schema Registry:
		{
			"name": "forexBaseRate",
			"type": [
				"null",
				{
					"type": "

[2022-09-01 05:56] armenuikafka commented on #2164
@daching-provectus hey, the error still actual on master.

Steps to reproduse:
- Use the avro schema type
- edit the schema
- delete any property
- submit

[2022-09-01 09:30] Haarolean opened #2510 "Fix broker names' links colors"
<img width="275" alt="image" src="https://user-images.githubusercontent.com/1494347/187881544-1b934c62-f757-42f4-ac63-2c5214562a02.png">
these are links, should be visible

Also, let's append "Broker" before the broker number

[2022-09-01 09:43] #2308 closed

[2022-09-01 10:44] nbrns opened #2511 "No docker image for appVersion in Helm Chart"
**Describe the bug**

When deploying the helm chart I receive backoffs as the appVersion in the helm chart does not relate to any available docker image tag.

**Set up**

Running in a GitOps setup using flux CD. Helm chart is installed with version 4.2.0 and appversion 4.0.0.
Manual helm install resulted in the same error.

**Steps to Reproduce**

Steps to reproduce the behavior:

[code]

**Expect

[2022-09-01 10:50] Haarolean commented on #2511
Hey, thanks for reaching out.

We'll get this fixed, meanwhile you could use this tag: `provectuslabs/kafka-ui:v0.4.0`

[2022-09-01 10:53] Haarolean commented on #2403
hey @ThienBNguyen, any luck?

[2022-09-01 11:20] linuxmail opened #2512 "LDAP Auth + OTP (Yubi key) doesn't work"
Hello,

**Describe the bug**
If we enable OTP for LDAP auth on our usermanagment ([webadm](https://www.rcdevs.com/de/products/webadm/)), then login fails  with LDAP OK, but OTP failed.

**Set up**

* Version: v0.4.0
* Puppet / Yaml config:

[code]
Enable OTP for Useraccount, on LDAP, so it looks like: userpasswordLooooooonnnnnnggggggYubiOTP string

So the string is based on the LDAP userpassword +

[2022-09-01 12:32] armenuikafka opened #2513 "Add possibility to edit the already applied filter within Topic/Messages filtering"
**Describe the bug**
Will be good to edit the already applied filter for Messages with click on it, to not open the filters one more time.

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages
2. Apply filter (saved/custom)
3. Click on applied filter

**Expected behavior**
Should open the applied filter with possibil

[2022-09-01 13:27] alyvusal commented on #2511
after deploy do
[code]

[2022-09-01 14:10] Haarolean commented on #2511
Fixed

[2022-09-01 14:10] #2511 closed

[2022-09-01 14:57] #2180 closed

[2022-09-01 18:50] allwritesri commented on #753
hello @Haarolean just wanted to know when could this be GA. thank you

[2022-09-01 21:10] NitinAgg commented on #1027
Any update on this. Generally there are env flag based implementation to disable any existing feature. This is a huge blocker for us

[2022-09-02 01:53] ekeric13 commented on #1002
Yeah I think I asked their and got a response lol

[2022-09-02 12:27] #2445 closed

[2022-09-02 13:49] deadmandrive opened #2518 "Topic authorization failed."
Now we able to use kafka ui with SASL_SSL_SCRAM-512.
But when we turn on ACL. we found this error.

[code]
We add acl to user that use on kafka-ui and we test by kafka-cli using the same user and it fine.
Any suggestion? Thank you.

[2022-09-02 14:09] Haarolean commented on #1027
this won't be released before #753 for sure, but it might be a part of it.
Meanwhile, you can try out this image: `public.ecr.aws/provectus/kafka-ui-custom-build:2517`, it's based on latest master.
I've disabled producing, consuming and deleting messages on backend and removed messages tab on frontend.

[2022-09-03 15:11] shubhwip commented on #2501
@Haarolean If you have an idea how this could be reproduced. Please comment so that i can look into it further.

[2022-09-03 16:23] Haarolean commented on #2501
@ChSchott there is a bold and certain reason why we do have issue templates set in place. The one for a bug report (which you used it seems but decided not to follow one) contains an important block named "Steps to Reproduce". Please provide the steps.

[2022-09-04 02:14] #2464 closed

[2022-09-04 07:57] shubhwip commented on #2449
I ran the e2e tests locally and one of the tests failed was `UpdateAvroSchema` in `kafka-ui-e2e-checks/src/test/java/com/provectus/kafka/ui/tests/SchemasTests.java`
Here are the screenshots
<img width="1440" alt="Screenshot 2022-09-04 at 1 19 44 PM" src="https://user-images.githubusercontent.com/23444368/188303245-6f68574f-0750-49e5-80bd-f75f1f13a1c9.png">

![1662271406945 0](https://user-images.g

[2022-09-06 05:22] armenuikafka opened #2527 "Add "s" letter to "Total Broker" in Brokers page"
**Describe the bug**
Please add "s" letter to "Total Broker" within Brokers page

**Set up**
https://www.kafka-ui.provectus.io/ui/clusters/local/brokers

**Screenshots**
<img width="1711" alt="total brokers" src="https://user-images.githubusercontent.com/104780608/188552969-4cf84295-e120-4827-acdc-51106e41ee33.png">

[2022-09-06 05:31] armenuikafka opened #2528 "Consumer groups are not available"
**Describe the bug**
Active Consumers groups are not available

**Set up**

https://www.kafka-ui.provectus.io/ui/clusters/local/consumer-groups

**Screenshots**

<img width="1711" alt="no consumers active" src="https://user-images.githubusercontent.com/104780608/188553810-70ea4a2f-cafc-40aa-9365-d2d774e162d3.png">

[2022-09-06 05:41] armenuikafka opened #2529 "Topics are not available"
**Describe the bug**
Topics are not available

**Set up**
https://www.kafka-ui.provectus.io/ui/clusters/local/all-topics?perPage=25

**Screenshots**
<img width="1711" alt="no available topics" src="https://user-images.githubusercontent.com/104780608/188555554-560d32ad-2229-491d-992b-8be50bf0fff9.png">

[2022-09-06 05:42] armenuikafka opened #2530 "Add "Protocol type", "protocol, Total lag"
**Describe the bug**

**Set up**

**Steps to Reproduce**

Steps to reproduce the behavior:

1.

**Expected behavior**

**Screenshots**

**Additional context**

[2022-09-06 06:28] armenuikafka opened #2531 "Implement Search within Consumer group profile"
**Describe the bug**
Please implement Search by Topic Name within Consumer group profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Consumer group profile

**Expected behavior**
Should be available Search by Topic Name

**Screenshots**
<img width="1326" alt="search within consumer" src="https://user-images.githubusercontent.com/104780608/188561560-c59178

[2022-09-06 06:34] armenuikafka opened #2532 "Create schema view is too wide"
**Describe the bug**
Create schema view is too wide, please make smaller the fields

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Schema registry
2. Press "Create Schema"

**Expected behavior**

View is too wide, make smaller

**Screenshots**
<img width="1717" alt="create schema" src="https://user-images.githubusercontent.com/104780608/188563301-dc0106fd-b8

[2022-09-06 06:56] armenuikafka opened #2533 "Rename "Relevant" version of a schema to "Actual""
**Describe the bug**
Update "Relevant" version of Schema to be "Actual"

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Schema Registry
2. Open the Schema

**Expected behavior**
Should be 'actual version" instead of "Relevant version"

**Screenshots**
<img width="1717" alt="relevant version" src="https://user-images.githubusercontent.com/104780608/188567076-8

[2022-09-06 12:53] armenuikafka opened #2534 "Add warning message for Danger zone in case of editing the Topic"
Warning message should be displayed for Danger zone with editing the Topic

**Describe the bug**

Warning message should be displayed for Danger zone with editing the Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Open any Topic
3. Edit settings
4. Check Danger zone

**Expected behavior**
Should be displayed warning message:"Change these para

[2022-09-07 08:42] Haarolean commented on #900
Will be done within #1777 in the current release. Please follow that issue.

[2022-09-07 08:42] #900 closed

[2022-09-07 08:45] Haarolean commented on #1715
Will be done as a part of #1777

[2022-09-07 08:47] Haarolean commented on #1022
#442

[2022-09-07 08:56] armenuikafka opened #2536 "Add "Total size" of Partition within Topic's statistics"
**Describe the bug**
Add "Total size" of Partition within Topic's statistics

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Open the Topic
3. Turn to Statistics tab
4. Open the Partition

**Expected behavior**
Total size should be displayed

**Screenshots**
<img width="1717" alt="total size" src="https://user-image

[2022-09-07 09:01] armenuikafka opened #2537 "Add "Num of Topics" to Topic/Consumer tab"
**Describe the bug**
"Num of Topics" should be displayed within Topic/Consumer tab

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Open the Topic
3. Turn to Consumers tab

**Expected behavior**
The "num of Topics" should be displayed

**Screenshots**
<img width="1717" alt="num of topics" src="https://user-images.git

[2022-09-07 09:08] armenuikafka opened #2538 "Search consumers by name within topic details"
**Describe the bug**
Implement the Search within Topic/Consumers tab

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Open the Topic
3. Turn to Consumers tab

**Expected behavior**
Search by **consumer Name** should be available within Topic/Consumers tab

**Screenshots**
<img width="1717" alt="search topic:consumers" src="https://user-images.githubu

[2022-09-07 09:14] armenuikafka opened #2539 "Make possible to edit the custom filter"
**Describe the bug**

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Open the Topic/messages tab
3. Apply custom filter
4. Click on filter

**Expected behavior**
Should open the filter to edit

**Figma link**
https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=1912%3A4544

[2022-09-07 09:29] armenuikafka opened #2540 "Improve "Saved filters" text design within Topic/messages filters"
**Describe the bug**
The "Saved filters" text in the same design as Filters

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate t Topics
2. Open the Topic/Messages tab
3. Press "Add filters"
4. Click on "Saved filters"

**Expected behavior**
The "Saved filters" text design should be different

**Screenshots**
<img width="1717" alt="

[2022-09-07 09:33] armenuikafka commented on #2528
resolved

[2022-09-07 09:33] #2528 closed

[2022-09-07 09:33] armenuikafka commented on #2529
resolved

[2022-09-07 09:33] #2529 closed

[2022-09-07 12:26] armenuikafka commented on #2289
Waiting for refactoring of auto tests (integration Qase.io).

[2022-09-07 23:22] MichaelGonzalezMurillo commented on #2510
All Links seems to be the same, we can fix that within another issue. Due to clickable row there is no benefit of having an appended "broker" since that is not the real ID that could add confusion. I would remove the "broker" append in the broker details page since that is not following other pages logic as Topics, consumers, schema registry etc.

![Screen Shot 2022-09-07 at 5 18 28 PM](https://us

[2022-09-07 23:50] Haarolean commented on #2510
Let's keep it as is. Just a number is too short, visually current variant looks better.

[2022-09-07 23:51] #2510 closed

[2022-09-08 02:44] armenuikafka opened #2541 "Checking the Application and design relevance"
**Describe the bug**
Checking the Application and design relevance

**Set up**
https://www.kafka-ui.provectus.io/

**Steps **
1. Collect all the differences
2. Review and analyze collected differences
3. Make design updates list
4. Report tickets for all the app updates

https://docs.google.com/spreadsheets/d/1jk0euOP5HX9T-BwY7_US7g9UYFTLX3OvM7T3ahj9feY/edit#gid=1060462029

[2022-09-08 03:20] armenuikafka opened #2542 "Add "Messages behind" for Topics within Consumer group profile"
**Describe the bug**
Add "Messages behind" for Topics within Consumer group profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Consumer group profile
2. Check the linked Topics list

**Expected behavior**
Should be displayed "Messages behind" for each Topic

**Screenshots**
<img width="1437" alt="messages behind" src="ht

[2022-09-08 03:33] armenuikafka opened #2543 "Add "Preview" for Messages Key and Content"
**Describe the bug**

Add "Preview" for Messages Key and Content

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topic's profile
2. Turn to Messages tab

**Expected behavior**
Should be available "Preview" for each Message Kay and Content

**Screenshots**
<img width="1437" alt="preview" src="https://user-images.githubusercontent.com/104780608/189028185-53019c

[2022-09-08 03:43] armenuikafka opened #2544 "Message fields preview"
Add an ability to add message key/contents fields for preview (via json paths, probably)
![image](https://user-images.githubusercontent.com/1494347/189687995-6f148770-511c-4fc9-9b0e-a2b4273b0c47.png)

[2022-09-08 03:54] armenuikafka opened #2545 "Add "Schema link" for expanded Message's Key and Content"
**Describe the bug**

Add "Schema link" for expanded Message's Key and Content

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics
2. Open the Topic
3. Expand the Message

**Expected behavior**
Should be available schema link for Key and Content

**Screenshots**
<img width="1437" alt="schema link" src="https://user-images.

[2022-09-08 05:29] shubhwip commented on #2451
@Haarolean can you please assign this to me ?

[2022-09-08 11:25] armenuikafka opened #2547 "Make "Delete the saved filter" window size as in design"
**Describe the bug**
Make "Delete the saved filter" window size as in design

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Add filter
3. Open the saved filters
4. Press delete for the filter

**Expected behavior**
Should be:
<img width="1437" alt="saved delete figma" src="https://user-images.githubuser

[2022-09-08 11:29] Haarolean opened #2549 "Improve ssl compose with client certs"
kafka-ssl.yml: add `KAFKA_CLUSTERS_0_PROPERTIES_SSL_KEYSTORE_PASSWORD` and `KAFKA_CLUSTERS_0_PROPERTIES_SSL_KEYSTORE_LOCATION`

[2022-09-08 11:29] armenuikafka opened #2550 "Change the "Back to custom filters" link text within Saved filters"
**Describe the bug**
Change the "Back to custom filters" link text to be "Back to create filter" within Saved filters of Topic/Messages tab

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Add filter
3. Press Saved filters

**Expected behavior**
The "Back to custom filters" link text should be "Back to cr

[2022-09-08 13:07] BulatKha opened #2551 "BHA test to be deleted after"
BHA test body

[2022-09-08 13:23] BulatKha commented on #2551
closing to be deleted work item

[2022-09-08 13:29] #2551 closed

[2022-09-08 20:40] daching-provectus commented on #1771
After conversations with @Haarolean , this issue will be on hold waiting for RBAC completion

[2022-09-08 22:53] Haarolean commented on #2506
Hey, thanks for reaching out.
We already have something like this planned (#1344). Would it be enough for you to make the window stay open with the same key/value contents or would uploading a file be way more convenient in your case?

[2022-09-08 22:54] Haarolean commented on #2512
Hey, thanks for reaching out. We'll try to investigate.

TODO: check spring password max length

[2022-09-08 22:56] Haarolean commented on #2507
Hey, thanks for reaching out.
I have a good feeling that it's gonna get fixed within #1777.
I'll keep this open for now.

[2022-09-09 05:53] armenuikafka opened #2554 "Remove "Go to Page" field from Topics"
**Describe the bug**
Remove "Go to Page" field from Topics

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topics
2. Check the pagination of page

**Expected behavior**
No need to have "Go to Page" field for pagination

**Screenshots**
<img width="1528" alt="go to page" src="https://user-images.githubusercontent.com/104780608/189280582-0c5f144f-3ed6-49cf-865d

[2022-09-09 06:44] armenuikafka opened #2555 "Add placeholders for "Time to retain data (in ms)" ,"Maximum message size in bytes *" fields within Create Topic"
**Describe the bug**
Add placeholders for "Time to retain data (in ms)" ,"Maximum message size in bytes *" empty fields and display inline values of filled input fields within Create Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
1. Navigate to Topics
2. Add a Topic

**Expected behavior**

- Inline visualization for input fields values should be displayed as in attach

[2022-09-09 06:50] #2541 closed

[2022-09-09 18:58] mikepoz59 commented on #2527
A thought, change it to "Broker Count" maybe? :)

[2022-09-12 14:25] workshur opened #2566 "Format dates in a single place"
### Describe the solution you'd like

1. Using `/api/info/timestampformat` endpoint fetch info about system preferable datetime format.
2. Create utility function(helper) for date formatting.
3. Replace current formatted dates in app with new approach.

[2022-09-12 14:55] #2554 closed

[2022-09-12 15:02] Haarolean commented on #2543
Duplicate of #2544

[2022-09-12 15:02] #2543 closed

[2022-09-12 22:52] YashKumarVerma commented on #2185
is it supported now?

[2022-09-13 01:41] Haarolean commented on #2185
not yet :(

[2022-09-13 02:04] #712 closed

[2022-09-13 02:08] Haarolean commented on #2449
@shubhwip thanks for the note, I suppose we can discuss this issue with that test with our QA folks. You can ignore it failing locally for now.
@provectus/kafka-qa @VladSenyuta fyi

[2022-09-13 02:12] Haarolean commented on #482
#753

[2022-09-13 06:45] VladSenyuta opened #2570 "[e2e] Fix update schema test according to comments"
The reason why it is failing because during update we are changing a top level property and we have created this schema with backward compatibility. Although in our test we are switching to compatibility to None but that didn't have any effect because compatibility is set to backward_compatible globally. So in order for this test to work we need to keep top level property same i.e. name.

[2022-09-13 15:25] Haarolean opened #2572 "Documentation: add install method via aws marketplace"
https://aws.amazon.com/marketplace/pp/prodview-ogtt5hfhzkq6a

[2022-09-13 15:27] shubhwip commented on #2501
Yeah Sure :)

[2022-09-14 05:50] armenuikafka opened #2575 "[Exploratory testing] Topics: Lendmark tour"
**Mission:** Whittaker’s “road ahead” method is to map out a list of landmarks and explore the application from one to the next.
**Landmarks list:**

- Create a topic
- Edit a Topic
- Produce a message
- Filter the messages
- Add filters for messages
- Remove/Recreate Topics
- Check the connection between Topic/Consumer
- Check the toggles and checkboxes

[2022-09-14 05:52] armenuikafka opened #2576 "[Exploratory testing] Topics: The Supporting Actor Tour for Topics"
**Mission:** Check functions that are not the main ones in Topics, but are next to them.

**The functions:**

- Showing Internal Topics
- Pagination
- Filtering by parameters

[2022-09-14 05:57] armenuikafka opened #2577 "[Exploratory testing] Topics: The Bad-Neighborhood Tour for Topics"
**Missions:**

- Find the part related Topics in the bug tracker that has the most issues and investigate it.
- Find the new feature or improvement for Topics with the most bugs and investigate it

**The parts that has most issues:**

- Messages producing
- Messages filtering

[2022-09-14 08:02] th0ger commented on #2545
Good idea!
Since the UI already have the schema-version loaded for displaying the content, it should be easy to display some schema meta.

I would propose to not use the "Schema link" term, but instead use something like:
"Schema: [subject](http://localhost:8080/ui/clusters/CLUSTER/schemas/SUBJECT) version: 1"

- Displaying the subject name will save many clicks.
- Since the schema registry UI doe

[2022-09-14 09:00] workshur commented on #2405
@Haarolean this on is already fixed

[2022-09-14 09:00] #2405 closed

[2022-09-14 10:52] shubhwip commented on #2501
Thanks @ChSchott.

@Haarolean Reproduced this problem. basically as per `kafka` documentation, -1 is invalid value for `delete.retention.ms` so this invalid value is not handled properly on kafka side thus resulting in broker crash.
https://docs.confluent.io/platform/current/installation/configuration/topic-configs.html#topicconfigs_delete.retention.ms

We can have below ways to deal with this pro

[2022-09-14 14:25] Haarolean commented on #2530
messagesBehind field in api request

[2022-09-14 15:01] Haarolean commented on #2531
/api/clusters/<cluster>/topics/<topicName>/consumer-groups
topicName should be an exact one

[2022-09-14 15:04] wind57 opened #2578 "Search Confusion"
If I want to search for a certain message and go to the search box and input either:

`value.id==507566268` or `id==507566268`, I get zero results.

On the other hand, if I create a _new_ filter and input the same code under "filter code": `value.id==507566268`, I do get the result. :|

How come?

One more question - what is the proper syntax for an array search? Cause nothing seems to work for me

[2022-09-14 15:15] Haarolean opened #2580 "Support JSON paths for smart filters"
Besides groovy scripts would be nice to support json paths like
`key.something[*].value == 123`

[2022-09-15 00:05] batazor commented on #1689
I found this error when trying to connect to the kafka-operator from [strimzi](https://strimzi.io/)

[code]

[2022-09-15 00:32] Haarolean opened #2582 "Broker configs: allow resetting values to nulls"
Currently if you change a broker property with null value to something non-null it's not possible to set it back to null. Not supported by both backend and frontend.

[2022-09-15 00:50] Haarolean commented on #2538
/api/clusters//topics//consumer-groups
topicName should be an exact one

[2022-09-15 00:56] Haarolean commented on #2537
`/api/clusters/<cluster>/topics/<topic>/consumer-groups`, field "topics".

[2022-09-15 01:00] #2164 closed

[2022-09-15 01:05] Haarolean commented on #2197
wontfix: https://github.com/provectus/kafka-ui/pull/2495#issuecomment-1231478236

[2022-09-15 01:05] #2197 closed

[2022-09-15 01:07] #2152 closed

[2022-09-15 01:08] Haarolean commented on #2152
@VladSenyuta fyi. We had an e2e test for this or something.

[2022-09-15 01:11] Haarolean commented on #753
soon :)

[2022-09-15 01:20] Haarolean commented on #2163
frontend requirements: #2566

[2022-09-15 01:36] #1021 closed

[2022-09-15 02:33] Haarolean commented on #1933
`{"git":{"commit":{"id":"c8306f5"}},"build":{"artifact":"kafka-ui-api","name":"kafka-ui-api","time":"2022-09-15T02:31:12.047Z","version":"0.0.1-SNAPSHOT","group":"com.provectus"}}`
#2583

[2022-09-15 05:52] armenuikafka commented on #2304
Actual on master: with editing the saved filter, system redirects to custom filters instead of keeping saved filters.

[2022-09-15 05:58] armenuikafka commented on #1995
Actual on master: newly created schema with "/" sign is not available

<img width="1621" alt="schema new" src="https://user-images.githubusercontent.com/104780608/190325765-cc0b3947-68bb-4edf-9fbe-f6b2d7600f88.png">

[2022-09-15 06:11] VladSenyuta opened #2584 "[e2e] Need to update com.provectus.kafka.ui.tests.SchemasTests#updateSchemaAvro"
According to https://github.com/provectus/kafka-ui/issues/2152#issuecomment-1247454408 flow was updated

[2022-09-15 06:12] armenuikafka opened #2585 "[Exploratory testing] Schema Registry: Lendmark tour"
**Mission:** Whittaker’s “road ahead” method is to map out a list of landmarks and explore the application from one to the next.

**Landmarks list:**

- Create a schema
- Compare Schema versions
- Edit the Schema
- Remove Schema

[2022-09-15 06:15] armenuikafka opened #2586 "[Exploratory testing] Schema Registry: The Bad-Neighborhood Tour for Schema Registry"
**Missions:**

- Find the part related Schema Registry in the bug tracker that has the most issues and investigate it
- Find the new feature or improvement for Schema Registry with the most bugs and investigate it

[2022-09-15 06:17] armenuikafka opened #2587 "[Exploratory testing] Schema Registry: The Supporting Actor Tour for Schema Registry"
**Mission:** Check functions that are not the main ones in Schema Registry, but are next to them.

**The functions:**

- Pagination
- Compatibility level change
- Old versions view

[2022-09-15 06:30] shubhwip commented on #1995
@armenuikafka Can you please share video for reproducing because I just tried from master and it works.

[2022-09-15 06:41] shubhwip commented on #1923
@Haarolean Can i work on this ?

[2022-09-15 08:25] habrahamyanpro commented on #1933
7th point is unclear

[2022-09-15 09:43] Haarolean commented on #1933
a short commit contains a link, let's keep it

[2022-09-15 09:47] Haarolean commented on #1923
@shubhwip please keep in mind that we're gonna change serdes a lot within #2125, so it might be a good idea to postpone it  and do a PR for the new codebase

[2022-09-15 09:52] shubhwip commented on #1923
Okay sure will wait for #2125 to get merged.

[2022-09-15 10:03] Haarolean commented on #1995
The env this has been checked on is pretty much outdated considering the commit tag on the screenshot :)

[2022-09-15 10:42] Haarolean opened #2588 "Smart filters stream issues"
If I do :

[code]

I get zero results.

And of course if I do this in a class:

[code]

it works.

_Originally posted by @wind57 in https://github.com/provectus/kafka-ui/discussions/2581#discussioncomment-3647051_

[2022-09-15 14:35] winnie-chiu commented on #2533
Is this issue taken? If not, I want to do it.

[2022-09-15 16:38] Haarolean commented on #2533
No, it’s not. Please go ahead:)

[2022-09-16 01:07] Haarolean commented on #1932
During the research decided to postpone using spring-boot (paketo) due to complicated process of adding plain apk dependencies (we have some in dockerfile).
Fabric8 plugin looks almost identical to the one we currently have, so inclining to that choice.

[2022-09-16 01:30] #1932 closed

[2022-09-16 07:38] armenuikafka commented on #1995
@shubhwip there was a problem which is fixed now and everything works as expected !

[2022-09-16 07:38] #1995 closed

[2022-09-16 07:39] armenuikafka commented on #2304
Works as expected !

[2022-09-16 07:39] #2304 closed

[2022-09-16 08:26] #2584 closed

[2022-09-16 09:01] shubhwip commented on #2588
@Haarolean Can you please assign this to me ?

[2022-09-16 09:01] shubhwip commented on #2538
@Haarolean Can you please assign this to me ?

[2022-09-16 09:01] shubhwip commented on #2582
@Haarolean Can you please assign this to me ?

[2022-09-16 13:43] Haarolean commented on #2588
@shubhwip this [does work](https://github.com/provectus/kafka-ui/discussions/2579#discussioncomment-3653299) properly. Though, we have a few other problems with smart filters, like not displaying errors on frontend in case of filter failures. I'll describe in details if you're still interested.

[2022-09-16 13:53] Haarolean commented on #1995
@shubhwip thank you :)

[2022-09-16 13:54] shubhwip commented on #2582
@Haarolean Can you please add more details to this issue ?

[2022-09-16 13:55] shubhwip commented on #2588
Sure please describe then I will check further :).

[2022-09-16 13:57] Haarolean commented on #2582
done :)

[2022-09-16 15:48] Haarolean opened #2601 "Upgrade kafka in compose files"
1. Upgrade all kafka to newer versions with kraft mode
2. Drop zookeeper from everywhere
3. Create a separate compose with a kafka with zk

[2022-09-16 16:56] shubhwip commented on #2582
@Haarolean How can i change `kafka broker` properties through the Kafka-UI or by other means, Can you give some steps please ?
Also are we talking broker properties in the context of `topics/messages` ?

[2022-09-16 18:03] Haarolean commented on #2582
that's our new feature (#712), every broker in a table is clickable, there's a tab "configs" inside (url: `/ui/clusters/local/brokers/0/configs`).

[2022-09-17 11:01] wind57 commented on #2588
@Haarolean this should be closed. It seems that everything works as expected. Sorry for taking your time.

[2022-09-17 17:42] #2533 closed

[2022-09-18 06:20] winnie-chiu commented on #2550
I like to work on this issue.

[2022-09-18 07:08] winnie-chiu commented on #2530
I'd like to work on this task.

[2022-09-18 10:57] Haarolean commented on #2588
no worries, that's fine. There are still a few issues we're gonna address here.

[2022-09-18 12:19] #2550 closed

[2022-09-19 11:27] winnie-chiu commented on #2537
I'd like to take this issue.

[2022-09-19 12:32] #2344 closed

[2022-09-19 13:47] winnie-chiu commented on #2542
I'd like to work on this.

[2022-09-19 17:24] #2451 closed

[2022-09-19 23:37] #2537 closed

[2022-09-20 08:24] #2328 closed

[2022-09-20 09:11] #2435 closed

[2022-09-20 09:54] BulatKha opened #2615 "Schema registry: Previous version's schema preview is too narrow"
Preview of the previous schema version is a lot narrower, than the window size. Checked in:

- Safari 15.6.1 (17613.3.9.1.16),
- Chrome 105.0.5195.125 (Official Build) (x86_64)
- Brave 1.43.88 Chromium: 105.0.5195.68 (Official Build) (x86_64)

**Set up**
App version: e621a172d5d9a065dd1d6064099bac3aadc32549
(
[e621a17](https://github.com/provectus/kafka-ui/commit/e621a17)
)
URL: http://master.inte

[2022-09-20 11:03] djboris9 opened #2616 "Support passing properties to Kafka Connect client"
### Which version of the app are you running?
Tag: `v0.4.0` and `master@d9e74deb287e7b81172c6988dd0f99b1a97d9036`

### Is your proposal related to a problem?
Currently it's not possible to configure a Kafka Connect component that has TLS Client Auth required but there could be also other settings that need to be passed to the Kafka Connect Client.

### Describe the solution you'd like
I would like

[2022-09-20 12:25] Haarolean commented on #1361
#2125

[2022-09-20 12:31] #1168 closed

[2022-09-20 18:59] rafaeldomi commented on #1550
I think I have the same problem from this post. I've deployed a kafka cluster and I'm doing a test in which I stop one of the brokers. I can reproduce this issue. When I stop one broker, I can see that the only page (far now) that get errors is the [..]/ui/clusters/ClusterDev/topics. In the logs there is:

2022-09-20 18:55:25,425 ERROR [parallel-1] o.s.b.a.w.r.e.AbstractErrorWebExceptionHandler: [

[2022-09-21 07:24] winnie-chiu commented on #2615
I'd lik to take this one.

[2022-09-21 09:41] iliax opened #2621 "[UI] KSQL: Empty field in Stream properties causes errors"
**Describe the bug**

When having empty field in stream properties "underfined" property is sent to backend.

**Set up**

kafka-ui master

**Steps to Reproduce**

Steps to reproduce the behavior:

1. go to KSQL -> Execute Sql query
2. enter some query like `select * from GH_PRS_COUNTS_KSQL_TABLE_W;` and set stream property  like `ksql.query.pull.table.scan.enabled = true`.
3. Press "Add Stream Pro

[2022-09-21 13:40] iliax commented on #2345
Hello @ekeric13
Thank you for the ticket.

Behaviour you provided is expected, since offset/timestamp selection doesnt provided sorting. It only provides the way to seek to specific position where we start reading from (find offset related to that time).

In Oldest first mode we will start reading from this position to the direction of newer records (and older messages will be in the beginning on

[2022-09-21 14:06] iliax opened #2624 "[UI] Wrong Messages endpoint parameters passing"
On the Messages page when Offset/Timestamp fields **are filled** we need to pass seekType argument with OFFSET/TIMESTAMP values correspondingly.

When Offset/Timestamp are **not filled** we should pass seekType=LATEST if "Newest first" mode is on and seekType=BEGINNING when mode is "Oldest first".

[2022-09-21 14:46] ArthurNiedial opened #2625 "Topic tests : Unable to reproduce massege in topic after update topic."
**Describe the bug**
Unable to reproduce massege in topic after update topic.

**Set up**
Build from current branch master.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Create topic
2. Update topic
3. Produce message in updated topic

**Expected behavior**
Message produced

**Screenshots**

![ProduceMessageError](https://user-images.githubusercontent.com/79512124/191534674-8806b9a

[2022-09-21 23:14] Haarolean commented on #2625
@ArthurNiedial logs?

[2022-09-21 23:18] Haarolean commented on #1550
@rafaeldomi hey, that's unrelated, you have a pretty new kafka. Please take a look at #2103, if that's the same issue you experience -- please leave a comment there, if not -- please raise a new one.

[2022-09-22 15:08] nitin1677 opened #2633 "Offset filter not working (d149d26)"
**Describe the bug**

Switch to Cluster > Topics > Topic > Messages tab
For filter by offset, enter offset number to filter event for offset, and select right most, option Oldest first.

**Expected result**: in data grid, results should start from offset given in offset filter.

**Actual Result**: in data grid, results are being displayed from First Offset.

**Note: Also, cherry on cake, if I need

[2022-09-22 15:26] iliax commented on #2633
Hello @nitin1677, thank you for issues.
Currently timestamp/offsets seeks are broken in our master branch. Can you please try using image with "latest" tag?

[2022-09-22 15:27] iliax commented on #2633
should be fixed after https://github.com/provectus/kafka-ui/issues/2624 is done

[2022-09-22 16:02] iliax opened #2634 "[UI] Delete "Num Of Topics" column from Topic->Consumers page"
Where:
Topics -> select topic -> Consumers

Todo:
1. Remove "Num of Topics" columns
2. Rename "Num of Members" column to "Active consumers"

<img width="1511" alt="Screenshot 2022-09-22 at 19 48 54" src="https://user-images.githubusercontent.com/702205/191796514-46e1b853-ea21-49c8-b932-dafc45168390.png">

[2022-09-22 16:07] iliax commented on #2345
currently functionality broken in master branch.
should be fixed after https://github.com/provectus/kafka-ui/issues/2624

[2022-09-22 16:14] iliax commented on #1689
so, I think this thread can be closed and resolved.

The only problem we currently have is that cluster stats collection and jmx metrics gathering are going one after another and  UI is not initialized before jmx metrics collected (see https://github.com/provectus/kafka-ui/issues/1689#issuecomment-1104792531).

To solve this we will not require jmx metrics to be collected before UI initialization

[2022-09-22 16:14] #1689 closed

[2022-09-23 06:24] #2437 closed

[2022-09-23 08:19] yp19910928 opened #2636 "kafka statistics: how to choose a statistical time period"
![image](https://user-images.githubusercontent.com/3365444/191918473-183c9b7c-c033-42ec-8c8c-feea0ca576e3.png)
Hello, is it currently not supported to select a time period to generate statistics? Will there be support for generating statistics based on time periods in the future?

[2022-09-23 08:33] iliax commented on #2636
Hello @yp19910928, thank you for question.

Originally statistics were introduced as a method to inspect **whole topic** characteristics. So, timestamps that you can see is just one of that characteristics, not a analyze task parameters.

Potentially we can run analysis on specific time ranges, can you please describe your use case more detailed? (Just to understand what problems such functionalit

[2022-09-23 10:24] iliax commented on #1923
Hello @christoph110,

This behaviour is actually expected. Current json rendering policy is following json encoding spec for avro (https://avro.apache.org/docs/1.11.1/specification/_print/#json-encoding).

Reason why this is required is that for some types like int-long, string-bytes, float-double it is not possible to infer what exact type should be set in avro from json. I mean, for some simple

[2022-09-23 15:33] carolinekraus02 commented on #2634
Hello, could I please be assigned to this issue?

[2022-09-23 15:49] carolinekraus02 commented on #2330
Hello, I'd like to help with this issue but could you clarify what needs to be done? Is this simply renaming some text on the front end? Thanks

[2022-09-23 17:50] Haarolean commented on #2634
sure, go ahead :)

[2022-09-23 17:51] Haarolean commented on #2330
Hey, yeah, we have to rename "schema" to "subject" in all the labels we have in schema registry-related views.

[2022-09-23 20:49] advissor commented on #2185
When is the plan to release version 0.5 @Haarolean ?

[2022-09-24 00:21] paulolimarb commented on #1736
Hi @shivansh

Please, you can tell me how to resolved this problem? I can't to connect Kafka-ui on my kafka cloud confluent.

In your link i don't understand how to resolved this problem.

Thanks

[2022-09-25 12:13] christoph110 commented on #1923
Hi @iliax ,

that makes sense, didn't know about these specs. Thanks for looking into this.
In this case, since it is an Avro specification and not related to kafka-ui, I would say this issue can be closed unless you want to keep it for further investigations (e.g. what you wrote under PS: )

[2022-09-25 12:14] #1923 closed

[2022-09-26 08:31] Haarolean commented on #1736
@paulolimarb raise a new discussion or reach out to me on [discord](https://discord.gg/4DWzD7pGE5) and we'll take a look together.

[2022-09-26 08:32] Haarolean commented on #2185
@advissor as soon as roadmap features are done. I'm not sure this will be a part of 0.5, but it has a high priority on our list as well.

[2022-09-26 09:05] #2404 closed

[2022-09-26 10:40] VladSenyuta commented on #2449
@ArthurNiedial FYI

[2022-09-26 12:28] paulolimarb commented on #1736
Thanks @Haarolean I will do it.

[2022-09-26 13:15] BulatKha commented on #2332
Tabs are still on top for topics:
![image](https://user-images.githubusercontent.com/112083452/192267959-a6ef8be9-7886-4d1f-b3c5-bd2a17a08b67.png)

Needs a fix.

[2022-09-26 13:47] VladSenyuta opened #2642 "[e2e] create navigation thru the app using web driver"
- create NaviSideBar class
- implement all navigations

[2022-09-26 13:53] VladSenyuta opened #2643 "[e2e] specify abstract objects as much as possible cross screen classes"
try to create abstract classes like grid and form which will interact with common base elements such as elements in the list (connectors, schemas and topics look the same way in the grid), tabs (to use tab name only as argument to open it), common fields and buttons. //TO DISCUSS

[2022-09-26 14:20] VladSenyuta opened #2644 "[e2e] refactor POM classes structure"
- protected SelenideElement list on the top
- all screens should have method to wait its loading

[2022-09-26 14:49] amaendeepm opened #2646 "Supporting RedPanda"
### Which version of the app are you running?

### Is your proposal related to a problem?

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-09-26 15:18] BulatKha opened #2647 "Unification of the "Go to page" field logic for pagination"
**Describe the bug**
Currently the pagination and GoTo page field logic has been improved for Topics page (Improvement for the pagination "Go to page" field logic [#2451](https://github.com/provectus/kafka-ui/issues/2451))
We need to apply the same for all other pages (e.g. Schema registry), so the behaviour would be consistent for all pages and a lot more user-friendly.

**Set up**
Tested on the

[2022-09-27 07:46] BulatKha commented on #2451
Checked ok on http://master.internal.kafka-ui.provectus.io/ui/clusters/local/schemas
Works ok.

[2022-09-27 08:48] BulatKha opened #2650 "Brokers: Broker config "Edit" button is either partially or not shown at all on narrow window size."
**Set up**
Version: [eb06235](https://github.com/provectus/kafka-ui/commit/eb06235)

**Steps to Reproduce**
1. Open the "Brokers" page and click on one of the brokers.
2. Open the Configs tab.
**Actual behavior**
- If the window width is narrower than 1284px, then "Edit" button is not fitting in the window, and not visible at all at 1215px or less.
- Source tab is not visible at all in that case.

[2022-09-27 08:48] amaendeepm commented on #2646
Found the solution - closing it

[2022-09-27 08:48] #2646 closed

[2022-09-27 09:03] #2532 closed

[2022-09-27 09:16] #2531 closed

[2022-09-27 09:39] BulatKha opened #2651 "Improvement and unification of search and sort in KafkaUI"
**Describe the bug**
Current implementation is not consistent in the terms of sorting. Some pages have it, some - not.
**Brokers:**
   -    Broker > Config tab:
   - - No sorting neither by the Key nor by the Value columns
   - - Search is only available be Key, not by Value (can be helpful for troubleshooting/maintenance)

**Topics:**
   - No sorting by Number of messages or replication factor. B

[2022-09-27 10:02] #2438 closed

[2022-09-27 11:57] Haarolean commented on #2616
Hey, thanks for reaching out.

We'll add this to our backlog :)

[2022-09-27 12:45] BulatKha opened #2654 "Create an instruction how to access the logs for Manual QA"
**Current problem**
Now Manual QA doesn't have access or knowledge how to access test environment logs on master test environment (or custom deployment in PR), during change validation or exploratory test.

**Expected solution**
Instruction on GitHub or other resource on log types and locations to catch some errors, warnings or useful info log entries, that can not be spotted from the UI or might

[2022-09-27 14:29] BulatKha opened #2657 "Need doc explaining KafkaUI project Boards/Labels/Fields/Workflows."
**Problem**
It is not exactly clear:

- Labels

1. What does each label mean? they have some descriptions, but only shown partially.
2. Mark that e.g. blocked label is important, maybe something else? Should they have special colors, e.g. red?
3. Type - work item type/scope. But how does it differ from Scope label?
4. Impact for what? Like what change type, yet seems similar to Scope again,
5. Sco

[2022-09-27 14:41] VladSenyuta opened #2658 "[e2e] Rename POM classes according to their type and naming on UI"
- seems better if we'll merge SchemaEditView and SchemaCreateView
- Topics, Schema Registry, Kafka Connect objects from UI should have the same naming in the TAF

[2022-09-27 15:16] Haarolean opened #2659 "Separate example composes from development ones"
There is a bunch of example compose files, most of them are for external use -- they're examples for users, but some are for development use. We need to place them in a separate place suitable for dev purposes.

[2022-09-27 15:53] #1777 closed

[2022-09-27 17:46] nitin1677 commented on #2506
Thanks for update. Yes, uploading a file with key/value pair will be more convenient and easy to manage. e.g.

FileName: file1.json
{"key": "1111", "value": {"field1":"1111","field2":"dadada","field3":"9991","field4":null,"field5":null}}
{"key": "1112", "value": {"field1":"1112","field2":"tatata","field3":"9991","field4":null,"field5":null}}
{"key": "1113", "value": {"field1":"1113","field2":"rara

[2022-09-28 04:10] sirzeta commented on #2507
Same problem with logical types like `decimal` with type `bytes`, no problems with other logical types with other types than `bytes` :

[code]

Result:

[code]

I'm developing a node.js app with [@ovotech/avro-decimal](https://www.npmjs.com/package/@ovotech/avro-decimal) to encode/decode from the schema registry, works flawlessly, just at the backend side I decode the bytearray value to string and

[2022-09-28 06:16] Haarolean opened #2664 "Modify a release flow to publish serde-spi jar to maven central"

[2022-09-28 08:26] 70G37H3R commented on #2251
Same proble. It show me message "Connector with name .. already exists" but I don't have any connector yet.

[2022-09-28 08:27] 70G37H3R opened #2665 "Can't create connectors"
The image that has been used is kafka-ui:latest. It show me message "Connector with name .. already exists" but I don't have any connector yet.

![image](https://user-images.githubusercontent.com/56068441/192742924-68a7765b-9f92-4fa1-b174-c6f22e4ecdab.png)

[2022-09-28 08:59] Haarolean commented on #2665
Hi,

please follow the issue template. The one you've used (bug) has some requirements ("set up" block), which says `We might close the issue without further explanation if you don't provide such information.`.

Please fill out the report with all the required information.

[2022-09-28 10:08] #1572 closed

[2022-09-28 11:23] #2566 closed

[2022-09-28 12:08] raphaelauv commented on #2601
some source of inspiration -> https://github.com/confluentinc/cp-all-in-one/blob/748c7033146f202eaf4d2dfecaabfc233b4741af/cp-all-in-one-kraft/docker-compose.yml#L6

[2022-09-28 12:10] S1M0NM commented on #1776
Hello,

I did the configuration according to these instructions, but the property for the grant type must be:

`SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTH0_AUTHORIZATION_GRANT_TYPE`

[2022-09-28 18:02] nitin1677 commented on #2633
Yes, working with latest lag. but latest tag (v0.4.0) has other issues like smart filters not working or timeout exception with kafka clusters where very large number of topics and high volume events.

[2022-09-29 01:26] winnie-chiu commented on #2601
I'd like to work on this task.

[2022-09-29 07:03] yp19910928 commented on #2636
Hi, I need to analyze Kafka information over a period of time. Can it be done? Or what should I do? I see the "Restart Analysis" button on the UI, it doesn't seem to be able to select a time range.

[2022-09-29 07:08] iliax commented on #2636
@yp19910928, currently you can't choose time period for analysis. Analysis will run over whole topic.

We will discuss your use case internally and maybe add such functionality in the future releases

[2022-09-29 07:13] yp19910928 commented on #2636
Okay, thank you very much.

[2022-09-29 11:15] FireNdIce3 commented on #2549
Can I work on this?

[2022-09-29 11:34] #2436 closed

[2022-09-29 12:44] Haarolean commented on #2549
@FireNdIce3 hey, sorry, it's already done within #2574. Feel free to look at other issues on "up for grabs" board or via "good first issue"/"hacktoberfest" labels :)

[2022-09-29 12:44] #2549 closed

[2022-09-29 13:00] adityabhattad2021 commented on #2634
Is this issue still active?

[2022-09-29 13:16] iliax commented on #2185
Hello @SergKam , can you pls attach full log for latest exception?

[2022-09-29 13:31] SergKam commented on #2185
@iliax No, sorry. It was just an experiment, we decided not to use AWS MSK and switch to Confluent instead, so I deleted evrething.
But you can try to set it up yourself using AWS MSK guide https://docs.aws.amazon.com/msk/latest/developerguide/serverless-getting-started.html

[2022-09-29 13:33] iliax commented on #2185
ok, we will create cluster and check how it goes, thank you

[2022-09-29 13:46] cassanellicarlo commented on #2118
I'm using Java 11 and kafka 3.2.3 (latest version)

Kafka broker is configured like this:

**server.properties**

- SASL_SSL listener
- sasl.enabled.mechanism=GSSAPI
- sasl.kerberos.service.name=kafka

**kafka_server_jaas.conf**

KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/etc/security/keytabs/kafka_server.keytab"
    pr

[2022-09-29 13:49] Haarolean commented on #2118
Does the hotfix mentioned above work for you?

[2022-09-29 13:51] Haarolean commented on #2634
Depends on the definition “active”

[2022-09-29 14:13] cassanellicarlo commented on #2118
@Haarolean i just found and resolved the error. Basically, the difference from the image 0.3.3 is that it was running as root while the newest versions of the UI run with the user kafkaui.

Therefore, i had to modify my podman run command with the following

`podman run -it \
    --volume=truststore_BN_CA.jks:/opt/kafka/config/truststore.jks**:U** \
    --volume=$TICKET_LOCATION:/tmp/**krb5cc_100*

[2022-09-29 16:15] carolinekraus02 commented on #2634
Hello,

Sorry for the confusion— I chose another issue for my project, so it is up
for grabs now.

On Thu, Sep 29, 2022 at 9:00 AM Aditya Bhattad ***@***.***>
wrote:

--
*Caroline Kraus*

[2022-09-29 17:19] Haarolean commented on #1236
Global compatibility level is a, well, global thing with no relation no particular schemas.

[2022-09-29 17:19] #1236 closed

[2022-09-29 17:22] Haarolean opened #2668 "Get rid of "Topic analysis successfully started" message"
It makes no sense considering the page contents changes

[2022-09-29 17:23] Haarolean commented on #2350
@workshur please consider adding a possibility to specify seconds in a datetime picker as well

[2022-09-29 17:31] Haarolean commented on #2507
@nitin1677 @sirzeta can you check the `master`-labeled docker image? Does selecting other serdes to view/produce messages help?

[2022-09-29 17:31] #2406 closed

[2022-09-29 17:33] Haarolean commented on #2102
blocked by #753

[2022-09-29 17:40] Karthik-PM commented on #2668
can you assign me this issue

[2022-09-29 17:44] nitin1677 opened #2669 "Save to file issues with bigdecimal"
**Describe the bug**

when payload contains bigdecimal values, values are displayed as unicode characters like,

"foreignExchangeRate": {
			"bytes": "#òoÁ\u0000\u0000"
		}

When we select "save as a file", the result in file is truncated after bytes string as no text after this string in output file. ,\"foreignExchangeRate\":{\"bytes\":\"

**Set up**

d149d26013a81e22e5d0c8b59db56ac0565b9e55
htt

[2022-09-29 17:44] adityabhattad2021 commented on #2634
Can I work on this?

[2022-09-29 17:45] Haarolean commented on #2634
Sure! Go ahead :)

[2022-09-29 21:40] Haarolean commented on #2668
@Karthik-PM sure :)

[2022-09-30 00:22] prateekvarma commented on #2329
Hi @Haarolean , I can try and fix the padding.

- Is there any specific amount of padding we're looking at?
- Any other detail?

(participate in the spirit of Hacktoberfest)

[2022-09-30 03:30] adityabhattad2021 commented on #2634
Hey I am trying to set up `kafka-ui-react-app` for local development, I try to follow set guide on README.md of the `kafka-ui-react-app` but I cannot understand these two steps :
Generate API clients from OpenAPI document
[code]
and
Create or update existing `.env.local` file with
[code]
what does `pnpm gen:sources` do, is setting this: `VITE_DEV_PROXY= https://api.server` is necessary for local d

[2022-09-30 03:35] gabrieljones opened #2672 "Don't Dismiss Produce Message pane after `Send`"
### Which version of the app are you running?
vv0.4.0([521ba0c](https://github.com/provectus/kafka-ui/commit/521ba0c))

### Is your proposal related to a problem?
After clicking `Send` in Produce Message pane UI shift back to the Messages pane and resets the Produce Message field contents.

### Describe the solution you'd like
After clicking `Send` in Produce Message pane UI stays on the Produce M

[2022-09-30 09:18] Haarolean opened #2674 "Topic analysis improvements"
<img width="351" alt="image" src="https://user-images.githubusercontent.com/1494347/193237442-2e91ab1c-cc49-40e1-b9de-935d381f08a0.png">

- Display percentage in %

- Display time passed since the start
- Split "scanned messages" to two lines: "scanned messages" and "scanned bytes"

[2022-09-30 09:19] Haarolean opened #2675 "Topic messages: rename "content" to "value""
Everywhere in the messages views rename "content" to "value". It's key/value in kafka, not key/content.

[2022-09-30 09:21] #2080 closed

[2022-09-30 09:22] Haarolean opened #2676 "Add a space to all formatted sizes"
All sizes in the app are displayed like this: "123KB". Please add a space between the numeric and size parts.

[2022-09-30 09:23] Haarolean opened #2677 "Topic list: Rename "total partitions" to "partitions""
<img width="299" alt="image" src="https://user-images.githubusercontent.com/1494347/193238757-d6f3d11f-05dd-4d77-bd02-972ed95cfb3a.png">

[2022-09-30 09:24] Haarolean opened #2678 "Add sorting by number of messages"
Currently we do support sorting by size but not number of messages. Considering that we accept that these metrics (both in count and size) might be outdated due to metrics collection periods, we should implement sorting by number of messages as well.

[2022-09-30 09:33] Haarolean opened #2679 "Broker configs: Display a tooltip about the source of the property"
<img width="257" alt="image" src="https://user-images.githubusercontent.com/1494347/193239459-4583ebbf-fde1-417c-b4e5-a0a9d2fb5cf8.png">
Add a tooltip icon with the following text on hover:

[code]

[2022-09-30 09:33] Haarolean opened #2680 "UI: Display smart filters filtered stats"
When polling messages from topic (and filtering is enabled) we should show number of errors that appeared during filtration process - > this number placed in `TopicMessageConsuming.filterApplyErrors`
UI:
1. during polling process - show value of `TopicMessageConsuming.filterApplyErrors` if it is > 0
2. when polling is finished BE will send `TopicMessageEvent` with `type = DONE` with final stats of

[2022-09-30 10:42] workshur opened #2681 "Migrate Topic Consumers page to new version of table component"
### Describe the solution you'd like
Migrate `src/components/Topics/Topic/ConsumerGroups/TopicConsumerGroups.tsx` to new version of tables  `src/components/common/NewTable/Table.tsx`

### Additional context
Topics -> Topic -> Consumers

[2022-09-30 10:45] workshur opened #2682 "Migrate Dashboard table to the new version on table components"
### Describe the solution you'd like
Migrate `src/components/Dashboard/ClustersWidget/ClustersWidget.tsx` to new version of tables  `src/components/common/NewTable/Table.tsx`

### Additional context
Go to Dasboard

[2022-09-30 10:51] workshur opened #2683 "Migrate Schema details table to the new version of Table component"
### Describe the solution you'd like
Migrate `src/components/Schemas/Details/Details.tsx` to new version of tables  `src/components/common/NewTable/Table.tsx`

### Additional context
Schema Registry -> Schema

[2022-09-30 10:55] workshur opened #2684 "Migrate Topic Overview to the new version of table"
### Describe the solution you'd like
Migrate `src/components/Topics/Topic/Overview/Overview.tsx` to new version of tables  `src/components/common/NewTable/Table.tsx`

### Additional context
Topics -> Topic

[2022-09-30 10:57] workshur opened #2685 "Migrate Topic Settings page to the new version of table component"
### Describe the solution you'd like
Migrate `src/components/Topics/Topic/Settings/Settings.tsx` to new version of tables  `src/components/common/NewTable/Table.tsx`

### Additional context
Topics -> Topic -> Settings

[2022-09-30 11:09] Haarolean commented on #2329
@prateekvarma thank you.
Please use [this](https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=117%3A2644) as a reference

[2022-09-30 11:12] Haarolean commented on #2634
@adityabhattad2021
1. `gen:sources` does generate classes from API declaration (kafka-ui-api.yaml) via openapi-generator.
2. It's the URL for the backend. You can run kafka-ui docker container and expose the 8080 port, and set dev proxy to http://localhost:8080.
Let me know how it goes.

[2022-09-30 11:13] workshur opened #2686 "Add clear button to the search component"
### Describe the solution you'd like
Search input should be clearable

### Additional context
Component: src/components/common/Search/Search.tsx

[2022-09-30 12:26] adityabhattad2021 commented on #2634
hey `pnpm gen:sources` gives error on my device
![Screenshot 2022-09-30 174856](https://user-images.githubusercontent.com/93488388/193268014-437ba64d-1abd-403a-8303-11556c5e9e0f.png)
does it needs java setup on the device?
and I do not have docker setup currently.
I made changes anyways, will make a pull request tomorrow.
Actually I am a newbie just trying to get into open source.
Thanks for your

[2022-09-30 12:35] detronetdip commented on #2686
Can I work on this issue? can you please assign me this?

[2022-09-30 12:51] Haarolean commented on #2634
yep you do :)
You can build the app locally with maven, but it'd be easier with docker, you won't have to build the app at all, just the frontend part.
Sure, any contributions are welcome :)

[2022-09-30 12:51] Haarolean commented on #2686
sure :)

[2022-09-30 13:04] #2534 closed

[2022-09-30 15:28] asheerrizvi commented on #2677
@Haarolean I can take this.

[2022-09-30 15:28] asheerrizvi commented on #2677
@Haarolean I can take this.

[2022-09-30 15:29] asheerrizvi commented on #2676
@Haarolean I can take this.

[2022-09-30 15:29] asheerrizvi commented on #2675
@Haarolean I can take this.

[2022-09-30 20:00] vj-codes opened #2688 "Welcome first contributors GitHub action not working"
The GitHub action that leaves a message for every new issue and PR merge is failing for every pull request.
I suggest to use this bot as it reduces the need for the action to be run every time a ew PR is created, plus the bot is easy to integrate, customise and works in the exact same way as the action.
https://github.com/behaviorbot/welcome
If approved, I would like to work on this.

[2022-10-01 02:00] everrover commented on #2678
Can u plz assign me this

[2022-10-01 07:23] detronetdip commented on #2686
Hi @Haarolean I am very new to apache kafka can you please guide me hou to setup a local cluster so that I can test this UI and can work on this issue?

[2022-10-01 12:18] adityabhattad2021 commented on #2675
Ready to take this issue.

[2022-10-01 16:19] sahmed007 commented on #2675
So I started this, but not able to build the UI locally. I followed the instructions here:

https://github.com/provectus/kafka-ui/tree/master/kafka-ui-react-app#getting-started

My node_modules get installed and I launch the docker containers successfully. The command to start runs as well, and when I go to localhost:3000, I do not see the UI built after I made the changes.

Am I doing something w

[2022-10-01 18:19] detronetdip commented on #2686
Hi @Haarolean  could you please help me?

[2022-10-01 22:48] john-everden opened #2693 "Docker Options Ignored"
Example portion of docker-compose file for kafka-ui

[code]

  docker-compose logs kafka-ui

app-kafka-ui-1  | Caused by: org.apache.kafka.common.errors.TimeoutException: Timed out waiting for a node assignment. Call: fetchMetadata
app-kafka-ui-1  | 2022-10-01 22:45:00,048 WARN  [kafka-admin-client-thread | adminclient-2] o.a.k.c.NetworkClient: [AdminClient clientId=adminclient-2] Connection to no

[2022-10-02 07:16] Haarolean commented on #2693
Hi, please share the full compose file with kafka settings in particular.

[2022-10-02 07:19] Haarolean commented on #2686
@detronetdip please refer to:
[contributing guide](https://github.com/provectus/kafka-ui/blob/master/CONTRIBUTING.md)
[frontend build guide](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-react-app/README.md)
You'll have to run the compose: `docker-compose -f ./documentation/compose/kafka-ui.yaml up` and set `VITE_DEV_PROXY` to `http://localhost:8080`.

[2022-10-02 07:21] Haarolean commented on #2675
Oof, what a competition, folks. I'm not sure who should I assign this to -- the first person who asked or the one who decided to start anyway? Please check out our "up for grabs" board/project for other issues. We don't have much frontend ones right now, but there are still some left.

[2022-10-02 07:22] Haarolean commented on #2675
What do you observe there? Do you mean your changes are not reflected there? AFAIK vite does the rebuild in runtime just fine.

[2022-10-02 07:26] asheerrizvi commented on #2675
It's alright. I'll pass.

[2022-10-02 07:34] #2677 closed

[2022-10-02 07:37] Haarolean commented on #2678
sure :) use the same approach as with the topic size there

[2022-10-02 07:39] Haarolean commented on #2688
@vj-codes hey, sure, didn't notice it fails now

[2022-10-02 07:53] haseeb-xd commented on #2676
i wanna work on this

[2022-10-02 08:52] Haarolean commented on #2676
@haseeb-xd sure, go ahead.
They might be formatted via the same function through the app. Topic statistics is one of the places with a lot of sizes.

[2022-10-02 11:38] #2650 closed

[2022-10-03 08:42] #2403 closed

[2022-10-03 12:23] iliax commented on #2669
Hello @nitin1677 , thank you for issue.

can you please share `foreignExchangeRate` field definition (like you have in avro schema) ?

[2022-10-03 13:20] iliax opened #2697 "[UI] Do not cache `serdes` endpoint results on frontend"
**Description**

`serdes` endpoint responses should not be cached on frontend, because its responses relates to schema-registry state, which can be changed any time. Also, endpoint should work fast, so, there should be no performance impart on calling it .

[2022-10-03 15:01] jSierraB3991 commented on #2693
Hello good morning same problem
https://github.com/jSierraB3991/dotfiles/blob/main/Docker/kafka-compoe-with-ui.yml

`version: '3'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - 2181:2181
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KA

[2022-10-03 15:10] jSierraB3991 commented on #2693
Hello good morning same problem

https://github.com/jSierraB3991/dotfiles/blob/main/Docker/kafka-compoe-with-ui.yml

[2022-10-03 19:19] jSierraB3991 commented on #2693
Work
https://github.com/jSierraB3991/scripts/blob/main/bash/run_images_docker_host.sh#L152

[2022-10-03 20:02] fMurugi commented on #2697
Hi I would like to work on this.Would you assign  me please ?

[2022-10-03 21:13] Haarolean commented on #2697
Hey, sure.

[2022-10-04 06:23] #2658 closed

[2022-10-04 06:31] VladSenyuta opened #2699 "[e2e] review tests to use more object details while creating and updating"
we have a lot of missed details (in Topic for example) that we can set while creating and assert than
need to review and add as much details as possible and make assertions after creation not only for new object in the list

[2022-10-04 07:59] fMurugi commented on #2697
i have a question, how are you caching these results.I cant figure out.

[2022-10-04 09:59] BulatKha commented on #2332
@Haarolean considering the comment from Oleg in #2637 , can this considered to WAD for the topics and therefore closed?

[2022-10-04 12:23] #2634 closed

[2022-10-04 12:25] #2542 closed

[2022-10-04 12:34] Haarolean opened #2700 "Add an indicator for an active broker controller"
like this
![image](https://user-images.githubusercontent.com/1494347/193820357-5665f6fe-6039-4608-85fe-d11f9c4c5a9e.png)

originally requested by DaveInSask on discord

[2022-10-04 12:35] Haarolean commented on #2697
@iliax ?

[2022-10-04 12:40] Haarolean commented on #2693
@jSierraB3991 that won't work because your advertised host name is "localhost", which is invalid because you're connecting from another docker container.
Please take a look at our examples, there are plenty, e.g. with kafka in [kraft mode](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-arm64.yaml). `KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka0:29092,PLAINTEXT_HO

[2022-10-05 05:20] iliax commented on #2697
@fMurugi
I don't know where exact FE code in placed, but if you first go to some topic page FE will call `serdes` endpoints. After that if go back to Topics list page and go to same topic again - FE wont do any `serdes` calls anymore. (hard-refresh fixing this situation Ctr - shift - R)

[2022-10-05 15:27] DaveSlinn opened #2703 "Display In Sync Replicas (ISR) by Partition on Topic overview"
### Which version of the app are you running?
0.4.0 for production use
Tu.10.2022 06:31:55 (c961344) for test and evaluation

### Is your proposal related to a problem?

It is helpful to identify which partitions for topics are not replicating properly, causing the In Sync Replicas number to be reduced in an otherwise normally functioning cluster (i.e. no brokers are down).

### Describe the solut

[2022-10-05 18:41] iliax commented on #2636
Further discussion about this request will be continued here: https://github.com/provectus/kafka-ui/discussions/2667. Closing issue

[2022-10-05 18:41] #2636 closed

[2022-10-06 07:02] iliax opened #2705 "[UI] Topic search not working properly with pagination"
**Setup:**
version in c961344

**Description:**
1. Go to Topics page
2. move to page 2
3. enter something into topic search field
-> request sent with `page=2` parameter which will force BE to search **on the second page**, which will lead to wrong results

<img width="904" alt="Screenshot 2022-10-06 at 10 59 46" src="https://user-images.githubusercontent.com/702205/194235461-dbd248e0-ef72-4079-9b

[2022-10-06 09:49] Haarolean opened #2706 "Deleting a consumer hangs the page"
https://user-images.githubusercontent.com/1494347/194282581-2387ac9f-bee4-4d09-a42a-3fdd312ffb2d.mov

[2022-10-06 09:54] spike-spiegel-21 commented on #2706
Hey, @Haarolean I will be working on this issue. I think there is some problem with the middleware. Request you to assign me. Thank You!

[2022-10-06 09:55] Haarolean commented on #2706
@spike-spiegel-21 sure, go ahead :)

[2022-10-06 11:31] armenuikafka opened #2707 "Add message about not existing offline clusters in Dashboard"
**Describe the bug**
In case of missing offline clusters, user should see the corresponding message with toggling the offline clusters in Dashboard

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Turn the "Only offline clusters" on
2. Make sure no clusters are available

**Expected behavior**
Should be shown "No Offline Clusters" message

**Screenshots**

<img width="171

[2022-10-06 13:47] Haarolean opened #2709 "Display topic throughput stats"
topic list: add production/consumption column (one column 2 rows)
like this:
<img width="311" alt="image" src="https://user-images.githubusercontent.com/1494347/194329664-c14c5794-3a6c-434e-ba57-b6655105bc2f.png">

topic overview pane: display production, consumption

[2022-10-06 19:54] EverOwen opened #2710 "[UI] Unknown format "date-time" ignored in schema at path on topic with json schema"
**Describe the bug**

Found in eb06235

I setup a stream using KSQLDB and associated with json schema from schema registry. If I attempt to submit the message to the topic it's rejected with the error.

"Unknown format "date-time" ignored in schema at path"

**Additional context**

Similar to the issue defined here in ajv.

https://github.com/ajv-validator/ajv/issues/1295

[2022-10-06 20:20] nitin1677 commented on #2669
{
						"name": "foreignExchangeRate",
						"type": [
							"null",
							{
								"type": "bytes",
								"logicalType": "decimal",
								"precision": 24,
								"scale": 16
							}
						],
						"doc": "foreign exchange rate",
						"default": null
					}

[2022-10-07 08:47] Haarolean opened #2711 "CVEs fixes, October 22"
https://github.com/provectus/kafka-ui/actions/runs/3058781951/jobs/4935377778
Bump snakeyaml deps

[2022-10-07 10:36] #442 closed

[2022-10-07 12:01] VladSenyuta opened #2712 "[e2e] refactoring of SmokeTest"
- current test about comparing screenshots is redundant
- need to create test which will check all base elements, such as logo, naviPanel availability, logout button

[2022-10-07 12:01] #2642 closed

[2022-10-07 12:05] Haarolean commented on #2672
To do:
1. In the produce message pane add a new checkbox "Keep the contents", unchecked by default
2. If the checkbox is being checked, upon producing a message do the following:
1) do not close the pane upon producing the message
2) Do not alter key/value content in any way

[2022-10-07 13:04] #2332 closed

[2022-10-07 14:04] spike-spiegel-21 commented on #2706
Hey, @Haarolean Currently I am able to run the [kafka-ui-react-app](https://github.com/provectus/kafka-ui/tree/master/kafka-ui-react-app) but I don't know how to create consumer group. Could you please help me?

[2022-10-07 14:07] Haarolean commented on #2706
@spike-spiegel-21
you can install any KC connector which does consume messages.
Here's a bunch of [examples](https://github.com/provectus/kafka-ui/tree/master/documentation/compose/connectors), e.g. s3-sink will consume messages and post them to AWS S3, you can configure that one for example.
Here's a [compose file](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/e2e-tests.

[2022-10-07 15:22] #2325 closed

[2022-10-07 22:54] Ge0f3 commented on #858
Whenever I add KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.scram.ScramLoginModule required username=username  password=password

I get requried:latest image not Unable to find image 'required:latest' locally

btw my docker file

 docker run --rm -p 8080:8080 \
    -e KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL \
    -e KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=

[2022-10-08 05:48] acass91 commented on #2709
Hi @Haarolean is this issue available to be worked on for Hacktoberfest?

[2022-10-08 09:48] Haarolean commented on #2709
Hey, yes, it is since it’s marked with the label “hacktoberfest”.On 8 Oct 2022, at 08:48, acass91 ***@***.***> wrote:﻿
Hi @Haarolean is this issue available to be worked on for Hacktoberfest?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-08 15:13] Richard7111 commented on #2705
Hello, can you please assign this issue to me?

[2022-10-08 16:48] acass91 commented on #2709
I can give this one a go.

[2022-10-08 16:53] Haarolean commented on #2709
Sure, go ahead :) On 8 Oct 2022, at 19:48, acass91 ***@***.***> wrote:﻿
I can give this one a go.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-08 16:54] Haarolean commented on #2705
Hey, sure, go ahead :)On 8 Oct 2022, at 18:13, Richard Michalik ***@***.***> wrote:﻿
Hello, can you please assign this issue to me?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were assigned.Message ID: ***@***.***>

[2022-10-08 22:48] nitin1677 opened #2716 "Invalid dates after a recent pull"
**Describe the bug**

After i pulled the recent image from master branch, the dates are badly messed up and does not show in correct/readable format. for  e.g. top left, current commit shows like this, notice the date on left side before current commit in brackes.

Fr.10.2022 11:20:53 (7d5b7de)

Also from message viewer, the timestamp formats also messed up with format.
Offset	Partition	Timestamp

[2022-10-09 02:14] #2665 closed

[2022-10-09 03:11] acass91 commented on #2709
I encountered a build issue with openjdk-18 on Linux.
I tried running `./mvnw clean install -Dmaven.test.skip=true-Pprod`, but it looks like it is still trying to run some tests.

[code]

I see this warning in the dumpstream file.
`OpenJDK 64-Bit Server VM warning: Ignoring option --illegal-access=permit; support was removed in 17.0`

[2022-10-09 13:18] royca commented on #2711
Can I work on this and raise a PR ?

[2022-10-09 15:20] Haarolean commented on #2711
Hey, sure. On 9 Oct 2022, at 16:18, royca ***@***.***> wrote:﻿
Can I work on this and raise a PR ?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-10-10 00:49] acass91 commented on #2709
I am seeing some errors when trying to access the React app on port 3000.

![image](https://user-images.githubusercontent.com/6621993/194787203-185576f7-0b7c-4e06-af21-cc14963abc29.png)

[2022-10-10 02:14] #2507 closed

[2022-10-10 10:28] AydinChavez commented on #364
have same issue, am using helm charts. How can I fix this?

[2022-10-10 13:49] preguenga opened #2718 "Kafka-ui hangs on topic search in specific page"
**Describe the bug**
Kafka-ui seems to hang/load indefinitely  whenever We search for a specific topic that is located in a specific page (page 4 which we can't also load).

**Set up**

App version: 7d5b7de
Kafka version that we are using : 2.8.0 (Commit:ebb1d6e21cc92130)
Docker version 1.13.1, build 7d71120/1.13.1

**Steps to Reproduce**

Steps to reproduce the behavior:

1. docker-compose
2. log

[2022-10-10 15:17] Haarolean commented on #2718
Hi, thanks for reaching out. Which app version do you use?

[2022-10-10 15:18] Haarolean commented on #2716
Hey, thanks for reaching out. We're aware, the fix will be available in a few days. Meanwhile, you can set the env variable `timestamp.format` to `DD.MM.YYYY HH:mm:ss`.

[2022-10-10 15:19] preguenga commented on #2718
App version that We are using seems to be : vv0.4.0([521ba0c](https://github.com/provectus/kafka-ui/commit/521ba0c))

[2022-10-10 15:20] Haarolean commented on #2710
Hey, thanks for reaching out. We'll take a look

[2022-10-10 15:21] Haarolean commented on #2710
#2354

[2022-10-10 15:26] Haarolean commented on #2709
@acass91 no idea. Have you set the dev_proxy variable mentioned in kafka-ui-react-app/README.md?

[2022-10-10 15:29] Haarolean commented on #364
@AydinChavez please raise a new issue

[2022-10-10 15:31] preguenga commented on #2718
Hi, thank you for you help.

We just tested with the master-labeled image :
![image](https://user-images.githubusercontent.com/32769070/194902173-6bc756e6-3a18-4e20-b407-26937681ed82.png)

and we still have the same issue 😢 (same INFO in logs) ...

[2022-10-10 15:36] #2682 closed

[2022-10-10 15:37] preguenga commented on #2718
No errors whatsoever in logs (docker logs kafka-ui -f | grep -i ERROR shows us nothing)

Kafka version that we are using : **2.8.0** (Commit:ebb1d6e21cc92130)

[2022-10-10 15:39] preguenga commented on #2718
There is no stacktraces sadly 😞  it just keeps going one after another

[2022-10-10 15:40] Haarolean commented on #2718
aight, thanks. We'll take a look

[2022-10-10 15:41] Haarolean commented on #2718
@iliax could you take a look please?

[2022-10-10 15:53] Haarolean commented on #2675
Anyone's willing to work on this?

[2022-10-10 15:53] nitin1677 commented on #2716
thx, adding environment variable for timestamp.format helped to correct the date format.

[2022-10-10 16:20] adityabhattad2021 commented on #2675
Me🤚

[2022-10-10 18:18] acass91 commented on #2709
I have not. I followed the Docker method which said to make sure the variable is not set. Access works on port 8080, but it requires a `docker-compose -f ./documentation/compose/kafka-ui.yaml down`, build, and `docker-compose -f ./documentation/compose/kafka-ui.yaml up -d` before I can see any changes take effect.

Also, I was looking at using `getValue<Topic['bytesInPerSec']>()` and `getValue<Top

[2022-10-10 22:29] chanced commented on #2646
What was the solution?

[2022-10-11 06:29] BulatKha commented on #2332
@Haarolean there is still Overview tab with old layout on the Connector details page:
![image](https://user-images.githubusercontent.com/112083452/195011557-8fcf4112-02a7-4e23-b470-f239288b3c22.png)

Should this defect be reopened?

[2022-10-11 06:39] BulatKha opened #2721 "KSQL: "Execute KSQL Request" Stream properties overlayed by KSQL query window"
**Describe the bug**
Layout of the KSQL query window is broken and Stream properties input left border is way under the KSQL query window.

**Set up**
[0939d61](https://github.com/provectus/kafka-ui/commit/0939d61)

**Steps to Reproduce**
1. Open the KSQL tab.
2. Push the "Execute KSQL Request" button
**Actual behavior**
All the stream properties edit fields are under the query window (all the add

[2022-10-11 07:00] Haarolean commented on #886
We’re planning future improvements on this topic anyway. This should work fine for now.

[2022-10-11 08:40] Haarolean commented on #2646
@chanced please raise a new issue if you have any struggles and follow the issue template

[2022-10-11 08:45] Haarolean commented on #2709
@acass91 port 8080 is for the app being run in a docker container, there are both frontend and backend, you just have to use that container as a proxy for the backend part.
Please follow [this](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-react-app/README.md) guide.

Have you tried running a producer/consumer for this matter?

[2022-10-11 08:49] Haarolean opened #2722 "Add KC quick actions into the sandwich menu"
Add the following actions into this menu:
<img width="303" alt="image" src="https://user-images.githubusercontent.com/1494347/195043659-57b84a7f-c139-4ba0-bc34-8adefd149bf9.png">
1. restart connector
2. restart all tasks
3. restart failed tasks
All the actions are available in a connector overview, we can copy them

[2022-10-11 08:51] Haarolean opened #2723 "Connectors table rows do not open in a new tab upon clicking with middle mouse click"
Unlike other tables in the app if you click on a KC connector in the table with a middle mouse click -- it doesn't get opened in a new tab.

[2022-10-11 08:53] Haarolean commented on #962
1. Make connectors selectable one by one with checkboxes, like topics
2. Make it possible to apply actions to the subset of connectors: restart connector, restart all tasks, restart failed tasks

#2722

[2022-10-11 08:58] Haarolean opened #2724 "Unify input forms"

[2022-10-11 09:00] Haarolean opened #2725 "Make topic bulk actions buttons always visible"
<img width="747" alt="image" src="https://user-images.githubusercontent.com/1494347/195046352-d2b27d74-bbef-46a2-982c-c2aece1cb7df.png">

1. Make these buttons visible even if no topics are selected
2. Make the buttons disabled if no topics are selected

[2022-10-11 09:04] Haarolean opened #2726 "Unable to update topic config in case of retain time has been changed"
1. Edit any topic
2. Change "time to retain data" via **selectors**
3. "Update topic" button is still disabled

[2022-10-11 10:00] Haarolean opened #2727 "Move docs to gitbook"

[2022-10-11 10:35] yogesh-9999 commented on #2725
hey @Haarolean  assign me this issue

[2022-10-11 12:16] AydinChavez opened #2728 "AirGap: Remove internet dependency / google fonts"
Hi!

we are accessing latest kafka-ui via a corporate socks proxy, which does not have internet access.

Would it be possible to embed the fonts in the react-app (as part of static folder e.g.) instead of referencering those online?

https://github.com/provectus/kafka-ui/blob/master/kafka-ui-react-app/index.html#L10

[code]

At the moment, our browser tries to reach following two google font onlin

[2022-10-11 12:20] corners2wall commented on #2722
@Haarolean, can u assign on me?

[2022-10-11 12:57] Haarolean commented on #2722
sure, go ahead :)

[2022-10-12 02:00] acass91 commented on #2709
Okay, it loads after creating a .env.local file containing VITE_DEV_PROXY.
`Make sure that none of the .env* files contain DEV_PROXY variable`
What does this line mean in the guide if I'm actually supposed to define VITE_DEV_PROXY?

I have one console producer/consumer pair running. I can see the number of messages increase as I enter text.

[2022-10-12 11:57] VladSenyuta opened #2733 "[e2e] create test for NaviSideBar as initial check after log in"

[2022-10-12 13:07] armenuikafka opened #2735 "Empty Metrics tab for Broker"
**Describe the bug**
Metrics of Broker are not shown

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Brokers
2. Open any Broker
3. Turn to Metrics tab

**Expected behavior**
Appropriate Metrics should be displayed

**Screenshots**
<img width="1719" alt="broker's metrics" src="https://user-images.githubusercontent.com/104780608/195350626-32e219b2-2dcb-443d-97e

[2022-10-12 14:37] Haarolean commented on #2675
Yes, please :)On 12 Oct 2022, at 16:32, Aditya Bhattad ***@***.***> wrote:﻿
Do I also need to change MessagesV2 ?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-12 16:31] iliax commented on #2735
Thank you @armenuikafka for noticing that.
This happens because we changes configuration property name for metrics : need to change `KAFKA_CLUSTERS_0_JMX_PORT` to `KAFKA_CLUSTERS_0_METRICS_PORT` in application config.
Reassigning to @Narekmat

[2022-10-13 06:47] iliax opened #2738 "UI now showing broker list when DISABLELOGDIRSCOLLECTION=true"
Currently, when log dir collection is disabled, UI not showing brokers list - I think it can be useful to see broker list anyway. Lets render list, but hide/(fill with N/A) columns with no values : segmentSize, segmentsCount.

CC @Haarolean

sample:
<img width="1528" alt="Screenshot 2022-10-13 at 10 35 40" src="https://user-images.githubusercontent.com/702205/195522479-de35a587-14f6-491f-a396-7da9

[2022-10-13 11:52] iliax opened #2739 "UI support for MSK"
Changes need to be done:

**Topic Create page**
1. Move `Replication Factor` down to the `Min In Sync Replicas` line, `Cleanup policy` goes up to the  `Number of partitions` level
2. By default `Replication Factor`, `Min In Sync Replicas`, `Maximum message size in bytes`, `Time to retain data (in ms)`  fields should not be filled. "Default" text should be rendered instead. If user didn't set any v

[2022-10-13 12:04] preguenga commented on #2718
Hello everyone, we found the issue... ☕

It seems there was a bugged topic that was created by automated jobs....

- We listed all topics then searched 1 by 1 until we found the topic that was bugged in page 4
- deleted it
-  created it properly
- now everything works....

Thank you for your help.

[2022-10-13 12:04] #2718 closed

[2022-10-13 12:11] #499 closed

[2022-10-13 12:14] #624 closed

[2022-10-13 12:14] #627 closed

[2022-10-13 12:21] #825 closed

[2022-10-13 13:15] #2587 closed

[2022-10-13 13:16] #2586 closed

[2022-10-13 13:16] #2585 closed

[2022-10-13 13:16] #2577 closed

[2022-10-13 13:16] #2576 closed

[2022-10-13 13:17] #2575 closed

[2022-10-13 16:59] Haarolean commented on #2739
Good for grabs

[2022-10-13 17:03] Haarolean commented on #2738
Good for grabs

[2022-10-13 17:18] Haarolean commented on #2709
Probly it means that you don't add this property to any other env file besides a local one.

Which API request's payload are you trying to fetch this info from?

[2022-10-13 17:19] Haarolean commented on #2728
Hey, thanks for reaching out. It seems like we already have a PR by a volunteer, we'll review it soon :)

[2022-10-13 17:21] Haarolean commented on #858
@Ge0f3 try escaping values or even better try a docker-compose file (we have plenty of example ones, see the one for [jaas](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-sasl.yaml#L20)

[2022-10-13 17:34] Haarolean opened #2742 "Implement UI for oauth options"
https://github.com/opendatadiscovery/odd-platform/blob/main/odd-platform-api/src/main/resources/templates/oauth2_login.html
https://github.com/opendatadiscovery/odd-platform/blob/main/odd-platform-api/src/main/java/org/opendatadiscovery/oddplatform/config/OAuthSecurityConfiguration.java#L211

If possible, without thymeleaf

[2022-10-13 18:13] acass91 commented on #2709
I was using `getValue` incorrectly. Now I have some formatting to fix.

![image](https://user-images.githubusercontent.com/6621993/195674210-f405e8c1-43f6-471b-a54a-bc6895e38729.png)

[2022-10-13 18:30] #2185 closed

[2022-10-13 18:32] Haarolean commented on #2185
Please note that we need some frontend changes as well (#2739), hopefully will get them live soon as well.

[2022-10-13 19:35] iliax commented on #2703
@Haarolean, we already return if replica is sync or not from backend. So, we can easily implement it in UI. As for design - I think the simplest way is to highlight non-synced replicates with bold red.

[2022-10-14 08:58] sherifkayad opened #2748 "No custom `annotations` on the level of the `Deployment` metadata"
**Describe the bug**

Not really a bug, however, a missing small feature. Deployment object `annotations` should be given as a configuration parameter to the users of the Helm Charts.

A PR can follow to work on that.

**Set up**

Using Helm

**Steps to Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Additional context**

[2022-10-14 09:00] Haarolean commented on #2748
Hey, thanks for reaching out.

We'll be glad to see a PR addressing this issue.

[2022-10-14 09:05] sherifkayad commented on #2748
@Haarolean PR added to this issue ;) Looking forward.

[2022-10-14 09:16] #2076 closed

[2022-10-14 09:19] Haarolean commented on #2555
good for grabs

[2022-10-14 09:29] shubhwip commented on #2582
@Haarolean
I tried this bug on latest master.
- If we set a null field to some value then value is not reflected right way, not sure if it is intended behaviour. **Shall we fix this behaviour ?**
- If we change a broker property with null value to something non-null then we are able to set it back to null, we have to refresh the page and it will be in effect.

[2022-10-14 09:36] Haarolean commented on #2582
@shubhwip
- how does it work then?
- can we do this without a refresh?

[2022-10-14 09:38] Haarolean commented on #2501
Yeaah I did, just left it without an answer.

Let's leave it as is for now, other options are too much work and not ideal.

[2022-10-14 09:39] #2501 closed, assigned to shubhwip

[2022-10-14 09:40] Haarolean commented on #2582
looks like a bug to me.

[2022-10-14 10:31] Haarolean opened #2751 "RBAC: Support github teams"
Currently as of #753 we do support only usernames/organizations roles.

Please upvote if you're interested in roles via gh teams.

[code]

[2022-10-14 10:38] Haarolean opened #2752 "RBAC: Support LDAP"

[2022-10-14 10:49] LaurentDanti opened #2753 "Air Gap: Enhancement: Opt out of version check"
Hello,

i'm using your great UI for kafka cluster instance and it's perfect : functionality, rapidity, installating in k8s world with helm.
But i try to install this UI in isolated network without internet access so github.com is not allow.

Is it possible to disable call from the ui to https://api.github.com/repos/provectus/kafka-ui/releases/latest and load the font inside the image ?
Like that t

[2022-10-14 16:18] armenuikafka commented on #2076
Sorting by Name, Connect, Type, Plugin, Status implemented.

[2022-10-15 00:24] acass91 commented on #2709
I'm getting some pre-commit errors that don't appear to be related to my changes.

[code]

[2022-10-15 02:15] #2693 closed

[2022-10-17 07:15] vliska opened #2758 "Wrong actuator path with custom SERVER_SERVLET_CONTEXT_PATH"
**Describe the bug**

When settings SERVER_SERVLET_CONTEXT_PATH to /kafka-ui, actuator is deployed
with /kafka-ui/actuator/info, but application asks for /actuator/info.

This is a regression from v0.4.0 (which we used before) - it works fine on v0.4.0 (maybe because v0.4.0 does not seem to be asking for /actuator/info endpoint).

**Set up**
Install latest version (c22b6b468c61da1d1a647352405f63cd

[2022-10-17 08:38] iliax commented on #2753
@LaurentDanti thank you for the issue!

@Haarolean I think we already have issue created for fonts, maybe we add github call handling to that issue?

[2022-10-17 09:05] Haarolean commented on #2753
hey @LaurentDanti, thanks for reaching out.
I know already at least a few cases in which people successfully use the app in the "air gap" environment (e.g. #1390).
We already have the fonts issue in progress (#2728), we'll keep this open for considering opting out of the version check.

[2022-10-17 09:12] Haarolean opened #2759 "Unable to delete topics with names beginning with an underscore"
### Discussed in https://github.com/provectus/kafka-ui/discussions/2755

<div type='discussions-op-text'>

<sup>Originally posted by **nitin1677** October 14, 2022</sup>
Kafka UI Version: d149d26013a81e22e5d0c8b59db56ac0565b9e55 ( [d149d26](https://github.com/provectus/kafka-ui/commit/d149d26))

Remove topic options are disabled for topics, where topic-name starts with underscore (_). what are the

[2022-10-17 09:40] adityabhattad2021 commented on #2675
Hey, I am a little confused...
Are this the following files in kafki-ui-react-app where change is to be made?
`src/components/Topics/Topic/Messages/Message.tsx`
`src/components/Topics/Topic/Messages/MessagesTable.tsx`
`src/components/Topics/Topic/MessagesV2/ActionCell.tsx`
`src/components/Topics/Topic/MessagesV2/MessagesTable.tsx`

And sorry for being late.

[2022-10-17 10:00] #1715 closed

[2022-10-17 10:10] Haarolean commented on #2675
@adityabhattad2021 if I'll start looking for all the files, I'd do the same work for the second time :)

These are the places on sshots, and there might be others.

![Untitled](https://user-images.githubusercontent.com/1494347/196151351-480c4a44-eac9-48fc-be80-73e68bab47d1.jpg)
![Untitled2](https://user-images.githubusercontent.com/1494347/196151412-b22a51cc-fc26-43bf-a418-ae5b060cade4.jpg)

[2022-10-17 10:39] Haarolean commented on #2758
Hey, thanks for reaching out. We'll take a look

[2022-10-17 11:12] zhanglinqiang opened #2761 "All operations from UI"

[2022-10-17 11:20] zhanglinqiang opened #2762 "All operations from UI returned 403 Forbidden after enable LOGIN_FORM"
When enable LOGIN_FORM auth type, all operations will failed with 403 forbidden.
 After remove AUTH_TYPE,SPRING_SECURITY_USER_NAME,SPRING_SECURITY_USER_PASSWORD config,  Everything works fine.

version: both v0.4.0 and master image(2b5dd270e22c6455c6a5999131dbf3ce3b770429) from docker hub have this problem.

compse config:
[code]

response:
[code]

[2022-10-17 11:26] Haarolean commented on #2761
No issue template is followed, not a foggiest idea what this is about.

[2022-10-17 11:26] #2761 closed

[2022-10-17 11:31] Haarolean commented on #2762
If you're using the app's REST interface and you have basic authentication enabled, obviously you have to authenticate via API as well.

Here's [a tip](https://github.com/provectus/kafka-ui/discussions/2459#discussioncomment-3415737) how to authenticate via REST.

Let me know if you have any further questions.

Closing, not a bug.

[2022-10-17 11:31] #2762 closed

[2022-10-17 11:37] Haarolean commented on #2762
If that's somehow not about REST -- I just checked the following on both master/v0.4.0 tags:

[code]

Works perfectly fine.

[2022-10-17 11:54] iliax commented on #2202
already implemented, tests added in https://github.com/provectus/kafka-ui/pull/2763 PR

[2022-10-17 11:54] #2202 closed

[2022-10-17 11:56] iliax commented on #2700
BE is ready, FE part that should be done described here: https://github.com/provectus/kafka-ui/pull/2743#issuecomment-1278693863

[2022-10-17 12:07] iliax opened #2764 "Avro encoding/decoding: Logical types support"
Implement Avro logica types encoding & decoding.
List of logical types can be found here: https://avro.apache.org/docs/1.10.2/spec.html#Logical+Types.

[2022-10-17 12:11] iliax commented on #2669
@nitin1677 , thank you for issue.

There are two parts:
1. BE: currently kafka-ui doesnt support logical coversions (I created ticket for that, since it requires some time to implement https://github.com/provectus/kafka-ui/issues/2764)
2. FE: I guess there is some error with downloading `#�òoÁ\u0000\u0000` symbols - lets check and fix that anyway

cc @Haarolean

[2022-10-17 16:25] sunny092318 opened #2767 "Getting error after launching the kafka-ui"
I'm trying to setup the kafka-ui for my project. After launching the kafka-ui getting below error. I need to authenticate kafka cluster through kafka SASl.
500 Internal Server Error
Error while creating AdminClient for Cluster test-kafka

java.lang.IllegalStateException: Error while creating AdminClient for Cluster test-kafka
        at com.provectus.kafka.ui.service.AdminClientServiceImpl.lambda$

[2022-10-17 17:32] Haarolean commented on #2767
Hi, please follow the bug issue template and share the required details (app version, config, etc.)

[2022-10-18 02:40] winnie-chiu commented on #2707
I reproduce the problem. It's showing like the screenshot down below. Is this issue still need to be modified? or it can be closed.
![image](https://user-images.githubusercontent.com/113582273/196322270-3d89b7fe-9708-4637-a667-11117adbb36d.png)

[2022-10-18 11:58] Redbutton18 opened #2774 "[e2e] TopicTests.clearMessagesForPartition : Clear Messages for partition"
Autotest implentation for:
https://app.qase.io/project/KAFKAUI?view=1&suite=5&case=19

Description:
Checking Messages clearing for the selected Partition within Topic/Overview

Preconditions:
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Open the Topic profile which has messages for different partitions

Stay in 'Overview' tab

Steps:
1  Click on Menu icon for parti

[2022-10-18 13:49] sunny092318 commented on #2767
Describe issue:

Once after the deploying the kafka ui jar through application yaml file on premises host, getting the below error. Basically we are trying to setup SASL connection with kafka-ui to our kafka cluster.
=====
2022-10-18 14:28:00,614 WARN  [parallel-2] o.a.k.c.a.AdminClientConfig: The configuration 'http_proxy' was supplied but isn't a known config.
2022-10-18 14:28:00,614 WARN  [para

[2022-10-18 17:28] Haarolean commented on #2767
@sunny092318 thanks, please take a look at this: #2118

[2022-10-18 18:41] vitalymatyushik commented on #2723
good day @Haarolean
can I take this issue?

[2022-10-18 20:27] Haarolean commented on #2723
yo, sure

[2022-10-19 07:28] armenuikafka opened #2778 "The Message count is not updating with Clearing message for partition"
**Describe the bug**
Message count stays the same after clearing message for partition in Topic's overview page.
Needs refreshing the page.

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topic's overview
2. Open the menu for partition
3. Press Clear Messages

**Expected behavior**
Messages count should be updated immediately

**Screenshots**

https://user-im

[2022-10-19 08:04] armenuikafka opened #2779 "Menu icon with disabled "Clear Messages" should display for Partition"
**Describe the bug**
Menu icon with disabled "Clear Messages" should display for Partition in case of selected "Compare"; "Delete,Compare" value for Cleanup policy in Topic's settings

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Navigate to Topic's overview

**Expected behavior**
Menu icon with disabled Clear Messages option should be available if the value of Cleanu

[2022-10-19 08:24] Haarolean commented on #2703
- make the whole line red?

[2022-10-19 08:33] Redbutton18 commented on #2774
Bug found
https://github.com/provectus/kafka-ui/issues/2778

[2022-10-19 15:51] vitalymatyushik commented on #2723
@Haarolean could you please guide me what should be set in VITE_DEV_PROXY env variable? I didn't find how to run BE (maybe there is a way to run FE without local BE)

[2022-10-19 17:04] Haarolean commented on #2723
@vitalymatyushik you can run the app in a container so you don't have to build it, this way you'll have to build just the frontend, and vite_dev_proxy would be "http://localhost:8080/".
- A [full](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui.yaml) compose example
- an [example](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-arm6

[2022-10-19 17:27] #2684 closed

[2022-10-19 17:31] #2681 closed

[2022-10-19 17:34] Haarolean commented on #2669
@iliax can we get an example schema/topic on our dev env for our frontend engineers to reproduce it easily?

[2022-10-19 17:36] #2683 closed

[2022-10-19 23:28] Haarolean commented on #2742
hey, sorry for the delay. It's actually backend+frontend task, still interested? We've got an example, just need to copy and adapt it.

[2022-10-20 03:34] acass91 commented on #2709
Hmm, I tried downgrading my Java to 13, doing a clean build, and re-running pnpm gen:sources, but I'm not having any luck.
Here's the diff with my changes.

[code]

[2022-10-20 08:10] iliax commented on #2669
@Haarolean I created topic `issue-2669` and submitted message that reproduces this issue

[2022-10-20 08:37] VladSenyuta commented on #2643
upd. also need to create Alert class

[2022-10-20 08:54] iliax commented on #1705
@linkedby-data, @raafael thank you for creating issue.
I checked OCI streaming today:

[code]
 both `latest` and `master  tags work for me.

Make sure that you using jaas config from oci console:
<img width="427" alt="Screenshot 2022-10-20 at 12 50 34" src="https://user-images.githubusercontent.com/702205/196902964-b0f7ffb0-f64e-47d8-a3f6-4c1fba901283.png">

->

<img width="1330" alt="Screenshot 2

[2022-10-20 09:02] iliax opened #2783 "Topic creation: lock page until creation request finished"
**Steps to reproduce:**
1. Go to topic creation page
2. click create topic
-> page is not locked, and if topic creation is slow than it is possible to click create multiple time.

**How to fix:**
Lock page and show progress bar while waiting for server response

cc @armenuikafka

https://user-images.githubusercontent.com/702205/196905138-a9dfd03b-7a07-44c6-a261-b003f8e9016c.mov

[2022-10-20 09:29] #2644 closed

[2022-10-20 09:58] VladSenyuta commented on #2733
deprecated
actual: https://github.com/provectus/kafka-ui/issues/2712

[2022-10-20 09:58] #2733 closed

[2022-10-20 10:36] armenuikafka commented on #2675
<img width="1725" alt="value" src="https://user-images.githubusercontent.com/104780608/196926364-fea26357-d826-47c4-9e72-92de597f12d1.png">

[2022-10-20 11:17] #2621 closed

[2022-10-20 15:11] Haarolean commented on #2725
@yogesh-9999 any luck?

[2022-10-20 15:13] Haarolean commented on #2706
@spike-spiegel-21 any luck?

[2022-10-20 15:14] Haarolean commented on #2688
Let's stick with the current solution, seems like it does work again

[2022-10-20 15:14] #2688 closed, assigned to vj-codes

[2022-10-20 15:15] Haarolean commented on #2686
@detronetdip any luck?

[2022-10-20 15:15] Haarolean commented on #2678
@everrover any luck?

[2022-10-20 15:15] Haarolean commented on #2676
@haseeb-xd any luck?

[2022-10-20 15:15] Haarolean commented on #2668
@Karthik-PM any luck?

[2022-10-20 15:16] Haarolean commented on #2330
@carolinekraus02 any luck?

[2022-10-20 15:16] detronetdip commented on #2686
@Haarolean I am working

[2022-10-20 15:18] Haarolean commented on #2184
Closing due to inactivity.

[2022-10-20 15:18] #2184 closed

[2022-10-20 15:18] Haarolean commented on #1306
@DBTK1990 any luck?

[2022-10-20 15:18] Haarolean commented on #915
@jbadeau any luck?

[2022-10-20 15:27] Haarolean commented on #836
Decided to stick with gitbook #2727

[2022-10-20 15:27] #836 closed

[2022-10-20 15:29] Haarolean commented on #2709
@acass91 try to commit it with `--no-verify`, let's see if it fails on CI as well

[2022-10-20 15:33] iliax opened #2787 "BE: Topic default config values are hard-coded"

[2022-10-20 15:35] corners2wall commented on #2722
@Haarolean  not started

[2022-10-20 15:58] Haarolean commented on #2722
@corners2wall are you planning to? We have a lot of people wishing to participate in hacktoberfest and we don't have that many frontend tasks available :)

[2022-10-20 16:04] corners2wall commented on #2722
@Haarolean yeap, I planning resolve this issue

[2022-10-20 16:27] detronetdip commented on #2686
@Haarolean  I followed you instruction, and on opening `localhost:3000` it is showing a blank screen

![Screenshot from 2022-10-20 21-57-15](https://user-images.githubusercontent.com/64276906/197005446-1751edbf-8427-4a3f-bf70-fd66d43b2a6d.png)

[2022-10-20 18:06] everrover commented on #2678
By this weekend it would be over with. 🫡

[2022-10-20 18:33] Haarolean commented on #2378
#2632

[2022-10-20 18:33] #2378 closed

[2022-10-20 19:09] carolinekraus02 commented on #2330
Hi Roman,

Sorry for the confusion, I meant to give this issue to someone else because
I ended up using another issue for my school project. Someone else is free
to take it, thanks anyway!

Caroline

On Thu, Oct 20, 2022 at 11:16 AM Roman Zabaluev ***@***.***>
wrote:

--
*Caroline Kraus*

[2022-10-20 20:10] jbadeau commented on #915
Hi,

After investigation I saw that the integration would be not so trivial. I integrated with iframe but it wasn't very a very nice ui experience. In the end I just rewrote the ui against the api.

[2022-10-20 22:09] vitalymatyushik commented on #2723
@Haarolean could you please help to fix an issue with e2e tests? (my PR)[https://github.com/provectus/kafka-ui/pull/2792]

[2022-10-21 04:56] vrnsky commented on #2711
@royca If you don't mind I would like to work on this since there has been no PR or any discussion for 12 days
@Haarolean please assign to me this issue if it possible

[2022-10-21 10:40] Karthik-PM commented on #2668
sorry can i get some more time?  i have been facing a lot of build errors

[2022-10-21 13:11] nitin1677 opened #2798 "Message viewer tab missing page navigation buttons, displays only 100 but shows 500 messages consumed."
**Describe the bug**

Message viewer tab missing page navigation buttons
Select the topic.
Switch to messages tab (no filters).
Screen shows, 500 messages consumed
Data grid shows only 100 messages.

URL:
http://<host>:8080/ui/clusters/<cluster-name>/all-topics/<topic-name>/messages?filterQueryType=STRING_CONTAINS&attempt=1&**limit=100**&seekDirection=FORWARD&keySerde=String&valueSerde=String&seek

[2022-10-21 15:53] nitin1677 opened #2800 "after latest pull from kafka-ui:40c3bcf82b7c21a367fb4112e7f8e51c843481ea, kafka-ui page is blank white screen"
**Describe the bug**

docker pull provectuslabs/kafka-ui:40c3bcf82b7c21a367fb4112e7f8e51c843481ea

Today after latest pull from kafka-ui:40c3bcf82b7c21a367fb4112e7f8e51c843481ea, the page is showing up as blank white screen.

also getting this error in the k8s pod logs:
o.a.k.c.NetworkClient: [AdminClient clientId=adminclient-7] Disconnecting from node 3 due to request timeout.
2022-10-21 15:44:23

[2022-10-21 19:34] Haarolean opened #2801 "Add an ability to deploy feature envs from forked repos"
Currently it's not possible to exec feature testing workflows on PRs which have been opened on forked repos (due to pull_request_target)

A possible solution: checkout the forked branch, push it to our repo (on request, on added label) and run the workflow as usual

[2022-10-21 20:43] Haarolean opened #2802 "Create connector button is unavailable until the 2nd click"
1. Click create connector button
2. Enter valid json config
3. Switch to the name field, enter the name
4. The button is still unavailable until you click inside the config text area again

[2022-10-22 00:59] devils2ndself commented on #2721
I'd like to give it a try! Could I get assigned to this task please?

[2022-10-22 02:44] BinniesLite commented on #2802
Hi, I love your site. Would you mind if I work on this?

[2022-10-22 05:08] Haarolean commented on #2802
Hey, sure. Please. On 22 Oct 2022, at 10:44, Binnny ***@***.***> wrote:﻿
Hi, I love your site. Would you mind if I work on this?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-10-22 05:17] Haarolean commented on #2721
Sure, please. On 22 Oct 2022, at 08:59, Artem Tanyhin ***@***.***> wrote:﻿
I'd like to give it a try! Could I get assigned to this task please?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-10-22 20:20] fMurugi commented on #2742
Hi @Haarolean  can you please expound on what one is supposed to do please .
I am new to this project.

[2022-10-23 08:29] iliax commented on #2800
Hello @nitin1677, thanks for finding that.

Is there a possibility that this issue is transient? From logs you sent there was a node disconnection which can cause transient errors. Normally it should be fixed after cluster will treat node as offline or node came back (usually ~ 1 minute)

- which kafka version do you use?
- do you have any other error logs ?

[2022-10-23 15:49] #1994 closed

[2022-10-24 06:30] chinmaym07 commented on #2801
HI @Haarolean  I want to try this issue.
Can you give me headstart for this issue ?

[2022-10-24 07:34] Haarolean commented on #2801
Hey, not so sure about the implementation. So basically we'd need a workflow which will take two inputs: first one is the forked repo (username/reponame) and the second one is the branch name we want, it will clone the repo and push the branch to our repo. And I'm not sure about the rest -- we usually add labels to the PRs, but I don't want to create a dummy PR just for that, so maybe we could run

[2022-10-24 09:31] Redbutton18 opened #2810 "[e2e] TopicTests.redirectToConsumerFromTopicProfile : Redirect to consumer from topic profile"
Autotest implentation for:
https://app.qase.io/project/KAFKAUI?view=1&suite=5&previewMode=side&case=20

Description:
Checking redirection to Consumer group from Topic profile

Preconditions:
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Open the Topic profile

Turn to Consumers tab

Steps:
1 Click on Consumer

Expected result:
Should redirect to Consumer group profi

[2022-10-24 11:34] spike-spiegel-21 commented on #2706
Hey @Haarolean Sorry for being, was busy with some university stuff. I haven't tried it since prev comment. I will surely complete this task in the upcoming week. Thank you.

[2022-10-24 11:49] workshur opened #2811 "Warnings generated by tests"
**Describe the bug**

[code]

[code]

[code]

[2022-10-24 12:15] Haarolean commented on #2742
hey, sorry for the delay.

Here's a ready example, we need to adapt it:
https://github.com/opendatadiscovery/odd-platform/blob/main/odd-platform-api/src/main/resources/templates/oauth2_login.html
https://github.com/opendatadiscovery/odd-platform/blob/main/odd-platform-api/src/main/java/org/opendatadiscovery/oddplatform/config/OAuthSecurityConfiguration.java#L211

[2022-10-24 12:57] adityabhattad2021 commented on #2675
Hey I was not able to run react app locally by following the documentation for Docker way
This was the error
![Screenshot 2022-10-24 180823](https://user-images.githubusercontent.com/93488388/197530668-d7904689-11aa-4891-9c27-08c6ac4dd325.png)

[2022-10-24 13:13] everrover commented on #2678
Have thought out two approaches. One of which is complete.

**One**, where I'm adding `message` count calculation(`sum(offsetMax-offsetMin) for all partitions in the topic`) for sorting within `TopicsController>getComparatorForTopic`. On UI I would be performing the same operation on cluster topics listing page for sorting within a single page.

**Second**, I can add this calculation is within `In

[2022-10-24 16:10] everrover commented on #2678
P.S. 2nd approach is in complete violation of **Open-Closed principle**. 😅😂🤣

[2022-10-24 17:17] armenuikafka opened #2816 "UI Issue related responsive view of KSQL DB Query page"
**Describe the bug**
Page properties are overlapping with responsive changes

**Set up**

https://www.kafka-ui.provectus.io/ui/clusters/local/ksqldb/query

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Change the browser sizes manually

**Expected behavior**
All the components should accordingly change with responsive changes

**Screenshots**

https://user-images.githubusercontent.c

[2022-10-24 19:19] Haarolean commented on #2675
it seems liek you don't have the docker installed?

[2022-10-24 19:32] #2758 closed

[2022-10-24 19:41] Haarolean commented on #2686
I suppose you could check the red error in your browser console as a start.

[2022-10-24 19:42] jbadeau commented on #915
Unfortunately it was for a private company and im not allowed to share. On the bright side, I have since moved companies and will be allowed to share. I will be reworking this in the near feature. Planning to use the new MUI

[2022-10-24 21:18] vitalymatyushik commented on #2555
@Haarolean @armenuikafka can I take this issue?

[2022-10-25 01:06] adityabhattad2021 commented on #2675
I did installed and setup docker.

[2022-10-25 09:04] judasn opened #2819 ""Copy to clipboard" don't work"
## Thanks App ^O^

## Environment

- kafka-ui：v0.4.0
- Microsoft Edge：106.0.1370.52 - x64

## Problem description

- don't work after clicking, nothing has changed.

![image](https://user-images.githubusercontent.com/2867798/197730162-bd172d3c-bfcb-4667-85b2-72782e58675b.png)

[2022-10-25 09:06] judasn opened #2820 ""Copy to clipboard" don't work"
## Thanks App ^O^

## Environment

- kafka-ui：v0.4.0
- Microsoft Edge：106.0.1370.52 - x64

## Problem description

- don't work after clicking, nothing has changed.

![image](https://user-images.githubusercontent.com/2867798/197730162-bd172d3c-bfcb-4667-85b2-72782e58675b.png)

[2022-10-25 09:07] #2820 closed

[2022-10-25 09:28] Haarolean commented on #2820
@judasn so does it suddenly work now?

[2022-10-25 11:50] BulatKha opened #2822 "KSQL: Container with query "Status" is too narrow"
**Set up**
[d1d46b6](https://github.com/provectus/kafka-ui/commit/d1d46b6)

**Steps to Reproduce**
1. Open KSQL DB in navigation sidebar.
2. Fill in some query and Execute it. E.g.:
`CREATE STREAM first.messagesStream1
  (viewtime BIGINT,
   userid VARCHAR,
   pageid VARCHAR)
  WITH (KAFKA_TOPIC='first.messages',
        VALUE_FORMAT='DELIMITED');`

4. See the status bar under the "Execute", "Stop

[2022-10-25 12:08] iliax opened #2824 "BE: Error converting Protobuf schema with recursive references"
How to reproduce:
1. create topic
2. create schema in SR for new topic. Schema should contain circular refs like
[code]
3. go to Topics -> select topic -> Messages
-> BE will fail with StackOverflowException

---

Root cause: ProtobufSchemaConverter.java does not take circular refs into account

[2022-10-25 13:38] iliax opened #2825 "INFRA: Install kafka-connect-datagen connector to provectus test env"
To provide consistent traffic on testing env we can use [kafka-connect-datagen ](https://github.com/confluentinc/kafka-connect-datagen) that will generate test data with specified rates.

Installation instructions here:
https://www.confluent.io/hub/confluentinc/kafka-connect-datagen
basically we just need to extract connector archive to kakfa-connect instance volume (directory specifed with kafka-

[2022-10-25 14:06] detronetdip commented on #2686
@workshur by saying search input should be clearable, did you mean there will be a button to clear the input field? and please guide me which search input you are taking about.

[2022-10-25 15:48] sunny092318 commented on #2767
@Haarolean Thanks for all your support, able to setup the kafka-ui for my project with SASL enabled mechanism.
Now trying to set authentication for kafka-ui dashboard, but its not working somehow. Below are my application.yml configuration. Any leads will be quiet helpful do we have define differently.

properties:
    metrics_username: abc
    metrics_password: abc

[2022-10-25 19:14] #2705 closed

[2022-10-25 19:31] Haarolean commented on #2819
Ah, I see. There's no need to open up a duplicate tho.

[2022-10-25 19:31] Haarolean commented on #2819
@David-DB88

This is a regression. PTAL why did this happen again and make sure (tests?) this doesn't happen again.
Related:
#2365
#1544
#1545

[2022-10-25 19:41] #2721 closed

[2022-10-25 19:48] Haarolean commented on #2767
eh, do you want to set up auth for the ui itself?
Check [this](https://github.com/provectus/kafka-ui/wiki/FAQ#basic-username-password-authentication):

[2022-10-25 19:51] Haarolean commented on #2675
I don't see the initial command which caused this error.

[2022-10-25 19:52] #2675 closed

[2022-10-25 20:13] Haarolean commented on #2779
This should apply to all the menu items in the app in general. If something's not available -- make it clear by disabling a button/menu item and adding a tooltip with a reason.

[2022-10-25 20:20] Haarolean commented on #2816
@armenuikafka looks like a duplicate of #2721. You can double check that everything's alright now.

[2022-10-25 20:20] #2816 closed

[2022-10-25 20:26] Haarolean commented on #2798
Hey, thanks for the detailed report!

We've consumed 500 messages because it's the default polling limit, but displayed just 100 of them.
We know about the pagination regression (#2488), we'll take a look soon.
Please let me know if you have any other questions.

Closing as a duplicate.

[2022-10-25 20:26] #2798 closed

[2022-10-25 21:06] vitalymatyushik commented on #2725
@Haarolean can I take that issue?

[2022-10-26 08:07] #2726 closed

[2022-10-26 10:37] iliax opened #2827 "Infra: MSK Serverless documentation"
We need to create a md file with sample of MSK Serverless setup.
Include there:
1. docker run command
2. Security properties (permissions) that should be enabled in AWS.

here is a sample docker run command:
[code]

[2022-10-26 15:20] treyhendon opened #2829 "0.4.0 Image Tag Does Not Match"
**Steps to Reproduce**
Steps to reproduce the behavior:

1. Deploy current main helm chart

**Expected behavior**
The chart defaults that if no tag is defined, the chart app version is used.

Published Docker Tag: `v0.4.0`

Helm Helper:
[code]

Chart Value:
[code]

**Screenshots**
Docker:
![image](https://user-images.githubusercontent.com/3513589/198065920-feb93aef-254c-49d4-851d-e2c800a0a4a0.png)

[2022-10-26 17:17] nitin1677 commented on #2800
Please note, there are no errors in the log and ui screen is blank. dashboard screen is blank white screen. is this anything related to fonts/themes or something else not showing up the dashboard. From logs i see successfully connected to kafka cluster and updated the metrics.

**http://host:8080/kafka-ui-1/actuator/health**
{
"status": "UP",
"groups": [
"liveness",
"readiness"
]
}

**http://host:

[2022-10-26 17:37] nitin1677 commented on #2800
Please see the result from inspect window:

element.style {
}
html {
    box-sizing: border-box;
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
    dis

[2022-10-26 17:38] nitin1677 commented on #2800
Please see the log below from inspect window:

element.style {
}
html {
    box-sizing: border-box;
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {

[2022-10-26 19:37] Haarolean commented on #2725
@vitalymatyushik yeah it seems

[2022-10-26 19:39] Haarolean commented on #2686
Yes it's about having a button to clear the inout.
We're talking about all the search inputs in the app, there's a component class mentioned in the issue.

[2022-10-26 19:46] Haarolean commented on #2555
yep, sure. Sorry for the delay, inbox cluttering  :)

[2022-10-26 19:55] nitin1677 commented on #2800
let me try that.

[2022-10-27 05:28] everrover commented on #2779
Can do it by EOD. Please assign.

[2022-10-27 11:33] djboris9 commented on #930
Working on it in PR https://github.com/provectus/kafka-ui/pull/2832

[2022-10-27 12:58] sunny092318 commented on #2767
@Haarolean Thanks for the details. Does kafka-ui support on LDAP mechanism, because I have defined below parameter in application.yaml file but it doesn't change anything. From the log can see **configuring LDAP authentication** so means LDAP configuration done or in progress.

====
spring.ldap.url=ldap://localhost:18889
spring.ldap.base=dc=example,dc=com
spring.ldap.username=uid=admin,ou=system
s

[2022-10-27 13:14] djboris9 commented on #2616
Working on this in #2833

[2022-10-27 14:48] Haarolean commented on #2394
@armenuikafka let's create separate issues for each bug and please check if the problem persists with v2 messages

[2022-10-27 21:32] vitalymatyushik commented on #2330
@Haarolean can I take it?

[2022-10-28 08:50] #1362 closed

[2022-10-28 09:05] Haarolean commented on #2330
@vitalymatyushik sure!

[2022-10-28 09:21] Mgrdich opened #2838 "React Documentation Readme Includes a Link to create-react-app"
I don't think create react app link is relevant in the documentation , since nowadays the app uses Vite as a module bundler , where create-react-app uses Webpack and we don't rely on react-script to build the application, we should replace it with Vite source code link.

<img width="1712" alt="image" src="https://user-images.githubusercontent.com/46796009/198550641-1b383bbd-dda5-4927-bd8f-e1979529

[2022-10-28 11:19] sherifkayad opened #2839 "Kafka UI Read Only Mode | Produce Messages on Topics"
### Which version of the app are you running?
v0.4.0 (using the Helm chart for installation)

### Is your proposal related to a problem?
Indeed yes! This issue is a mix of a bug report as well as a feature request. At the moment when you run the Kafka UI in a read-only mode (`readOnly: true` on the cluster definition), most of the functionalities related to editing / changing are disabled; which i

[2022-10-28 11:33] sherifkayad commented on #2839
Again went through the PRs and issues, I found #2052 .. so probably the first half of my request would be covered already in the upcoming release.

What about the (conditional) ability to publish in r/o? would that be covered by any of the RBAC tickets? If so, then which one?

[2022-10-28 13:33] Mgrdich opened #2840 "Wrong type declaration in the Brokers Fixtures file for the value metrics"
**Describe the bug**

Wrong type declaration in the Brokers for the metrics value fixtures file , which leads the file to be read as an invalid one by the editor

**Set up**

Latest version from the master branch.

**Steps to Reproduce**

Steps to reproduce the behavior:

1.  Go to the src/components/Brokers/utils/__tests__/fixtures.ts and wait and that file will be automatically picked up as a in

[2022-10-28 15:55] #2725 closed

[2022-10-28 16:45] Haarolean commented on #2829
Done in #2842, thank you

[2022-10-28 16:45] #2829 closed

[2022-10-29 13:21] #2840 closed

[2022-10-29 18:45] #2838 closed

[2022-10-29 20:44] Haarolean opened #2844 "RBAC: Implement generic OAuth2 authority extractor"
See OauthAuthorityExtractor

[2022-10-29 21:25] nitin1677 commented on #2800
i tried with latest commit in master and resolved the blank white screen issue from k8s deployments. thx

[2022-10-29 21:26] Haarolean commented on #2800
You're welcome :)

[2022-10-29 21:26] #2800 closed

[2022-10-30 15:24] detronetdip commented on #2686
@Haarolean  I have run `docker-compose -f ./documentation/compose/kafka-ui.yaml up` command and have set `VITE_DEV_PROXY` to `http://localhost:8080`  in the `.env` file inside `kafka-ui-react-app` folder and then I visit `localhost:8080` in my browser and the finally I can see the UI but.  Is this the correct way? If it is then should I stop the docker containers and restart it again to view chang

[2022-10-30 15:35] Haarolean commented on #2686
@detronetdip as it is stated in [frontend module readme](https://github.com/provectus/kafka-ui/tree/master/kafka-ui-react-app) if you develop the frontend part, you should run it via `pnpm start` and visit the link produced by this command. The running containers are used as a backend which you don't have to rebuild unless you do modifications to the backend side as well.

[2022-10-30 16:44] detronetdip commented on #2686
![Screenshot from 2022-10-30 22-12-34](https://user-images.githubusercontent.com/64276906/198890576-6699ea81-9fc4-4620-ade6-830bb865b086.png)
@Haarolean  It is showing this error.

[2022-10-30 16:46] Haarolean commented on #2686
It’s your ad blocker. On 31 Oct 2022, at 00:44, Ayondip Jana ***@***.***> wrote:﻿

@Haarolean  It is showing this error.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-30 16:48] detronetdip commented on #2686
I have disabled the ad-blocker and now it is throwing a branch of errors

![Screenshot from 2022-10-30 22-17-25](https://user-images.githubusercontent.com/64276906/198890802-8f8309c7-a54c-4c92-8c49-ac2caa96647e.png)

[2022-10-30 17:59] #2787 closed

[2022-10-30 18:21] Haarolean commented on #2686
I honestly have no foggiest what you're doing wrong from this obscure screenshots. There's a decent guide which does work without any problems in 90% of cases. Please ensure that backend is accessible via localhost:3000/api/xxx, the proxy is set properly, etc.

[2022-10-30 18:27] detronetdip commented on #2686
Ok let try again from the very beginning.

[2022-10-31 08:46] #2759 closed

[2022-10-31 08:49] #2601 closed

[2022-10-31 09:17] #2716 closed

[2022-10-31 09:18] #1933 closed

[2022-10-31 12:46] #2103 closed

[2022-10-31 14:05] #930 closed

[2022-10-31 15:26] aberenshtein commented on #2827
This would also work for MSK with IAM authentication right?

[2022-10-31 16:29] iliax commented on #2827
@aberenshtein yes, it should work

[2022-11-01 06:25] armenuikafka opened #2855 "Messages search is broken after live mode stopping"
**Describe the bug**
Messages search is broken after live mode stopping within Topic/Messages

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Turn Live mode on
3. Add a new message
4. Press "Stop loading"
5. Search message f.ex. by partition

**Expected behavior**
Existing messages should be displayed to

[2022-11-01 06:37] armenuikafka opened #2856 "Filtering by offset and timestamp is not functional"
**Describe the bug**
Filtering by offset and timestamp is not functional within Topic/messages tab

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Select value for "Seek type"
3. Enter the value for Offset/Timestamp
4. Press "Submit"

**Expected behavior**
Messages should be filtered by selected value

[2022-11-01 06:43] armenuikafka opened #2857 "Seek type field became empty with refreshing the page"
**Describe the bug**
Seek type field became empty with refreshing the Topic/Messages

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Make sure Seek Type value is "Offset" by default
3. Refresh the page

**Expected behavior**
The default "Offset" value should stay for Seek Type

**Screenshots**

https://u

[2022-11-01 07:15] armenuikafka opened #2858 "[UI] Timestamp value overlaps with dropdown field icon within Topic/Messages"
**Describe the bug**
The selected value of Timestamp overlaps with dropdown field icon within Topic/Messages

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages tab
2. Select Timestamp for Seek Type field
3. Choose the date for Timestamp filed

**Expected behavior**
Dropdown filed icon should not overlap with selec

[2022-11-01 12:20] #2822 closed

[2022-11-01 12:32] Redbutton18 opened #2859 "[e2e] The message content should be copied and possible to paste"
Autotest implementation for:
https://app.qase.io/project/KAFKAUI?view=1&suite=5&previewMode=side&case=21

Description:
Checking possibility to copy message within Topic/Messages

Preconditions:
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Open the Topic profile which has messages

Turn to Messages tab

Steps:
1 Hover on Message  ER: Menu icon should display
2 Click

[2022-11-01 13:10] #2712 closed, assigned to anezboretskiy

[2022-11-01 13:23] iliax commented on #2827
@aberenshtein you can see https://github.com/provectus/kafka-ui/blob/master/documentation/guides/AWS_IAM.md doc for sample

[2022-11-01 14:30] BulatKha opened #2860 "KSQL: Focus onto query field after incorrect query execution"
**Set up**
[ee920b4](https://github.com/provectus/kafka-ui/commit/ee920b4)

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Select KSQL in the side menu
2. Click "Execute KSQL request"
3. Enter incorrect KSQL statement
4. Click "Execute"
**Actual behavior**
Error message is displayed (which is correct), but the focus is not moved to the KSQL entry field

**Expected behavior**
It is be