[2022-11-01 20:40] armenuikafka commented on #2625
Still unable to produce message for updated topic

https://user-images.githubusercontent.com/104780608/199336211-6627c85c-e30d-4604-a668-d9bf827bce23.mov

[2022-11-02 14:01] wanisfahmyDE commented on #597
Hi there,

is there any plans to have this feature soon?

Thanks

[2022-11-02 14:52] Haarolean commented on #753
Backend done, pending frontend

[2022-11-03 02:31] rgsurfs opened #2865 "Bump spring-beans to at least v5.3.18 to remediate CVE-2022-22965"
CVE-2022-22965 - spring-beans_spring-beans is less than v5.3.18
	/kafka-ui-api.jar/spring-beans-5.3.15.jar

CVE popped on our latest twistlock scans of the kafka-api.jar file conducted on 01Nov2022.

[kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv](https://github.com/provectus/kafka-ui/files/9925278/kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv)

[2022-11-03 02:31] rgsurfs opened #2866 "Bump spring-core to at least v5.3.18 to remediate CVE-2022-22965"
VE-2022-22965 - spring-core_spring-core is less than v5.3.18
	/kafka-ui-api.jar/spring-core-5.3.15.jar

	CVE popped on our latest twistlock scans of the kafka-api.jar file conducted on 01Nov2022.
[kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv](https://github.com/provectus/kafka-ui/files/9925285/kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv)

[2022-11-03 02:32] rgsurfs opened #2867 "Bump org.yaml_snake to at least v1.31 to remediate CVE-2022-22857"
CVE-2022-25857 - org.yaml_snake is less than v1.31
	/kafka-ui-api.jar/snakeyaml-1.29.jar

	CVE popped on our latest twistlock scans of the kafka-api.jar file conducted on 01Nov2022.
[kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv](https://github.com/provectus/kafka-ui/files/9925289/kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv)

[2022-11-03 02:34] rgsurfs opened #2868 "Bump jackson-databind to at least v2.14.0 to remediate CVE-2022-42003 & 42004"
CVE-2022-42003 & CVE-2022-42004 - com.fasterxml.jackson.core_jackson-databind is less than v2.14.0
	/kafka-ui-api.jar/jackson-databind-2.13.1.jar

CVE popped on our latest twistlock scans of the kafka-api.jar file conducted on 01Nov2022.
[kafka-server-7.1.0-123-twistlock-Results-twistlock_scan-ui_hdf.json.csv](https://github.com/provectus/kafka-ui/files/9925296/kafka-server-7.1.0-123-twistlock-Res

[2022-11-03 05:29] armenuikafka opened #2869 "Unchecking the already checked Topics from main checkbox is not available"
**Describe the bug**
Unchecking the already checked Topics from main checkbox is not working

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topics page
2. Check the main checkbox for all Topics
3. Make sure all topics are checked
4. Uncheck the main checkbox

**Expected behavior**
All the Topics should became unchecked

**Sc

[2022-11-03 06:57] armenuikafka opened #2870 ""Select filter" button is active without selecting any saved filter within Topic/Messages/Saved filters"
**Describe the bug**
"Select filter" is active in case of not selected filter within Saved filters in Topic/Messages

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Navigate to Topic/Messages
2. Press "+Add Filters"
3. Click on "Saved Filters"
4. Press active "Select filter"

**Expected behavior**
"Select filter" should not be functional

[2022-11-03 09:23] wanisfahmyDE commented on #1863
Hey @mkielar, just wanted to share what worked for me. if you only care about authentication without RBAC, you can implement this directly on ALB + OIDC listener and limit on your IDP which groups or users would have access without kafka-ui being aware of it.

[2022-11-03 09:45] armenuikafka opened #2872 "It is possible to change Cleanup Policy from "Compact", "Delete,Compact" to "Delete" within Topic settings"
**Describe the bug**
Update Topic is not available with editing the Cleanup policy value from "Compact", "Delete,Compact" to "Delete" , but works in case of editing more than one fields

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Create a Topic with "Compact" / "Delete,Compact" Cleanup policy
3. Press "Create top

[2022-11-03 15:25] mkielar commented on #1863
@wanisfahmyDE I know it would, I'm currently using the solution as you described and it works great :).

What I'm hoping from this ticket, however, is to be able for Kafka UI to make sense of the `X-AMZN-OIDC-*` headers that ALB passes upstream and implement actual RBAC based on this. Currently I can either grant or deny access to Kafka UI by adding/removing people to AD Groups. What I'd like to d

[2022-11-03 16:55] Haarolean commented on #2710
@EverOwen please provide an example schema to reproduce the problem

[2022-11-03 17:01] Haarolean opened #2875 "Messages V2: Fix smart filters"
- Fix the stuff. Should work like in v1
- Refactor what's required

[2022-11-03 17:07] Haarolean opened #2876 "Make unnamed smart filter editable"
If a smart filter has been applied without a name you can't see it's body or edit it. Let's add a pencil icon next to filter name and make it editable as well.

https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=2536-10176&t=ZmlgKzoVfFdZoK65-0
https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=2049-6021&t=SGKsDWY6ugiIso8F-0

[2022-11-03 17:16] #2748 closed

[2022-11-03 17:32] Haarolean opened #2877 "Messages V2: Fix timestamps"
they're unformatted rn

[2022-11-03 17:37] Haarolean commented on #2870
Don't forget v2

[2022-11-03 17:40] Haarolean commented on #2858
as a workaround we could display a short month name instead and keep the field the same width

[2022-11-04 10:58] ddezoysa commented on #1676
@mattia-crypto How did you managed to use Strimzi TLS Simple Auth with Kafka-UI? Can you please post an example?

[2022-11-04 11:07] DasDepp opened #2881 "Schema Registry not available"
Hello together,

when I am start the Kafka UI by docker compose the Schema Registry is not shown in the menu on the left side, The Schema Registry is running and i set the Kafka UI env variable "KAFKA_CLUSTERS_0_SCHEMAREGISTRY".

Does anybody know the reason?

Here the docker-compse file:

`---
version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper

[2022-11-04 11:56] iliax commented on #2881
Hello @DasDepp, you can see [example](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui.yaml) of how it should be configured.

From what I can see, you are missing protocol prefix in SR uri - try "http://schema-registry:8081".

[2022-11-04 12:24] ArthurNiedial opened #2883 "[e2e] Checking validation of required field in case of new Topic creation."
Autotest implementation for:

https://app.qase.io/project/KAFKAUI?view=1&suite=4&case=4

Description:
Checking Creation of a new Topic with letting required field empty

Pre-conditions:
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Redirect to 'Create new Topic' page with click on '+ Add a Topic' button from 'All Topics' page

Steps:
1 Let 'Topic Name *' field empty

[2022-11-04 12:27] DasDepp commented on #2881
Hello @iliax,

thanks for your response. I changed the env variables but it still no works. Any idea?

Update docker compose file:

`---
version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    #

[2022-11-04 12:52] iliax commented on #2881
@DasDepp
1. does non-SR functionality works? like you can see broker, topics, etc..
2. in kafka-ui section you use both `=` and `:` for kv separation, not sure how it parsed by docker - can you enter kui container and check if  `KAFKA_CLUSTERS_0_SCHEMAREGISTRY` env var set properly ?

[2022-11-04 13:02] DasDepp commented on #2881
@iliax
Omg... with '=' instead of ':' it works. Copy/paste mistake.

Thank you very much.

[2022-11-04 13:02] #2881 closed

[2022-11-05 02:13] #1705 closed

[2022-11-07 03:06] akamensky opened #2885 "[FE] Fix cleanup policy submit/display"
**Describe the bug**
All of our topics have a custom retention.ms (usually 1h-10h). When using this UI to edit topic settings, the UI always shows cluster default for retention.ms (604800000), which we need to remember to set to correct value (even if this field not supposed to change).

**Set up**
1. Running current stable release (0.4.0) as docker-compose service

**Steps to Reproduce**
Steps to

[2022-11-07 03:07] akamensky commented on #2885
For context -- we had an outage where the topic config was edited, but the person did not notice that this field was showing value different from the one was actually intended for the topic, therefore on "save" topic retention.ms was changed from 60s to 7d.

[2022-11-07 09:35] ArthurNiedial opened #2889 "[e2e] Checking requiredness of Custom parameters within 'Create new Topic'"
Autotest implementation for:

https://app.qase.io/case/KAFKAUI-6

Description:
Checking requiredness of Custom parameters' within 'Create new Topic'

Pre-conditions:

Pre-conditions
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Redirect to 'Create new Topic' page with click on '+ Add a Topic' button from 'All Topics' page

Post-conditions:

Empty value

Steps:
1 Cli

[2022-11-07 10:44] erikvullings opened #2890 "Improving reset offset"
### Which version of the app are you running?
I'm using the docker version from November 4, 2022
(`docker pull provectuslabs/kafka-ui:0818bb0144ca4b2f3b23a0ab9e374fa8bf727901`).

### Is your proposal related to a problem?
During debugging, I reset the offsets so I can start from scratch again. However, it is rather cumbersome when my service listens to multiple topics, and I have to reset them one

[2022-11-07 11:07] #2679 closed

[2022-11-07 11:12] Haarolean opened #2893 "Drop deprecated protobuf single file property"
TODO drop deprecated protobuf single file property

_Originally posted by @Haarolean in https://github.com/provectus/kafka-ui/pull/2874#discussion_r1015295797_

[2022-11-07 11:15] #2298 closed

[2022-11-07 11:22] Haarolean commented on #2885
Hey Alex,

could you check if that's still an issue on `master`-labeled image? I think we've done fixing something like this previously.
Thanks.

[2022-11-07 11:37] Pranav-yadav commented on #2858
https://github.com/provectus/kafka-ui/blob/70cdeea819e812ccf38bb1daa1dd27ba6296d28a/kafka-ui-react-app/src/components/Topics/Topic/Messages/Filters/Filters.tsx#L422-L430

[code]
should be okay?

[2022-11-07 12:43] Pranav-yadav commented on #2877
@Haarolean  can you elaborate?

PS: I'm new to this codebase :)

[2022-11-07 12:45] Pranav-yadav commented on #2779
I can help with this one :)

[2022-11-07 13:01] #2676 closed

[2022-11-07 15:34] #2544 closed

[2022-11-07 15:38] Haarolean commented on #2779
sure, thanks.

@Mgrdich can you help?

[2022-11-07 15:41] Haarolean commented on #2877
If you open up any non-empty topic with this url:
http://host/ui/clusters/cluster/all-topics/topicname/v2
You'll see v2 messages view. The timestamps there are unformatted. We have a decent formatting in all the other places.

[2022-11-07 15:43] Haarolean commented on #2858
yeah, thanks

[2022-11-07 15:45] #2697 closed

[2022-11-07 15:55] Haarolean commented on #2767
bad bot

[2022-11-07 15:57] Haarolean commented on #2767
Yes it does. The link is available in the same wiki, click [here](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/auth-ldap.yaml#L29). Please use the env variables provided there.

[2022-11-07 16:26] sunny092318 commented on #2767
I have tried providing the below parameter in application.yaml since installing on through servers not with containers approach.
Is there something doing wrong or any change require on ldap server also. Please suggest

spring:
  jmx:
    enabled: true

auth.type: "ldap"
spring.ldap.urls: "ldap://example:389"
spring.ldap.userfilter.searchbase: "dc=g,dc=first,dc=org"
spring.ldap.userfilter.searchfil

[2022-11-07 22:10] Mgrdich commented on #2779
`import { Dropdown, DropdownItem } from 'components/common/Dropdown';` is the component directory
and there are `ActionsCell.tsx` for each page table check out for the topics , if there is none create it with the upper component.

You can see the use case in most of the pages , where you scroll to the end of the table , this is the generic component. and please check the component props cause you

[2022-11-08 07:40] BulatKha commented on #2674
@Haarolean it looks almost according the way you suggested. However the overall progress percentage and progress bar look a bit strange now:
![image](https://user-images.githubusercontent.com/112083452/200502621-64bee7cb-3947-4afa-9753-b741b14716e3.png)

Suggestion: Show the percentage above the progress bar, using a bigger font (most important info in the block, while the rest is additional info)

[2022-11-08 11:51] mullasaddam opened #2905 "Kafka ui support the confluent kafka"
Im try to create the Kafka ui for confluent kafka But our applicaion have username and password .
How to pass the user name and password in kafkaui .For Kafka ui i'm using simple docker file .

I'm passing username and password in docker in env section
 KAFKA_CLUSTERS_0_PROPERTIES_SASL_USERNAME=xxxxx
 KAFKA_CLUSTERS_0_PROPERTIES_SASL_PASSWORD=yyyyy

even i'm getting error
Failed to collect cluster

[2022-11-08 11:54] Haarolean commented on #2869
The important precondition is to have "show internal topics" on

[2022-11-08 11:56] #2439 closed

[2022-11-08 11:59] BulatKha opened #2907 "[UI] Topics: Message tab "Oldest first" button overlaps the "Submit" button on pages narrower than 1100px"
**Describe the bug**

**Set up**

[8011f60](https://github.com/provectus/kafka-ui/commit/8011f60)

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Open any topic
2. Switch to Messages tab and play with the browser window width
**Actual behavior**

- Message sorting drop-down list ("Oldest first", "Newest first" or "Live mode" overlays the controls to the left. And since it has transpa

[2022-11-08 14:06] ArthurNiedial opened #2909 "[e2e] Checking the existing Broker's profile in a cluster"
Autotest implementation for:

https://app.qase.io/case/KAFKAUI-85

Description:
Checking the information of used Broker in a cluster

Pre-conditions:
Login to Kafka-ui
Open the cluster

Post-conditions:
Empty value

Steps:
1 Press the Brokers component
2 Click on Broker

Expected resalt:
1 All the existing brokers should be displayed with different rows
2 The Broker's profile should open with foll

[2022-11-08 14:53] DECsystem20 commented on #1776
I was able to make it work with on-premise GitLab using these settings:

[code]

In Gitlab -> Admin Area -> Applications I created new application with name "KafkaUI", set callback url to "https://kafka-ui_address/login/oauth2/code/gitlab" and enabled scope "read_user". I am not sure that setting  spring.security.oauth2.client.registration.gitlab.redirect-uri in Kafka UI is really needed as it pro

[2022-11-08 22:18] akamensky commented on #2885
@Haarolean Yes this appears to be fixed at [fce4c23](https://github.com/provectus/kafka-ui/commit/fce4c23276ebd798f182a2af7150cabffb2d63db).

Can this please be backported to 0.4.x. We can't use unstable release in our production environment and current stable release can easily cause outage.

[2022-11-09 13:42] anezboretskiy opened #2914 "[e2e]Checking Topics section within Kafka-ui Application"
**Autotest implementation for:**

https://app.qase.io/case/KAFKAUI-2

**Description:**
Checking 'All Topics' page content

**Pre-conditions:**
- Login to Kafka-ui application
- Open the Local cluster in a left

**Post-conditions:**
Empty value

**Steps:**
1. Select Topics within Local section

**Expected result:**
Should open 'All Topics' page with following information:

- Search input field;
- '

[2022-11-09 15:47] #2685 closed

[2022-11-09 16:11] barnyrelph commented on #2890
I also use the reset offsets feature quite a bit in development. If there is any work going into that page, the other observation I'd have is that when my consumer is listening to a lot of topics, it can be hard to find the topic I'd like to reset, as they're currently shown in a dropdown, so I can't search.
The topics also aren't ordered, so you just have to scroll through the dropdown to find th

[2022-11-09 20:59] Haarolean commented on #2162
@hyzyla wanna tackle this? we have everything ready on BE

[2022-11-09 21:16] Haarolean commented on #2162
@hyzyla actually are you sure your browser locales are 'uk'? It seems like both are us

[2022-11-09 21:30] Haarolean opened #2915 "Messages V2: Field Previews"
make field previews available for v2 messages

#2544

[2022-11-09 21:36] erikvullings commented on #2890
@barnyrelph Combined with a check-all option would be great, indeed!

[2022-11-10 08:46] Haarolean opened #2916 "RBAC: Allow asterisks for actions"

[2022-11-10 10:17] Haarolean commented on #2819
An issue is persistent if there's no SSL enabled and the app is accessed with http

[2022-11-10 11:54] Redbutton18 opened #2919 "[e2e] Checking Filter adding within Topics/Topic/Messages with filled required fields"
Autotest implementation for:
https://app.qase.io/project/KAFKAUI?view=1&suite=5&previewMode=side&case=12

Description:
Checking Filter adding within Topics/Topic profile/Messages tab

Preconditions:
Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Steps:
1 Open any Topic's profile
2 Turn to 'Messages' tab
3 Press 'Add Filters'

Expected result
'Add filter ' pop up shou

[2022-11-11 11:00] joseacl opened #2923 "Add posibility to define scheme as HTTPS in readiness and liveness probes"
**Describe the bug**

If we enable SSL in kafka-ui backend, and deploy into k8s using the helm chart, the deployment creates the livenessProbe and readinessProbe configuration with the default value of HTTP.
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#http-probes

In the current Deployment.yaml there is not way to specify the scheme field f

[2022-11-11 11:43] joseacl commented on #2923
PR created https://github.com/provectus/kafka-ui/pull/2924 for that issue.

[2022-11-11 15:35] Haarolean commented on #2885
@akamensky hey, I can build a new image just for you, since we don't have workflows to do a minor release branch.
The new release is gonna be out soon (once we're done with #753 frontend and testing)

[2022-11-11 16:49] Haarolean commented on #2711
A fix for
CVE-2022-31690
CVE-2022-31692
New dependency [unavailable yet](https://github.com/spring-projects/spring-security/issues/12131), waiting for a spring boot 2.7.6.

Fixes for:
CVE-2022-3171
CVE-2022-36944
GHSA-h4h5-3hr4-j3g2
are unavailable yet, blame/wait for confluent

Snake yaml CVEs:
CVE-2022-25857
CVE-2022-38749
CVE-2022-38750
CVE-2022-38751
 CVE-2022-38752

are [false positives](http

[2022-11-11 22:26] Haarolean opened #2928 "Change default message polling limit"
it's 500 rn, make it 100

[2022-11-14 06:11] adityahex27 commented on #1441
@Haarolean can you please release this feature, i have tested in mine and login functionality is working for me.

[2022-11-14 11:01] anezboretskiy opened #2930 "Checking the existing Broker's profile in a cluster"
**Autotest implementation for:**

https://app.qase.io/case/KAFKAUI-85

**Description:**
Checking the information of used Broker in a cluster

**Pre-conditions:**
- Login to Kafka-ui
- Open the cluster

**Post-conditions:**
Empty value

**Steps:**
1. Press the Brokers component
Expected result:

- All the existing brokers should be displayed with different rows

2. Click on Broker
Expected result:

[2022-11-14 11:07] Haarolean commented on #1441
that's gonna be a part of #753 within 0.5 release. We're almost done with the frontend, QA left to go.

[2022-11-14 12:48] #2930 closed

[2022-11-14 12:49] anezboretskiy commented on #2930
Closed cause duplicated

[2022-11-14 14:04] anezboretskiy opened #2932 "Checking Compare Versions operation for Schema"
**Autotest implementation for:**

https://app.qase.io/case/KAFKAUI-44

**Description:**
The purpose of this case is to check the Compare Versions operation for Schemas

**Pre-conditions:**
- Login to Kafka-ui
- Navigate to Schema Registry
- Open the Schema

**Post-conditions:**
Empty value

**Steps:**

1. Press "Compare Versions" button

**Expected result:**
 Compare page should open with 2 column

[2022-11-14 17:16] Subetov opened #2934 "Unable to get kubernetes ingress to work"
**Describe the bug**
Trying to deploy helm chart with ingress enabled on subpath.
Getting this error in browser:
`"code":5000,"message":"404 NOT_FOUND"`

**Set up**
1. App version: v0.4.0(521ba0c)
2. Helm chart version: kafka-ui/kafka-ui	0.4.5

**Steps to Reproduce**
1. Run helm command
[code]
2. Open link http://CLUSTER_IP/kafka-ui

**Expected behavior**
Web interface is up and running

**Screens

[2022-11-14 18:55] Haarolean commented on #2934
Hi, please follow the issue template and provide the requested information.

[2022-11-14 18:56] Haarolean commented on #2890
Hey, thanks for the suggestion. We'll consider that in the next release.

[2022-11-15 02:11] #2710 closed

[2022-11-15 02:27] nitin1677 opened #2935 "Message tab infinite polling"
**Describe the bug**

After latest pull from master today, kafka-ui broke and no events are being displayed in ui. Switch to Kafka Cluster > topics > navigate to topic. Topic overview tab shows correct information.

When navigate to messages tab, none of the events displayed in data grid and result is:
Polling 0 ms 0 Bytes 0 messages consumed

From docker logs, error is:
2022-11-15 00:06:24,483 ER

[2022-11-15 08:25] Subetov commented on #2934
@Haarolean , sorry, updated.

[2022-11-15 09:38] ArthurNiedial opened #2938 "[e2e]Checking 'Show Internal Topics' toggle functionality within 'All Topics' page"
Autotest implementation for:

https://app.qase.io/case/KAFKAUI-11

Description:
Checking 'Show Internal Topics' toggle functionality within 'All Topics' page

Pre-conditions:
Login to Kafka-ui application
Open the 'Local' section
Select the 'Topics'

Post-conditions:
Empty value

Steps:
1 Make sure 'Show Internal Topics' toggle turned on by default
2 Press the 'Show Internal Topics' toggle

Expect

[2022-11-15 10:11] #2616 closed

[2022-11-15 10:22] #2711 closed

[2022-11-15 11:13] joschi commented on #2893
@Haarolean What's the deprecation policy in Kafka UI?

Should this be done within the 0.5 milestone or one version after?

[2022-11-15 12:07] Haarolean commented on #2893
@joschi in 0.6 :)

[2022-11-15 12:15] iliax commented on #2935
@nitin1677
updated docker image published (master tag)
can you please check on your setup?

[2022-11-15 13:32] nitin1677 commented on #2935
Updated the docker image with pull from master. No more error in docker logs.

1. Topics without schema (Key serde: String, Value serde: String, Partitions: All items are selected) are able to pull the events and display in data grid.

2. Topics with schema (Key serde: SchemaRegistry, Value serde: SchemaRegistry, Partitions: All items are selected) are not able to pull the events and result in dat

[2022-11-15 15:28] iliax commented on #2935
@nitin1677 thank you for checking
looks like snappy issue is solved, as for 2. that you mention - looks like it is separate issue, lets create ticket for that.

To finally verify that snappy works fine - can you please run topic analysis (Statistics tab) on both SR and non-SR topic?

[2022-11-15 16:56] iliax commented on #2935
@nitin1677 thank you for confirmation!

[2022-11-15 16:56] #2935 closed

[2022-11-15 17:06] nitin1677 opened #2942 "Topics with schema registry not able to display events in data grid when Partitions: All items are selected."
**Describe the bug**

Topics with schema registry not able to display events in data grid when Partitions: "All items are selected". When partition list is updated to a selected partition then results are visible in grid for the selected partition.

Updated the docker image with pull from master.
docker pull provectuslabs/kafka-ui:master
11.15.2022 07:05:35
(
[5900f8e](https://github.com/provectus

[2022-11-15 17:35] nitin1677 opened #2943 "Fields with logical type as decimal displays unicode values instead of original numeric values."
**Describe the bug**

Fields with logical type as decimal are not showing correct numeric values from topics with schema registry. details for fields display value and schema registry definition is given below in addl context.

**Set up**

11.15.2022 07:05:35
(
[5900f8e](https://github.com/provectus/kafka-ui/commit/5900f8e)
)

**Steps to Reproduce**

Steps to reproduce the behavior:

1.

**Expecte

[2022-11-16 11:33] BulatKha opened #2946 "Deny access to user with no permissions"
Might be taken into work after the #753

### Which version of the app are you running?

[5900f8e](https://github.com/provectus/kafka-ui/commit/5900f8e)

### Is your proposal related to a problem?

User, that can pass the authentication, gets to the page with no clusters on it. Which is a bit strange.

### Describe the solution you'd like

User with no permissions on any cluster, should be declined

[2022-11-16 16:42] nitin1677 commented on #2669
The issue has been closed but still this issue exists from latest pull of master.

		"field1": {
			"bytes": "#òoÁ\\u0000\\u0000"
		},

		"field2": {
			"bytes": "#òoÁ\\u0000\\u0000"
		},

		"field3": {
			"com.avro.schema.common.BigAmount_30_10": {
				"amount": "\\u0013Ôg\\u0000",
				"currency": "USD"
			}
		},

[2022-11-16 16:52] nitin1677 commented on #2942
Note: Topic has 48 partitions.

docker longs When selected all partitions:

INFO  [boundedElastic-1] o.a.k.c.c.KafkaConsumer: [Consumer clientId=kafka-ui-8f1b0c2b-9396-4ca4-88a3-cc0386499be0, groupId=null] Assigned to partition(s): TEST-TOPIC_V6-18, TEST-TOPIC_V6-47, TEST-TOPIC_V6-16, TEST-TOPIC_V6-22, TEST-TOPIC_V6-20, TEST-TOPIC_V6-41, TEST-TOPIC_V6-10, TEST-TOPIC_V6-39, TEST-TOPIC_V6-8, TEST-TO

[2022-11-17 05:16] MrKribel opened #2947 "No working sasl authentication"
A friend asked me to deploy ui kafka, I thought I could do it quickly, but I couldn't do it...
My docker-composer:

[code]
When, i have error
»  **_Error while creating AdminClient for Cluster yandex_**

via offset explorer connects...

I create ssl.jks like this:

[code]

Please help me solve the problem😭

[2022-11-17 05:20] ryan-clancy commented on #1792
@tommyvca - how did you resolve the issue? I am having the same issue with underscores in the URL that I am unable to change.

[2022-11-17 07:02] Haarolean commented on #1792
@ryan-clancy can you share more details on the subject?

[2022-11-17 07:03] Haarolean commented on #2947
Hi there, please share the full stacktrace you observe

[2022-11-17 07:08] Haarolean commented on #2942
Hey, thanks for reporting this thing. We'll take a look

[2022-11-17 07:14] Haarolean commented on #2669
@nitin1677 which commit are you on? left top corner in ui

[2022-11-17 07:19] Haarolean commented on #2943
Thanks for raising an issue

[2022-11-17 07:23] Haarolean commented on #2934
@Subetov can you try adding an env variable `SERVER_SERVLET_CONTEXT_PATH` as `/kafka-ui`?

[2022-11-17 07:24] Haarolean commented on #2767
bad bot

[2022-11-17 07:26] Haarolean commented on #2767
@sunny092318 if you're running the jar, your config should be a valid yaml file :)

[code]

[2022-11-17 07:38] iliax commented on #2669
@nitin1677 please note, that within this issue we only fixed file exportion. Logical type support is not implemented yet (https://github.com/provectus/kafka-ui/issues/2764)

[2022-11-17 07:40] #2669 closed

[2022-11-17 08:56] igor9292 opened #2948 "ldap authorization not working"
I have the same problem: https://github.com/provectus/kafka-ui/issues/2767
Unable to login to ldap, similar setting in CMAK works

my config:

[code]

 < - block kafka remove, he is work - >

 logs :

[code]

i am using version:
version [kafka-ui-api-v0.4.0.jar]

#**01.12.2022:**

 Problem was CamelCase, in config(https://github.com/provectus/kafka-ui/blob/master/kafka-ui-api/src/main/java/com/pro

[2022-11-17 09:41] sunny092318 commented on #2767
@Haarolean Thanks for providing the details. I think its not related to yaml syntax since if it was yaml error then it couldn't allow me to run kafka-ui app.
I think its something related to ldap configuration because even passing all parameter it doesn't allow me  to login.

[2022-11-17 10:00] MrKribel commented on #2947
[code]

[2022-11-17 11:17] #2857 closed

[2022-11-17 12:42] Subetov commented on #2934
@Haarolean , thank you a lot !
Adding **"--set envs.config.SERVER_SERVLET_CONTEXT_PATH=/kafka-ui"** worked for me:
[code]

[2022-11-17 15:55] ryan-clancy commented on #1792
@Haarolean I have kafka-ui running behind a reverse proxy (in K8s) and when I try to connect I get a 400 bad request. I believe it is the same issue as this with an underscore in the URL (I cannot control this URL as it is generated for me). I can port-forward and access it fine and when swapping out kafka-ui with a nginx “hello world” I see the “hello world” page so the reverse proxy is working a

[2022-11-17 17:51] MrKribel commented on #2947
[code]

[2022-11-17 18:36] MrKribel commented on #2947
i am using kafka version 3.2

[2022-11-18 08:10] #2923 closed

[2022-11-18 08:15] Haarolean commented on #2947
`ClusterAuthorizationException: Cluster authorization failed.`
This means the set of permissions granted to your user is not sufficient to run the app.
Check [this](https://github.com/provectus/kafka-ui/wiki/FAQ#required-aclmsk-permissions)
You can guess the list required by msk permissions names, for kafka ACL that's gonna be describe cluster, describe cluster configs, describe log dirs, describe

[2022-11-18 08:15] #2947 closed

[2022-11-18 08:18] Haarolean commented on #1792
@ryan-clancy can you provide an example of URL which doesn't work?

[2022-11-18 08:20] Haarolean commented on #2934
@Subetov glad to hear :)

[2022-11-18 08:20] #2934 closed

[2022-11-18 09:13] Subrhamanya commented on #2711
@Haarolean I could see snakeyaml CVEs are false positive. Is it? I could see the issues created

Here is an example
https://bitbucket.org/snakeyaml/snakeyaml/issues/525 and they have been resolved.

So, is it possible to provide snakeyaml version 1.33 in 2.7.x version?

[2022-11-18 10:08] Haarolean commented on #2711
@Subrhamanya yes they are according to [this thread](https://github.com/spring-projects/spring-boot/issues/32221).
Anyway, we've bumped some dependencies once again and now we have a newer transitive snakeyaml version.

[2022-11-18 10:21] Subrhamanya commented on #2711
Does that mean 2.7.6 version of spring-boot will have snakeyaml version 1.33?

[2022-11-18 10:40] Haarolean commented on #2711
AFAIK, yes.

[2022-11-18 10:45] allanpaiste commented on #1029
@tooptoop4 you can get more information about the comms when you update root logger level to be of level: debug.

It'll still mean that you have to hunt down the actual line. Here's one example of such failure (that I'm currently struggling with):

In my case, I could identify that the failing call was **DESCRIBE_CONFIGS**, which maps directly to a method name used in code. From there we can backt

[2022-11-18 11:08] allanpaiste commented on #1452
Faced with similar issue where same proposed solution would be good enough for our use (relatively small tradeoff in situations where the list of topics is anyways known and does not grow with such speed that would cause the manual maintenance on the list to be a problem).

[2022-11-18 13:24] BulatKha commented on #628
@armenuikafka please follow up on the description for those API requests as discussed, or let me know, if there are any problems with that.

[2022-11-18 21:38] ryan-clancy commented on #1792
@Haarolean An example URL would be `kafka-ui_my-namespace_8080.my-cluster.aws.domain.com`

[2022-11-21 07:14] aav789 opened #2956 "Connection to SSL bootstrapServer from local Kafka-ui throwing SslAuthenticationException"
Request you to please help with corrections to application-local.yml
_I am able to connect to the SSL cluster via Offset Explorer 2.0 using the exact same trustStore and keyStore._

**Describe the bug**

Connection to SSL bootstrapServer from local Kafka-ui throwing SslAuthenticationException

`Caused by: javax.net.ssl.SSLHandshakeException: PKIX path building failed: sun.security.provider.certpat

[2022-11-21 10:58] Haarolean opened #2957 "Handle 404/403s on FE"

[2022-11-21 11:24] Mgrdich commented on #2957
Basically Because we use `useQuery` with `suspense` , it will throw an error -> by React Error throwing boundaries and it will propagte to the closest one.

Since in most components we don't have this feature , either we have to close the error throwing propagation, or handle them with Setting Error boundaries ,which i am not sure it the correct way to go.

[2022-11-21 18:55] BulatKha opened #2962 "Topics - Data masking: Support regexp for fields"
**Describe the bug**

Masking (REMOVE | REPLACE | MASK) configuration for the field names in message key/value does not support regular expressions, e.g.:

[code]

So the value and key patter could be set like below and apply to all the topics within a cluster

[code]

**Set up**

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Add an environment variable to set up the field value for

[2022-11-21 19:14] pc-akothapeta commented on #1306
I am interested in this too.. let me know when this feature will be implemented. Thanks

[2022-11-21 19:28] BulatKha opened #2963 "Topics: make the topic name field focused"
**Describe the bug**

When a new topic is created via UI, it is easier for user to key in the new topic name and fill in the rest via Tab button from the keyboard.

**Set up**

[6cf8fb3](https://github.com/provectus/kafka-ui/commit/6cf8fb3)

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Go to topics and click the "Add a topic" button.
**Actual behavior**
No edit field is in the focu

[2022-11-21 19:45] aav789 commented on #2956
Request you to please help me with the correct yml file.

[2022-11-22 08:00] BulatKha opened #2964 "Documentation: update Kafka-ui/readme.md doc with a latest feature list and go through the rest"
**Describe the bug**
Current readme.md doesn't have the KSQL DB, while even videos have it included.
Maybe along with the 0.5 release, with addition of an RBAC info and data masking references.

**Set up**

**Steps to Reproduce**

Steps to reproduce the behavior:

1.

**Expected behavior**

**Screenshots**

**Additional context**

[2022-11-22 08:55] #2657 closed

[2022-11-22 11:45] Mgrdich commented on #2957
So Since some of the pages are written with redux while other are written with query, two the 404 are handled on two different levels

how to migrate the component from redux to query.
* First transform the request logic.
* then wrap that component with `SuspenseQueryComponent`
* delete isRejected case from them.

[2022-11-22 11:47] anezboretskiy opened #2965 "Checking available operations for selected Topic within 'All Topics' page"
Auto test implementation for:

https://app.qase.io/case/KAFKAUI-7

Description:
Checking available operations for selected Topic within 'All Topics' page

Pre-conditions:

Login to Kafka-ui application

Open the 'Local' section

Select the 'Topics'

Steps:

1. Check any Topic from 'All Topics' list

Expected result:
Should display 'Delete selected topics', 'Copy selected topic' 'Purge messages of

[2022-11-23 07:35] #2289 closed, assigned to armenuikafka

[2022-11-23 08:03] iblislin opened #2968 "Deleting a "custom parameter" of topic doesn't take effect"
**Describe the bug**

Deleting a "custom parameter" of topic doesn't reflect deletion to the broker at the page `/ui/clusters/local/all-topics/mytopic/edit`.

**Steps to Reproduce**

I have kafka v3.3.1 cluster with 3 broker nodes in kraft mode.

Steps to reproduce the behavior:

1. I use the docker image `provectuslabs/kafka-ui:7e82e7434ea2d555d881e03a230e5e21db0636d4`
2. Go to the topic edit pag

[2022-11-24 02:02] Haarolean opened #2973 "Implement per-cluster polling rates limits"
### Discussed in https://github.com/provectus/kafka-ui/discussions/2959

TODO:
implement per-cluster polling limits to avoid i/o spikes on live tailing, search and etc.

[2022-11-24 07:00] BulatKha commented on #628
obsolete

[2022-11-24 07:00] #628 closed

[2022-11-24 07:47] armenuikafka commented on #2869
Seems not fixed, unchecking is not available.

[2022-11-25 02:52] Haarolean commented on #2767
@sunny092318 well, the [example](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/auth-ldap.yaml#L29) does work fine, all the credentials from `rroemhild/test-openldap` are getting accepted.
Can you provide a setup with docker-compose to reproduce to issue you're having?
On the side note, a suggestion to turn on finer logging via this env. property:
`logger.level.org.springf

[2022-11-25 03:05] Haarolean commented on #2968
Hey, thanks for reaching out. We'll take a look!

[2022-11-25 03:17] Haarolean commented on #2956
@aav789 hi, thanks for reaching out.
Can you please format the `application-local.yml` contents with backticks? Without the indentation the config is unreadable.

[2022-11-25 03:18] Haarolean commented on #1306
@pc-akothapeta it kinda already is. We're waiting for some stuff to be done before it's usable.

[2022-11-25 03:21] Haarolean commented on #1792
@ryan-clancy will take a look

[2022-11-25 09:35] Haarolean commented on #2948
@igor9292 hey, I honestly dunno how to even get closer to investigate the problem if there's no env where I can reproduce the issue. We have that [example compose file](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/auth-ldap.yaml#L29), which does work fine with a test ldap instance.
Is there any chance you could replicate the problem with some setup I can run as well?

[2022-11-25 10:26] Haarolean opened #2974 "FE: Mark serde-failed messages with red"
mark red in case of keySerde / valueSerde == “Fallback”

https://www.figma.com/file/ZkvysdRUmt9p2PDNU3a9WU/Kafka-UI?node-id=3161%3A16359&t=Hq9IHVUrCgjb9fqt-0

[2022-11-25 14:23] #2783 closed

[2022-11-26 00:53] aav789 commented on #2956
`kafka:
  clusters:
    - name: local
      bootstrapServers: 10.0.0.5:9092
      zookeeper: 10.0.0.5:2181
      metrics:
        port: 9997
        type: JMX
    -
      name: stage
      bootstrapServers: kafka-abcd:9093
      metrics:
        port: 9998
        type: JMX
      schemaRegistrySsl:
        keystoreLocation: path_of_file/keystore.jks
        keystorePassword: password
        trust

[2022-11-26 22:19] spike-spiegel-21 commented on #2706
Hello @Haarolean I was trying to run [kafka-ui.yaml](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui.yaml) with `sudo docker-compose -f docker-compose.yml up` and encounterd these warnings and errors:

1. `kafka0                        | ERROR: Did you forget the update_run.sh file that came with this docker-compose.yml file?
kafka1                        | ERROR:

[2022-11-27 13:59] Mgrdich commented on #942
# Results

Basically the decision was based

* On the features
* Documentation
* Bundle size
* Ease to use
* Performance
* Vanilla Javascript library that they were built on
* Customizability

We have two strong options.
* `ReCharts`  [Website](https://recharts.org/) , [Github](https://github.com/recharts/recharts)
* `react-chartjs-2` [Website](https://react-chartjs-2.js.org/) , [Github](https://g

[2022-11-27 16:12] sherifkayad commented on #942
@Haarolean just for my understanding, what would be the backend of this feature? I mean would the Kafka UI then store such metrics by itself or generate them on the fly each time from Kafka? How about querying Prometheus for those and just visualize them like what's today possible in Grafana using the Kafka Exporter?

[2022-11-28 08:54] #1352 closed

[2022-11-28 08:55] Haarolean commented on #2706
@spike-spiegel-21 which OS are you on? Did you run the docker-compose from the project directory or created your own? Do you have `update_run.sh` available at the path specified in volume binds list?

[2022-11-28 09:05] Haarolean commented on #942
@sherifkayad this is TBD yet. Probly exporting metrics into prometheus, might be a lil bit of storing short-term some metrics in memory.

[2022-11-28 13:34] anezboretskiy opened #2982 "[e2e]SchemasTests.updateSchemaAvro : Update schema avro ( REFACTORED WITH NEW ASSERTIONS)"
Auto test implementation for:

https://app.qase.io/case/KAFKAUI-186

Description:
The purpose of this case is to make sure that possible to edit the Schemas

Pre-conditions:

- Login to Kafka-ui

- Navigate to Schema Registry

- Create a schema

- Open the Schema

Steps:

- [ ] 1. Press "Edit Schema" button
Expected result
Following content should be displayed:

- Disabled Type field
- Compatibili

[2022-11-28 18:30] sherifkayad commented on #942
@Haarolean got ya. I just wanted to say if something like the Kafka Exporter (https://github.com/danielqsj/kafka_exporter) is already in place, then you wouldn't probably need to worry about lots of metrics e.g. lag metrics or throughput metrics. In that case, probably the Kafka UI can just read the metrics from Prometheus and that's it. Not sure if that makes sense to you or if there could be som

[2022-11-29 13:09] ArthurNiedial opened #2987 "[e2e]Checking the Brokers overview"
Autotest implementation for:

https://app.qase.io/case/KAFKAUI-1

Description:
Checking the existing brokers in a cluster

Pre-conditions:
Empty value

Post-conditions:
Empty value

Steps:
1 Login to Kafka-ui
2 Press the cluster in a left panel
3 Press the Brokers.

Expected result:
1 The existing clusters should be displayed in a left
2 Brokers, Topics, Consumers, Schema Registry, Kafka connect,

[2022-11-29 19:23] aav789 commented on #2956
Hi @Haarolean,
Request you to please provide solution when you get a chance.
Thank you.

[2022-11-29 19:47] Mgrdich commented on #2372
https://vitejs.dev/guide/build.html#public-base-path

when can configure this during build, by this parameter.

[2022-11-30 13:26] armenuikafka opened #2993 "[UI] Improve log out page view"
**Describe the bug**
Log out page looks weird, suggesting to make more user friendly

**Set up**

 https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Login to Kafka-ui
2. Press "Log out" in the right corner

**Actual result:** Log out page opens with weird design (Check attached screenshot)

**Expected behavior**

- In case we should keep the log out p

[2022-11-30 13:36] armenuikafka opened #2994 "[RBAC] Cluster's component should not be visible if user doesn't have any permission for it"
**Describe the bug**
In case user doesn't have any permission for any block (Consumers f.ex.), shouldn't see it in a left slide bar

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**

1. Make sure user doesn't have any permission for "Consumers"
2. Login to Kafka-ui
3. Check cluster components in a left

**Expected behavior**
The Consumers component should not be visible in a c

[2022-11-30 13:50] anezboretskiy opened #2995 "[e2e]Checking filter saving within Messages/Topic profile/Saved Filters"
Auto test implementation for:

https://app.qase.io/case/KAFKAUI-13

Description:
Checking filter saving within Messages/Topic profile

Pre-conditions:

- Login to Kafka-ui application
- Open the 'Local' section
- Select the 'Topics'
- Open the Topic profile
- Turn to 'Messages' tab

Steps:

1. Press '+Add Filters' button
Expected result:
'Add Filter' pop up should open

2. Fill fields

[2022-11-30 13:55] pc-akothapeta commented on #1306
Thanks @Haarolean

[2022-11-30 19:11] Mgrdich commented on #2372
https://github.com/vitejs/vite/issues/3522