[2022-02-21 14:33] Corlobin commented on #949
Hi @Haarolean , the objective is to move the DTO's classes to controller? (So we will have the .map inside the controller class?)

[2022-02-21 17:36] workshur opened #1650 "Improve test coverage for ConsumerGroups folder"
**Describe the bug**

Improve test coverage for [src/components/ConsumerGroups](https://sonarcloud.io/component_measures?metric=new_coverage&selected=com.provectus%3Akafka-ui_frontend%3Asrc%2Fcomponents%2FConsumerGroups&view=list&id=com.provectus%3Akafka-ui_frontend)

**Expected**
Coverage is close to 100%

[2022-02-22 08:39] iliax opened #1653 "Frontend: Messages view is showing old data"
**Describe the bug**

When switching to Messages view it is showing previous rendered table for couples moments

**Steps to Reproduce**
Steps to reproduce the behavior:

1. go to non-empty topic -> Messages
2. go to empty topic -> Messages
3. table will show first topic's messages and then cleared

**Expected behavior**

we don't see invalid table render

**Screenshots**

https://user-images.githu

[2022-02-22 10:29] David-hod opened #1656 "A number of CVEs is present"
it seems like the latest release 0.3.3 is very vulnerable
https://artifacthub.io/packages/helm/kafka-ui/kafka-ui?modal=security-report
when can we get a version with those issues fixed?

[2022-02-22 10:45] Haarolean commented on #1656
Hi, thanks for reaching out.

Will take a look.

[2022-02-22 11:14] #1015 closed

[2022-02-22 11:19] David-hod opened #1657 "EKS with ingress controller"
page is not loading with message to 'You need to enable JavaScript to run this app'.
We are running on EKS with ingress nginx controller. we use terraform for deployment.
the ingress is used by many services and we want to keep only one, we dont want to create dedicated ingress for kafka-ui with an ALB behind it.
we can't allocate the root path because it is reserved for our frontend.

we also tri

[2022-02-22 11:35] 5hin0bi commented on #1657
Hi @David-hod , thank you for opening the issue!

Is it possible you could provide us with the values.yaml file (or terraform helm package parameters) that were used in your case?

Ingress part that is responsible for the Kafka-ui service targeting might be also useful to help you with the problem.

[2022-02-22 14:28] sarlindo opened #1659 "Can't see topic and broker information in GUI"
**Describe the bug**

I seem to be having an issue seeing my kafka broker and topic information in the GUI. I can see consumers and then drill down and see topics, but can't seem to see topics and/or broker info in the GUI?

**Set up**
I am testing the app via your docker image and running the command below:

docker run -p 8080:8080 -e KAFKA_CLUSTERS_0_NAME=sit1 -e KAFKA_CLUSTERS_0_BOOTSTRAPSERVER

[2022-02-22 15:22] Haarolean commented on #1659
Hi, please share which failed requests you have (if any) in browser's developer console.
And your container logs, there might be some stacktraces.

[2022-02-22 15:46] Haarolean opened #1661 "Implement a workflow for periodic CVE scanning"
With a manual run so far.

#1656
#1240

[2022-02-22 15:48] Haarolean opened #1662 "Implement a SR client"
Implement a schema registry client via openapi (like we have one for kafka-connect) and use it instead of webclient in `SchemaRegistryService` class.
The point: Reduce amount of URLs in the class and implement a decent failover in the future.

[2022-02-22 15:50] Haarolean opened #1663 "Get rid of zookeeper"

[2022-02-22 16:35] sarlindo commented on #1659
There are no failed requests in browser.

Container logs attached below:
[docker.log](https://github.com/provectus/kafka-ui/files/8118401/docker.log)

[2022-02-22 16:42] Haarolean commented on #1659
Yeah, this message:
`org.apache.kafka.common.errors.UnsupportedVersionException: Attempted to write a non-default includeSynonyms at version 0`
says your cluster version may be outdated. Which version is that?

[2022-02-22 18:42] mattia-crypto opened #1665 "get SCRAM credentials from secret"
### Is your proposal related to a problem?

Many people rely upon Kafka operators when they deploy Kafka in Kubernetes.

Usually, the operator lets you create `KafkaUser` CRDs, which may autogenerates passwords for a particular user and associates this password with a new Kubernetes `Secret`.

Currently, the `KAFKA_CLUSTERS_X_PROPERTIES_SASL_JAAS_CONFIG` env variable requires a username and passwo

[2022-02-22 18:52] mattia-crypto commented on #1665
Sorry just found what I was looking for :-)

[2022-02-22 18:52] #1665 closed

[2022-02-22 19:09] sarlindo commented on #1659
very old version 0.11.0.0.

We are upgrading it very soon and will retest against newer version of Kafka. Thanks.

[2022-02-22 20:49] Haarolean commented on #1665
@mattia-crypto glad you've solved it. Could you share the solution so we add it in our FAQ in the future?

[2022-02-22 22:42] sarlindo commented on #1659
@Haarolean ok i tested it against a newer version of kafka and it's working and will close very soon. I have one last question. Does this ENV variable KAFKA_CLUSTERS_0_READONLY=true ensure that the GUI can only be used for readonly and no updates like adding new topics, clearing messages etc.. is allow? Is that correct?

[2022-02-22 22:48] Haarolean commented on #1659
@sarlindo that's great it works.
Yes, readonly mode will allow just GET requests to any endpoint.

[2022-02-22 22:48] #1659 closed

[2022-02-22 22:49] Haarolean commented on #1659
duplicate of #1550

[2022-02-22 22:53] omh1280 opened #1666 "Request: a command to compile just `kafka-ui-api`, ignoring the frontend"
### Is your proposal related to a problem?

I'd like to be able to iterate building the Java portion of `kafka-ui` without building the frontend.

I assumed this would work, but it runs npm:
[code]

I was told to open this issue on Discord.

### Describe the solution you'd like
[code]
The above should compile just the backend.

[2022-02-23 08:41] mattia-crypto opened #1667 "Let environment variable values be injected from Secrets"
### Is your proposal related to a problem?

The issue is that the `KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG` environment variable needs to be populated in plaintext.

### Describe the solution you'd like

I would like to see the Helm chart support referencing values for the environment variables from a Kubernetes `Secret`.

For example:

[code]

However, my `helmfile diff` complains since the

[2022-02-23 08:48] mattia-crypto commented on #1665
@Haarolean I found the `existingSecret` parameter for the `values`. However, it turned out that this has not actually solved my problem. Please see:  https://github.com/provectus/kafka-ui/issues/1667

[2022-02-23 09:36] David-hod commented on #1657
[code]

[2022-02-23 09:51] ZZa commented on #779
@Haarolean thanks for providing the guide, but the list of environment variables, which are possible to be set is still incomplete (SASL_SSL configuration properties are missing).

There is also almost no documentation on the `application-local.yml` configuration file.. Only a few possible configuration options are mentioned.

For instance, such a configuration is never mentioned:
[code]

It is al

[2022-02-23 10:04] ZZa commented on #930
@Haarolean, are there probably any news about this issue?
We are using mTLS for our Schema Registry together with Basic Auth in our Kafka Clusters, and I didn't manage to configure SSL connection to it for my `kafka-ui` instance..

What I already tried:

**Attempt 1**: SSL properties inherited from brokers connection?
[code]

**Attempt 2**: SSL properties in the same manner as for brokers connecti

[2022-02-23 10:20] ZZa commented on #930
The same question applies to the Kafka Connect connection - how do I configure SSL connection to Kafka Connect Workers?

[code]

Such configuration leads to the same issue as of now:
[code]

[2022-02-23 11:31] poblin-orange commented on #933
I guess the corresponding variables do not exist. Is KAFKA_OPTS a workaround ?

[2022-02-24 03:08] Corlobin commented on #1385
I receive a error when I try to add spaces at the beginning of the schema name:
<img width="558" alt="image" src="https://user-images.githubusercontent.com/1748946/155450388-ecad5634-4e56-4c12-8362-1e813e8fb77c.png">
Is this still an issue? backend or frontend?

[2022-02-24 08:11] 5hin0bi commented on #1657
Hi @David-hod thank you for providing the ingress information.

Running the command with the ingress enabled:
` helm template kafka-ui/charts/kafka-ui -f kafka-ui/charts/kafka-ui/values.yaml --name-template test`

The next service and ingress were created:

[code]

[code]

You will definitely need to provide the `SERVER_SERVLET_CONTEXT_PATH: /kafka-ui` env var.

Comparing to your ingress, the serv

[2022-02-24 08:30] jphuguet opened #1670 "javax.net.ssl.SSLHandshakeException: No subject alternative DNS name"
**Describe the bug**
Local kafka-ui (latest) running in docker fails to connect to an ainven kafka cluster.

It seems that kafka-ui reach the cluster `kafka_cluster.aivencloud.com` but then resolve it to an EC2 isntance dns ` ec2-54-xx-xx-xx.eu-west-1.compute.amazonaws.com`.
The provided ca cert matches `kafka_cluster.aivencloud.com` (it's provided by aiven).
(dns & ip have been changed in the exa

[2022-02-24 08:33] 5hin0bi commented on #1667
Hi @mattia-crypto thank you for opening the issue.

Have you tried referring these env variables like:
`KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username="admin" password="$PASSWORD";" ?`

Where `$PASSWORD` is the name of env var provided by the existing secret.

[2022-02-24 10:38] mattia-crypto commented on #1667
Have not tried this yet, no! Good advice which by the looks of it should work. I will test it out :-)

[2022-02-24 10:40] mattia-crypto commented on #1667
I do also have SSL enabled, however, and still waiting on replies wrt. documentation of how to mount secrets containing the SSL certificates. You got some advice on that front @5hin0bi ?

Thank you.

[2022-02-24 10:44] David-hod commented on #1657
lets close this issue for now.

[2022-02-24 10:58] mattia-crypto commented on #1667
That solved this particular problem. However, in my case I do use `SASL_SSL`, and since I do need to inject more than one secret, the `existingSecret` parameter cannot be used. Is there an alternative option, or is there a trick to injecting multiple `existingSecret` parameters?

Thanks.

[2022-02-24 11:34] #1657 closed

[2022-02-24 12:01] 5hin0bi commented on #1667
Hi @mattia-crypto glad it helped at least with the simple case.

If you wish to store certificates as files in the container, I believe the best option will be to use volumeMounts: https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod

It's not yet supported by the existing state of the helm chart we maintain but I see it's a required thing to have. We will im

[2022-02-24 12:46] 5hin0bi commented on #1667
OK @mattia-crypto , we will consider these when implementing the feature.

[2022-02-24 13:33] Motherships opened #1673 "Make a separate Setup wizard app to make easier to generate env variables"
### Is your proposal related to a problem?

This app will help users to generate env variables and decrease number of env-related issues

### Describe the solution you'd like

Helpful libs
https://rjsf-team.github.io/react-jsonschema-form/
https://jsonforms.io/examples/rule

### Additional context

<details>
    <summary>Possible steps</summary>
New cluster ->
1. Enter name (string)
2. Readonly?
3

[2022-02-24 13:48] Haarolean opened #1674 "Update frontend to reflect design changes"
- color palette
- elements colors

[2022-02-24 15:38] jonasgeiregat commented on #1385
I'm also only to reproduce this on master @agolosen ?

[2022-02-24 17:29] mattia-crypto opened #1676 "Login Module Control flag not specified in JAAS config"
**Describe the bug**
I am deploying kafka-ui via `helmfile`, and I am attempting to connect via `SCRAM_PLAINTEXT` using the below config. My `Pod` starts, however, I see this error:

[code]

**Set up**
I use the Strimzi Operator for Kafka to create a cluster with the following configuration, note that it uses SASL_SSL:

[code]

My `kafka-ui` looks like this:

[code]

I pass in `$sasl.jaas.config`

[2022-02-24 23:20] Haarolean commented on #1676
Hi, the problem is in `$sasl.jaas.config` variable. There's just no way to output such a variable in bash, with or without escaping. You have to reference it some other way without dots.

[2022-02-24 23:20] #1676 closed

[2022-02-24 23:29] Haarolean commented on #1385
which version are you on? Revision, more importantly.

[2022-02-24 23:32] Haarolean commented on #1385
Works fine on master.

[2022-02-24 23:32] #1385 closed

[2022-02-24 23:42] Haarolean commented on #933
@poblin-orange hey, please raise a new issue if you encounter something like this.

[2022-02-24 23:56] Haarolean commented on #779
@ZZa there was no aim to display all the possible values in one single config.
What's your current problem?

`application-local.yml` is a (kind-of) dummy internal configuration file and it's to be dropped. All the possible configuration examples are located in `documentation/compose` directory.

SR is a different problem and is to be solved within #930.

We're trying to help out with configuration

[2022-02-25 05:22] kaotu opened #1678 "How to set up SSO with G suite"
Hello,
Kafka-UI is pretty and easier to use connect and manage Kafka but I have question. How can I set up SSO with our G suite? I should fill in what environment variables?

Thank you!

[2022-02-25 07:18] #1667 closed

[2022-02-25 09:22] ZZa commented on #779
@Haarolean Thanks for your reply!

What I tried to say, is that the list of **all possible configuration options** and their default values would be nice to have in one place here: https://github.com/provectus/kafka-ui/tree/master#-environment-variables (together with some short info when something is not supported, i.e. HTTPS for Schema Registry / Kafka Connect / JMX)

Currently, only a subset of

[2022-02-25 09:39] 5hin0bi commented on #1398
Waiting for the github to allow passing dynamic variables to reusable workflows.

[2022-02-25 12:49] #1661 closed

[2022-02-25 18:41] Haarolean commented on #1678
Hi, please refer to [SSO guide](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SSO.md). Let us know if you have any problems.

[2022-02-28 03:01] fisherwei opened #1686 "more ENVs for kafka cluster instance"
KAFKA_CLUSTERS_0_DEFAULT_TOPICS_SHOW_INTERNAL_TOPICS: true/false
KAFKA_CLUSTERS_0_DEFAULT_TOPICS_ORDER_BY_OLDEST_FIRST: true/false
KAFKA_CLUSTERS_0_DEFAULT_TOPICS_PAGE_COUNT: 10/20/30 ...
KAFKA_CLUSTERS_0_DEFAULT_TOPICS_MESSAGES_PAGE_COUNT: 10/20/30 ...

also, if user modified, save value to browser cookies.

[2022-02-28 03:06] kaotu commented on #1678
Hi,
I use these variables
[code]
via https://developers.google.com/oauthplayground/. It's not working, I found `ERROR 401 invalid_client`.

[2022-02-28 11:45] kaotu commented on #1678
Hey,
Update, I try to config and seem like it working but I found `Invalid credentials` after sign in with SSO via G suite.
My config redirect URI is `http://mydomainname.com/login/oauth2/code/google`

![image](https://user-images.githubusercontent.com/32597649/155976801-10d5308c-ab31-4efb-8671-d1b64fdb3d77.png)

[2022-02-28 12:55] ramarro123 opened #1689 "TimeoutException when JMX is enabled"
Hello,

i am trying to setup kafka-ui and i receive this message:

org.apache.kafka.common.errors.TimeoutException: Call(callName=listNodes, deadlineMs=1646050105263, tries=1, nextAllowedTryMs=1646050749797) timed out at 1646050749697 after 1 attempt(s)
Caused by: org.apache.kafka.common.errors.TimeoutException: Timed out waiting for a node assignment. Call: listNodes

the cluster report "offline"

[2022-02-28 16:00] iliax opened #1690 "Critical UI: Topic Newest first mode not working"
**Steps to Reproduce**
Steps to reproduce the behavior:

1. go to any non-empty topic -> Messages
2. change seek direction to Newest First
3. nothing changed

**Expected behavior**

seekDirection parameter sent as "BACKWARD" and we see messages in reversed order

**Screenshots**

https://user-images.githubusercontent.com/702205/156015425-6dea362d-142a-4d95-82ed-756392900fb3.mov

[2022-03-01 07:32] deepak-hiver opened #1691 "Topics not loading for AWS MSK"
Hi I tried using kafka-ui v0.3.3 and topics are not loading for me, I am using AWS MSK, all other things are loading seamlessly but topics don't show at all, I checked the API and it's giving me 500

[2022-03-01 17:01] Haarolean commented on #1678
Thanks, I'll take a look into this.

[2022-03-02 01:21] Hamdiovish commented on #287
This issue is still happening with the "latest" and all 3.x.x docker images.
All DELETE rest calls are getting the following response "Invalid CSRF Token".

[2022-03-02 11:19] moravcik94 commented on #1689
hello, we have same problem. With jConsole i can connect without problem to broker - it also says that connection is insecure so there is no chance that ssl is active.

[2022-03-02 12:58] moravcik94 commented on #1402
same problem here

[2022-03-02 13:49] agolosen opened #1695 "Change spelling of ksqlDB at bread crumbs"
**Describe the bug**

There is weird spelling Ksql Db of ksqlDB at the bread crumbs.
**Set up**

http://issues-1109.internal.kafka-ui.provectus.io/ui/clusters/local/ksql-db

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to KSQL DB
2. Push the button Execute KSQL Request
3. Observe bread crumbs: Ksql Db / Query

**Expected behavior**

ksqlDB as it`s writing on the https://ksq

[2022-03-02 14:38] Corlobin commented on #1666
I can take this one.

Actually the ` ./mvnw compile -Pprod` doesn't compile the "kafka-ui-contract" (or am I wrong?). So when compiling the "kafka-ui-api" if you dont compile the contract you can receive some erros (if the contracts were updated).

Maybe this is an another issue?

[2022-03-02 14:47] Haarolean commented on #1666
Yeah, let's do something like this.
It depends on the directory you run this command in.

[2022-03-03 02:01] Corlobin commented on #1662
Hi @Haarolean , can I take this one?

[2022-03-03 08:22] MaksimMyshkin commented on #1452
I afraid permissions that @vdanylenko described is not enough to work with topics from kafka-ui. At the moment I think that problem due to using AdminClient and I don't known how to work around it right. I just trying to find a reason to the problem that I (or someone else) can help to fix it sooner(

[2022-03-03 11:15] #943 closed

[2022-03-03 11:42] #1690 closed

[2022-03-03 11:48] #1184 closed

[2022-03-03 18:32] Haarolean commented on #1686
Hi, thank for reaching out. We'll consider this for next releases. Stay tuned!

[2022-03-03 18:34] Haarolean commented on #1689
@ramarro123 @moravcik94
Could you please share your kafka-ui env variables/configmap/etc?

[2022-03-04 14:51] jdechicchis opened #1699 "Add configuration option to deserialize binary protobuf encoded message keys"
First off, Kafka UI is great, thanks for maintaining it!

I noticed [this TODO](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-api/src/main/java/com/provectus/kafka/ui/serde/ProtobufFileRecordSerDe.java#L30) in `ProtobufFileRecordSerDe`:
[code]

I think it would be nice to provide the ability to deserialize binary protobuf encoded message keys in addition to message values. To support

[2022-03-04 21:32] sasunprov opened #1702 "Reusable tables"
### Is your proposal related to a problem?

The purpose of this feature request is to have a **Table** component more reusable and handle _select row, pagination, emty state_ inside it.

### Describe the solution you'd like

With the current implementation we must handle rendering rows, selecting rows, empty state, pagination in each page where we have a table. With this Feature Request we will ha

[2022-03-04 23:41] Haarolean commented on #1699
Hey, thanks for reaching out! Glad you like it.

Let's discuss and we'll see about the PR.

@iliax, what do you think?

[2022-03-04 23:46] Haarolean commented on #1452
@MaksimMyshkin hey, wanna hop on our discord? We can try to investigate this. The link is available in README.

[2022-03-04 23:47] Haarolean commented on #1662
@Corlobin hey, sure thing ;)

[2022-03-04 23:51] Haarolean commented on #1402
@moravcik94 hey, can you provide steps to reproduce this?

[2022-03-04 23:53] Haarolean commented on #287
@Hamdiovish hey, can you share your config?

[2022-03-04 23:55] Haarolean opened #1704 "Proto SerializationException: Unknown magic byte"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1680

<div type='discussions-op-text'>

<sup>Originally posted by **mihelanjelo** February 25, 2022</sup>
Hello, i have problem with setting up proto schemas for topic.
I have connected schema registry confluentinc/cp-schema-registry:7.0.1
I set schema for key like topic_name-key and for value like topic_name-value
, but still mess

[2022-03-05 01:19] linkedby-data opened #1705 "Topics not loading for OCI Streaming"
**Describe the bug**
Hi,
I'm trying to use kafka-ui v0.3.3 connected with OCI Streaming, but the topics and consumers don't load, only the broker dashboard displays information.

**Set up**
Run latest image in docker:
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run kafka-ui (docker-compose up / http://localhost:8080).
2. Select Topics from the menu and wait for a while. Top

[2022-03-05 01:50] Corlobin commented on #1662
Hi @Haarolean , can you assign it to me?

[2022-03-05 17:01] Haarolean commented on #1705
Hey, thanks for reporting the bug.

We'll take a look.

[2022-03-05 17:02] Haarolean commented on #1662
@Corlobin I already did! :D

[2022-03-07 16:38] ngmip opened #1709 "avro deserializer used to read Long key"
**Describe the bug**

A topic for which the key is a `long` and the value is an avro serialized object is not properly rendered : the key appears as unreadable characters.

**Set up**
version 38c4cf7
docker-compose file :
[code]

**Steps to Reproduce**

1. navigate to topic messages page (/ui/clusters/[cluster]/topics/[topic]/messages)

**Expected behavior**

messages are listed with their key and

[2022-03-07 16:46] ngmip commented on #1689
Hello,
I have the same problem and eventualy disabled the JMX port.
In my case, we have 5 clusters (5 environement) all configured alike (no ssl). For one of them, the JMX actually "works" ...  from time to time ... it is extremely slow and often timeout.
Maybe unrelated but the Oracle Java Mission Control Tool is also horribly slow to connect to the same JMX, while jconsole is rather quick.

[2022-03-07 18:15] iliax commented on #1709
Hi @ngmip, currently kafka-ui treated all data that is not SchemaRegistry-based (like avro, json-sr, protofuf) **as UTF_8 string**.
Explicit serializer setting is not supported now. Please create separate issue if it is critical for you - we will think how it can be implemented and likely add it our roadmap.

[2022-03-07 18:15] #1709 closed

[2022-03-07 18:48] iliax commented on #1704
Replied in original thread.

[2022-03-08 00:33] backjo opened #1710 "404 when navigating to routes on master."
**Describe the bug**

We recently updated to the latest master image (b08e22915d5d5c18d6a576fbe119ad44599db0d5), to workaround the bug that was defaulting topics retention size to 0 instead of -1. Apologies if bug reports are unwelcome for non-released versions, but since this is the latest master, wanted to make sure awareness was there!

When we navigate directly to a route other than the root,

[2022-03-08 10:41] Haarolean commented on #1710
Hi, thanks for reaching out!

Reporting master-branched bugs is totally fine and we appreciate that.

The thing is, it's not just `/clusters/my-dev/brokers`, this has to be `/api/clusters/my-dev/brokers`. Please try this and lemme know if it works.

[2022-03-08 10:51] iliax commented on #1699
I am ok with this. Will be happy to review PR, @jdechicchis

[2022-03-08 12:09] Haarolean commented on #1390
Partially fixed. All the bootstrap stuff is local for now. There's still some stuff on frontend part which will load externally (like, fonts from google) and it's a tricky thing. But they might just replaced to fallback fonts. Please check it out.

[2022-03-09 03:23] kaotu commented on #1678
Hello,
Do you have anything to update?

[2022-03-09 08:27] David-hod opened #1713 "Schema registry : Schema references"
One of the main features of confluent schema registry is to reference a schema from other topic.
[schema registry documentation](https://docs.confluent.io/platform/current/schema-registry/develop/api.html
)
we want to use this feature to manage multiple events on this topic.
We can view it on the the kafka ui today (we cannot see the references ), but we cannot create a 'subject' with references w

[2022-03-09 08:42] Haarolean commented on #1713
Hey, thanks for the suggestion. We'll consider implementing this in the future release.

[2022-03-09 08:48] David-hod commented on #1713
@Haarolean do you want me to try to create a pull request for it ?

Thanks David

[2022-03-09 08:49] Haarolean commented on #1713
@David-hod would be really cool!

[2022-03-09 11:15] #1674 closed

[2022-03-09 11:58] mattia-crypto opened #1714 "Blank page with ALB Ingress"
**Describe the bug**

I have finally setup my kafka-ui and exposed it via an ingress of type Application Load Balancer in AWS.

Whenever I hit the URL of the application load balancer in my browser, I simply get a blank page. I do have JS enabled in my browser, so not sure why this occurs.

I found this strange, so I tried to `curl`.

My output is the following:

[code]

You can see the last secti

[2022-03-09 13:00] #1383 closed

[2022-03-09 14:18] ngmip opened #1715 "Support data serialized with Long"
### Is your proposal related to a problem?

Most of our topics have a Long type key but kafka-ui only support schema-registry based data or / UTF8 string (as I was told in [issue #1709](https://github.com/provectus/kafka-ui/issues/1709#issuecomment-1060984398)).
We can therefore not see/filter records based on the key.

### Describe the solution you'd like

Let the user change or choose the deseri

[2022-03-09 17:19] Haarolean commented on #1714
Hey, thanks for reaching out. We'll take a look once we have someone available.

[2022-03-09 17:30] mattia-crypto commented on #1714
Great, thanks.

[2022-03-09 20:40] sasunprov commented on #1473
@workshur I can't reproduce, could you please tell in which exact table this happens?

[2022-03-10 06:31] Haarolean commented on #1715
Hey, thanks for raising the issue. We'll consider this for 0.5.

[2022-03-10 10:56] David-hod commented on #1713
@Haarolean  does pull request is by fork or should i have permissions to the repo

[2022-03-10 11:04] Haarolean commented on #1713
@David-hod you have to fork the repo

[2022-03-10 11:13] #1472 closed

[2022-03-10 13:31] Haarolean commented on #1678
Are you still trying to use playground credentials or have you created an oauth client?

[2022-03-10 13:34] kaotu commented on #1678
Yes, I already created an oauth client.

[2022-03-10 13:56] Haarolean commented on #1678
Works fine for me:
[code]

[2022-03-10 16:35] AliBrahem opened #1718 "How to setup SSO with AWS Cognito"
**Describe the bug**

We're trying to set up SSO with AWS Cognito by following the SSO guide in the documentation.
Here is the configuration used from kafka-ui :

---
version: '3.4'
services:

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: msk-xxxx
      KAFKA_CLUSTERS_0_PROPERTIES_SECURIT

[2022-03-11 04:11] kaotu commented on #1678
Oh, I think it's my mistake to configure the oauth2 client on google console.😅
Thank you for helping me. I will close this issue.

[2022-03-11 04:11] #1678 closed

[2022-03-11 06:06] RustamGimadiev commented on #1714
Hi @mattia-crypto, I suppose that cause of the issue is a wrong `path` in ingress, ALB controller use it to build listener rules, so instead of specifying just `/` need to pass `/*` to being able forward any request to the targets

[2022-03-11 12:40] #1650 closed

[2022-03-11 13:33] Haarolean commented on #1678
@kaotu you're welcome :)

[2022-03-11 14:20] Haarolean commented on #1718
Hi, thanks for reaching out.
All oauth providers should work the same way and this is the first time we get approached with such a problem. Moreover, we currently use cognito perfectly fine on our dev env.

Have you tried curling the URL from inside the container itself?

[2022-03-11 14:39] avinashs2401 commented on #1357
I have the same need too in my project. We need to monitor the consumers on how many messages they are behind. As of now we have to manually refresh. Auto-refresh would be of great use.

[2022-03-11 15:44] iliax commented on #1689
@ramarro123 It is pretty strange, because TimeoutException you provided is not connected with jmx.
I can recommend to
1. set `KAFKA_ADMIN-CLIENT-TIMEOUT=60000` (env variable) to exclude possibility of kafka api timeouts
2. add `-Dsun.rmi.transport.tcp.responseTimeout=60000` to JAVA_OPTS.

[2022-03-11 19:32] agolosen opened #1720 "KSQL execution works wrong"
**Describe the bug**

1. INSERT INTO lets to insert the same data multiple times.
2. SELECT  from tutorial gives an error message.

**Set up**

http://issues-1109.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to KSQL DB in main menu
2. Push the button Execute KSQL Request
3. Execute the query INSERT INTO riderLocations (profileId, latitude, l

[2022-03-11 22:32] Haarolean commented on #1357
@avinashs2401 thanks for the feedback! Please also leave a reaction for the first message in the issue so we could sort them in the future

[2022-03-12 10:26] #1656 closed

[2022-03-13 20:25] David-hod commented on #1713
@Haarolean intellij checkstyle plugin does not work with the checkstyle file you use on this repo, since it is old.
It is not easy to do checkstyle manually without intellij.
Can you take care for it ?

[2022-03-14 09:27] #886 closed

[2022-03-14 09:29] Haarolean commented on #1656
Stil have to get rid of ZK to get a clean scan #1663

[2022-03-14 09:33] nikobearrr opened #1725 "Creating a topic with default settings will alter retention.bytes"
**Describe the bug**
When creating a new topic the retention.bytes is set to 0 instead of -1.

**Steps to reproduce**
1. Run kafka-ui 0.3.3
2. Create a new topic
3. Select "Not Set" on "Max Size on disk GB"
4. Observe the `retention.bytes` is set to `0` instead of `-1`

[2022-03-14 09:42] Haarolean commented on #1725
@nikobearrr thanks for raising the issue! We'll take a look.

[2022-03-14 11:36] jonasgeiregat commented on #886
Something struck me, what if the multiple registries have different authentication credentials ?

[2022-03-14 16:54] jdechicchis commented on #1699
@iliax @Haarolean Made a PR #1729. Would appreciate a review. I noticed that there didn't seem to be much documentation on how to use protobuf files with Kafka UI (maybe I missed it). I'm happy to document this change better if desired

[2022-03-14 17:23] mattia-crypto commented on #1714
@RustamGimadiev thanks for this, I will test ASAP and let you know.

[2022-03-15 01:58] #1691 closed

[2022-03-15 07:41] Haarolean commented on #1699
@jdechicchis hey, yeah, unfortunately there's not much documentation for this. Would appreciate any documentation improvements.

[2022-03-15 10:45] devsinghnaini commented on #1390
Hi @Haarolean , can you please tell when this will be fixed? we just wanted to use this feature in azure env and trying some POC. If this is working thn  we need to integrate this with other components.

[2022-03-15 10:48] Haarolean commented on #1390
@devsinghnaini you can already try it out with `master`-labeled docker image. It *might* work, if it does not, let me know which resources are failing.

[2022-03-15 10:58] Haarolean commented on #1390
@devsinghnaini `latest` is latest release. You have to try `master` instead.

[2022-03-15 12:32] devsinghnaini commented on #1390
@Haarolean still facing same issue , UI not able to load properly... below error in UI console.

xxx.xxx.xx-xx.xx/:1 Refused to execute script from 'https://xxx.xx.xx-xx.xx/static/js/main.193f72c2.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.
xxx.xx.xx-xx.xx/:1 Refused to apply style from 'https://xxx.xx.xx-xx.xx/static/css/main.bf915e18.css'

[2022-03-15 13:43] Haarolean commented on #1390
@devsinghnaini this looks unrelated, these are not external resources. Please raise a new issue.

[2022-03-15 13:45] #1193 closed

[2022-03-15 14:23] Mgrdich commented on #1725
Front Part the NOT_SET Value set is -1 , if we want to view the value as 0 during the NOT_SET case the BE should send it as such.

[2022-03-15 14:33] Haarolean commented on #1725
@nikobearrr I couldn't reproduce the issue (latest master commit). `retention.bytes` is being set to `-1`.
Please copy the request body from your browser's developer console when you create a topic (POST /api/clusters/local/topics).
<img width="694" alt="image" src="https://user-images.githubusercontent.com/1494347/158401280-c92bd4ba-e596-4f6a-8d12-0f83ac8020c9.png">

[2022-03-15 15:04] nikobearrr commented on #1725
Hi @Haarolean,

Here is a screenshot from when running 0.3.3:

![image](https://user-images.githubusercontent.com/8693064/158407594-591d9e76-4cbd-4092-9076-4b62f8e191ed.png)

To reproduce it, you can use the following compose:

[code]

[2022-03-15 15:22] varunreddy6999 opened #1730 "Overriding ingressClassName with values.yaml"
**FYI: I'm adding this chart as a dependent chart to my helm
I'm not being able to pass ingressClassName value from values.yaml file**

**Set up**

**Steps to Reproduce**
Steps to reproduce the behavior:

1. In values.yaml, enable Ingress by
[code]
2.In the same values.yaml file add ingress class name and host
[code]

**Expected behavior**
When we update the values.yaml file as I mentioned above,

[2022-03-16 03:47] j4ys0n opened #1731 "Deep linking routes results in 404 on latest release"
**Describe the bug**

navigate to /clusters/<cluster_name>/topics, or refresh when you're on a routed page and you'll get a 404

**Set up**

docker-compose

**Steps to Reproduce**
Steps to reproduce the behavior:

1. see description

**Expected behavior**

no 404
**Screenshots**

**Additional context**

[2022-03-16 08:15] Haarolean commented on #1731
Hey, thanks for reaching out. We'll take a look asap.

[2022-03-16 08:15] Haarolean commented on #1731
#1693 ?

[2022-03-16 08:16] Haarolean commented on #1730
@varunreddy6999 hey, thanks for reaching out. We'll take a look.

[2022-03-16 08:29] Haarolean commented on #1725
@nikobearrr thanks!
There seems to be an issue with 0.3.3 indeed. If you don't explicitly click 'not set' it's being set to '0' instead.
This is fixed in `master`-labeled docker image, tho. Mind pulling a fresh one? You can use a [sha-tagged](https://hub.docker.com/r/provectuslabs/kafka-ui/tags) image if you want a fixed version.

[2022-03-16 08:29] #1725 closed

[2022-03-16 08:33] Haarolean commented on #1699
@jdechicchis would be cool! The same PR is fine, the path is okay as well.

[2022-03-16 09:06] jonasgeiregat opened #1733 "Hide zookeeper on dashboard when not configured"
**Describe the bug**
When you do not configure zookeeper you should not see the zookeeper status on the dashboard.

**Steps to Reproduce**

1. Do not add any zookeeper configurations.

**Expected behavior**

2. zookeeper status block is not visible on the dashboard

[2022-03-16 09:15] Haarolean commented on #1733
Hey Jonas, we're planning to get rid of ZK at all within #1663

[2022-03-16 09:15] #1733 closed

[2022-03-16 09:17] #127 closed

[2022-03-16 09:22] Haarolean commented on #1731
Couldn't reproduce on the latest master.
@j4ys0n please follow the issue template next time which clearly asks you to provide the version you're running.

[2022-03-16 10:39] jonasgeiregat commented on #1022
I can tackle this!

[2022-03-16 17:07] jdechicchis commented on #1699
Updated the PR with some docs

[2022-03-17 08:10] Mgrdich opened #1735 "Show "Loading" when waiting for Topics Settings Tab"
### Is your proposal related to a problem?

Go to Topics -> select topic -> go to **Settings** tab.
When **Settings** tab is rendering the page is empty, when Topics Settings request executed table is updated with responded values.

### Describe the solution you'd like
I think we should show 'loading..' when waiting for Settings response. so that from a UX perspective the users will not be confuse

[2022-03-17 08:35] #1702 closed

[2022-03-17 09:49] akamensky commented on #886
@jonasgeiregat I am not sure how that would work. We have them all unauthenticated. But I imagine in clustered setup (where each registry provides exactly same data and uses same topics as data storage) the chances of individual instances having different credentials is very low as that would be an issue for failover cases for any clients.

[2022-03-17 10:57] workshur commented on #1473
Tables with action button in a row. It jumps on row hover/mouse out

[2022-03-17 12:36] nikola-vukadinov-htec commented on #1306
Hi! Do you have an idea when will this issue be implemented? Thanks!

[2022-03-17 12:53] shivansh commented on #779
Hi @germanosin ,

As per [SASL_SCRAM.md](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SASL_SCRAM.md), I used the following invocation from under `charts/kafka-ui/` -

[code]

The pod logs are -
[code]

IIUC, the line "Successfully logged in" indicates that the credentials are correct, right. I'm not sure why metadata update is failing though. Any help would be appreciated

[2022-03-17 13:09] #1109 closed

[2022-03-17 13:11] Haarolean commented on #1720
Continuation of ##1109

[2022-03-17 13:22] Haarolean commented on #1306
@nikola-vukadinov-htec hey, probably within a few weeks.

[2022-03-17 13:24] Haarolean commented on #886
We’re planning future improvements on this topic anyway. This should work fine for now.

[2022-03-17 13:25] Haarolean commented on #1713
@David-hod

what is old exactly? Tt should work fine via checkstyle plugin for IDEA (but you have to adjust imports settings manually, these are not affected by the import for some reason).

[2022-03-17 13:36] Haarolean commented on #779
@ZZa Documenting **every single possible** configuration property is a huge amount of work to do. Everyone's welcome to propose a PR improving documentation.
You don't have to search the issues, there are all the links for configuration examples located in readme.

[2022-03-17 13:37] Haarolean commented on #779
@shivansh Hey, please raise a new issue.

[2022-03-17 13:48] shivansh opened #1736 "Unable to connect to a kafka cluster using SASL"
**Describe the bug**

I'm getting the error below after following instructions in [SASL_SCRAM.md](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SASL_SCRAM.md) when connecting to a cluster via kafka-ui using SASL -
[code]

**Set up**
Commit hash: [38c4cf7](https://github.com/provectus/kafka-ui/commit/38c4cf7)

**Steps to Reproduce**
I used the following invocation from unde

[2022-03-17 17:25] felix-roo commented on #1710
Hi there @Haarolean I am also experiencing this issue. Disclaimer I could be completely off here but it looks as though there is no redirection for non-API pages [here](https://github.com/provectus/kafka-ui/blob/683ab231f436893b364a44d2fcff700f4ccbbbce/kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/CustomWebFilter.java#L19)

It looks like it will only redirect paths that are exactly / or

[2022-03-17 17:39] felix-roo opened #1737 "Hosts mismatched on the brokers page"
**Describe the bug**
On the brokers page we have 6 brokers specified but only 6 hosts are returned. broker 1 (b-1.xxx) is missing.

**Set up**
Docker image is on the latest using very basic config with only broker links specified with READ_ONLY = true.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Specify 6 brokers in the configuration
2. Start the app
3. See that the brokers are no

[2022-03-17 18:22] backjo commented on #1710
Yes, that's my experience here as well. I'm not trying to access the API, I'm trying to access a UI route directly (instead of going to the base path and navigating through the SPA).

[2022-03-17 21:36] Anifahb commented on #1735
First timer here - is it ok to assign this issue to myself? @Haarolean @Mgrdich

[2022-03-18 08:36] #1032 closed

[2022-03-18 08:47] Mgrdich commented on #1735
It should be Done exactly very similar to https://github.com/provectus/kafka-ui/commit/ad628ed7ae0bd5f5648eefdaad67b9352705f50f

[2022-03-18 09:06] Haarolean commented on #1735
@Anifahb hey, unfortunately you can't do that yourself, I've assigned it to you. Please check our [contributing](https://github.com/provectus/kafka-ui/blob/master/CONTRIBUTING.md) guide.

[2022-03-18 09:09] Anifahb commented on #1735
Thank you for assigning this to me - will get started on it today.

[2022-03-18 12:15] Haarolean commented on #1735
@Anifahb thanks much!

[2022-03-18 14:12] Haarolean commented on #1737
@felix-roo hey, thanks for reaching out! We'll take a look.

[2022-03-18 16:22] Haarolean commented on #1710
@felix-roo @backjo thanks for the info, on it

[2022-03-18 16:26] Haarolean commented on #1710
duplicate: #1731
might be broken after: #1658

[2022-03-18 17:55] mattia-crypto commented on #1714
@RustamGimadiev  tested it now, and it works. Thanks!

[2022-03-18 17:55] #1714 closed

[2022-03-18 19:05] j4ys0n commented on #1731
sorry for the late reply. i'm using this docker image:
`provectuslabs/kafka-ui:c28ee0f08b24db31f19d7ab239ae140d326e2b2f`

[2022-03-20 04:08] RobinQu commented on #1448
Still missing pathType if  only `kafka-ui.ingress.path`  is configured.

[2022-03-20 13:20] iliax commented on #1720
@agolosen
1. repeated insert should work without error - there is no concept of uniq key in kafka - following inserts with same primary key just overwrite existing
2. point 8 -> like message sad to make it work you need to set `ksql.query.pull.table.scan.enabled` to `true`. if set - it works fine

For other queries - there are some error in confluent docs, so, need to check every question one by o

[2022-03-20 18:00] iliax opened #1738 "UI: Topic creation "Time to retain data" rendenring looks strange"
**Describe the bug**

"Time to retain data" section options are black.
Setup: max os, chrome, light theme.

**Streenshot:**

<img width="511" alt="Screenshot 2022-03-20 at 20 58 16" src="https://user-images.githubusercontent.com/702205/159175981-af428619-1a3a-48c9-a275-109967179ddf.png">

[2022-03-20 18:32] Haarolean opened #1739 "Inconsistent timestamps format in topic messages"
![image](https://user-images.githubusercontent.com/1494347/159177182-031fc6b2-d9e4-4bba-ac72-d61797956d7b.png)

[2022-03-20 18:33] Haarolean opened #1740 "Live tailing improvements"
1. New messages should appear on top
2. Pagination buttons (e.g. "Next") shouldn't be visible.
3.
wrong parameters passed for live tailing:
`https://www.kafka-ui.provectus.io/api/clusters/local/topics/7890/messages?filterQueryType=STRING_CONTAINS&attempt=1&limit=100&seekDirection=TAILING&seekType=OFFSET&seekTo=0::0`

this should be `https://www.kafka-ui.provectus.io/api/clusters/local/topics/7890/

[2022-03-20 18:38] Haarolean opened #1741 "Smart filters improvements"
1. Creating and instantly applying filters is currently not possible -- you have to create a filter, choose a name and save it.
2. Plus sign is in a weird place and it's not obvious that it's about filters.

[2022-03-21 09:39] SukhmeetSethi commented on #1556
Hi @manifiko, Did you find any solution for this issue? I am too same facing same problem and my SSL configuration works fine with Conduktor and few other tool which uses AdminClient but doesn't seems to be working with Kafka-ui

[2022-03-21 09:42] Haarolean commented on #1556
@SukhmeetSethi hey, feel free to open up a new discussion or we can discuss your problem in our discord.

[2022-03-21 09:58] #998 closed

[2022-03-21 12:18] mario45211 opened #1743 "Bundle for 0.3.3"
Hi,

Are you planning to append bundled (compiled) version of application to the v0.3.3 release ? Manually building is not very convenient for some of my environments.

Thanks in advance!

[2022-03-21 13:51] ramarro123 commented on #1689
-------stack trace------

[root@fbkppawx /opt/kafkaui]$ less logs/kafkaui.log
        at java.rmi/java.rmi.server.RemoteObjectInvocationHandler.invokeRemoteMethod(RemoteObjectInvocationHandler.java:217)
        at java.rmi/java.rmi.server.RemoteObjectInvocationHandler.invoke(RemoteObjectInvocationHandler.java:162)
        at com.sun.proxy.$Proxy115.newClient(Unknown Source)
        at java.managem

[2022-03-21 15:54] prajaktar1 opened #1744 "Incorrect result is rendered in kafka-ui Kafka topic publish logs using Timestamp/any keyword search"
**Describe the bug**

On trying to search for logs for a specific date, or using a keyword(some text relevant to a log). The search results in incorrect result set.

**Set up**

      Version: e85e1aafa1250573a8056bf14ee4003d3179cbae
      App is run : Pod inside EKS cluster

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Open the Kafka-UI
2. Navigate to a Kafka topic
3. Within the se

[2022-03-21 17:00] #1710 closed

[2022-03-21 17:00] #1731 closed

[2022-03-22 02:02] #1718 closed

[2022-03-22 12:51] Haarolean commented on #1743
Hey, thanks for reaching out.
We've altered our release workflow that's why it's missing for 0.3.3. Future releases will have the jar file attached.
I've attached 0.3.3 [here](https://github.com/provectus/kafka-ui/releases/download/0.3.3/kafka-ui-0.3.3.jar).

[2022-03-22 12:51] #1743 closed

[2022-03-22 14:55] mario45211 commented on #1743
Many thanks!

[2022-03-23 06:36] shivansh commented on #1736
I was able to resolve this by following the instructions [here](https://github.com/provectus/kafka-ui/issues/936#issuecomment-940096488), thanks!

[2022-03-23 06:36] #1736 closed

[2022-03-23 15:20] Haarolean commented on #1736
Glad it works.

[2022-03-23 21:17] lucasprograms opened #1752 ""Connection to a secure broker" link is broken"
**Describe the bug**
1. Visit https://github.com/provectus/kafka-ui#guides
2. Click "Connection to a secure broker" link

Expected:
Guide, no octocat

Actual:
Octocat

[2022-03-24 09:44] #1525 closed

[2022-03-24 12:06] Haarolean commented on #1663
@Mgrdich need to get rid of zk status badge in UI

[2022-03-24 12:09] Haarolean commented on #1752
Hey, thanks for bringing attention at this.

This link should actually lead to [this](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml) compose file. We haven't done a separate page for it yet but there's a broken link already :)

[2022-03-24 12:10] Haarolean commented on #1744
Hey, thanks for reaching out. We'll take a look.

[2022-03-24 12:46] raphaelauv opened #1755 "kafka connect UI hide some config and can't update"
**Describe the bug**

I can't see my connector full config , it hide on line of the configuration ( it's a debezium connector )

![Screenshot from 2022-03-24 13-43-37](https://user-images.githubusercontent.com/10202690/159918926-237b8b10-b302-475e-9468-cf08b4f13aeb.png)

**Expected behavior**
I want see all my configuration , same connector in AKHQ

![Screenshot from 2022-03-24 13-45-32](https://u

[2022-03-24 13:50] Haarolean commented on #1755
Hey, thanks for reaching out.

This is the obfuscation mechanism, unfortunately that would be difficult to tell a difference between a plaintext password and a link like in your case. I can only recommend you to disable obfuscation at all, if that suits you.

[2022-03-24 15:01] Haarolean commented on #1755
@raphaelauv this commit has been commited within 0.4 release, `latest` refers to 0.3.3. You could try `master`-labeled image or any fixed one (there's one per commit).

[2022-03-24 15:17] raphaelauv commented on #1755
It work ! Thank you @Haarolean

![Screenshot from 2022-03-24 16-16-13](https://user-images.githubusercontent.com/10202690/159949137-c39d5a11-3787-4348-a3a5-f702e76c5ae5.png)

using

[code]

[2022-03-24 15:17] #1755 closed

[2022-03-24 15:18] Haarolean commented on #1755
Great it works!

[2022-03-24 16:42] raphaelauv opened #1756 "Update kafka-clients dependency to 3.1.0"
current version is Kafka version: 2.8.0

there is now the version 3.1.0

[2022-03-24 16:46] Haarolean commented on #1756
Hi, thanks for reaching out.

What's the point? Have you encountered any problem?

[2022-03-24 16:59] raphaelauv commented on #1756
I'm thinking about multiple features

- Apache Kafka supports Java 17
- Ability to restart a connector's tasks on a single call in Kafka Connect
- Extend OffsetFetch requests to accept multiple group ids.

[2022-03-24 17:02] Haarolean commented on #1756
So, you're using the app as API?

1. Good point, noted.
2. I feel like we might've done it within #1444 already. Is that right?
3. Okay.

[2022-03-24 21:57] smeana commented on #1621
Hello

The kafkaUI magic byte issue appear when you serialize with apicurio serdes (4bytes) or even using apicurio serDes with ENABLE_CONFLUENT_ID_HANDLER.

http://registry:8080/apis/ccompat/v6 == http://confluent-regystry:8085 it will always work using confluent Serdes.

[2022-03-25 10:47] amerador20 opened #1763 "Error executing mvn install Linux Debian bullseye 11"
**Describe the bug**
BUILD FAILURE

**Set up**
I'm running last version KAFKA-UI, just download code from master repository and I'm trying to build.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. I'm executing mvn install

[code]

what can i do? Thanks in advance

**Additional context**
I have installed java-11-openjdk-amd64
npm 6.14.15
node v14.17.6

[2022-03-25 11:19] Haarolean commented on #1763
Hey, thanks for reaching out.
Please share the full log.

[2022-03-25 12:46] mario45211 opened #1764 "Expand message view on row click"
Hi,

At first I would like to admit your app is so far the best Kafka's UI I've tried!

I'd like to kindly ask you to improve message view, where click on any place on a message's row would open extended view of that message. Currently, only left plus button could expand message's details.

Please consider and let me know what you're thinking about such improvement.

Best regards!

[2022-03-25 13:10] Haarolean commented on #1764
Hey, thanks for the kind words. Glad you like it :)

As for the tables, we've considered that (#1414), but there are some possible issues with that (like behaviour for sandwich buttons). I agree that it would be more convenient, but it's not a priority for now. But we'll consider it, thanks.

[2022-03-25 14:13] erik93slash opened #1765 "Show number of messages in the Topic Overview"
### Is your proposal related to a problem?

In the topics list there is a column reporting the number of messages published in each topic, but when you enter in the topic details you cannot find that info anywhere.
![image](https://user-images.githubusercontent.com/38383366/160137147-ef9dea82-3b91-4c1a-a5b3-c8b6099981bb.png)

### Describe the solution you'd like

In the Topic Overview section, it

[2022-03-25 22:19] gaddam1987 commented on #1744
@Haarolean Is it ok if i look into this issue ?

[2022-03-25 23:20] Haarolean commented on #1744
@gaddam1987 yep, would be nice!

[2022-03-25 23:38] amerador20 commented on #1763
[code]

[2022-03-27 18:58] BestChinchilla opened #1767 "Supporting Kafka versions and listing ACL"
What versions of Kafka are supported?
Is listing topic ACLs supported?

I installed kafka-ui via docker-compose on on-prem Kafka 3.1.0 with SASL_SSL + PLAIN and user is in super.users list, but I can't list ACLs of my topics

OS: Oracle Linux Server release 8.5
Docker: 20.10.13
docker-compose: v2.3.3

compose.yml:
[code]

[2022-03-27 20:25] gaddam1987 commented on #1744
The issue is in react app, the callback on submit of the filter (this function https://github.com/provectus/kafka-ui/blob/master/kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/Filters.tsx#L181) is not able to use the fields set in the search criteria. The search always contains default search params irrespective of what we choose.

I don't know why this happens i am not Re

[2022-03-28 06:06] iliax commented on #1767
Hi @BestChinchilla.
What do you mean under "can't list ACLs of my topics" ? Currently kafka-ui doesn't provide ACLs viewing/editing. We plan to implement it in next release.

[2022-03-28 06:10] #1613 closed

[2022-03-28 10:48] #1735 closed

[2022-03-28 10:54] anthares opened #1768 "Error when running behind a reverse proxy with a path prefix"
**Describe the bug**

When using kafka-ui behind a reverse proxy (both nginx and trafik), trying to configure it on a sub-path (/kafka-ui) doesn't work without a trailing `/`.
Any attempt to reach kafka-ui ends up in a 404 through reverse proxy.
Reaching through direct port (8082) result in a json response with 404 message.
[code]

**Set up**

Docker for Windows with image `provectuslabs/kafka-ui:

[2022-03-28 11:19] Haarolean commented on #1768
Hey, thanks for reaching out. I'll investigate.

[2022-03-28 11:23] Haarolean opened #1769 "Support kafka-versioned tests"
Support running tests with multiple kafka(container) versions (at least upon a release) to verify compatibiliy.
+ run on aws msk? aws msk serverless? gcp, oracle cloud?

[2022-03-28 11:29] Haarolean commented on #1767
Hey @BestChinchilla , thanks for reaching out.

Can't give you a determined list, but your case (3.1.0) is supported.

As @iliax said, that's gonna be implemented in 0.5 (#124). Feel free to leave a reaction in that issue so we can prioritise it.
If you have any questions, don't hesitate to ask them either here or in our discord (the link is available in readme).

[2022-03-28 11:29] #1767 closed

[2022-03-28 14:41] Haarolean opened #1771 "Readonly mode notification"
### Discussed in https://github.com/provectus/kafka-ui/discussions/1766

<div type='discussions-op-text'>

<sup>Originally posted by **omicronn88** March 26, 2022</sup>
Hi guys. I really like what you're doing, but I was wondering maybe you could add a readonly notification to users when they try to perform write operations when cluster is added in a readonly mode? So that they know that it's on p

[2022-03-28 16:40] raphaelauv opened #1773 "KSQLDB pull query fail"
**Describe the bug**
I could execute all the previous query of the confluent doc -> https://ksqldb.io/quickstart.html but not a `Pull query`

![Screenshot from 2022-03-28 18-36-19](https://user-images.githubusercontent.com/10202690/160445776-272472a5-9876-465b-82ff-5191f504cecb.png)

**Expected behavior**
If I connect with a ksqldb-cli it work

![Screenshot from 2022-03-28 18-35-46](https://user-i

[2022-03-28 17:35] iliax commented on #1773
Hello @raphaelauv ,
can you please share your setup: what version of kafka & ksqldb you use?

[2022-03-29 07:51] hustlibraco commented on #239
HI，follow your config, I still can not connect to zookeeper with sasl. can you give more instruction?

[code]
this is my compose:
[code]
and this is zookeeper jaas.conf
[code]

[2022-03-29 12:47] niyatidoshi opened #1775 "KSQLDB: Support Basic Auth"
Hi Team,

I'm trying to connect KSQL DB which is on Confluent Cloud but I'm getting error "Failed to fetch tables and streams".

I've added below property in Docker-Compose file,
KAFKA_CLUSTERS_0_KSQLDBSERVER: https://test-db-xxx.confluent.cloud

To connect that DB, I guess we need to provide a Key/Secret and I don't see properties to provide the same.

Could you pls advise, what am I missing here

[2022-03-29 15:28] Haarolean commented on #1775
Hey, thanks for reaching out.

If your ksqldb server uses basic auth, unfortunately we currently do not support auth. We're planning on implementing this in future releases.

[2022-03-29 17:28] hustlibraco opened #1776 "How to integrate internal SSO login (OAuth2)?"
I have read the guide [SSO configuration](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SSO.md), and have checked history issues about sso login.
People asked about some open sso about G suite or AWS etc,  I can not find the solution to integrate internal sso login.
Is it possiable to integrate kafka-ui with my company's SSO(oauth2)?

I have tried, but no success. this is

[2022-03-29 17:34] Haarolean commented on #1776
Hey, thanks for reaching out. That should work actually.
Have you tried this url without `/authorize`?
There's **probably** gonna be a path named `.well-known/openid-configuration` if the URL is correct.

[2022-03-29 19:23] niyatidoshi commented on #1775
Hey Haarolean,

Thanks for the update. Our KSql DB is in Confluent Cloud. Here is the doc that was followed https://docs.confluent.io/cloud/current/get-started/ksql.html and for the 1st step (Access Control) we chose Granular access.  For the connectivity, an additional Key/Secret was created. Hope this helps.

Could you pls include this feature in your future release?

Thank you.

[2022-03-29 22:19] jdechicchis opened #1777 "Add support for deserializer plugins"
I'm curious if you are open to supporting deserializer plugins (perhaps using the Java Service Provider Interface) to allow third parties to supply their own deserializers.

## Use case

We're currently using Kafka UI and our topics contain protobuf binary serialized messages. Our protobuf are stored in the [Buf Schema Registry](https://docs.buf.build/bsr/introduction) and we've [forked Kafka UI](

[2022-03-30 01:21] hustlibraco commented on #1776
still not working. all url below is 404 not found.
https://test-sso.xxx.net/.well-known/openid-configuration
https://test-sso.xxx.net/oauth2/.well-known/openid-configuration
https://test-sso.xxx.net/oauth2/authorize/.well-known/openid-configuration

I checked internal sso document, there is no issue_uri, and it only support **Authorization Code Flow**,  all open api from internal SSOare listed bel

[2022-03-30 02:55] hustlibraco opened #1778 "Display broker JMX metrics"
My kafka have opened JMX port with file-based authtication, and kafka-ui have connected jmx port successfully.
The kafka cluster has just been built, and I manually ran kafka-console-producer.sh to produce some test data, but the data displayed on the Dashboard is no different from not enabling JMX.

Here is my Kafka env:
[code]

Here is kafka-ui docker-compose.yml:
[code]

I expect to see Inbound

[2022-03-30 03:42] hustlibraco opened #1779 "How to connect Zookeeper with SASL?"
I failed to let kafka-ui connect to zookeeper with sasl auth. Here is kafka-ui log:
[code]
here is kafka-ui docker-compose.yml:
[code]
and this is zookeeper jaas.conf
[code]

I ensure kafka can connect to zookeeper with sasl. It seems that zookeeper user/password config in kafka-ui `docker-compose.yml ` file not working. What is the correct config?
Very appreciate for any help.

_Originally posted

[2022-03-30 09:20] Haarolean commented on #1779
Hi, thanks for reaching out. The app itself does not require zookeeper in any way, the only downside of not providing the env. variable is that you'll have a red zookeeper status badge in the dashboard. Moreover, we've actually dropped support of zookeeper at all since it's no longer required for kafka 3.x (#1663). So, just feel free to remove the configs for ZK.

[2022-03-30 09:20] #1779 closed

[2022-03-30 09:23] Haarolean commented on #1777
Hey, thanks for the interest in contributing!

Let me give a thought to it, I'll get back to you soon.

[2022-03-30 09:49] iliax commented on #1778
Hi @hustlibraco,
your config looks fine.
Unfortunately currently kafka-ui doesn't have UI for per-broker JMX metrics view. But kafka-ui exposes it as a REST endpoint:
`http://{kui-domain}:{kui-port}/api/clusters/{cluster-name}/brokers/{broker-id}/metrics`

cluster metrics (aggregated) can be found here:
`http://{kui-domain}:{kui-port}/api/clusters/{cluster-name}/metrics`

[2022-03-30 12:13] gaddam1987 commented on #1744
@prajaktar1 I fixed the issue, you can checkit out from this pull request https://github.com/provectus/kafka-ui/pull/1781 and see if that works, i have tested from my side and it worked.

[2022-03-30 12:53] Mindgap1 opened #1782 "Topic not loading on Kafka UI"
**Describe the bug**
When i try to see the list of topics, the page loading but nothing happen. Then i receive "no topics found".
Everything is working in the Kafka UI. Only topics are not listed.

**Set up**
I run Kafka UI (38c4cf7) with docker-compose and kafka istance is running with Bitnami image with latest version of kafka(3.1) and zookeeper(3.7).

This is kafka ui compose file:
![Immagine 2

[2022-03-30 14:08] djakupovic opened #1783 "SPRING_LDAP_DN_PATTERN"
Hey,

first of all: great work!
the documentation is not helpful regarding this setting. If this variable is set to the DN of the user with:
CN={0},OU=GroupA,OU=OU2,OU=OU3,DC=DC1,DC=DC2 everything works fine.
In the search filter SPRING_LDAP_USERFILTER_SEARCHFILTER we check if the login user is memberOf another group. However, every user has a different DN so e.g.
User 1: CN=user1,OU=GroupA,OU=OU2

[2022-03-30 14:10] djakupovic opened #1784 "Log out button"
### Is your proposal related to a problem?

logout button after LDAP/SSO login
### Describe the solution you'd like
Right corner a small button with logout

### Describe alternatives you've considered
Session timeout after N seconds

### Additional context

[2022-03-30 15:08] Haarolean commented on #1784
Hey, thanks for reaching out. We were planning on implementing this within #1021, but I guess we can do it quicker.

[2022-03-30 15:12] Haarolean commented on #1782
Hey, thanks for reaching out. Please share the full application log, there should be a stacktrace. Also, some details (request URL for example) from browser's developer console would be nice to see.

[2022-03-30 15:30] #1720 closed

[2022-03-30 19:01] #1738 closed

[2022-03-30 22:15] Hamdiovish commented on #287
@Haarolean the issue was fixed for me by adding the following environment variable to my container:
[code]
I'm currently enjoying the latest version with all its feature, thanks so much for this great tool!

[2022-03-30 22:26] jaehyeon-kim opened #1786 "Apicurio Registry support"
### Is your proposal related to a problem?

Kafka UI supports the Confluent schema registry. Alternative to it is the Apicurio registry and it supports multiple versions of APIs including the Confluent compatible schema registry - Version 6.

![apicurio](https://cevo.com.au/wp-content/uploads/2022/02/01-apicurio.png)

We can use the compatible API (`KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://registry

[2022-03-31 07:15] hustlibraco commented on #1779
Thanks for your reply, it helped me figure this out.
Yes I see a red zookeeper status badge in the dashboard, I thought it's my mistake. Maybe you can change status to "unconnected" and tell people that's ok in dashboard directly.

[2022-03-31 07:29] dmcarba commented on #936
Hello,

I've found this post because I was getting the same error: org.apache.kafka.common.errors.ClusterAuthorizationException.
For me the problem was the ACLs of the user, you need to enable both describe and describe config for the Cluster in order to remove this error.

That's a problem because there are different tenants accessing the cluster with segregated ACLs permission on topics and grou

[2022-03-31 08:06] Haarolean commented on #1779
We’re gonna remove the badge soon.

[2022-03-31 08:31] Mindgap1 commented on #1782
I edited my message with screenshots, hope they'll be useful

[2022-03-31 11:54] Haarolean commented on #1786
Hi, thanks for the suggestion!

Actually, we've been approached a few times before about apicurio (#1177 #1179) but nobody has previously mentioned that it has a separate cool API.

We'll plan this for the future releases (but probably not the next one considering the bandwidth).

[2022-03-31 11:59] Haarolean commented on #1782
@Mindgap1 thanks, they are. We'll take a look.

[2022-03-31 12:32] Haarolean commented on #961
The implementation could be similar to #886, up for grabs

[2022-03-31 13:09] Mindgap1 commented on #1782
Yeah sure! Here it is the compose file (TXT - Because can't format correctly and paste here doesn't work properly due to bad format) for kafka environment:

[kafka-compose.txt](https://github.com/provectus/kafka-ui/files/8389619/kafka-compose.txt)

[2022-03-31 16:00] Haarolean commented on #1765
Hi, thanks for reaching out. This has been already implemented within #1015.
<img width="1059" alt="image" src="https://user-images.githubusercontent.com/1494347/161098954-026e9ee4-89b5-4446-b595-658854158069.png">

[2022-03-31 16:00] #1765 closed

[2022-03-31 20:30] #1146 closed

[2022-04-01 07:57] ngmip commented on #1689
@ramarro123
Kafka open source v2.4

[2022-04-01 08:50] qyvlik commented on #1725
:(
I use the kafka-ui 0.3.3 to create topic with **Not Set** disk space, and loss some data.

[2022-04-01 10:54] #1663 closed

[2022-04-01 16:16] Haarolean commented on #1597
@gaddam1987 unfortunately we can't implement this until we implement #753 which you mentioned.

[2022-04-01 19:22] gaddam1987 commented on #1597
@Haarolean I would like to solve this an easy way for now, as we need this sort of functionality.

Approach for SSO use case:

User -> Will have many groups (I will assume that there is one-one mapping for group to an ACL in kafka).
As a start we only support display of topics and and other stuff connected to one group. And in the ui on the top will have a drop down of all the groups the user has

[2022-04-01 19:40] Haarolean commented on #1725
@qyvlik hey! Really sorry for this, we've fixed the thing and covered it with tests (it previously was not, unfortunately). If you have any other suggestions about covering critical things with tests -- let me know!

[2022-04-03 10:54] mosaicwang opened #1790 "can't support IPV6"
**Describe the bug**

kafka and zk started and connect by IPV6

kafka-ui can't connect to kafka with IPV6,only connect to IPV4 kafka

**Set up**

**Steps to Reproduce**
Steps to reproduce the behavior:

1.

**Expected behavior**

**Screenshots**

**Additional context**

[2022-04-03 16:35] Haarolean commented on #1790
Greetings, please fill out the "set up" paragraph described in the issue template. As mentioned there, we won't be able to help you unless we know the details of your setup.

[2022-04-04 03:46] tommyvca opened #1792 "Kafka UI not working behind reverse proxy"
**Describe the bug**
I am using traefik for the reverse proxy with docker, and it will return error 400 bad request.
I have little troubleshot and find that it only accept hostname "localhost" or ip, others will return error 400.

[2022-04-04 07:25] Mgrdich opened #1796 "Remove rimraf from dependencies and add in dev dependencies"
### Is your proposal related to a problem?

### Describe the solution you'd like
Package is unnecessarily in the dependencies package remove it and add it in the dev dependencies so the bundle size in production will not be affected

### Describe alternatives you've considered

### Additional context

[2022-04-04 08:59] #1796 closed

[2022-04-04 09:50] Haarolean commented on #1792
Hey, thanks for reaching out.
Have you tried [this](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-traefik-proxy.yaml)?

[2022-04-04 10:05] Haarolean commented on #1763
Weird stuff. I'll check this on linux.

[2022-04-04 10:07] #1744 closed

[2022-04-04 15:54] raphaelauv commented on #1773
![Screenshot from 2022-04-04 17-54-15](https://user-images.githubusercontent.com/10202690/161583466-311cd900-ac11-4a10-b0ae-61439181c380.png)
with `b4df8a73c8360200ab74e00adde72da904074547`

[2022-04-04 16:18] iliax commented on #1773
@raphaelauv you are welcome, thank you for creating issue 👍

[2022-04-05 12:26] #1699 closed

[2022-04-05 12:54] mskunt commented on #287
@Hamdiovish can u send all docker compose file please.

[2022-04-05 13:02] Haarolean commented on #287
@mskunt try these from `kafka-ui-auth-context.yaml`:
[code]

[2022-04-05 15:36] Haarolean commented on #1783
@djakupovic it's not a mandatory field in any way, it should work fine without it. Have you tested it?

[2022-04-05 16:40] djakupovic commented on #1783
"ERROR [main] o.s.b.SpringApplication: Application run failed

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'globalErrorWebExceptionHandler' defined in URL [jar:file:/kafka-ui-api.jar!/BOOT-INF/classes!/com/provectus/kafka/ui/exception/GlobalErrorWebExceptionHandler.class]: Unsatisfied dependency expressed through constructor parameter 3; nested e

[2022-04-05 17:01] Haarolean commented on #1783
@djakupovic which version are you on?

[2022-04-05 18:54] mskunt commented on #287
I am using docker-compose and write on yaml file like this.
      - auth.type='LOGIN_FORM'
      - SPRING_SECURITY_USER_NAME=admin
      - SPRING_SECURITY_USER_PASSWORD=pass

now it is working but, I cant change any setting on topics or create a new topic , or produce a new message on kafka_ui.

it there any one know this problem cause.

thanks

[2022-04-05 19:12] Haarolean commented on #287
@mskunt please raise a new issue with: your setup info; application logs; failed requests from browser's developer console or reach out to me in discord (the link is available in readme)

[2022-04-05 20:08] iliax commented on #1705
Hello @linkedby-data ! Can you please share full compose file (excluding sensitive info)?

[2022-04-05 20:14] #1704 closed

[2022-04-06 06:09] tommyvca commented on #1792
Found that is only not work with underscore for the service url. thanks

[2022-04-06 06:18] djakupovic commented on #1783
you were right, with the newest version everything functions right. LDAP_DN_PATTERN is an optional value. LDAPs works! Thank you!

[2022-04-06 06:34] #1783 closed

[2022-04-06 06:35] djakupovic commented on #1783
with current version LDAP functions without DN parameter

[2022-04-06 07:15] djakupovic commented on #1771
read only works on firefox, edge, but not on chrome =)

[2022-04-06 09:25] #1444 closed

[2022-04-06 09:49] Haarolean commented on #1771
@djakupovic wdym? it does, I checked it within this week. Please raise a new issue with your details.

[2022-04-06 09:58] MgFbk commented on #1689
Hi @Haarolean,

I'm a colleague of @ramarro123 and we are using Kafka open source v2.12-2.3.0 at the moment.

[2022-04-06 11:09] Haarolean commented on #1689
@ngmip @MgFbk thanks for the feedback!

[2022-04-06 12:02] Haarolean opened #1807 "Implement code highlighting for smart filters"
The same way we do with json in schemas, but for Groovy syntax

[2022-04-06 13:55] raphaelauv commented on #1756
1717

[2022-04-06 17:10] iliax opened #1808 "UI: "Clear all" button not working"
**Steps to Reproduce**
Steps to reproduce the behavior:

Go to Topics -> select topic -> Messages -> choose some filter (offset/timestamp) -> click on clear all button

**Actual behavior**

nothing happen

**Expected behavior**

all filters are cleared

**Screenshots**

<img width="1045" alt="Screenshot 2022-04-06 at 20 07 12" src="https://user-images.githubusercontent.com/702205/162029857-564215b

[2022-04-06 17:11] iliax commented on #1808
@Haarolean maybe we should just remove this button, since it looks overkill for current page structure

[2022-04-06 17:17] raphaelauv opened #1809 "UI: connectors , order topics"
![Screenshot from 2022-04-06 19-15-20(1)](https://user-images.githubusercontent.com/10202690/162033378-f158a003-ec47-4120-93cf-92b010a6c644.png)
### Is your proposal related to a problem?

the current UI of connectors show the topics that consume or produce the connectors , but they are not ordered by name , that mean if I it refresh the order of the topics change

and also two connectors with the

[2022-04-06 23:13] Haarolean commented on #1809
Hey, thanks for the suggestion!

[2022-04-06 23:19] Haarolean commented on #1775
@niyatidoshi we'll try to for sure :) thanks for the instructions

[2022-04-06 23:22] Haarolean commented on #1786
https://github.com/provectus/kafka-ui/issues/1621#issuecomment-1078421861

[2022-04-07 10:04] lazzy-panda opened #1811 "Topic names do not fit in a table cell"
**Describe the bug**
The names of topics do not fit in a table cell when the screen resolution is 1440 x 900, Macbook Air, 13,3 inch

**Screenshots**
![image](https://user-images.githubusercontent.com/22497195/162174931-96147b9a-aff3-445f-a595-8370f5c71ba4.png)
![image](https://user-images.githubusercontent.com/22497195/162174993-76f2de8f-f647-4dd3-85f6-76f93ec52a5e.png)

[2022-04-07 13:28] #1033 closed

[2022-04-08 13:37] Haarolean commented on #1763
Hi, I've been able to successfully build the app via `./mvnw -Dmaven.test.skip=true clean install` on such a machine:
[code]
root@ip-172-31-17-97:/home/admin/kafka/kafka-ui# java -version
java version "15.0.2" 2021-01-19
Java(TM) SE Runtime Environment (build 15.0.2+7-27)
Java HotSpot(TM) 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)
[code]

[2022-04-08 13:37] #1763 closed

[2022-04-10 19:42] raphaelauv commented on #1756
the feature to restart all tasks is buggy in 3.1.0 , let's wait for 3.1.1

-> https://issues.apache.org/jira/browse/KAFKA-13719?src=confmacro

[2022-04-12 08:25] Haarolean commented on #1739
let's do MM.DD.YYYY (like on the left side of the screenshot)

[2022-04-12 09:12] Mgrdich commented on #215
I think this task should be done after https://github.com/provectus/kafka-ui/pull/1814 cause we already implemented a lot of tests in this one.

[2022-04-12 16:30] agolosen opened #1827 "Topics' sandwich menu is broken"
**Describe the bug**

The sandwich menu isn`t showing on the page Topics

**Set up**

http://master.internal.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local->Topics
2. Go to the end of a topic`s string
3. Click the sandwich menu
4. Observe: menu is not showing

**Expected behavior**

**Screenshots**

**Additional context**

[2022-04-12 20:39] Thilaknath opened #1828 "Deployment in Cloud Foundry [Error while creating AdminClient for Cluster Default]"
**Describe the bug**
I am deploying this application in cloud foundry platform and was able to launch the UI app. We are having kafka instances as backing services and I used the env variable **KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS** to point it to the IP address as shown in our backing services.

But the service fails with the following stack
![Screen Shot 2022-04-12 at 4 39 05 PM](https://user-image

[2022-04-12 20:45] Thilaknath commented on #1828
Hello Team,

I am also seeing an out of memory issue, Further attaching in the logs. I have set 3G for memory for this app. But still it complain
![Screen Shot 2022-04-12 at 4 43 42 PM](https://user-images.githubusercontent.com/3452073/163050540-ba51bb46-0984-4c94-af49-005b604d2f45.png)
s

[2022-04-12 22:05] Haarolean commented on #1828
Hi, please provide the required information requested in the issue template. And attach full container logs in text format.

[2022-04-13 09:39] #1523 closed

[2022-04-13 12:41] Thilaknath commented on #1828
**Set up**
1) We are running the app in cloud foundry(similar to heroku), I am deploying the latest jar as offered here
https://github.com/provectus/kafka-ui/releases/tag/0.3.3

**Steps to Reproduce**
1) Deploy the app in cloud foundry with kafka service binding (This is offered from our cloud platform)

**Expected behavior**
1) After binding the service kafka-ui should be able to connect to our k

[2022-04-13 13:05] Haarolean commented on #1828
There seem to be at least a few issues. Let's start with the memory one.
So, you're running the app via jar file? Do you have control over jvm args? If yes, what args do you run the app with?

[2022-04-13 16:00] Thilaknath commented on #1828
Hello @Haarolean , So i resolved the memory issue and the app starts fine now. I am currently getting this error

`2022-04-13T10:59:14.82-0400 [APP/PROC/WEB/0] OUT 2022-04-13 14:59:14,820 WARN  [kafka-admin-client-thread | adminclient-1] o.a.k.c.a.i.AdminMetadataManager: [AdminClient clientId=adminclient-1] Metadata update failed due to authentication error
   2022-04-13T10:59:14.82-0400 [APP/PROC

[2022-04-13 16:10] Thilaknath commented on #1828
I am doing a cf push to cloud foundry something like this

`cf push dom-kafka-ui -p kafka-ui-0.3.3.jar` after doing this, I set the above environment variables, Add binding to the available kafka service in our cf space and restart my application.

[2022-04-13 16:18] Haarolean commented on #1828
I see that you're not specifying paths to the keystore location (required for SSl).
Try [this](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml#L18).

[2022-04-13 16:28] Thilaknath commented on #1828
Thanks, Current failure after adding the above config. The memory issue seems to be back. We can pass the JVM args as environment variables. What do you want me to set them as ?

The only config I pass ryt now related to Java is
JBP_CONFIG_OPEN_JDK_JRE '{ jre: { version: 13.+ }, memory_calculator: { stack_threads: 25 } }'

The above is to force cloud foundry to use latest build pack to run Kafka-u

[2022-04-13 16:35] Haarolean commented on #1828
Any ideas how much heap memory is allocated by default on your platform?
Try setting `-Xmx2g`, let's see how it goes, we can decrease the amount later (not sure how to pass it in your platform's config, again).

[2022-04-13 16:54] Thilaknath commented on #1828
Hello This is what I see in the run config while the app loads up

JVM Memory Configuration: -XX:ReservedCodeCacheSize=240M -XX:MaxDirectMemorySize=10M -XX:MaxMetaspaceSize=182676K

[2022-04-13 17:18] Thilaknath commented on #1828
I was able to overcome the memory issue by setting the following config

`JAVA_OPTS | -XX:MaxDirectMemorySize=512M`

Please refer attached logs. These warnings from the logs are confusing
2022-04-13T13:12:24.06-0400 [APP/PROC/WEB/0] OUT 2022-04-13 17:12:24,064 INFO  [parallel-1] o.a.k.c.s.a.AbstractLogin: Successfully logged in.
   2022-04-13T13:12:24.09-0400 [APP/PROC/WEB/0] OUT 2022-04-13 17:12:

[2022-04-13 17:48] Haarolean commented on #1828
@Thilaknath please share your actual config now :)

[2022-04-13 17:59] Thilaknath commented on #1828
JAVA_OPTS | -XX:MaxDirectMemorySize=512M
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: (I am pointing to IP's with 9093 port)
KAFKA_CLUSTERS_0_NAME: kae068e61dfd94181bf4b4dfeaeb21edb
KAFKA_CLUSTERS_0_PROPERTIES_PROTOCOL: SASL
KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule required username="<our user name>" password="<our password>";
KAFKA_CLUSTERS_0_PRO

[2022-04-13 19:26] Thilaknath commented on #1828
I am available in discord and am part of the group kafka-ui. Kindly let me know if you want me to join there as well. Thank you

[2022-04-14 02:09] #1790 closed

[2022-04-14 07:31] simonyandev commented on #1737
Can't find the bug, everything seems to work normally.

[2022-04-14 14:11] shmyer opened #1835 "Topics and Consumers views are stuck loading while cluster metrics are being updated"
**Describe the bug**

Updating the metrics is taking a while for my kafka cluster when specifying the JMX port. During that time the UI views "Topics" and "Consumers" are stuck in loading state. When opening the developer tools in chrome I can see that the HTTP request is stuck in pending state until the backend finishes updating the metrics.

Edit:
This seems to be the case for the Brokers endpoi

[2022-04-14 15:04] Haarolean commented on #1835
Hey, thanks for reaching out.
We're currently working on something like this (#1689). Let's wait for solution for that issue and we'll see how it goes for you.

cc: @iliax

[2022-04-14 15:42] alexkau commented on #1715
Would it make sense to add support for other types, e.g. String and Integer, as part of this change, or would it be better to open separate issues for those other types? My team is running into this issue, and we use String and Integer keys/values in addition to Long.

[2022-04-14 16:20] Haarolean commented on #127
#1741

[2022-04-14 16:34] Haarolean commented on #1689
The issue is confirmed and we're working on the fix. Thanks for your reports.

[2022-04-15 09:18] BDeus opened #1837 "Future naming issue ?"
Hi, i love kafka-ui i think it will be the best UI for Kafka when all features roadmap will be implemented.

Just a quick remark,
i think you will have an issue in the future with the "kafka" naming in your project (like Kafka manager (CMAK) and Kafka HQ (AKHQ) before you). [CMAK issue](https://github.com/yahoo/CMAK/issues/713)
The apache kafka community will probably ask you to rebrand your proje

[2022-04-15 11:14] Haarolean commented on #1837
Hey, thanks for your kind words. Glad you like it :)

Regarding the naming, we're [well aware ](https://github.com/provectus/kafka-ui/discussions/1468), and it seems to be okay for now. Thanks for letting us know, tho.

[2022-04-15 11:14] #1837 closed

[2022-04-15 16:20] Haarolean opened #1840 ""Newest first" message scan is broken"
**Describe the bug**

"Newest first" message scan is broken. Some of the messages are not shown.

**Set up**

master version

**Steps to Reproduce**
Steps to reproduce the behavior:

1. get a topic with defined little amount of messages
2. enable newest first
3. paginate to the next page
4. some of the messages are not fetched

[2022-04-15 17:14] BDeus commented on #1837
sorry for the duplicate.
continue the good work !

[2022-04-15 22:13] Haarolean opened #1841 "Publish a data security policy"
like [this one](https://docs.conduktor.io/misc/data-security)

[2022-04-17 09:26] mhorlacher commented on #1768
Any updates on this? I'm encountering a similar problem.

Here's my nginx config for kafka-ui:

[code]

Here's the error:
![image](https://user-images.githubusercontent.com/37439882/163708590-94c633f2-f648-45aa-aac7-a40c80d37efb.png)

[2022-04-17 19:12] gaddam1987 commented on #1597
@Haarolean I have a working solution but its with lots of hacks as of now. But it's working though.
I tested only oauth2 based sso using azure ad.

The main idea behind this is the actual role management in not handled by kafka-ui but kafka-ui allows multiple kafka credentials (not as part of application configuration) using a credential fetcher, for my use case it is aws secret manager but it can

[2022-04-18 09:12] Haarolean commented on #1597
@gaddam1987 hey, if it's some custom solution which works just for you with a lot of hacks, we better not. I'd get #753 implemented first.

[2022-04-18 09:22] #1835 closed

[2022-04-18 09:23] Haarolean commented on #1835
@shmyer changes are available in master-labeled docker image. Please let us know if the problem persists.

[2022-04-18 09:24] Haarolean commented on #1689
@ramarro123 @moravcik94 @ngmip @MgFbk the fix is available in master (and master-labeled docker image as well). Please let us know how it goes.

[2022-04-18 09:47] Haarolean opened #1844 "Message search offset is not being set unless rendered first"
**Describe the bug**

Message search offset is not being set until a few actions are performed.

**Set up**

master version

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to Topic->Messages
2. Set "1" in filter offset, `seekTo` in request will be `0::0`.  This is not a valid behavior.
3. Change "offset" to "timestamp" and back, set offset to "1" and submit a request again. This tim

[2022-04-18 09:52] agolosen opened #1845 "Entering the same parameter multiple times during Topic's creation"
**Describe the bug**

You can enter different value for the same parameter of a topic.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local->Topics
2. Push the button Create Topic
3. Push the button Add custom parameter
4. Choose 1 of parameters, input it`s value
5. Choose the same parameter again, enter another value
6. Inp

[2022-04-18 10:15] CharlesJu1 opened #1846 "kafka ui can not connect to local kafka cluster"
**Describe the bug**

follow the documentation to run kafka ui, it can not connect to local kafka cluster. Both kakfa ui and kafka cluster are running on a macos, not in docker container.

**Set up**

(base) ~/kafka-ui $ git log
commit b4e52afbdb383c378404905d54fd32f8b2b58617 (HEAD -> master, origin/master, origin/HEAD)
Author: Mgrdich <46796009+Mgrdich@users.noreply.github.com>
Date:   Thu Apr 14

[2022-04-18 10:20] Haarolean commented on #1846
Hey, thanks for reaching out. Have you edit the app config? `application.yml` in your case.

[2022-04-18 10:30] Haarolean opened #1847 "Implement a debounce timeout on message text search"
We shouldn't instantly send a new request for each symbol typed.

[2022-04-18 11:24] agolosen opened #1850 "Preview is not clickable but look like a link in Messages"
**Describe the bug**

Word Preview near column names Key and Content of Message table look clickable but it`s not a link.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Topics
2. Choose and click some Topic
3. Click the tab Messages
4. Observe: word Preview near Key and Content looks like a link but it`s not a link.

*

[2022-04-18 11:35] agolosen commented on #1850
Also, if click on a collapsed plus of a message on the right panel there are 2 links [SchemaLink](https://www.kafka-ui.provectus.io/) they both go to the Dashboard for all type of topics. The purpose of these links are not clear, but obviously it`s not a Schema link.

[2022-04-18 13:06] IldarAlmakaev opened #1852 "Kafka Connect page. Navigation by breadcrumbs is not working"
**Describe the bug**

**Set up**

**Steps to Reproduce**
Steps to reproduce the behavior:
Please see the attached [GIF](https://gyazo.com/e148d0dd001f6a8ec663d4d44e5e9bdf)

**Expected behavior**

**Screenshots**

**Additional context**

[2022-04-18 13:19] IldarAlmakaev opened #1853 "Display source/sink connector version along with type, plugin, etc"
### Is your proposal related to a problem?

### Describe the solution you'd like
As a user, I'd like to see what version of a connector is deployed on my cluster along with type, plugin, etc.

### Describe alternatives you've considered

### Additional context

<img width="1721" alt="Screenshot 2022-04-18 at 16 21 39" src="https://user-images.githubusercontent.com/11831199/163814232-a7131b30-cc27-

[2022-04-18 14:13] Haarolean commented on #1852
@simonyandev let's see what has happened since we fixed it within #1193

[2022-04-18 14:32] Haarolean commented on #1852
@IldarAlmakaev it works fine on latest master, try running the latest version (`master`-labeled image)

[2022-04-18 14:32] #1852 closed, assigned to simonyandev

[2022-04-18 14:35] Haarolean commented on #1784
#1175

[2022-04-18 14:53] Haarolean commented on #1387
@mikhailalekseevprv need to map SR errors to some of ours and return a humanized error message
![image](https://user-images.githubusercontent.com/1494347/163826389-26563ba6-cfb9-4643-a7eb-fcd17b9724f2.png)

[2022-04-18 16:34] CharlesJu1 commented on #1846
No. I did not edit any of the config files in the src/main/resources folder.

[2022-04-18 16:49] Haarolean commented on #1846
You have to either specify your external config path location or edit the once in resources. You have to specify bootstrapServers and other properties to reach your kafka clusters.

[2022-04-18 19:05] agolosen opened #1855 "Clear all doesn't work for Offset in Messages"
**Describe the bug**

Clear all in Search line on Messages tab of Topics works for everything except Offset.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate local - > Topics-> Messages
2. Input some value for offset in Search line and push the button Submit
3. Click Clear all
4. Observe: the inputed value is still in the Search

[2022-04-18 21:20] Haarolean commented on #1777
@jdechicchis Hey, feel free to join us at discussing this thing in #1816. We'll finalize some stuff this week.

[2022-04-18 21:49] Haarolean commented on #1853
Considering you're on 0.3.3, there's more info on latest master:
<img width="911" alt="image" src="https://user-images.githubusercontent.com/1494347/163883195-f18ca7e8-35f7-4d32-9569-11e17d776911.png">
<img width="827" alt="image" src="https://user-images.githubusercontent.com/1494347/163883208-3014dfd4-42a6-4ece-8569-8892d53f37da.png">

Is there anything important missing?

[2022-04-19 03:15] CharlesJu1 commented on #1846
I copied the content from application-local.yml to application.yml and it worked. Thanks.

[2022-04-19 03:16] #1846 closed

[2022-04-19 11:42] shmyer commented on #1835
@Haarolean can confirm that it is working as expected now. Thanks a lot!

[2022-04-19 11:56] iliax commented on #1782
Hello @Mindgap1, applied couple of fixes that can solve your problem - pls check docker image with `master` tag

[2022-04-19 12:00] iliax commented on #1438
@Haarolean, we discussed it with you, so, I think it ok to close it

[2022-04-19 12:45] Haarolean commented on #1835
@shmyer that's great! Glad it works.

[2022-04-19 12:46] Haarolean commented on #1846
Glad it works!

[2022-04-19 12:50] Haarolean commented on #1438
Yeah, let's. There's a tooltip if you hover over the text
<img width="128" alt="image" src="https://user-images.githubusercontent.com/1494347/164007853-4183d41b-f3f9-4dbc-8f3c-a3de1a1bedf0.png">

[2022-04-19 12:50] #1438 closed

[2022-04-19 12:59] Thilaknath commented on #1846
@CharlesJu1 Do you mind sharing your config in application.yaml?

[2022-04-19 13:02] Haarolean commented on #1846
@Thilaknath basically there are still all the same env variables (see bottom of the README file) but each underscore symbol is a new indentation line in yaml.
An [example](https://github.com/provectus/kafka-ui/blob/master/kafka-ui-api/src/main/resources/application-local.yml)

[2022-04-19 13:13] #1070 closed

[2022-04-19 13:19] Haarolean commented on #1068
Looks close rn

[2022-04-19 13:19] #1068 closed

[2022-04-19 14:42] Haarolean commented on #1552
And [this](https://github.com/provectus/kafka-ui/pull/1849#issuecomment-1102725089)

[2022-04-19 15:51] #1850 closed

[2022-04-19 19:38] agolosen opened #1860 "HTTP 500 on Global Compatibility Level change"
**Describe the bug**

If you try to change Global Compatibility Level you receive the error message '500 Internal Server Error
Unexpected internal error' and level doesn`t change.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Schema Registry
2. Choose a different Global Compatibility Level in dropdown menu
3. Observe:

[2022-04-19 19:57] agolosen opened #1861 "KSQL table info is empty in overview"
**Describe the bug**

There is no info about a table in KSQL tables overview.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/KSQL DB
2. Click on + of a stream or table
3. Observe: phrease Expanded content instead of the details of stream/table

**Expected behavior**

Details of stream/config (configuration)
**Screensho

[2022-04-19 20:18] agolosen opened #1862 "Inconsistency in Warning message for KSQL DB"
**Describe the bug**

The error/warning message disappears in several minutes but on other pages it stays until you close it.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/KSQL DB
2. Push the button Execute KSQL Request
3. Input some request e.g. SELECT * from ridersNearMountainView WHERE distanceInMiles <= 10;
4. Obs

[2022-04-20 07:09] mkielar opened #1863 "Support ALB Authentication with OIDC"
### Is your proposal related to a problem?
I'm deploying Kafka UI on AWS ECS Fargate and exposing it via ALB. AWS ALBs have a way of performing authentication using AWS Cognito or 3rd party OpenID Connect. This way the access tokens are never sent to user browser, and only exchanged between the ALB and the Application. ALB uses a bunch of `X-AMZN-OIDC-*` headers to pass authentication information

[2022-04-20 08:53] #1784 closed

[2022-04-20 09:22] Haarolean opened #1865 "Implement a tooltip with smart filters documentation"
filter examples, etc.

[2022-04-20 09:27] Haarolean commented on #1552
#215

[2022-04-20 09:49] MgFbk commented on #1689
Hi @Haarolean,

thanks for update.
I've tested just now your new version: **provectuslabs/kafka-ui:master**

Is it right?

Unfortunately, I'm getting same errors explained in previous comments.

`2022-04-20 11:29:38.185 ERROR 1 --- [boundedElastic-4] c.p.kafka.ui.util.JmxClusterUtil         : Cannot get JMX connector for the pool due to:

java.rmi.ConnectException: Connection refused to host: 172.

[2022-04-20 13:44] Haarolean commented on #1024
1. When "newest first" is selected or "submit" button is pressed while "newest first" is selected we should use `seekType` as `LATEST` instead of `OFFSET`.
2. The same for "oldest first": `seekType` should be `BEGINNING`.

[2022-04-20 13:58] ngmip commented on #1689
@Haarolean

I did not get a timeout but with the JMX port set, it needs a huge time to first get the information, nearly a timeout I think.

[2022-04-20 19:40] Haarolean commented on #1689
@MgFbk seems to be a different issue.

@ngmip does it affect UI?

[2022-04-20 19:47] Haarolean commented on #1689
@MgFbk does it work via any other tool like jconsole? It seems like a network issue of a sort

[2022-04-20 19:54] Haarolean commented on #1863
Hey, thanks for reaching out.

We'll consider implementing ALB headers support after we're with #753.

[SSO guide](https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SSO.md), if you haven't seen one yet.

Stay tuned!

[2022-04-20 20:31] Haarolean commented on #1737
@simonyandev I could reproduce it, one of the brokers should be offline.
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1494347/164317650-3f41cc4f-532f-4d8c-a792-90ea72c53ba4.png">

[2022-04-20 21:57] Haarolean opened #1873 "Offset input disappears when the only partition is unselected"
**Describe the bug**
Topic messages offset input disappears when the only partition is unselected

**Set up**

latest master

**Steps to Reproduce**
Steps to reproduce the behavior:

1. open up messages view
2. deselect the only partition
3. ???
4. profit

**Expected behavior**

**Screenshots**

<img width="711" alt="image" src="https://user-images.githubusercontent.com/1494347/164330994-94995b9e-

[2022-04-20 21:59] #1855 closed

[2022-04-20 22:09] #1827 closed

[2022-04-20 23:57] Haarolean commented on #1768
Will be fixed within #1874 and will be a part of 0.4 release (or you can always pull the `master`-labeled image).

[2022-04-21 00:32] #1386 closed

[2022-04-21 06:59] ngmip commented on #1689
@Haarolean somewhat yes, for 4 minute after kafka-ui started the cluster is marked as "down", the topic list is empty and the consumers list needs like 10 sec to load (while it usually only needs one or two):

![image](https://user-images.githubusercontent.com/3017632/164391487-8506dc4a-757e-40bd-aae4-9fd9d11ad7a1.png)

Then after what I assumes the successful yet slow JMX query the UI becomes OK

[2022-04-21 09:04] MgFbk commented on #1689
Hi @Haarolean,

thanks to comment

of @ngmip I've solved.

This morning, I've checked again KAFKAUI status for our TST CLUSTER, configured to use JMX_PORT.
It is running well and yesterday KO status was just temporary, time waited wasn't enough.

"Connection time out" exceptions were still there but just for some nodes of our cluster.
More deeply we have missing:

-Dcom.sun.management.jmxremote.rm

[2022-04-21 11:22] workshur opened #1878 "Refactor connect reducer to use redux toolkit approach"
### Describe the solution you'd like

Connect [reducer](https://github.com/provectus/kafka-ui/blob/e2b63fcec259a986fb2932fbfb583987f8588f05/kafka-ui-react-app/src/redux/reducers/connect/reducer.ts)  should use redux toolkit approach

[2022-04-21 11:27] workshur opened #1879 "Refactor topics reducer to use redux toolkit approach"
### Describe the solution you'd like

Topics [reducer](https://github.com/provectus/kafka-ui/blob/634406ac91ec587a3dcaa7ef293f99ae2e68ab90/kafka-ui-react-app/src/redux/reducers/topics/reducer.ts) should use redux toolkit approach

[2022-04-21 11:50] workshur opened #1880 "Replace enzyme with testing library"
- Get rid of enzyme
- Get rid of snapshots

[2022-04-21 23:25] #1752 closed

[2022-04-21 23:51] #1768 closed

[2022-04-21 23:57] #1860 closed

[2022-04-22 00:38] #1695 closed

[2022-04-22 04:50] #1861 closed

[2022-04-22 04:58] #1862 closed

[2022-04-22 06:41] #1844 closed

[2022-04-22 07:13] #1653 closed

[2022-04-22 07:39] #1845 closed

[2022-04-22 08:25] #1059 closed

[2022-04-22 09:01] #1473 closed

[2022-04-22 09:35] felix-roo opened #1882 "Hiding the content of messages"
### Is your proposal related to a problem?
We run this in both staging and prod environments but do not want to display the message data in production just yet. There doesn't seem to be a clean way to toggle this off so for now we run a version with this hardcoded off (i.e. code for preview is literally deleted)

### Describe the solution you'd like
Some kind of configuration setting to disable me

[2022-04-22 09:38] #1737 closed

[2022-04-22 13:00] #1739 closed

[2022-04-22 13:33] #1811 closed

[2022-04-22 13:40] #1847 closed

[2022-04-22 13:51] #1013 closed

[2022-04-22 14:04] #1552 closed

[2022-04-22 16:07] agolosen opened #1884 "The result of Clear Messages is not displayed in Topic overview"
**Describe the bug**

When you click Clear Messages on the Topic overview page you still see the topic`s messages like nothing happened but if you refresh the page or go to the topic you see that messages are cleared.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Topics
2. Choose some topic
3.  Click on the sandwich m

[2022-04-22 16:26] Haarolean opened #1885 "Fix topic custom params required value tooltip"
<img width="558" alt="image" src="https://user-images.githubusercontent.com/1494347/164755631-5e655b2d-2e87-49c2-9a95-411540a46342.png">
Please make it somewhat human-readable

[2022-04-22 17:15] agolosen opened #1886 "Search by Partitions doesn`t work in Messages"
**Describe the bug**

Search by partitions in Messages doen`t work at all.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Topics
2. Choose some topic with number of partitions more than 0, click on it
3. Open the tab Messages
4. In Search line choose some partition from dropdown menu
5. Push the button Submit
6. Observ

[2022-04-22 17:46] agolosen opened #1887 "Success message should be shown after Recreate Topic"
**Describe the bug**

If you click Recreate Topic it`s not obvious that the action has done.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Topics
2. Choose some topic and click on sandwich menu
3. Click Recreate Topic
4. Observe: Messages updated to 0 but without Success message it`s not clear that it worked well.

**

[2022-04-24 19:59] agolosen opened #1888 "Inconsistency in URP status on Brokers and Messages overview pages"
**Describe the bug**

The URP status is different on pages - Brokers 1 and Messages 0  at the same moment.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Brokers
2. Observe URP status is 1
3. Navigate to locals/Topics/
4. Choose some topic, open Messages tab
5.  Observe URP status is 0

**Expected behavior**

The same

[2022-04-24 20:08] agolosen commented on #1887
If you Click on Recreate Topic inside the topic the messages don`t disappear after the action, you must refresh page to see the result.

[2022-04-24 20:22] agolosen opened #1889 "After Purge messages of selected topics the info doesn`t update until the page refreshing"
**Describe the bug**

After clicking the button Purge messages of selected topics the information on Topics overview page doesn`t change until you refresh the page.

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to local/Topics
2. Chose some topic with messages by clicking check box
3. Push the button Purge messages of selected

[2022-04-24 20:30] agolosen commented on #1886
it works in weird way - show messages from the partitions that are not selected
<img width="1389" alt="Screenshot 2022-04-24 at 21 27 53" src="https://user-images.githubusercontent.com/92585878/164995304-1404278f-0f70-4fb1-ba1e-14ca1e5d10bf.png">
<img width="1389" alt="Screenshot 2022-04-24 at 21 28 17" src="https://user-images.githubusercontent.com/92585878/164995309-e1c257cc-341c-44e6-9654-be644

[2022-04-24 21:04] agolosen opened #1890 "Inconsistency of task state of a Connector after Restart failed Task"
**Describe the bug**

After Restart failed Task in a connector with failed tasks the State is still FAILED but the Tasks Failed is 0 at the same time, even if switch the tab to Tasks and return in the connector.
In my case both indicators matched after return to Connectors overview (however it could be just coincidence and the state needed some time).

**Set up**

https://www.kafka-ui.provectus.io

[2022-04-25 02:10] #1828 closed

[2022-04-25 05:26] rrva opened #1891 "Topics view jumpy rendering on mouse over"
**Describe the bug**

Topics list moves sideways a bit when mouse focus is moved over it

**Set up**

https://github.com/provectus/kafka-ui/commit/a7d3f1d

**Steps to Reproduce**
Steps to reproduce the behavior:

See recording, or:

1. Have some topics (widest topic name in my setup is 36 chars)
2. Go to the topics view
3. Move mouse focus to the topics list

**Expected behavior**

Rendering does

[2022-04-25 05:28] rrva opened #1892 "Show newest messages by default"
### Is your proposal related to a problem?

I always want to view the newest messages per topic, not the oldest ones.

### Describe the solution you'd like

Make the default the newest messages, now it is set for the oldest.

### Describe alternatives you've considered

Making it configurable (but I think newest is most suitable for the majority of use cases)

### Additional context

[2022-04-25 07:12] simonyandev commented on #1024
@Haarolean When we submit a message, it redirects to the topic messages page with the default params, so the seekDirection is reset to FORWARD (Oldest first). I can set the seekType to BEGINNING, but the results are the same. What about the newest first option, seekType=LATEST doesn't help, the new messages still don't appear. I think the problem comes from the back end.

[2022-04-25 09:50] Haarolean commented on #1740
1. While live mode is on (active loading) all the controls (search, offset, partitions select) should be disabled.
2. Once "stop loading" is pressed, fetched messages should NOT disappear. And controls (p. 1) should be enabled back again.

[2022-04-25 09:53] Haarolean opened #1897 "Dockerfile: Support passing external application.yml properties file"

[2022-04-25 10:11] Haarolean commented on #1891
Hey, thanks for raising the issue. This has been actually fixed already (#1473)

[2022-04-25 10:11] #1891 closed

[2022-04-25 10:13] Haarolean commented on #1828
no issues on kafka-ui side, just ssl configuration problems (CN verification)

[2022-04-25 10:41] Haarolean commented on #1882
Hey, thanks for reaching out. This has to be done after we implement RBAC (#753).
Please follow #1027 for updates.

[2022-04-25 10:41] #1882 closed

[2022-04-25 12:06] simonyandev commented on #1887
Is fixed on https://github.com/provectus/kafka-ui/pull/1830

[2022-04-25 14:43] Haarolean commented on #1741
1. Filter name pane looks ugly (broken padding or there's none even)
<img width="318" alt="image" src="https://user-images.githubusercontent.com/1494347/165113010-a055ec11-4f05-4b3c-8b6b-e63ee291a8bd.png">
2. Can we assign some name for the filters which are saved without a name? Like, using first symbols/line of the filter itself?

[2022-04-26 22:26] Haarolean commented on #1892
Hey, thanks for the suggestion. We'll consider implementing this as a part of #1686

[2022-04-26 22:33] Haarolean commented on #1024
@simonyandev the first part is okay, results should be the same, adjusting the seekDirection to make it clear.

@iliax any ideas about the second part?

[2022-04-27 06:14] #1741 closed

[2022-04-27 10:17] #1644 closed

[2022-04-27 14:54] Haarolean opened #1907 "Invalid "in sync replicas" value is displayed"
<img width="370" alt="image" src="https://user-images.githubusercontent.com/1494347/165547338-b440a5d1-113a-451a-89e3-f1dd08b5586f.png">

[code]
Doesn't seem to be a valid approach.
outOfSyncReplicasCount: 1
inSyncReplicasCount: 798

[2022-04-28 14:07] Haarolean commented on #1888
Broker URP is a sum of all topics' URPs. If it's non-zero for the broker, it means there is/are topic(-s) with URPs.

[2022-04-29 12:06] relief-melone commented on #936
I'd definately support this. There might be environments where this level of permissions is not given but it should not be necessary to view your topics and post message. So a "Non-Admin" mode would also help us very much

[2022-04-29 17:59] Haarolean commented on #1897
No additional actions required.

An example setup:
[code]

[2022-04-29 17:59] #1897 closed

[2022-04-29 20:13] Haarolean opened #1911 "BE: Fix sonar code smells"
https://sonarcloud.io/project/issues?resolved=false&id=com.provectus%3Akafka-ui_backend

[2022-04-29 20:13] Haarolean commented on #1911
blocked by #1537

[2022-04-30 02:13] #1782 closed

[2022-05-01 08:56] rrva opened #1912 "Timeline message graph"
### Is your proposal related to a problem?

Some kafka topics have very different producer activity, and troubleshooting or investigating message traffic is often useful.

### Describe the solution you'd like

In the messages view, above the message list I would like a timeline with a bar diagram indicating produced message volume over time. Selecting portions on the graph would adjust which offse

[2022-05-02 02:14] #1853 closed

[2022-05-02 06:05] #1740 closed

[2022-05-02 08:29] nargotik opened #1916 "Reverse DNS kafka-ui flood"
**Describe the bug**
After setting a kafka cluster in 5 vm's and kafka-ui in docker-compose in first machine after a while router start receiving dns request flood to kafka node ip (192.168.21.21) with dns request 21.21.168.1.in-addr.arpa

**Set up**
Kafka running in a debian bullseye standalone with no docker and kafka-ui wunning in docker with sample down

[code]

**Steps to Reproduce**
Check dn

[2022-05-02 09:14] Haarolean opened #1917 "Support external spring config via configmap"
https://github.com/provectus/kafka-ui/issues/1897#issuecomment-1113580606

[2022-05-02 11:03] Chaithraasmoto opened #1918 "Broker and cluster shows offline even though its up and running in local"
**Describe the bug**
Broker and cluster shows offline even though its up and running in local

**Set up**
I'm uisng official docker image in local - https://hub.docker.com/r/provectuslabs/kafka-ui and running the below command for docker
docker run -p 8080:8080 -e KAFKA_CLUSTERS_0_NAME=local -e KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=127.0.0.1:9092 -d provectuslabs/kafka-ui:master

**Steps to Reproduce*

[2022-05-02 12:59] Chaithraasmoto commented on #1918
Hi,
Please help with above issue

Thanks

[2022-05-02 14:17] azatsafin commented on #1918
Hi @Chaithraasmoto

Port 9092 is used for kafka brokers, and in KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS you should provide Kafka broker endpoint. If you want to provide Zookeeper endpoint (for monitor Zookeeper status), you must provide additionall env KAFKA_CLUSTERS_0_ZOOKEEPER with respective value to the Zookeeper endpoint, actually Zookeeper not required for KafkaUI functionality.

[2022-05-02 14:32] Haarolean commented on #1918
Hey @Chaithraasmoto, thanks for reaching out.
Please use the correct issue template next time, this is not related to k8s or helm.

Your problem is that you're running kafka on bare metal and trying to access it via localhost IP, which, in turn, is kafka-ui container's host. You have to follow [this guide](https://github.com/provectus/kafka-ui/discussions/1081) to access your bare-metal kafka inst

[2022-05-02 14:32] #1918 closed

[2022-05-03 15:49] Haarolean commented on #1912
Hey, thanks for the suggestion. We're planning on implementing this within #942.

[2022-05-03 15:52] Haarolean commented on #442
@MaratGumarov please note that there's a branch [issues/442](https://github.com/provectus/kafka-ui/compare/issues/442)

[2022-05-03 15:54] Haarolean commented on #478
thanks!

[2022-05-03 21:18] Haarolean commented on #1916
Hi, what's the configuration option value for `advertised.listeners` for kafka itself?

[2022-05-04 11:33] #1889 closed

[2022-05-04 11:34] #1887 closed

[2022-05-04 11:34] #1886 closed

[2022-05-04 11:34] #1885 closed

[2022-05-04 11:34] #1878 closed

[2022-05-04 11:34] #1807 closed

[2022-05-04 11:34] #1612 closed

[2022-05-04 11:35] #1052 closed

[2022-05-04 11:55] #1402 closed

[2022-05-04 13:51] christoph110 opened #1923 "Avro messages with Union type are not shown correctly"
**Describe the bug**
Avro messages are not shown correctly when using Union type.

**Set up**
Use `provectuslabs/kafka-ui:0.4.0` image. Use confluentinc schema registry `confluentinc/cp-schema-registry:7.0.1`
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run docker compose
2. Send Avro message using `confluent_kafka.schema_registry.avro.AvroSerializer`

**Expected behavior**

[2022-05-05 09:30] mitasov-ra opened #1928 "Comma in password"
**Describe the bug**
If i connect with SASL authentification and I have comma in password then authentification is failed.

**Steps to Reproduce**

[code]

**Expected behavior**

Everything works as normal

[2022-05-05 23:11] nargotik commented on #1916
Hi @Haarolean
[code]

To pass this problem I have maded this workaround
[code]

but I havent figured the problem, just did a workaround

[2022-05-05 23:16] Haarolean commented on #1923
Hey, thanks for reaching out. We'll schedule the fix for current release.

[2022-05-05 23:19] Haarolean commented on #1928
Hey, thanks for reaching out. We'll take a look into this.

[2022-05-06 23:02] nuria commented on #936
Leaving this here for posterity. If you are running against confluent cloud and you have specified correctly the jass config  and still continue getting these errors look to to see if you are passing confluent.license in the connector, absence of a license returns a number of bogus errors like "Login module control flag not specified in JAAS config".

https://docs.confluent.io/platform/current/con

[2022-05-07 22:57] Haarolean opened #1932 "Get rid of dockerfile-maven-plugin"
It's deprecated and doesn't work on M1.

Alternatives:
- spring-boot:build-image (via paketo) (preferred)
- jib (not so much)
- fabric8
- maven-exec-plugin (lol)

spring:
1) add apt packages via [apt buildpack](https://github.com/fagiani/apt-buildpack)

[2022-05-08 00:26] Haarolean opened #1933 "Display build date instead of full commit hash in version info"
1. Remove VITE_TAG
1. Remove VITE_COMMIT
1. fetch info from Spring API `/actuator/info` `{commit, tag, buildDate: timestamp}`
1. If tag is a version (v0.5.0) fetch latest version from github and compare with tag.
6. If tag is a commit we need to display formatted timestamp (`/api/info/timestampformat/iso`)
7. if tag contains `-SNAPSHOT` - display formatted timestamp
9. Keep the short one with the

[2022-05-09 13:55] Haarolean commented on #1932
Builds fine with
`./mvnw -Dmaven.test.skip=true spring-boot:build-image -Dspring-boot.build-image.imageName=provectuslabs/kafka-ui -Dspring-boot.build-image.builder=paketobuildpacks/builder:tiny`
and jdk17.
The only problem is image size. Need to investigate.

[2022-05-10 04:05] akamensky opened #1938 "Dashboard table is messed up"
**Describe the bug**

When many clusters are defined in configuration, the dashboard looks messed up:

- multiple tables instead of 1
- cluster ordering is out-of-order (that was fixed earlier for left side list)
- columns are not aligned

**Set up**
- Docker-compose with configuration set via environment variables (v0.4.0 tag from Docker Hub)

**Steps to Reproduce**
Steps to reproduce the behavio

[2022-05-10 04:09] akamensky commented on #1938
PS: thanks for working on this project, it is the best UI for looking at Kafka cluster data I've seen so far.

[2022-05-10 10:41] Haarolean commented on #1938
Hey Alex, thanks for the feedback, glad you like the new release :)

We'll take a look into the problem. We've done a lot of frontend refactoring recently, so this might be the reason.

[2022-05-10 15:06] tigerinus opened #1946 "Show truncated message when message size is large"
### Is your proposal related to a problem?

Most of the time I only want to see headers of each message. However each message in the queue can be as large as 512KB. Expanding such message in Kafka UI causes web to hang.

### Describe the solution you'd like

Assuming it's the web UI parsing the large message causing the hang, I propose:

1. Truncate the message body when it is large, or just outpu

[2022-05-10 15:09] smeana opened #1947 "Multiple users with different permission"
Hello!

Does Kafka UI support in some way having multiple users with differrent ACLs, monitoring the cluster?
Filtering in some way what topics can be read depending on the user you have to access kafka ui?

Regards

[2022-05-10 21:40] ekeric13 commented on #1306
So it seems this will be in release 0.5. Is there a roadmap on when that will be released?

[2022-05-10 22:36] #1880 closed

[2022-05-11 08:27] #215 closed

[2022-05-11 08:37] #1907 closed

[2022-05-11 10:10] Haarolean commented on #712
`/api/clusters/{clusterName}/brokers/{id}/configs`
UI should look the same as topic configs

[2022-05-11 10:12] Haarolean commented on #711
`/api/clusters/{clusterName}/brokers/logdirs`

Each broker on broker page should be clickable, there has to be an expandable partition list inside with broker dirs for each

[2022-05-11 10:14] Haarolean commented on #1778
Depends on #711

`/api/clusters/{clusterName}/brokers/{id}/metrics`
[Broker page](https://github.com/provectus/kafka-ui/issues/711#issuecomment-1123509831) should have a separate tab with jmx metrics

[2022-05-11 19:52] adrianoapj commented on #1441
Hello! I can provide it to you!

Here is what a working setup looks like:

[code]

In order to get those values, you need to have a project inside Google Cloud Platform, configure a consent screen and then create OAuth2 credentials for your project. Then you will have CLIENTID and CLIENTSECRET. I am also setting a REDIRECT_URI because for some reason Spring Security uses HTTP (not HTTPS) on my set

[2022-05-11 19:54] Haarolean commented on #1441
@adrianoapj thanks! I'll try to take a look at this. Last time I wasn't able to reproduce it myself.

[2022-05-12 10:23] Haarolean opened #1960 "Loading icon is still being displayed once the live mode is stopped"

[2022-05-12 11:07] workshur opened #1961 "Upgrade react-router-dom to v6"
### Is your proposal related to a problem?
App uses legacy version of react-router-dom

### Describe the solution you'd like
Please follow instruction from https://reactrouter.com/docs/en/v6/upgrading/v5

[2022-05-12 12:41] #1488 closed

[2022-05-12 13:38] Haarolean opened #1962 "Implement a view to set KSQL stream properties"
string-string key-value instead, format as json

[2022-05-12 13:42] Haarolean commented on #1947
Hey, thanks for reaching out. It seems like you need #753. That's the feature planned for the next release, we're gonna start working on it soon. Feel free to subscribe to that issue and upvote :)

[2022-05-12 13:42] #1947 closed

[2022-05-12 13:43] Haarolean commented on #1946
Hey, thanks for the suggestion. We'll think of something to solve this.

[2022-05-12 14:10] Haarolean opened #1963 "CVE fixes Q2.22"
https://github.com/provectus/kafka-ui/runs/7354244079?check_suite_focus=true

+ upgrade alpine

[2022-05-13 15:44] Haarolean opened #1967 "Implement topic analysis stats"
Would be nice to be able to start analysis and print some useful topic (per-partition?) info like:

total messages
min/max offsets for partition
min/max timestamps
qty of unique keys/values
qty of null keys/values
key

[2022-05-16 09:57] Haarolean opened #1980 "Indicators CSS adjustments"
Wrapped panes should inherit first & last child css (border-radius)
<img width="1242" alt="bruh" src="https://user-images.githubusercontent.com/1494347/168567644-39c32c0a-5acf-4e1e-9d70-2a535bf60ad9.png">

[2022-05-16 11:06] #949 closed

[2022-05-16 13:00] raphaelauv opened #1984 "Kafka-connect worker view"
### Is your proposal related to a problem?

Currently I can't see the dispatch of the connector task between the workers of my kafka-connect cluster

### Describe the solution you'd like

a dedicated page to see how the connector task are dispatch in the kafka-connect workers.

It will also let us know the number of active workers in the kafka-connect cluster

[2022-05-16 15:51] #1938 closed

[2022-05-17 09:53] #1960 closed

[2022-05-17 13:09] azatsafin commented on #1897
Let use following HELM Chart variable for that purpose `YamlApplicationConfig`

[2022-05-17 13:45] Haarolean opened #1987 "Multiple replica leaders reported"
https://www.kafka-ui.provectus.io/api/clusters/local/topics/LLLLLLLLLL-copy
<img width="346" alt="image" src="https://user-images.githubusercontent.com/1494347/168825630-028fe103-f385-445d-b221-9e293e6bc37c.png">

[2022-05-17 13:49] Haarolean commented on #1865
![image](https://user-images.githubusercontent.com/1494347/168826481-93afd5f2-4764-43f6-8d1b-d816b914b701.png)

5. multiline filters are also allowed:
[code]

[2022-05-17 13:59] Haarolean opened #1988 "Fix unstable tests"
1. MessageFiltersTest$GroovyScriptFilter.filterSpeedIsAtLeast10kPerSec:162  (https://github.com/provectus/kafka-ui/runs/6470305014?check_suite_focus=true)

[2022-05-18 02:40] up0617 opened #1990 "Display ConsumerGroup lag metrics"
I found Consumer Group Lag related feature in README.
```View Consumer Groups — view per-partition parked offsets, combined and per-partition lag```

Is there any plan to support lag monitoring feature?

If this question is inappropriate for this page, plz let me know!
Thanks!

[2022-05-18 08:59] iliax opened #1994 "KSQL: remove deprecated ksql endpoints"
1. add endpoint that returns list of ksql streams & tables (#2089)
2. make UI to use endpoints from p.1 instead if using old ksql api (#2098)
3. remove old (non-v2) endpoints

[2022-05-18 09:00] lbalcerek opened #1995 "No URL encoding while getting schemas"
**Describe the bug**
We have subject with '/' sign in it, what causes exception after choosing 'Schema Registry' option. I can see that app requests for:
`GET https://schema-registry.nonprod.ipfdigital.io/subjects/apollo/commons/Header.proto/versions/latest`
so without proper URL encoding, and should be:
`https://schema-registry.nonprod.ipfdigital.io/subjects/apollo%2fcommons%2fHeader.proto/versio

[2022-05-18 11:50] davidleongz opened #1996 "How to setup or add certificate in docker-compose.yml? I have this error: SSL handshake failed. SunCertPathBuilderException"
I want to setup certificate in docker-compose.yml (not local environment)

I have this error:
Failed authentication with broker. SslAuthenticationException (SSL handshake failed)

Caused by: javax.net.ssl.SSLHandshakeException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Caused by: sun.security.

[2022-05-18 21:00] keremcankabadayi opened #1998 "Can't connect kafka"
**Describe the bug**

Can't connect my Stage Environment Kafka.

**Set up**

docker-compose installation

* version: vv0.4.0 [521ba0c](https://github.com/provectus/kafka-ui/commit/521ba0c)

**Steps to Reproduce**
Steps to reproduce the behavior:

1. create container with `docker-compose up -d`
2. check container logs
<details>
 _   _ ___    __             _                _          _  __      __

[2022-05-18 21:45] Haarolean commented on #1998
Hi, it's not an issue with the app, but a docker-network related one.
if you're planning to run it on your local machine, you can try docker's `host` network mode.
https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode
Feel free to leave a reply if the problem persists, either here or on discord.

[2022-05-18 21:47] Haarolean commented on #1996
Hey, thanks for reaching out.
Here's [an example](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ssl.yml) with SSL-enabled kafka.
You have to add your certificate into a keystore (jks, or pfx), volume bind it via docker-compose and specify the property with it's path.
Let me know, either here or on discord, if you have any problems with that :)

[2022-05-18 21:47] #1996 closed

[2022-05-18 21:52] Haarolean commented on #1995
Hey, thanks for reaching out. We'll take a look.

[2022-05-18 22:09] Haarolean commented on #1984
Hey, thanks for reaching out.

Isn't this what you're looking for?
<img width="825" alt="image" src="https://user-images.githubusercontent.com/1494347/169164011-ac223991-ac87-4d9d-adc6-f04f2553586c.png">
Connector details, tasks tab

[2022-05-18 22:28] raphaelauv commented on #1984
this is the view for only one connector

I would like the same for all the connectors in the same page

[2022-05-18 22:36] Haarolean commented on #1984
Aight, got it

[2022-05-19 01:48] up0617 commented on #1990
Thank you for reply!

I hope version 0.6 comes out soon!

[2022-05-19 06:46] keremcankabadayi commented on #1998
I think thats not the problem cause i also tried with `jar` without docker. results and logs were same.

[code]

Its kind of connection problem.

[2022-05-19 07:03] davidleongz commented on #1996
With this configuration:
[code]
I have this error:
Caused by: org.apache.kafka.common.errors.InvalidConfigurationException: SSL key store is specified, but key store password is not specified.

It is not possible with SSL_KEYSTORE and SSL_TRUSTSTORE because I don't know the passwords.

I only have a certificate wiht ".crt" extension. Is possible to add a certificate through docker-compose? How do

[2022-05-19 08:07] Haarolean commented on #1998
Okay then, you should've mentioned it beforehand :)

Please share the full log when you run it as a jar file. The one you provided is just a little bit of it.

[2022-05-19 09:42] kid1412621 commented on #1503
sharing my setup:
[code]

[2022-05-19 11:44] #705 closed

[2022-05-19 12:11] Haarolean opened #2000 "UI: Double "v" in version name"
Please remove the extra "v", we do have one in version name itself.
<img width="310" alt="image" src="https://user-images.githubusercontent.com/1494347/169289884-421b2f60-018a-4ebf-a6ff-a30f8fdc7447.png">

[2022-05-19 15:42] Haarolean commented on #1928
@mitasov-ra can you provide an example setup for kafka itself to reproduce the problem?

[2022-05-19 17:27] iliax commented on #1024
@simonyandev We fixed issue with wrong backend behaviour in Newest first mode, so I think you can continue work on UI

[2022-05-19 17:45] Haarolean commented on #1024
@ssiradeghyan PTAL

[2022-05-20 07:51] maxonline opened #2001 "Cannot search across all messages in topic"
**Describe the bug**
When i have a topic with a large number of messages (over 1m) the search failed to return a result which we know is in the topic. When we specified offset to 500k we found the message.

**Set up**

version: v0.0.1-SNAPSHOT [a7d3f1d](https://github.com/provectus/kafka-ui/commit/a7d3f1d)

**Steps to Reproduce**
1.  Have a large topic
2. Search for a key of a message that you kno

[2022-05-20 07:51] maxonline commented on #2001
@rrva

[2022-05-20 09:46] Haarolean commented on #2001
Hey, could you try it with a latest version? We've made some changes which might fix your issue (literally last commit). You can pull docker image tagged with `master` label.

[2022-05-20 10:18] keremcankabadayi commented on #1998
**Set up**
[code]

**Steps to Reproduce**
1. Run with above commands.
2. Check logs

[code]

**Additional context**

- I need to connect VPN for this Stage Kafka. I can connect with 3rd party apps i mentioned above `Conduktor`, `Kafka CLI` and [Kouncil](https://github.com/Consdata/kouncil)
- I can ping ip `10.2.20.143`

Thanks for your attention.

[2022-05-20 11:12] Haarolean commented on #1998
@keremcankabadayi thanks. Do you run this kouncil tool as a docker container as well?

[2022-05-20 11:28] lllsJllsJ commented on #1667
@mattia-crypto, @5hin0bi ,

I just follow the above answer but no luck
[code]
Can you guys help me check? What is wrong

[code]

But when I specify my password in envs.config it works perfectly

[2022-05-20 12:39] keremcankabadayi commented on #1998
Yes, running docker container now.

[code]

![image](https://user-images.githubusercontent.com/23381187/169529877-41fdd63d-e857-4341-a43e-6d766d6105dd.png)

[2022-05-20 13:25] Haarolean commented on #1980
![image](https://user-images.githubusercontent.com/1494347/169537439-cb4e05a1-0c30-4fdc-8ff0-77818b65055d.png)
Lower one looks weird

[2022-05-21 13:23] Nilsiker opened #2003 "UI: Dark theme"
### Is your proposal related to a problem?

No - it is merely an aesthetic addition, with the possible benefit of being an accessibility feature for some people.

### Describe the solution you'd like

Enabling a dark mode theme by a toggle slider in the header, utilizing styled-components to apply the theme (draft screendumps at the bottom).

### Describe alternatives you've considered

Since the

[2022-05-21 16:32] Haarolean commented on #2003
Hey, thanks for the suggestion! We'll discuss it soon, I'll let you know once I have more details :)

[2022-05-22 14:53] dxxvi opened #2004 "Question: documentation about setting up this project"
Is there any existing documentation about setting up this project for development?
I'd like to start kafka-ui-api in IntelliJ, start kafka-ui-react-app on the command line. For any server or ui change, I only need to restart the according app. That's what I usually did in Angular but I don't know React, so a little documentation will be very helpful.

[2022-05-23 04:26] armenuikafka opened #2005 "Not functional 'Next' button within Messages/Topic"
**Describe the bug**
'Next' button is not working for Messages within Topic

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Open the Topic which has Messages
2. Navigate to 'Messages' tab
3. Press 'Next' button

**Expected behavior**
'Next' button should not exist as it's not functional for Messages.

**Screenshots**

https://user-images.githubusercontent.com/104780608/169489025-f9011

[2022-05-23 04:33] armenuikafka opened #2006 "Invalid breadcrumb is displayed for Connectors"
**Describe the bug**
Connectors path is not right

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Navigate to Connectors
3. Open any Connector
4. Check the path

**Expected behavior**
Instead of Connects/Local/Connectors/Connector name should be Connectors/Connector name

**Screenshots**
<img width="1715" alt="connects" src="https://user-images.githubusercontent.com

[2022-05-23 04:41] armenuikafka opened #2007 "Partition value displays not right in case of selecting second time within Topic/Messages"
**Describe the bug**
Selected value for Partition dropdown should always displayed in the same format for Messages filtering

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Navigate to Topic profile which has Messages and more than one partition
3. Turn to Messages tab
4. Check filtering by partitions
5. Select/unselect the value for partitions dropdown

**Expected

[2022-05-23 04:55] armenuikafka opened #2008 "No error displayed in case of wrong header submitting with Message producing"
**Describe the bug**
User should be notified about filled wrong value/format for Headers within Message produce form

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login too system
2. Navigate t Topic's profile
3. Turn to Messages tab
4. Produce Meesage
5. Enter wrong value/format within Headers
6. Press Send

**Expected behavior**
Should display error message about wrong header

**S

[2022-05-23 05:16] armenuikafka opened #2009 "Messages count is not updated after filtering Topic/Messages"
**Describe the bug**
After submitting the filter, if one message is shown, the count of Messages should also be one.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Open the Topic profile
3. Turn to Messages tab
4. Press Add filters
5. Submit f.ex. 'value == null && valueAsText != null' filter

**Expected behavior**
Messages count should be changed according to filt

[2022-05-23 05:26] Haarolean commented on #721
We decided not to implement such a feature. The reason is its behavior might be ambiguous (e.g. what if there are newer messages?; offset calculation, etc). The best solution for now would be using your browser's history navigation buttons.

[2022-05-23 05:26] #721 closed

[2022-05-23 07:45] Haarolean commented on #1998
@keremcankabadayi can you ping/traceroute kafka's IP from within kafka-ui container? via `docker exec -it kafka-ui sh`

[2022-05-23 10:29] armenuikafka opened #2013 "UI improvement for dropdown fields in a system"
**Describe the bug**
With opening the dropdown, the arrow should be turned up for all dropdown fields

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Navigate to Topic/Messages
3. Check the dropdown fields in filtering part

**Expected behavior**
In case of opening the dropdown, the arrow should be turned up

**Screenshots**

https://user-images.githubusercontent.co

[2022-05-23 10:38] armenuikafka opened #2014 "UI improvement for partition dropdown field within Topic/Messages"
**Describe the bug**
'x' icon for removing partition value is displayed by default, but could be better to show it with hovering on

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Navigate to Messages tab for a Topic
3. Check the partition dropdown within filtering section

**Expected behavior**
'x' icon for partition dropdown field could be displayed not by default

[2022-05-23 10:44] armenuikafka opened #2015 "UI improvement for 'Partition' dropdown within 'Produce Message' form"
**Describe the bug**
The Partition dropdown values are overlapping with dropdown field within Produce Message form

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to system
2. Navigate to Topic/Messages
3. Press 'Produce Message'
4. Click the 'Partition' dropdown field

**Expected behavior**
The values of dropdown should not overlap with dropdown field

**Screenshots**

https://

[2022-05-23 11:01] enshinov opened #2016 "Failures when Kafka Connectors has high number of tasks (limit on max bytes to buffer : 262144)"
**Describe the bug**
Stack trace:
		at org.springframework.web.reactive.function.client.WebClientResponseException.create(WebClientResponseException.java:229)
		at org.springframework.web.reactive.function.client.DefaultClientResponse.lambda$createException$2(DefaultClientResponse.java:213)
		at reactor.core.publisher.FluxMap$MapSubscriber.onNext(FluxMap.java:106)
		at reactor.core.publisher.FluxO

[2022-05-23 11:06] keremcankabadayi commented on #1998
[code]

[2022-05-23 11:09] Haarolean commented on #1998
@keremcankabadayi wanna discuss this [on discord](https://discord.gg/4DWzD7pGE5) to make it quicker? or somewhere else if you don't have one.

[2022-05-23 11:21] Haarolean commented on #2016
Hey, thanks for reaching out. We'll make it configurable

[2022-05-23 11:43] Haarolean commented on #1998
The problem seems to be about having a huge amount of topics present in kafka.

[2022-05-23 12:11] keremcankabadayi commented on #1998
workaround for this issue, `http://localhost:8098/ui/clusters/<cluster_name>/topics/**<topic_name>` you can visit directly topic without all topics loads.

[2022-05-25 05:50] ascentiskelvin opened #2021 "Can't connect to local Kafka docker broker"
**Describe the bug**
I wasn't able to connect to the local Kafka broker.

**Set up**
Following the steps in https://github.com/provectus/kafka-ui#running-a-docker-image

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Setup Kafka (with Kraft) as in https://hub.docker.com/r/bitnami/kafka/ with network bridge

[code]

2. Setup Ui for Apache Kafka as in https://github.com/provectus/kafka-

[2022-05-25 07:53] armenuikafka opened #2023 "In case of editing Partition number of Topic update is available only after refreshing"
**Describe the bug**
Partition count update is not available at once with edit, it's updating only after refreshing Topics

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Login to System
2. Navigate to Topics
3. Open the Topic
4. Press 'Edit Settings'
5. Change the 'Number of partitions *'
6. Press 'Submit'
7. Turn back to Topic
8. Open the Settings to check the count of Partitions

*

[2022-05-25 07:58] iliax commented on #2021
Hello @ascentiskelvin
you are setting KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
this host/IP and port will be passed back to clients to connect to kafka
so, you need to set it properly (`PLAINTEXT://kafka:9092` I guess)

see details here https://www.confluent.io/blog/kafka-listeners-explained/

[2022-05-25 08:01] iliax commented on #2021
also you can take https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui.yaml as an example

[2022-05-25 08:36] ascentiskelvin commented on #2021
Hi @iliax, thanks for the guidance in resolving this. I'm able to connect now.

[2022-05-25 08:36] #2021 closed

[2022-05-25 09:53] Haarolean commented on #1441
@igimot @adrianoapj can you try this [image](https://s3.haarolean.dev/public/kafka-ui/issue-1441/kafka-ui.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=VRL8KF9Z2HMTHER15D8V%2F20220525%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220525T095204Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJWUkw4S0Y5WjJITVRIRVIxNUQ4ViIsImV4cCI6MTY1MzQ3NT

[2022-05-25 10:54] #1879 closed

[2022-05-25 11:08] Haarolean opened #2026 "Allow passing just one keystore/truststore for both jmx and kafka"

[2022-05-25 11:33] #1809 closed

[2022-05-25 11:33] #1865 closed

[2022-05-25 11:33] #1980 closed

[2022-05-25 11:52] #1764 closed

[2022-05-25 12:27] armenuikafka commented on #1884
Update with Clear Messages available in Topic's Overview tab only after refreshing, please check the attached video:

https://user-images.githubusercontent.com/104780608/170261514-df248abf-dc73-4e64-9eeb-236ecf9f402a.mov

_**Note**: Works correctly with Clearing messages from all Topics page_

[2022-05-25 12:34] Haarolean commented on #2009
#1438 #1230

[2022-05-25 12:44] #1840 closed

[2022-05-25 16:15] armenuikafka opened #2030 "Fix the error messages about fields requiredness within Create a new Topic form"
**Describe the bug**
Please update the error messages for required fields to be more clear and simple

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Press Add a Topic
3. Press 'Submit' button

**Expected behavior**
Error messages about fields requiredness should be understandable for user

**Screenshots**
<img widt

[2022-05-25 16:36] armenuikafka opened #2031 "Error message about Value field requiredness is shown once the Custom Parameter added within Create a new Topic form"
**Describe the bug**
Once Custom Parameter added, error message for Value field is shown, will be good to display it after pressing but letting it empty (to work like Topic Name field)

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Press Add a Topic
3. Click on 'Add Custom Parameter'

**Expected behavior**

- Error

[2022-05-26 08:38] lazzy-panda opened #2035 "Tables sorting"
I want to suggest adding a sorting function to the table column headers.

When clicked, the data in the column should be sorted.

If it is not possible to add this universal functionality to all tables, it would be great to add it wherever possible.

[2022-05-26 08:46] Haarolean commented on #1998
@keremcankabadayi hey, can we talk on discord once again? I have a beta build to test it out

[2022-05-26 10:11] Haarolean commented on #1995
Steps to reproduce:
1. `provectuslabs/kafka-ui:0.3.0`, create a schema with name "test/test"
2. Get a list of schemas. It works fine.
3. Do the same with `provectuslabs/kafka-ui:0.4.0`, request to fetch schemas list fails.

[2022-05-26 11:00] armenuikafka opened #2037 "Please change Connects to be Connectors in Kafka connect"
**Describe the bug**
Connectors should be instead of Connects within Kafka connects

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Kafka connect

**Expected behavior**
Connectors, Failed Connectors, Failed Tasks should be displayed

**Screenshots**
<img width="1717" alt="connects vc connectors" src="https://user-images.github

[2022-05-26 11:46] armenuikafka opened #2039 "Make Submit button inactive when required fields aren't filled"
**Describe the bug**
Submit button is inactive by default in create forms, it should stay inactive also in case of once pressing the input fields and letting it empty

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to schema registry
2. Create schema
3. Make sure submit button is inactive
4. Click into required input field
5. Mak

[2022-05-26 14:13] mitasov-ra commented on #1928
Hi! Unfortunately, I'm not able to show our cluster's configs due to NDA.

But I can show you the error log:

[code]

[2022-05-26 14:29] Haarolean commented on #1928
@mitasov-ra oh wow, I'm not quite sure it's related to the password. Wanna chat [on discord](https://discord.gg/4DWzD7pGE5) to make it quicker?

[2022-05-26 16:50] thealmightygrant commented on #753
Hey y'all, this is a really cool feature and I love this project. Do you think that this feature could pull Kafka permissions from [Kafka's ACLs](https://kafka.apache.org/documentation/#security_authz)? I believe that this information is accessible from the [Admin API](https://kafka.apache.org/26/javadoc/org/apache/kafka/clients/admin/Admin.html#describeAcls-org.apache.kafka.common.acl.AclBindingF

[2022-05-26 19:42] ekeric13 commented on #1002
Has anyone found a policy that limits access to the cluster as much as possible and still gets the data to show up?

So far this is as most restrictive as I have gotten it while having kafka-ui still work as read only:
[code]

[2022-05-27 02:59] doomcrewinc commented on #2037
I'll take this one.

[2022-05-27 08:58] Haarolean commented on #2037
@doomcrewinc hey, thanks!

[2022-05-27 08:59] #2037 closed

[2022-05-27 09:52] Haarolean opened #2043 "Prepare documentation with required permissions"
We need a documentation with a clear list of required permissions:
1) Kafka ACL mapping to app features, which perms are required for which actions; minimum set of perms required to run the app
2) The same for AWS MSK

related: #1452

[2022-05-27 10:29] #2000 closed

[2022-05-27 10:54] Haarolean opened #2046 "Table projections for topic messages"
Would be nice to display a table with topic messages where columns list will be predefined (like key/value fields paths in our smart filters).

1) paginated
2) optionally add headers as columns
3) ability to still apply search, filters, modes (newest first/oldest first)

**Please vote for the issue if you're interested in it**

[2022-05-27 13:13] nikhilsuryan-sky opened #2051 "Read only mode allow users to read the message content."
**Describe the bug**

Hi guys. I really like what you're doing, not sure if that is on pupose, but in readonly mode you can watch messages. I was wondering if you can have a option to hide the messages in read only mode. We wanted to give the access to clients, but anyone can look at anyone else message which is not great. Also, the produce message option is enable in read only mode.

As there is

[2022-05-27 13:42] Haarolean opened #2052 "Disable "produce message" button for r/o clusters"

[2022-05-27 13:44] Haarolean commented on #2051
Hey, thanks for the feedback!

Yes, this is intended, "read-only" just disables modifying actions.
We're planning to implement a granular access within #753, #1352, #1027.
#1027 you're interested in will be implemented after #753, but, most certainly, in the same, current, release.

Regarding the button: yea, it seems it's visible, but you won't be able to produce a message anyway. I've raised an

[2022-05-27 13:44] #2051 closed

[2022-05-27 14:21] nikhilsuryan-sky commented on #2051
Thanks @Haarolean for the update, this is amazing. Do you know when these feature will be available? or when you are planning to release the new version with these features?

[2022-05-30 07:24] #2014 closed

[2022-05-30 07:38] #1884 closed

[2022-05-30 07:46] #2013 closed

[2022-05-30 10:15] #2005 closed

[2022-05-30 10:24] #2007 closed

[2022-05-30 12:55] #2023 closed

[2022-05-30 14:36] #2008 closed

[2022-05-31 02:12] #2001 closed

[2022-05-31 04:03] MindMindMind opened #2055 "Can't use authentication feature"
Hi,

I'm trying to use the authentication feature I think it uses this code

`AUTH_TYPE: "LOGIN_FORM"
 SPRING_SECURITY_USER_NAME: admin
 SPRING_SECURITY_USER_PASSWORD: pass`

below  KAFKA_CLUSTERS_0_ ....

I have nines clusters and drop this code to the end of kafka_cluster, but it doesn't work. The pod doesn't run after that.
It keeps restarting.

I'm thinking about maybe this is because of chart

[2022-05-31 08:11] Haarolean commented on #2055
Hi, please provide your pod logs.

[2022-05-31 08:18] Haarolean commented on #1168
#1962

[2022-05-31 09:03] MindMindMind commented on #2055
![image](https://user-images.githubusercontent.com/106572537/171136047-9b05f697-c381-44b9-9331-6b06e621bec9.png)

as you can see below it wasn't run but keep  restarting.

[2022-05-31 09:28] Haarolean commented on #2055
@MindMindMind please show your full config (without sensitive data ofc)

[2022-05-31 09:32] #2031 closed

[2022-05-31 09:33] #1961 closed

[2022-05-31 09:35] MindMindMind commented on #2055
`replicaCount: 1

image:
  repository: xxxxxx
  pullPolicy: xxxxxx
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account

[2022-05-31 09:39] MindMindMind commented on #2055
`replicaCount: 1
image:
  repository: xxxxxx
  pullPolicy: xxxxxx

  tag: "latest"
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:

  create: true

  annotations: {}

  name: ""
existingConfigMap: ""
existingSecret: ""
envs:
  secret:
    KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: xxxxxx
    KAFKA_CLUSTERS_1_PROPERTIES_SASL_JAAS_CONFIG: xxxxxx
    KAFKA_CLUSTERS_2_PRO

[2022-05-31 09:41] Haarolean commented on #2055
@MindMindMind
please remove these:
[code]
Once you do, if the app starts successfully, please check the app version you have in UI (top left corner) and share it with me.

[2022-05-31 09:53] Haarolean commented on #1466
Please try [this test build](https://s3.haarolean.dev/public/kafka-ui/issues-1466/kafka-ui_AD.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=E0RUWZ730FILD79NK7L6%2F20220531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220531T094821Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJFMFJVV1o3MzBGSUxENzlOSzdMNiIsImV4cCI6MTY1Mzk5MzA2MSwicGFyZW

[2022-05-31 09:54] MindMindMind commented on #2055
![image](https://user-images.githubusercontent.com/106572537/171146908-5a716054-cbfe-4720-a8ab-c8de1d18360f.png)

[2022-05-31 10:58] #2030 closed

[2022-05-31 11:07] MindMindMind commented on #2055
The only way that it can start is remove

`AUTH_TYPE: "LOGIN_FORM"
SPRING_SECURITY_USER_NAME: admin
SPRING_SECURITY_USER_PASSWORD: pass`

but it will not authentication.

[2022-05-31 11:13] armenuikafka opened #2061 "Topic/Settings and Topic/Consumers are empty with corresponding URLs redirection"
**Describe the bug**
The pages stays empty in case of redirecting by URL for Topic/Settings and Topic/Consumers

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Open the URL of Settings/Consumers tab for Topic (https://www.kafka-ui.provectus.io/ui/clusters/local/topics/LLLLLLLLLL-copy-2/settings)

**Expected behavior**
The topic correspon

[2022-05-31 11:20] Haarolean opened #2062 "Nothing happens upon creating a connector"
1. create a connector successfully
2. Nothing happens in UI, no notifications/page redirections

[2022-05-31 11:42] MindMindMind commented on #2055
`
  _  __      __ _               _   _ ___
 | |/ /__ _ / _| | ____ _      | | | |_ _|
 | ' // _` | |_| |/ / _` |_____| | | || |
 | . \ (_| |  _|   < (_| |_____| |_| || |
 |_|\_\__,_|_| |_|\_\__,_|      \___/|___|

[30m2022-05-31 11:12:47,022[0;39m [34mINFO [0;39m [[34mmain[0;39m] [33mc.p.k.u.KafkaUiApplication[0;39m: Starting KafkaUiApplication using Java 13.0.9 on kafka-ui-d456995b7-hq2w

[2022-05-31 11:47] Haarolean commented on #2055
@MindMindMind please update to the latest version.

[2022-05-31 11:49] MindMindMind commented on #2055
OK and I will run again.

[2022-05-31 11:50] MindMindMind commented on #2055
To make sure that I understand correct. This is the thing that I have to do right

![image](https://user-images.githubusercontent.com/106572537/171166503-93a5027c-9041-4bf2-9425-d75ad6ba5c0b.png)

[2022-05-31 11:53] Haarolean commented on #2055
helm chart version has been changed [as well](https://github.com/provectus/kafka-ui/blob/master/charts/kafka-ui/Chart.yaml#L5), so you better change it to 0.0.3. App version can be either `latest` or `v0.4.0`.

[2022-05-31 12:12] MindMindMind commented on #2055
![image](https://user-images.githubusercontent.com/106572537/171170224-a74cfaee-0597-4639-bc04-a8d4e2aeaea8.png)

Hmm. it has logs look like this. There is no error, but still keeps restarting.

[2022-05-31 12:33] MindMindMind commented on #2055
how to chat?

![image](https://user-images.githubusercontent.com/106572537/171174080-30c22c09-f0f9-4fd7-9f79-53ea247546ed.png)

[2022-05-31 13:04] Haarolean opened #2076 "Implement connectors sorting"
1. Migrate table to new table component
2. Implement sorting
3. Related issue https://github.com/provectus/kafka-ui/issues/2325
The list is unsorted at all

<img width="299" alt="image" src="https://user-images.githubusercontent.com/1494347/171179908-5447271c-e17d-4921-abfe-3a7e4239756a.png">

[2022-05-31 13:24] Mgrdich opened #2078 "Redux States should be refactored"
### Is your proposal related to a problem?
Everywhere in the code base there is string representation  of the states like this can lead to grammatical errors.

`export const getAreTopicsFetched = createSelector(
  getAreTopicsFetchingStatus,
  (status) => status === 'fulfilled'
);`

even in the initial loader selectors

### Describe the solution you'd like
[code]
And to be replaced Everywhere.

[2022-05-31 13:49] armenuikafka opened #2079 "Redirection issue from Connector profile's path to Dashboard instead of Connectors page"
**Describe the bug**
With click on Connectors from Connector path, system redirects to Dashboard instead of Connectors

**Set up**

https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Kafka Connect
2. Open any Connector
3. Press on Connectors from the path

**Expected behavior**
Connectors page should open

**Screenshots**

https://user-image

[2022-05-31 13:58] armenuikafka opened #2080 "Linked Consumer is not displayed within Topic/Consumers tab"
**Describe the bug**
Linked Consumer is not displayed within Topic profile /Consumers tab

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Consumers
2. Open the Consumer profile
3. Click on linked Topic
4. Turn to Consumers tab

**Expected behavior**
Linked Consumer should display within Topic/Consumer

**Screenshots**

https:/

[2022-05-31 15:04] #2052 closed

[2022-05-31 15:12] armenuikafka opened #2083 "KSQL view data doesn't load"
**Describe the bug**
Sometimes KSQL DB data is not loading and 422 error appears

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to KSQL DB

**Expected behavior**
All the data should display within KSQL DB

**Screenshots**

https://user-images.githubusercontent.com/104780608/171206802-370b2991-75e7-43e8-b137-5bd15c397c9d.mov

**A

[2022-05-31 15:39] armenuikafka opened #2084 "Not functional Compare Versions for Schema"
**Describe the bug**
Compare versions for Schema is not working

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Open the Schema
3. Press 'Compare Versions'

**Expected behavior**

- The right path should be displayed
- Comparing should be available

**Screenshots**

https://user-images.githubusercontent.com/

[2022-05-31 15:40] Haarolean commented on #2061
#1961

[2022-05-31 15:40] Haarolean commented on #2084
#1961

[2022-05-31 15:52] #1334 closed

[2022-05-31 16:30] iliax commented on #2080
Checked this issue - on "latest" image its works fine, so we need to review changes applied to master.

[2022-05-31 17:46] armenuikafka opened #2085 "Recreate Topic is not functional"
**Describe the bug**
Not possIble to recreate Topic from both: Topics page and Topic profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Press menu icon
3. Select Recreate Topic

**Expected behavior**

- Success message should appear about recreating
- The Topic should be recreated

**Screenshots**

https://user-

[2022-05-31 17:58] armenuikafka opened #2086 "Not displayed success message about removing a Topic"
**Describe the bug**
Success message is not displayed with removing a Topic from both: Topics page and the Topic's profile

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Press menu icon
3. Select Remove Topic

**Expected behavior**
The success message about Topic removing should be displayed

[2022-05-31 18:18] armenuikafka opened #2087 "Loading icon stays with removIng more than one Topics"
**Describe the bug**
In case of removing more than one Topics the load icon stays in process

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Check more than one ToPic
3. Press 'Delete selected topics'

**Expected behavior**
The loading icon should disappear and topics should be removed wIthout refreshing

**Screensho

[2022-06-01 07:21] armenuikafka opened #2088 "Connector't tasks count update is not available without refreshing"
**Describe the bug**
Connector tasks count update avaIlable only after refresh

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Kafka connect
2. Open the Connector
3. Edit config
4. Change Topics count
5. Turn to Tasks tab

**Expected behavior**
Tasks updated count update should be available without refreshing the Connector

**

[2022-06-01 08:12] Mgrdich opened #2091 "Remove History from dependencies"
### Describe the solution you'd like

The history library is a direct dependency of v6 (not a peer dep), so you won't ever import or use it directly. Instead, you'll use the `useNavigate()` hook for all navigation .

https://reactrouter.com/docs/en/v6/upgrading/v5

[2022-06-01 08:33] #2091 closed, assigned to Mgrdich

[2022-06-01 09:21] Haarolean commented on #2055
Charts were outdated, thus failing health probes

[2022-06-01 09:21] #2055 closed

[2022-06-01 11:14] Haarolean commented on #1778
Backend: implement a flag to report jmx metrics availability

[2022-06-01 12:41] iliax commented on #2083
need to make UI use new API

[2022-06-01 14:25] armenuikafka opened #2096 "Issue related responsive view of Topic/Schema/Connector profile"
**Describe the bug**
In case of setting responsive view information is not displayed fully within Topic/Schema/Connector profiles

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topic/Schema/Connector profile
2. Make the browser window smaller

**Expected behavior**
If the window becomes smaller, all the information/buttons sh

[2022-06-01 14:28] Haarolean commented on #2096
#1392

[2022-06-02 06:31] usmanq8 opened #2097 "Not able to fetch Kafka details"
I am using **Kafka 0.9.x** version, i installed UI FOR KAFKA using Docker and then following directions to add bootstrap server using
**host.docker.internal:9092** against **KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS** env. variable.
now on UI it connects but does not bring any details and throws exception.

`2022-06-02 06:29:35,420 INFO  [parallel-3] o.a.k.c.u.AppInfoParser: Kafka version: 2.8.0
2022-06-0

[2022-06-02 08:48] Haarolean commented on #2097
Hi, please provide the details on how you run the app: docker command/docker-compose

[2022-06-02 08:52] usmanq8 commented on #2097
I am using Docker Desktop --> Kitematic and installed UIFORKAFKA and configured only above ENV. Var as mentioned. and tried to access it. It picks up Kafka as Default but cannot fetch META DETA at any level.

[2022-06-02 08:53] Haarolean commented on #2097
How did you "install" the app? How do you run it? Please provide more info on that.

[2022-06-02 09:03] Haarolean commented on #1466
@madrisan updated the link. It'll be active for 7 days.

[2022-06-02 09:14] Haarolean commented on #1022
#1778

[2022-06-02 09:21] #2015 closed

[2022-06-02 09:23] usmanq8 commented on #2097
Simply Thru KITEMATIC i can search an image, and CREATE, it gets me instance ready on Docker.
Then in its Settings i provide ENV. Variable as mentioned on UI FOR KAFKA. it picks up server but as said does not get META DATA
![1](https://user-images.githubusercontent.com/41000007/171599194-e0332d50-5669-4c65-93e7-40cf504a6e97.png)
![2](https://user-images.githubusercontent.com/41000007/171599205-98c

[2022-06-02 09:33] #2078 closed

[2022-06-02 09:43] Haarolean commented on #2097
There's a chance that host.docker.internal might not work especially on linux. Could you try `172.17.0.1` instead? You can also verify that it's the right network/host. Also, don't forget that you have to adjust kafka's advertised listeners adding one with the corresponding host.

[2022-06-02 09:49] usmanq8 commented on #2097
172.17.0.1. is not valid, I am using Windows OS.

[2022-06-02 09:53] Haarolean commented on #2097
Do this:
`docker exec -it kafka-ui sh`
and there do the following:
`ping host.docker.internal`
is it reachable?

[2022-06-02 10:31] Haarolean commented on #2097
Run `ipconfig` on your host machine, check docker's network IPv4 address, it might be `10.0.75.1`

[2022-06-02 10:45] #2086 closed

[2022-06-02 11:31] madrisan commented on #1466
Sorry. I'm unable to bypass the image arch issue
[code]
that ends up in a runtime error (even when running with `--platform "linux/amd64"`)
[code]

[2022-06-02 11:54] Haarolean commented on #1466
Oh well, let's try [this one](https://s3.haarolean.dev/public/kafka-ui/issues-1466/kafka-ui_AD.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=702E1PC51NRF95FEIVWD%2F20220602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220602T115406Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiI3MDJFMVBDNTFOUkY5NUZFSVZXRCIsImV4cCI6MTY1NDE3NDM3NiwicGFyZ

[2022-06-02 13:45] usmanq8 commented on #2097
Sorry i was pinging on wrong window it got pinged and address was 10.x.x.x.
so
`KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS =  10.x.x.x:9092`
`KAFKA_ADVERTISED_LISTENERS = PLAINTEXT://10.x.x.x:9092`

Modified kafka server.properties to have listener on above address too.

Below exception occurs after it:

`2022-06-02 13:44:11,172 INFO  [parallel-1] o.a.k.c.u.AppInfoParser: Kafka version: 2.8.0
2022-06-02 13

[2022-06-02 15:32] madrisan commented on #1466
Thanks.
I get an `Authentication failed: Invalid Credentials` message:
[code]
Is LDAPS (our current setting) supported?

[2022-06-02 16:31] madrisan commented on #1466
Thanks.
I got an UNAUTHORIZED login error:
[code]
I need to investigate more bit I'll be off for some days.

[2022-06-02 17:32] usmanq8 commented on #2097
**With Kafka 2.8.0 it works** and does not work with Old version. please confirm if that is the case here.

[2022-06-02 20:35] Haarolean commented on #2097
it might be, but usually we get something different (#1550) than timeouts. So I was trying to fix the timeouts/connectivity issue first. If it does work with newer versions, I'd suggest just updating your kafka, since we don't have bandwidth to support such an old version (it's about 7 years old, btw).

[2022-06-02 20:41] Haarolean commented on #1441
Hey, thanks for trying it out. As far as I understand, there has to be a `hd` [request parameter present](https://developers.google.com/identity/protocols/oauth2/openid-connect#hd-param), I haven't figured it out how to do that so I just mocked the request and thought you have the same setup (seems like @igimot was able to set this param).
Let me know if you figure this out :)

[2022-06-02 20:42] Haarolean opened #2102 "Restrict github organizations via OAuth"

[2022-06-02 20:49] adrianoapj commented on #1441
Hmm, that's weird, I checked and `hd` parameter is present:
https://share.cleanshot.com/sO3FPR
While my environment variable is set to:
https://share.cleanshot.com/jkoGyB

[2022-06-02 21:22] madrisan commented on #1466
Yes, we use LDAPS and I thought also of a probable certificate issue. It's a recurrent issue. Thanks for the documentation! I'll try to test this setup next week.

[2022-06-03 03:59] raferg opened #2103 "Topics fail to list, or refresh with an empty list when one of the connected brokers is killed"
**Describe the bug**

I've been testing failure handling in my local configuration, and have discovered that when i take down one of the brokers via a docker kill command, the ui cannot list any topics. It is fine listing brokers, and consumers, but it cannot list the topics.

During my test i took down brdg-broker-one and it fails to list any topics (has a spinning icon indefinitely). In a separa

[2022-06-03 08:51] Haarolean commented on #2103
Hey, thanks for raising the issue. We'll take a look.

[2022-06-03 08:53] Haarolean commented on #1441
@adrianoapj how do I configure that thing on google's side so I can test a real case?

[2022-06-03 09:33] anthares commented on #1768
A bit late, but thank you @Haarolean for fixing this :)

[2022-06-03 12:54] Haarolean opened #2111 "Add social icons in UI"

[2022-06-03 13:21] usmanq8 commented on #2097
Our current version is on PROD and cannot but moved to 0.10.2.2 now. i will try out with that.
**Also provide the older version you support.**

[2022-06-03 13:46] Haarolean opened #2112 "KSQL response: isWindowed is empty"
1. run `show tables;`
2. <img width="911" alt="image" src="https://user-images.githubusercontent.com/1494347/171864091-37ef3ed8-549c-429c-a8f5-f041d74d3059.png">

[2022-06-03 13:47] Haarolean opened #2113 "KSQL table list columns list is broken"
<img width="1303" alt="image" src="https://user-images.githubusercontent.com/1494347/171866853-95863ace-cef9-4b41-b903-0bb16adae8f5.png">

[2022-06-03 13:50] Haarolean opened #2114 "KSQL: Separate tables list by tabs"
On main ksql page there's a list of streams/tables, they're currently a part of the same table. Let's separate them by tabs

[2022-06-03 16:42] kandji-alex commented on #1444
I'm seeing a similar error with KafkaConnect where it's trying to hit an api endpoint:
```500 Server Error for HTTP GET "/api/clusters/local/connectors?search="```
that also doesn't seem to exist, per Confluent's API.

[2022-06-03 21:27] andrewm42 opened #2116 "Cannot authenticate with SASL_SSL and SCRAM-SHA-512 (comma in password)"
**Describe the bug**
I am attempting to authenticate via docker-compose with the following confguration:

[code]

However, I get the following errors when running the container:

[code]

My kafka cluster is setup to use SASL/SCRAM. The same configuration works from the kafka CLI and from various other apps hosted on the same machine running in various different languages (go, c#, python).

**Set u

[2022-06-04 13:08] Haarolean commented on #2116
Hi, don't you have any special characters in your password, like commas?

[2022-06-04 13:12] Haarolean opened #2118 "SASL GSSAPI can't login with newer JREs due to allow_weak_crypto"
additional cases:
- https://discord.com/channels/897805035122077716/1062065543831625768

### Discussed in https://github.com/provectus/kafka-ui/discussions/2107

<div type='discussions-op-text'>

<sup>Originally posted by **cassanellicarlo** June  3, 2022</sup>
Hello, i have two Kafka clusters with SASL integration for Kerberos. I use the Kerberos Ticket to authenticate to the cluster. I was using

[2022-06-04 13:13] Haarolean commented on #2118
@cassanellicarlo does it still work with 0.3.3 if you downgrade?

[2022-06-04 15:18] Haarolean commented on #1444
That's our backend with our API, not confluent's. Please raise a new issue.

[2022-06-04 15:22] Haarolean commented on #2097
I don't have a list unfortunately, I hope anything with 2.x.x should work.
I'll close this as a duplicate of #1550.

[2022-06-04 15:22] #2097 closed

[2022-06-04 15:22] Haarolean commented on #1768
You're welcome :)

[2022-06-05 21:23] mhorlacher commented on #1768
I'm still running into this issue - which nginx configuration()s) are you using @Haarolean @anthares ?

[2022-06-05 22:24] anthares commented on #1768
I have not tested with nginx, since I'm using traefik as reverse proxy.
It do works with 0.4.0 with standard configuration, nothing fancy.

Maybe make sure you pulled the latest image, or check examples as they provide working configurations.

[2022-06-06 02:11] #1928 closed

[2022-06-06 07:27] armenuikafka opened #2122 "Underscore line is present even for deselected tabs"
**Describe the bug**
Overview tab always highlighted within component profile (Topic, Connector)

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topic/Connector
2. Turn other than Overview tab

**Expected behavior**
Overview tab kept highlighted with turning to the other tab

**Screenshots**
<img width="1718" alt="ui for tab"

[2022-06-06 07:34] #2087 closed

[2022-06-06 08:14] #2085 closed

[2022-06-06 09:29] workshur opened #2124 "Breadcrumb and title looks weird on Create new topic page"
**Describe the bug**

1. BreadCrumb component renders `create-new` chunk of url without transformation
2. Title looks weird
3. The form should be centered on the page. Just like the topic edit page

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to Create new topic page

**Expected behavior**

All of these errors must be corrected. And the component should look the way the Figma ma

[2022-06-06 09:47] Haarolean opened #2127 "Sidebar sandwich menu click doesn't work"
![image](https://user-images.githubusercontent.com/1494347/172137726-51708bf0-cba5-42c7-91bb-fe0f5130fdbb.png)

[2022-06-06 09:50] workshur opened #2128 "Compare schema button is broken"
**Describe the bug**

Compare button on schema page leads to a page that does not exist. Something bad with method to generate href of the button
Now it generates:
[code]

**Set up**

**Steps to Reproduce**
Steps to reproduce the behavior:

1.

**Expected behavior**

Compare button should works as expected

**Screenshots**

**Additional context**

[2022-06-06 10:03] Haarolean commented on #2084
#2128

[2022-06-06 10:03] Haarolean commented on #2128
#2084 regression

[2022-06-06 10:06] #2128 closed

[2022-06-06 10:06] Haarolean opened #2129 "Fix SSO images links"
and host them properly this time

https://github.com/provectus/kafka-ui/blob/master/documentation/guides/SSO.md

[2022-06-06 10:12] Haarolean commented on #1480
Duplicate of #1314

[2022-06-06 10:12] #1480 closed

[2022-06-06 11:18] #2096 closed

[2022-06-06 12:08] sufiyansaboowala opened #2132 "krb5.conf loading failed"
Placed krb5.conf under /etc/krb5.conf

Docker Image versions
provectuslabs/kafka-ui:latest

Config I am using:
volumes:
        - ./data/secrets:/opt/inventory/security
        - ./data/secrets:/etc/krb5.conf
    ports:
      - 8080:8080
    depends_on:
      - kafka0
      - kafka-connect0
    environment:
      KAFKA_CLUSTERS_0_NAME: name
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: server1:39092,se

[2022-06-06 16:42] DBTK1990 commented on #1306
@Haarolean can i become a contributor for this feature will be glad to take this from your hand, really love this product,
and would like to help :)

[2022-06-06 18:05] #1314 closed

[2022-06-06 18:15] #711 closed

[2022-06-06 22:06] Haarolean commented on #2128
seems like a duplicate, not a regression

[2022-06-06 22:06] #2084 closed

[2022-06-06 22:08] Haarolean commented on #2132
Hi, what's the issue exactly?

[2022-06-06 22:09] Haarolean commented on #2129
[Done](https://github.com/provectus/kafka-ui/wiki/Set-up-OAuth2---SSO). Need to get rid of SSO.md in a git tree instead.

[2022-06-06 22:09] #2129 closed

[2022-06-06 22:19] Haarolean commented on #1306
hi and welcome! Yeah, please, go ahead.
Please note that we have some (de)serializers for schema registry, so we'd have to implement some for glue as well. Also note that #1816 is in progress so we might need to refactor it in the future.
Also, feel free to join us on discord if you have any questions (development-related, or in general).

[2022-06-06 22:25] Haarolean commented on #936
thanks, added this into FAQ

[2022-06-06 22:41] Haarolean commented on #1667
@lllsJllsJ do you have any special characters in a password by any chance? if yes, please comment on #2116

[2022-06-06 22:42] Haarolean commented on #2116
Yeaaah, it seems like it has to be, since it's not the first time we encounter such a problem. Thanks!
#1928 (#911?)

[2022-06-06 22:43] Haarolean commented on #1928
To be fixed within #2116

[2022-06-07 02:47] sufiyansaboowala commented on #2132
Hi Haarolean,
The issue I see is its unable to detect krb5.conf which has no issues itself.

[2022-06-07 07:29] #2113 closed

[2022-06-07 08:03] cassanellicarlo commented on #2118
@Haarolean yes it works with 0.3.3

[2022-06-07 08:37] DBTK1990 commented on #1306
can u give me an invite link for the discord group
u can send it to my email dudu.benafashi@gmail.com

[2022-06-07 08:40] MindMindMind opened #2134 "Can't use secret to auth"
Hi, I'm Mind

I'm trying using secret for auth feature.
At first, it works after I put username and password direct with the secret, and then since we have user/pass on vault. For security, I need to call it from the vault.

`username=$( echo $1 | base64)
password=$(echo $2 | base64)
VALUES_PATH=$3

sed -i "s/USER_NAME:/& $username/" $VALUES_PATH
sed -i "s/USER_PASSWORD:/& $password/" $VALUES_PATH

[2022-06-07 09:04] Haarolean commented on #1306
https://discord.gg/4DWzD7pGE5
it's in the readme as well, btw

[2022-06-07 09:46] armenuikafka commented on #2088
Seems works as the same

https://user-images.githubusercontent.com/104780608/172350115-6edab037-7477-4096-ac07-8d96f73f44c7.mov

[2022-06-07 12:12] Haarolean commented on #2132
Can you provide the error you experience? Container logs maybe?

[2022-06-07 12:33] Haarolean commented on #2118
@cassanellicarlo is there any chance you could provide a docker run command/docker-compose to reproduce the issue? I mean kafka container configuration in particular.

[2022-06-07 12:37] Haarolean commented on #2116
@andrewm42 could you provide a kafka setup example to reproduce the issue? Docker-compose would be fine.

[2022-06-07 12:38] Haarolean commented on #2122
Seems being fixed.

[2022-06-07 12:38] #2122 closed

[2022-06-07 13:19] armenuikafka opened #2140 "Not possible to add message for a topic"
**Describe the bug**
Error appears with creating a message for a Topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topic profile
2. Turn to Messages tab
3. Produce message
4. Add Key/Content/Headers
5. Press Send

**Expected behavior**
Message should be added without any error in a console and error message for ui.

**Scre

[2022-06-07 13:29] armenuikafka opened #2141 "Brokers page is broken"
**Describe the bug**
ChunkLoadError: Loading chunk 317 failed. error appears with navigation to Brokers

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Brokers

**Expected behavior**
Brokers info should display without any error

**Screenshots**

https://user-images.githubusercontent.com/104780608/172392038-4af577fc-e8c7-442c-

[2022-06-07 15:41] #2141 closed

[2022-06-07 17:31] Haarolean commented on #2140
"partition" selector value is not sent unless specified explicitly by user
the same behavior for #1725

[2022-06-07 17:40] Haarolean commented on #2051
@nikhilsuryan-sky each feature in particular -- no clue, it depends on our bandwidth. The release might be out in a few months or less. Anyway, RBAC is the main feature on this release.

[2022-06-08 06:03] armenuikafka commented on #2083
Seems the issue already exists.

<img width="1718" alt="ksql new" src="https://user-images.githubusercontent.com/104780608/172543231-8b47ca56-58f4-4089-97b2-6a6bd2fcb807.png">

[2022-06-08 06:06] iliax commented on #2083
@armenuikafka this is not connected with ksql, your cognito session just closed

[2022-06-08 06:08] armenuikafka commented on #2083
@iliax thanks, will take a look

[2022-06-08 10:53] Haarolean opened #2143 "Make broker table row clickable"
It's not convenient to press on the number, let's make the whole row clickable.
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/1494347/172599358-b2a52a90-8e67-40e0-ae95-171dbf94845f.png">

[2022-06-08 10:55] Haarolean opened #2144 "Topic message info layout is broken"
<img width="416" alt="image" src="https://user-images.githubusercontent.com/1494347/172599553-28a0079f-ac6c-443d-82e1-e2d6721bfa7c.png">

[2022-06-09 06:57] #2083 closed

[2022-06-09 07:01] #2127 closed

[2022-06-09 08:29] #2112 closed

[2022-06-10 08:31] ymlai87416 commented on #2144
Hello, I am newbies and I am willing to help.

I checked the code, the Label box is hardcoded in 50px. Is this you are referring as broken UI?

[  width: 50px;](https://github.com/provectus/kafka-ui/blob/e4dc1134abe45ee72c10d454eb7e4e326c52e194/kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/MessageContent/MessageContent.styled.ts#L59)

[2022-06-10 10:05] Haarolean commented on #2144
@ymlai87416 hi and welcome! Feel free to tackle this.
Yes, "timestamp" and "content" labels are being wrapped.

[2022-06-10 14:13] adrianoapj commented on #1441
Here is a step-by-step guide:

First, you will need a Google Cloud Platform with a project on it, if you don't have it, then you probably are eligible for a free trial (https://console.cloud.google.com/freetrial) and then get started.

1. Configure your consent screen (https://console.cloud.google.com/apis/credentials/consent). You can fill it with test values and I guess `openid` is enough scope

[2022-06-10 15:25] Haarolean commented on #1441
Hey, thanks for the more detailed guide, I was asking regarding the hd parameter in particular. I've been able to set up the rest with the previous guide you provided but I've no idea how to make google include this param upon authentication tbh.

[2022-06-10 15:30] adrianoapj commented on #1441
Oh, got it! Well, by default hd parameter should be there, except when you are using a Gmail account in this case, according with documentation hd is not included)

![image](https://user-images.githubusercontent.com/26484303/173099833-8fa9039d-3d91-4ec3-92dd-02b3ef09db4f.png)

[2022-06-10 15:35] Haarolean commented on #1441
Ahh, that might be it. I tried setting up a cloud app but tried logging in via personal account to test the feature. I'll check it out asap and will get back to you, thanks!

[2022-06-10 16:26] kshpilchyna opened #2152 "Schema registry: Should not be possible to change a schema type during editing"
Steps:
1. Schema 'AVRO' created
2. Open created schema
3. Select 'Edit Schema'
4. Try to change a type

Actual result:
3. It's possible to change a type of schema

<img width="1541" alt="Screenshot 2022-06-10 at 18 20 42" src="https://user-images.githubusercontent.com/79516954/173110078-89cf8ec9-8897-40be-bad8-2574301f7bca.png">

Expected result:
3. Should not be possible to change a type, so it's

[2022-06-10 21:21] Haarolean commented on #1441
I've been able to receive a request with an `hd` param present as you described.
Let's see what's going on in your case.
Let's try [this image](https://s3.haarolean.dev/public/kafka-ui/issue-1441/kafka-ui_GAUTH.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=8DM907ZBYD79S61M42LE%2F20220610%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220610T212056Z&X-Amz-Expires=604800&X-Amz-Security-Toke

[2022-06-11 06:31] naaive commented on #985
no need docker, pack java binary with electron together will be ok.

[2022-06-12 14:30] sw-tracker commented on #597
I would suggest adding an environment variable to enable/disable this feature. In some industries with sensitive data, we will not be allowed to export data so easily.

[2022-06-12 14:31] sw-tracker commented on #2003
+1

[2022-06-12 14:39] sw-tracker commented on #754
Will this still be included in release 0.5?

[2022-06-13 06:58] armenuikafka opened #2154 "Add asterisk for required Custom parameter field within Create Topic form"
**Describe the bug**
Please add an asterisk for Custom parameter required field

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Press Add a Topic
3. Add Custom Parameter
4. Press submit

**Expected behavior**
The required field should have the asterisk to be filled by user

<img width="1718" alt="required custom para

[2022-06-13 07:32] moinmoin commented on #2118
If the environment ist Java 17 here and the previous was a version <17, a hotfix could be "allow_weak_crypto = true" in section [libdefaults] in krb5.conf.

[2022-06-13 11:46] kshpilchyna opened #2158 "Autotests: need to move all -non test classes to src/main"
All utils/helpers/pages with locators should be located in the src/main
Just tests and resources which use in test should be in src/test

[2022-06-14 10:10] LuoLaHansom opened #2160 "Is there a version requirement for this component？My kakfka version is 2.8.0 and it does not work"
**Describe the bug**

ERROR [parallel-5] c.p.k.u.s.MetricsService: Failed to collect cluster kafka-ui info
org.apache.kafka.common.errors.TimeoutException: Call(callName=describeLogDirs, deadlineMs=1655197088582, tries=1, nextAllowedTryMs=-9223372036854775709) timed out at 9223372036854775807 after 1 attempt(s)
Caused by: org.apache.kafka.common.errors.TimeoutException: Timed out waiting to send t

[2022-06-14 11:21] MindMindMind commented on #2134
It's back to works for some reason. I guess it doesn't works since vault function on jenkinsfile. Anyway, will close this.

[2022-06-14 11:21] #2134 closed

[2022-06-14 11:29] Haarolean opened #2162 "Change message timestamp format"
US locale: mm/dd/yyyy
any other locale: dd-mm-yyyy

<img width="319" alt="image" src="https://user-images.githubusercontent.com/1494347/173567067-9b50a673-dc42-4946-859c-7bf355935447.png">

[2022-06-14 11:30] Haarolean opened #2163 "Make message timestamp format configurable"
We changed default date format as requested in #2162.

We need the datetime format configurable on the frontend for the ones who prefer the US format or anything else.

[2022-06-14 11:32] armenuikafka opened #2164 "Handle error message for schemas"
**Describe the bug**
Not user friendly error message appears with submitting wrong data in Schema

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Open the schema
3. Edit the schema
4. Let any field empty or input wrong data
5. Press submit

**Expected behavior**
Error message about wrong data should be user

[2022-06-14 17:42] raphaelauv opened #2166 "custom timezone in UI"
### Is your proposal related to a problem?

Currently the front-end use the local user timezone to render kafka timestamp

[code]

### Describe the solution you'd like

custom in the front end the timezone and be able to select UTC

### Describe alternatives you've considered

### Additional context

apache airflow have this feature , it's really practical , example ->
![Screenshot from 2022-06-14

[2022-06-14 20:19] Haarolean commented on #985
hey, thanks for the suggestion. Feel free to raise a new PR for the feature if you're feeling like you could implement this.

[2022-06-14 20:28] Haarolean commented on #597
#1352

[2022-06-14 21:14] tcortega opened #2167 "Incorrect order of requests for changing SR compatibility lvl and schema itself"
TODO:
https://github.com/provectus/kafka-ui/issues/2167#issuecomment-1158835488

**Describe the bug**
When attempting to edit a schema within the schema registry screen, I get an error that does not give me any information.

**Set up**
If needed I can provide later-on, but we basically set up a simple kafka cluster and the schema registry itself, using confluent's docker image.

**Steps to Reprodu

[2022-06-14 21:38] moinmoin commented on #1452
Using Kafka-UI in a multi-tenant scenario is not working currently. Main reason is, that there are no clusterwide permissions assigned to users. So referring to this table the following permissions are granted:
https://docs.confluent.io/platform/current/kafka/authorization.html

Topics:
Describe, DescribeConfigs, Read and if needed Write (single topic oder wildcard) ; note: read implies describe
G

[2022-06-15 06:59] iliax commented on #2167
Hello @tcortega ,
change that you are doing is not backward compatible, since you don't provide new field default.
you can either change subject compatibility (to forwards for example) or make change backward compatible.

As for error message I agree that it is not informative, we will check how it can be fixed.

[2022-06-15 08:07] KevDi opened #2168 "TopicAuthorizationException when connecting to a Kafka Cluster with SSL"
If i run the Docker Compose File it seems to successfully connecting to the Kafka Cluster but it is unable to get the Metrics for that Cluster. It always gives me the log output: `org.apache.kafka.common.errors.TopicAuthorizationException: Topic authorization failed.`
I also used the same Keystore and Truststore in the COnfiguration with the Offset Explorer Tool and there everything works.

**Set

[2022-06-15 08:15] armenuikafka opened #2169 "Unnecessary line within KSQL DB / query"
**Describe the bug**
There is an Unnecessary line within KSQL DB / query

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to KSQL DB
2. Press 'Execute KSQL Request'

**Expected behavior**
The line is not necessary
Display: 3456 × 2234

**Screenshots**
<img width="1718" alt="line within ksql db" src="https://user-images.githubuserc

[2022-06-15 12:32] Haarolean commented on #2169
@provectus/kafka-frontend is that a 80 symbols line delimiter?

[2022-06-15 12:48] Haarolean commented on #1452
@moinmoin thanks for the feedback!

[2022-06-15 12:56] #2140 closed

[2022-06-15 15:18] armenuikafka opened #2173 "It's not clear that KSQL and Stream properties are required"
**Describe the bug**
Not displayed asterisks for KSQL, Stream properties and not displayed validation message in case of letting the Stream properties empty

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to KSQL DB
2. Execute KSQL Request
3. Press Submit

**Expected behavior**
Asterisks for KSQL and Stream properties should be d

[2022-06-15 15:32] tcortega commented on #2167
The same error happens when the compatibility level is set to forward

![image](https://user-images.githubusercontent.com/60912483/173867069-b1d041e4-1b29-4dfa-a3ba-b6a79ed44295.png)

[2022-06-15 23:30] akamensky opened #2175 "KafkaConnect restarting tasks does nothing"
**Describe the bug**

Using "restart all tasks" and "restart failed tasks" does nothing. Likely due to UI using a native methods for connector, however those methods do not work. The only way to actually restart tasks is to iterate through tasks and call a a method for each task individually.

**Set up**
* 3 node KafkaConnect cluster
* UI running in docker container (v0.4.0)

**Steps to Reproduce*

[2022-06-16 07:19] #2144 closed

[2022-06-16 09:57] #2114 closed, assigned to rAzizbekyan

[2022-06-17 02:58] tooptoop4 commented on #779
@shivansh how did u solve?

[2022-06-17 05:57] armenuikafka opened #2180 "The 'e' letter allowed to paste into number fields within Create a topic"
**Describe the bug**
the 'e' letter allowed to paste into number fields within Create a topic

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Add a Topic
3. Copy and paste word including 'e' letter into number fields

**Expected behavior**
Letters should not be allowed for number fields

[2022-06-17 06:04] armenuikafka opened #2181 "Change the name of path for Schema Compare versions"
**Describe the bug**
Change the name of path for Schema Compare versions

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Open the Schema
3. Press Compare Versions
4. Check the Path

**Expected behavior**
Could be better to display 'Compare' instead of 'Diff' for Schema versions compare

**Screenshots**
<img

[2022-06-17 06:17] armenuikafka opened #2182 "Move 'x' icon to be in the top right of error message"
**Describe the bug**
Move 'x' icon to be in the top right of error message

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Schema Registry
2. Edit the Schema
3. Let any field empty
4. Submit the schema
5. Check the error message

**Expected behavior**
Move the 'x' icon to be in the top right of error message

**Screenshots**
<

[2022-06-17 12:44] Haarolean commented on #2167
@provectus/kafka-frontend

When changing a schema, if both compatibility level and the schema itself are changed, there are two requests sent to backend:
1. update schema
2. update compatibility level

and the order of these is incorrect. It should be vice versa.

[2022-06-17 12:47] Haarolean commented on #2173
stream properties is not a required field

[2022-06-17 12:47] #2173 closed

[2022-06-17 13:47] Haarolean commented on #2175
hey Alex, that's what we actually do -- we call a restart for each of the tasks. Are you sure that nothing happens? Have you tried waiting for some time and refreshing the page?

[2022-06-18 01:37] abezard opened #2184 "Failing to connect to MSK from Localhost"
Hi everyone,

I already apologize as it was probably asked many times, but I couldn't find a working answer to my issue in all the existing closed/opened issues.

I'm simply trying to connect to an AWS-managed Kafka cluster from my localhost, despite using very broad permissions for testing purposes.

My user has the following permissions in AWS:
[code]

I'm using the following `~/.aws/config` fil

[2022-06-18 02:23] SergKam opened #2185 "Support AWS MSK Serverless"
**Describe the bug**
The kafka-ui is working but the cluster is shown as "offline" and without topics.

**Set up**
I'm trying to use kafka-ui vv0.4.0(521ba0c) as a frontend for AWS MSK Serverless cluster mostly to create and manage topics.
I started a EC2 instance that uses IAM role with full access to the MSK cluster.
Basically,I just follow the tutorial https://docs.aws.amazon.com/msk/latest/dev

[2022-06-18 14:59] Haarolean commented on #2185
Hey, thanks for reaching out.

There's your problem in your logs:
`Caused by: java.lang.IllegalArgumentException: JAAS config entry not terminated by semi-colon`
Here's an [example](https://github.com/provectus/kafka-ui/blob/master/documentation/compose/kafka-ui-sasl.yaml#L20)

[2022-06-19 02:13] #2132 closed

[2022-06-19 20:33] SergKam commented on #2185
Unfortunately still not working. now the error
[code]

[2022-06-20 07:20] KevDi commented on #2168
@Haarolean Sorry for the late reply. There is not so much logs there:

[code]

[2022-06-21 07:15] ddud2nn opened #2189 "ALTER_PARTITION_REASSIGNMENT unavailable for kafka 2.3.1"
**Describe the bug**

The version of kafka I am using is 2.3.1.
Altering Partition Reassignments does not work when this is associated with kafka-ui.

**Set up**

Docker image version : provectuslabs/kafka-ui:master

**Expected behavior**

I expect all the features of kafka-ui to work successfully even if kafka version is 2.3.1.

**Screenshots**

![image](https://user-images.githubusercontent.com/

[2022-06-21 12:23] #2111 closed

[2022-06-21 14:00] Lokeshmaxi opened #2195 "Mutliple users creation"
I have deployed Kafka-UI using helm chart,kindly help us to create multiple users in Kafka-UI

[2022-06-21 15:16] qmarsala-cricut opened #2196 "Unable to view schemas in schema registry"
**Describe the bug**
I have added a protobuf schema to the registry that imports googles timestamp type.  When loading the schema registry ui, I now get a 404 because it cannot find the imported proto definition.  While this is somewhat expected, since I found out confluents registry wont be natively supporting google well known types until 6.2.0, it is frustrating that we can no longer see any sc

[2022-06-21 15:18] Haarolean commented on #2185
Okay, thanks. That's a totally different issue, it seems like we have to adjust some code to support _serverless_ MSK.

[2022-06-21 15:42] Haarolean commented on #2196
Hey, which SR version are you on?
I tried with `confluentinc/cp-schema-registry:5.5.0`, it seems to be working fine:
<img width="747" alt="image" src="https://user-images.githubusercontent.com/1494347/174841431-41a5dd14-6018-4420-bd43-8bf6f19d1641.png">

[2022-06-21 15:45] Haarolean opened #2197 "Make a separate endpoint for updating schemas"
Currently there's just one endpoint for both creating and updating a schema. Schema type param shouldn't be available when updating an existing schema.

[2022-06-21 15:53] #2143 closed

[2022-06-21 15:58] qmarsala-cricut commented on #2196
with sr: `confluentinc/cp-schema-registry:6.1.0`
and schema:
[code]

My application was able to register the schema which then broke my ability to view the schemas.
However, when trying to manually add this through the ui I now get 422: unprocessable entity

[2022-06-21 16:20] qmarsala-cricut commented on #2196
I am also unable to reproduce this by hand.  I am redeploying our broken build again to reproduce it that way.  I will let you know once that completes how it goes.
The code base is dotnet and uses the Confluent libraries:
Confluent.Kafka
Confluent.SchemaRegistry
Confluent.SchemaRegistry.Serdes.Protobuf

[2022-06-21 18:47] qmarsala-cricut commented on #2196
I'm not sure that I can, since "google/protobuf/timestamp.proto" is a well known type and not mine.
When I tried to change my proto file in my solution, it could no longer compile the notification type since it could no longer resolve timestamp.proto with a different path.

a potential work around could be to add our own version of timestamp.proto, and then change the import to utilize that?  Howe

[2022-06-21 18:49] Haarolean commented on #2196
Nah, don't worry about the workarounds, it's actually a bug on our side (#1995).
I'll close this one as a duplicate, feel free to subscribe to #1995, we're planning to fix that one soon.

[2022-06-21 19:36] Haarolean commented on #2195
Hey, thanks for reaching out.

We do not support multiple users with basic (login form) auth.
In order to get one, you can use either [oauth2](https://github.com/provectus/kafka-ui/wiki/Set-up-OAuth2---SSO) or [ldap](https://github.com/provectus/kafka-ui/wiki/FAQ#ldap).

Also, we're planning to implement role based access control (#753) within current release.

Feel free to ask any other questions

[2022-06-21 19:36] #2195 closed

[2022-06-22 02:48] Haarolean opened #2198 "Topics table menu padding is broken"
<img width="276" alt="image" src="https://user-images.githubusercontent.com/1494347/174932682-98672b55-b74c-4d76-a97b-e5be53342781.png">

[2022-06-22 04:29] armenuikafka opened #2199 "Partition dropdown field is very big within Produce Message page"
**Describe the bug**
Partition dropdown field is very big within Produce Message page

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Produce a Message
3. Press the Partition dropdown field

**Expected behavior**
The Partition dropdown field should not be so big as. there are only partition numbers to choose

**Scree

[2022-06-22 06:21] armenuikafka opened #2200 "Error message stays in a system, although it's not actual"
**Describe the bug**
System keeps error message although it's not actual

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to any form (f.ex.HSQL query execution)
2. Input data in a wrong format
3. Press Execute
4. Make sure that error message appears
5. Correct the data format
6. Press Execute again

**Expected behavior**
The erro

[2022-06-22 07:48] #2154 closed

[2022-06-23 13:03] Haarolean opened #2202 "Support smart filters for headers"

[2022-06-23 13:47] armenuikafka opened #2203 "In case of using "," symbol system doesn't give the validation message for Topic name field"
**Describe the bug**
In case of using "," symbol system doesn't give the validation message for Topic name field

**Set up**
https://www.kafka-ui.provectus.io/

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Navigate to Topics
2. Add a Topic
3. Input the ";" symbol into Topic name field
4. Make sure validation message appears "Only alphanumeric, _, -, and . allowed"
5. Input the "," s

[2022-06-23 13:59] #1175 closed

[2022-06-24 03:09] fersandiP opened #2204 "Support multiple ksqlDB in one Kafka cluster"
### Is your proposal related to a problem?

We decided to deploy multiple ksqlDB per use case as [recommended by ksql docs](https://docs.ksqldb.io/en/latest/operate-and-deploy/capacity-planning/#interactive-ksqldb-servers-vs-non-interactive-headless-servers) in one kafka cluster. However, when we try to integrate ksqlDB to kafka-ui, we don't see any setting to setup this configuration.

### Descri

[2022-06-24 21:27] Haarolean commented on #2204
Hey, thanks for the suggestion. We'll schedule this for the future releases (1-2 probably).

[2022-06-24 21:33] Haarolean commented on #2184
Hey, thanks for reaching out.

No worries, I guess we still don't have MSk permissions documented well enough if we still keep getting questions :)

Please check [this FAQ paragraph](https://github.com/provectus/kafka-ui/wiki/FAQ#required-aclmsk-permissions)
Also these: [one](https://github.com/provectus/kafka-ui/discussions/1104#discussioncomment-1656843), [two](https://github.com/provectus/kafka

[2022-06-24 21:35] Haarolean commented on #2168
Is that possible that you don't have an access to a set of topics in your cluster?

[2022-06-24 21:47] #2167 closed

[2022-06-25 01:11] abezard commented on #2184
@Haarolean Thanks for your answer but I'm not sure to understand the point of those links? They're all describing IAM permissions which should completely be covered by the existing policy that I have attached to my user (as described in the original issue):

[code]

[2022-06-25 02:14] #2160 closed

[2022-06-25 05:11] KevDi commented on #2168
I also was thinking of this but it is not possible to see what topics from the Log (by increasing log level?) of Kafka UI?

[2022-06-27 10:55] Haarolean commented on #2189
#947

[2022-06-27 11:45] Haarolean commented on #2076
Implement sorting by: name, connect, type and status.

[2022-06-27 12:59] #2181 closed

[2022-06-27 17:43] Haarolean opened #2212 "Implement a flow to publish temporary docker images"
In some cases we need to build an image within a PR to let others test them out. Would be nice to build and publish them automatically.

[2022-06-28 09:59] azatsafin commented on #1730
Hello @varunreddy6999 , could you please specify which helm chart version are you use ? because it is very similar to https://github.com/provectus/kafka-ui/pull/1370
I've checked current version, and ingressClassName value passed to the ingress template successfully.
Let me know if it still issue for you.

[2022-06-28 16:33] Lokeshmaxi opened #2217 "how to add access token in values.yaml"
1)how to generate access token for oauth2

2)where to add in in values.yaml"accessTokenAcceptedVersion": 2

[2022-06-28 18:21] KevDi commented on #2168
@Haarolean  The link seems to be broken. But i solved the issue. My SSL Certificate had only the read, write and describe Rights for the Topics on our kafka cluster. After i added also the describe_config right, kafka-ui was able to load the metadata and display all the topics.

[2022-06-28 19:58] #2016 closed

[2022-06-29 02:15] #2175 closed

[2022-06-29 09:58] Haarolean commented on #2168
Nice, glad you solved it. We're gonna implement a better logging app-wide within #947

[2022-06-29 09:58] #2168 closed

[2022-06-29 10:00] #2217 closed, assigned to nobody

[2022-06-29 12:10] #2079 closed

[2022-06-29 19:13] sw-tracker commented on #597
While I think data-masking is awesome and a must-have feature, I would still add an env variable to enable/disable export. A mistake in masking customer sensitive data, and it being exportable is the nightmare of our security team. It is actually one of the reasons we are not using kowl...

[2022-06-30 07:51] nikobearrr opened #2224 "Topic view: show broker replicas"
### Is your proposal related to a problem?

When I am moving topic/replica from broken to broker I would like to see which are the current brokers having a particular partition

### Describe the solution you'd like

In the topic view, next to the `Broker Leader` column, add a new column `Replicas`. It can also be 2 columns: `Preferred Replica` and `Current Replica` as they are separate things.

##

[2022-06-30 09:22] #1778 closed

[2022-06-30 10:34] workshur opened #2225 "Migrate Dropdown component to styled-components"
### Is your proposal related to a problem?

[Dropdown](https://github.com/provectus/kafka-ui/tree/master/kafka-ui-react-app/src/components/common/Dropdown) is the last place in the application where we use Bulma. It would be great to ged rid of Bulma package completely

### Describe the solution you'd like
We need to migrate Dropdown component to styled-components approach

### Additional context

[2022-06-30 12:11] azatsafin commented on #2184
Hello @abezard
As far I see, you would like to access MSK from you local PC, that is why public access is required.
According to https://docs.aws.amazon.com/msk/latest/developerguide/port-info.html, for the public access you should use broker port number 9198.
It is also important to know that public MSK access must be enabled in advance and it has some [requirements](https://docs.aws.amazon.com/m

[2022-06-30 17:07] abezard commented on #2184
@azatsafin thanks for you answer. I don't think I need to create a public endpoint for my MSK cluster. As mentioned in my initial post, I can bind just fine to the endpoints from my localhost (I use a VPN peered with my VPC):

**Without VPN ON:**
[code]
**With VPN ON:**
[code]

The MSK public endpoints are only used to be able to reach out to the MSK cluster as far as I know.

[2022-06-30 17:15] abezard commented on #2184
Also you can see in the logs that I get some of the following entries:

[code]

So it really makes me feel like it's half-working, I just don't know why it eventually fails.

[2022-06-30 17:24] abezard commented on #2184
Also I'm not incredibly familiar with Java so I don't know if that has an incidence or not, but `parallel-1` stream always seems fine, it's always `parallel-2` or any even(4/6...etc) stream that fails.

[2022-07-01 05:44] akamensky commented on #2175
@Haarolean thank you for the feedback, if that's the case then I think it is fine. I guess it perhaps failed too quick so I did not see it being actually restarted. Maybe some additional feedback on this would be good, i.e. show timestamp when the last restart happened (tho that would need to be tracked in the app itself since KC does not provide such information over API). Can keep this issue clo

[2022-07-01 08:31] Haarolean opened #2226 "Track and show information regarding last KC restart"
in case it fails instantly would be nice to know we actually tried to restart it

via https://github.com/provectus/kafka-ui/issues/2175#issuecomment-1171958940

[2022-07-01 08:57] azatsafin commented on #2184
Hi @abezard , does IAM Authentication enabled on your Kafka Cluster ?

[2022-07-01 08:58] sw-tracker opened #2228 "Multiple Protobuf Files via URL"
### Linking to multiple Protobufs via URL

We deploy kafka-ui to OpenShift and would like to be able to use protobufs without having to setup a PVC.

- We would like to link 1 protobuf file per topic. How does one do this?
- Topic names have dots ( . ) in them, i.e. `this.is.my.topic.name`. Can we do this with env variables? What would the env variable look like?
- We would like to link to protobu

[2022-07-01 10:45] Lokeshmaxi opened #2231 "Azure AD users"
How to add azure AD users in the environment variable to access the Kafka-UI ,after integrating the SSO auth

[2022-07-01 18:22] Haarolean commented on #2224
Hey, thanks for the suggestion :)

[2022-07-02 06:50] azatsafin commented on #2212
@Haarolean is it OK to push it to internal ECR ? we can re-use our branch-deployment logic to build image only. How you would like to trigger such logic ?

[2022-07-02 06:56] azatsafin commented on #1917
This could be closed, becaus we implemnted it in https://github.com/provectus/kafka-ui/pull/2020

[2022-07-02 06:56] #1917 closed

[2022-07-04 05:48] MindMindMind opened #2235 "problem with azure ad replication"
Hi,

github.com/provectus/kafka-ui/blob/master/documentation/guides/SSO.md

I have a problem with the azure ad. The azure ad works normally, but if I set replication more than 1, it will have the problem like the web doesn't work

![image](https://user-images.githubusercontent.com/106572537/177089177-823a9f3c-5860-4a65-8f1d-b4dd61195251.png)

and sometimes works, but it doesn't load the Kafka topi